

AWE.I18n.de_DE = function(module) {
    
  module.localizedStrings = {
 
    general: {
      open:     'öffnen',
      close:    'schließen',
      cancel:   'abbrechen',
      ok:       'Ok!',
      finished: 'fertig',
      info:     'Info',
      error:    'Fehler',
      warning:  'Warnung',
      and:      'und',
      yes:      'ja',
      no:       'nein',
      nr:       'Nr.',

      processing: 'Verarbeiten...',
      unknown:  'Unbekannt.',
      naivePlural: 'n',
      
      
      perHour:  'pro Stunde',
      perHourSym: '/h',
      
      startup: {
        loading: 'Lade....'
      },
      
      shoutBox: {
        heading: 'Shout Box',
        ago:     'alt',
      },
      
      days: 'Tage',
      
    },
    
    server: {
      error: {
        failedAction: {
          heading: "Server-Fehler",
          unknown: "Ups, da ist wohl etwas schief gegangen. Der Befehl wurde nicht akzeptiert.",
        },
      },
    },
        
    battle: {
      details: {
        heading: "Kampf Informationen",
        afterRound: "Nach Runde",
        lastRound: "Letzte Runde",
        nextRound: "Nächste Runde",
        firstRound: "Erste Runde",
        preparingRound: "Vorbereitung auf Runde",
        myFaction: "Meine Fraktion",
        oneFaction: "Eine Fraktion",
        otherFaction: "Andere Fraktion",

        participants: {
          name: "Name",
          owner: "Besitzer",
          strength: "Stärke",
          retreat: "Rückzug",
          armyDisbanded: "Aufgelöste Armee",
          armyDisbandedDescription: "das passiert, wenn die Heimatsiedlung einer Armee verloren geht",
        },
      },        
      messages: {
        own: {
          winning: [
            "Yeah, platt machen wir sie!",
          ],
          losing: [
            "Tu was, unsere Armee geht grad den Bach runter!",
          ],
          neutral: [
            "Hau mal auf den Putz, da passiert ja gar nix!",
          ]
        },
        other: "Du willst da doch nicht etwa mitmischen, oder?",
      },
    },    
   
    army: {
      details: {
        heading: "Armee",
        units: "Einheiten",
        npcMsg: "Diese Armee von vollig Wilden ist ohne Führung und gibt daher für deine Armeen ein sehr gutes Ziel ab, die Erfahrung zu erhöhen und die Kampfkraft zu verbessern.",
        properties: "Eigenschaften",
        strength: {
          strengths: 'Stärken',
          melee: "Stärke Nahkämpfer",
          riders: "Stärke Berittene",
          distance: "Stärke Fernkämpfer",
          all: "Gesamtstärke",
        },
        melee: 'Nahkämpfer',
        riders: 'Berittene',
        ranged: 'Fernkämpfer',
        unitCount: 'Einheitenanzahl',
        size: "Größe",
        sizeAll: "Gesamtgröße",
        sizeMax: "Maximalgröße",
        velocity: "Geschwindigkeit",
        changeName: "Namen ändern",
        rank: "Rank",
        rankUpAt: "Rangaufstieg bei",
        rankDescription: "Ein höherer Rang verbessert die Effektivität deiner Truppen. Die Armee muss Erfahrung sammeln um einen höheren Rang zu erreichen.",
        experience: "Erfahrung",
        experienceDescription: "Erfahrung wird gewonnen, eigene Truppen sterben, nicht für getötete Gegner. Der Grund: Man lernt nur aus seinen eigenen Fehlern.",
        stance: "Festung oder Siedlung bei Angriff mitverteidigen",
        demigod: "Halbgott",
      },
      messages: {
        own: {
          warrior: [
            "Ich bin ganz Ohr.",
            "Hey, ich hab Kuchen dabei.",
            "Hast Du schon gehört? Gleich da vorne soll es Gänseblümchen geben!",
            "Sir, jawohl, Sir!",
            "Bitte nicht hauen!",
            "Was gibt's denn schon wieder?",
            "Was soll ich jetzt schon wieder machen?",
            "Mein Vater hat immer gesagt: Was Du heute kannst besorgen, dass schiebe ruhig auf morgen.",
            "Kann man hier nicht mal seine Ruhe haben?",
            "Na, solange wir reden muss ich nicht kämpfen, oder?",
            "Hm, wann waren eigentlich die letzten Betriebsferien?",
            "Hast Du schon unsere neue Uniformen gesehen? Sehen schick aus!",
            "Bitte nicht dreckig machen, ich bin frisch gebadet!",
            "Heute bitte keine Kämpfe, ich hab Muskelkater.",
            "Ich hab heut keine Lust. Gar keine Lust.",
            "Hmpf.",
            "Du schon wieder?",
            "Was gibt's heute zu tun?",
            "Na los, sag schon.",
            "Mein Halbgott, hast Du niemand anderen rumzubefehlen?",
            "Heute ist ein guter Tag zum Blümchen sammeln.",
            "Wie wäre es zur Abwechselung mal mit einer Dino-Jagd?",
            "Warum muss eigentlich immer ich raus?",
            "Sag schnell, ich hab' zu tun.",
            "Die Leute haben sich übrigens über's Essen beschwert. Kannst Du uns nicht was veganes schicken?",
            "Pass auf, einen haue ich noch für Dich um, aber dann ist's wirklich gut für heute, ja?!",
            "Leise! Ich versuche hier zu schlafen.",
            "Hart wie Federkissen.",
          ],
          girl: [
            "Wir sollten immer auf der Hut sein.",
            "Ich liebe es, hier draußen rumzusteifen.",
            "Ist das nicht ein wundervoller Tag?",
          ],
          chef: [
            "Hm, vielleicht sollten wir unseren Nachbarn angreifen?",
            "Ich überlege gerade, wie wir unser Gebiet vergrößern können.",
            "Achso, angreifen bitte immer nur dann, wenn der Gegner hoffnungslos unterlegen ist.",
            "Besorg mir mal was zu essen. Aber was leckeres!",
            "Heute unseren Nachbarn, morgen die ganze Welt!",
            "Unter meiner Führung werden wir keinen einzigen Kampf verlieren. Du wirst schon sehen!",
            "Angriff ist die beste Verteidigung.",
          ]
        },
        other: {
          warrior: [
            "Nichts und niemand hält mich auf!",
            "Heute ist ein guter Tag zum Sterben.",
            "Kämpfchen gefällig?",
            "Von Dir lass ich mir gar nichts sagen.",
            "Was willst DU hier?",
            "Von mir erfährst Du nichts.",
            "Ich bin der Größte!",
            "Sprichst Du mit mir? Sprichst Du wirklich mit mir?",
            "Ich will Blut sehen!",
            "Veni, vedi, vici!",
            "Du hast mir nichts zu befehlen. Gar nichts!",
            "Hm. Ich glaube, ich kann Dich nicht leiden.",
            "Geh weg!",
            "Was denn?",
            "Reg mich bloß nicht auf!",
            "Nein, hier gibt's keine Gänseblümchen!",
          ],
          girl: [
            "Freund oder Feind?",
            "Hui, wer bist Du denn?",
            "Pass auf was Du tust, ich verstehe heute gar keinen Spaß.",
          ],
          chef: [
            "Muhahaha!",
            "Pass auf, in Kürze gehört Dein Land uns!",
          ]
        },
      },
      form: {
        available: "Verfügbare Einheiten",
        new: "Neue Armee",
        name: "Name der Armee",
        all: "Alle",
        reset: "Zurücksetzen",
        change: "Ändern",
        create: "Erzeugen",
        errors: {
          garrison: "Die Garnisonsarmee ist zu voll",
          garrisonFighting: "Während die Garnison kämpft, kann keine neue Armee erstellt werden.",
          other: "Die Armee ist zu voll",
          new: "Die neue Armee ist zu voll",
          message: "Reduziere sie um so viel Einheiten, dass sie unter der Höchstgrenze liegt!",
        },
      },
      create: {
        header: "Neue Armee erzeugen",
        remainingArmies: "Anzahl der verbleibenden Kommandopunkte für diese Siedlung",
        error: "Keine Kommandopunkte mehr verfügbar in dieser Siedlung",
        loadingMessage: "Erzeuge Armee...",
      },
      change: {
        header: "Einheiten der Armee ändern", 
        loadingMessage: "Ändere Armee...",
      },
    },
    
    building: {
      level:          'Stufe',
      cost:           'Kosten',
      duration:       'Dauer',
      produces:       'Produziert',
      capacity:       'Lagerkapazität',
      productionBoni: 'Produktionsbonus',
    },
    
    error: {
      stringMissing: '(Fehler: Fehlender Text!)',
    },
    
    map: {
      
    },
    
    alliance: {
      founded: 'Gründung',
      leader: 'Anführer',
      description: 'Beschreibung',
      management: 'Geheime Allianzlosung',
      message: 'Nachricht des Tages',
      messageExplanation: 'Nur für Mitglieder sichtbar!',
      members: 'Mitglieder',
      shoutBox: 'Shout Box',
      shoutBoxExplanation: 'Alles was hier eingegeben wird, ist umgehend für alle anderen Mitglieder sichtbar.',
      changePassword: 'neues Password speichern',
    },
    
    welcome: {
      heading: 'Willkomen bei Wack-a-Doo!',
      headingPlan: 'Der Plan',
      image: '<%= asset_path("whatdoido_de_DE.jpeg") %>',
      headingSituation: 'Die Situation',
      formattedText: '<p>Du bist ein <b>Halbgott</b> und hast gerade einen kleinen, Dir folgenden Stamm von Steinzeithöhlenmenschen davon überzeugt, ihre Höhle zu verlassen und ab jetzt in einer hochmodernen Siedlung zu leben. Leider hat der glorreiche Stammesführer aber bisher nur eine pompöse Hütte für sich selbst bauen lassen.</p><p>Ein kleines Tutorial wird Dich als Halbgott durch die ersten Schwierigkeiten Deiner neuen Herrschaft führen. Tatsächlich bedeutet die Führung eines Stammes mehr als nur die eigene Häuptlingshütte auszubauen, aber das wirst Du schon herausfinden...</p> <p><b>Viel Spaß!</p>',
    },
    
    shop: {
      button: 'Fundgrube',
      title: 'Fundgrube',
      currentCreditAmount: 'Du besitzt im Moment ein Guthaben von',
      credits: 'Credits',
      platinumCredits: 'Platinum Credits',
      for: 'für',
      updateCredits: 'Aktualisieren',
      buyCredits: 'Jetzt aufladen',
      article: 'Artikel',
      description: 'Beschreibung',
      price: 'Credits',
      activating: "Senden...",
      buy: 'Aktivieren',
      action: 'Aktion',
      extend: 'Verlängern',
      resourceOffers: "Krötenpakete",
      bonusOffers: "Bonuspakete",
      platinumOffers: "Platinum Account",
      production: 'Produktion',
      duration: 'Dauer',
      expiry: 'Ablauf',
      
      platinumDescription:
        "Der Platinum Account bietet Dir folgende Zusatzfunktionen:" +
        "<ul>" +
        "   <li>E-Mailbenachrichtigungen bei Angriffen</li>" +
        "   <li>3 zusätzliche Plätze in der Bauschleife</li>" +
        "</ul>" +
        "Weitere Komfortfunktionen folgen mit der Zeit und werden dann zusätzlich freigeschaltet.</li>",

      notenoughcredits: {
        getCredits: 'Hol dir Credits',
        title: 'Nicht genug Credits',
        message: 'Leider  hast du nicht genug Credits. Besuche den Credit Shop, um mehr 5D Platinum Credits zu kaufen.',
      },
    },
    
    settlement: {
      
      population: 'Bewohner',
      defenseBonus: 'Verteidigungsbonus',
      
      buildings: {
        
        category: 'Kategorie',
        level: 'Stufe',
        Level: 'Stufe',
        
        details: {
          enables: 'Ermöglicht',
          speedup: 'Beschleunigt',
          noUpgrade: 'Kein weiterer Ausbau möglich.',
        },
        
        select: {
          heading: 'Gebäude auswählen',
          missingRequirements: 'Kann wegen folgender <span class="red-color">fehlender Voraussetzungen</span> derzeit nicht gebaut werden',
        },
        
        tooltip: {
          costOfNextLevel: 'Kosten für',

          noUpgrade: 'Kein weiterer Ausbau möglich.',
          clickToEnter: 'Klicken, um das Gebäude zu betreten.',
          upgradePossible: 'Dieses Gebäude kann verbessert werden:',
          empty: {
            heading: 'Freier Bauplatz',
            categoriesStart: 'Hier können ',
            categoriesEnd:   ' gebaut werden.',
            maxLevel: 'Maximale Stufe',
            advise:  'Klicken, um ein neues Gebäude zu bauen.'
          }
        },
        
        missingReqWarning: {
          start: "Hey! Du kannst hier jetzt kein Gebäude vom Typ",
          end: "bauen. Die folgenden Vorrausetzungen sind nicht erfüllt",
          cancelText: ['Argh!', 'Grmpf!', 'Hmpf', 'Na gut.'],
        },
        constructionQueueFull: {
          start: "Sorry, aber die Bauschleife ist schon voll. Du kannst maximal ",
          end: " Bauaufträge aufreihen. Bitte warte, bis etwas anderes fertig wird.",
        },
      },
      construction: {
        hurry: "Hurtig!",
      },
      training: {
        queueFull: {
          start: "Sorry, aber die Trainingschleife ist bereits voll. Du kannst maximal ",
          end: " Aufträge aufreihen. Bitte warte, bis etwas anderes fertig wird.",
        },
        hurry: "halbieren",
      },
    },
    
    profile: {
      youAre: "Du bist",
      
      customization: {
        chooseName: "Deinen Namen wählen",
        changeName: "Deinen Namen ändern",
        presentName: "Aktueller Name",
        chooseNameCaption: 'Namen wählen',
        changeNameCaption: 'Namen ändern',
        nameChangeAdvice: 'Bitte wähle Deinen Namen mit Bedacht, idealerweise passt der Name in die Steinzeit. Der Name muss einzigartig in Wackadoo sein.',
        nameChangeFreeAdvice: 'Zweimal kannst Du Deinen Namen kostenlos ändern, jede weitere Änderung kostet ein paar Kröten um Missbrauch zu verhindern.',
        nameChangeCostAdvice: 'Du hast Deinen Namen bereits mehrmals geändert. Eine weitere Namensänderung ist natürlich möglich, kostet aber zur Verhinderung von Missbrauch 20 Kröten.',

        chooseGender: "Dein Geschlecht wählen",
        changeGender: "Dein Geschlecht ändern",
        presentGender: "Aktuelles Geschlecht",
        chooseGenderCaption: 'Geschlecht wählen',
        changeGenderCaption: 'Geschlecht ändern',
        genderChangeFreeAdvice: 'Die ersten beiden Änderungen der Geschlechtseinstellung sind kostenlos, jede weitere Änderung kostet ein paar Kröten um Missbrauch zu verhindern.',
        genderChangeCostAdvice: 'Du hast die Einstellung Deines Geschlechts bereits mehrfach geändert. Eine weitere Änderung der Geschlechtseinstellung ist möglich, kostet aber zur Verhinderung von Missbrauch 20 Kröten.',
        
        changePasswordCaption: "Änderung des Passwortes",
        changePasswordAdvice: "Hier kannst du dein Passwort ändern. Das Passwort muss eine Länge von 6 bis 40 Zeichen haben.",
        changePasswordButton: "Passwort ändern",

        changeNameDialogCaption: "Gib den neuen Namen für deinen Charakter ein.",

        errors: {
          nameTooShort: "Viel zu kurz. Der Name muss mindestens 3 Zeichen enthalten.",
          nameTooLong: "Viel zu lang. Der Name darf höchstens 12 Zeichen enthalten.",
          nameNoChange: "Das ist der gleiche Name wie vorher. Keine Veränderung",

          nameTaken: "Dieser Name wird schon benutzt oder ist auf der Blacklist. Bitte wähle einen anderen Namen.",
          changeNameCost: "Du hast nicht genug Kröten, um deinen Namen zu ändern.",
          changeNameError: "Dein Name konnte aus unbekannten Gründen nicht geändert werden. Bitte versuch es später noch einmal.",
          changeGenderCost: "Du hast nicht genug Kröten, um dein Geschlecht zu ändern.",
          changeGenderError: "Dein Geschlecht konnte aus unbekannten Gründen nicht geändert werden. Bitte versuch es später noch einmal."
        },
      },
    },
    
    tutorial: {
      questList:        "Deine aktuellen Quests",
      name:             "Questname",
      status:           "Status",
      new:              "neu",
      open:             "offen",
      finished:         "beendet",
      reward:           "Belohnung",
      rewardLink:       "Einlösen",
      redeemNow:        "Belohnung jetzt einlösen",
      showQuestLink:    "Anzeigen",
      answerQuestLink:  "Absenden",
      correctAnswered:  "Frage richtig beantwortet",
      
      quest: {
        info: {
          header:       "Aktuelle Quest",
        },
        start: {
          header:       "Neue Quest gestartet",
          task:         "Dein Auftrag:",
        },
        end: {
          header:       "Quest erfolgreich gelöst",
          bonus:        "Du erhälst folgende Boni:",
          resources:    "Ressourcen",
          units:        "Einheiten",
          task:         "Auftrag erfolgreich:",
        },
        redeemError: {
          header:       "Achtung",
          message:      "Du kannst die Quest nicht einlösen, weil aktuell nicht genug Platz für Deine Belohnung da ist. Versuch's später noch mal!",
        },
        error:          "Leider falsch. Probier's gleich noch mal!",
      },
    },
  }
  
  return module;
  
}(AWE.I18n.de_DE || {});

