/* Author: Sascha Lange <sascha@5dlab.com>
 * Copyright (C) 2012 5D Lab GmbH, Freiburg, Germany
 * Do not copy, do not distribute. All rights reserved.
 */

 
var AWE = window.AWE || {};
AWE.I18n = AWE.I18n || {};

AWE.I18n.en_US =  function(module) {
    
  module.localizedStrings = {
 
    general: {
      open:     'open',
      close:    'close',
      cancel:   'cancel',
      ok:       'ok',
      finished: 'finished',
      info:     'information',
      error:    'error',
      warning:  'warning',
      and:      'and',
      yes:      'yes',
      no:       'no',

      processing: 'Processing...',
      unknown:  'unknown.',
      naivePlural: 's',


      startup: {
        loading: 'Loading....',
      },
      
      shoutBox: {
        heading: 'Shout Box',
        ago:     'ago',
      },
    },
    
    server: {
      error: {
        failedAction: {
          heading: "Server-Error",
          unknown: "Ugh, seems like something went wrong, so your last command wasn't accepted. Or the server doesn't like you. Whatever, please try again later or contact the support.",
        },
      },
    },
        
    battle: {
      details: {
        heading: "Battle Info",
        afterRound: "After Round",
        preparingRound: "Preparing for Round",
        lastRound: "Last Round",
        nextRound: "Next Round",
        firstRound: "First Round",
        myFaction: "My Faction",
        oneFaction: "One Faction",
        otherFaction: "Other Faction",

        participants: {
          name: "Name",
          owner: "Owner",
          strength: "Strength",
          retreat: "Retreat",
          armyDisbanded: "Disbanded Army",
          armyDisbandedDescription: "this happens, if the home settlement of an army is lost",
        },
      },        
      messages: {
        own: {
          winning: [
            "Yeah, we 'll blow 'em away!",
          ],
          losing: [
            "Help, we 're going down the drain!",
          ],
          neutral: [
            "Boring!",
          ]
        }
      }
    },    
    
    army: {
      details: {
        heading: 'Army',
        units: 'Units',
        npcMsg: 'This army of raving wildlings is without leadership and thus, makes a good target for your armies to gain experience and improve their fighting skill.',
        properties: 'Properties',
        strength: {
          strengths: 'Strengths',
          melee: 'Strength Melee',
          riders: 'Strength Riders',
          distance: 'Strength Distance',
          all: 'Overall Strength',
        },
        melee: 'Melee',
        riders: 'Riders',
        ranged: 'Ranged',
        unitCount: 'Unit Count',
        size: 'Size',
        sizeAll: "Total Size",
        sizeMax: "Maximum Size",
        velocity: 'Velocity',
        changeName: 'Change name',
        rank: "Rank",
        rankDescription: "Higher ranks increase the effectiveness of your troops. Your Army needs to gain Experience to reach a higher rank.",
        rankUpAt: "Rank up at",
        experience: "Experience",
        experienceDescription: "Experience is awarded for deaths in your troops not for kills. Reason: You only learn from your own mistakes.",
        stance: "Defend fortress when attacked",
        demigod: "Demigod",
      },
      messages: {
        own: [
          "I hear you.",
          "Sir, yes, Sir!",
          "Please, don't hurt me!",
          "Sorry, no service today.",
          "Can't you ask somebody else?",
          "You again?",
          "Hmpf.",
        ],
        other: [
          "Nobody stops me.",
          "Please, come closer. I've got cookies! Sweeeeet cookies!",
          "A good day to die.",
          "Ready to fight?",
          "I'm the greatest!",
          "You talkin' to me?",
          "Veni, vedi, vici!",
          "Get lost!",
        ],
      },
      form: {
        available: "Available Units",
        new: "New Army",
        name: "Army name",
        all: "All",
        reset: "Reset",
        change: "Change",
        create: "Create",
        errors: {
          garrison: "The garrison army is too full",
          garrisonFighting: "Cannot create a new army while the garrison is fighting.",
          other: "The army is too full",
          new: "The new army is too full",
          message: "Reduce units to match the maximum size of the army!",
        },
      },
      create: {
        header: "Create new army",
        remainingArmies: "Command points left for this settlement",
        error: "No command points left in this settlement",
        loadingMessage: "Creating Army...",
      },
      change: {
        header: "Change units in army",
        loadingMessage: "Changing Army...",
      },
    },

    building: {
      level:    "Level",
      cost:     "Costs",
      duration: "Duration",
      produces: "Produces",
    },
    
    error: {
      stringMissing: "(error: text missing!)",
    },
    
    map: {
      
    },
    
    alliance: {
      founded: "Founded",
      leader: "Leader",
      description: "Description",
      management: "Secret Alliance Password",
      message: "Message of the Day",
      messageExplanation: "This is only visible to members.",
      members: "Members",
      shoutBox: "Shout Box",
      shoutBoxExplanation: "Everything entered here is instantly visible to all other members.",
      changePassword: 'save new password',
    },
    
    welcome: {
      heading: 'Welcome to Wack-a-Doo!',
      headingPlan: 'The Plan',
      image: '<%= asset_path("whatdoido_en_US.jpeg") %>',
      headingSituation: 'The Situation',
      formattedText: '<p>Being a <b>demigod</b> to a tiny tribe of stoneage caveman you\'ve just convinced your followers to leave their cave behind and to live in something modern called "a village". Unfortunately, the only thing their glorious chieftain let them build was a pompous hut for himself. Now, you should <b>build housing for some gather-hunters</b> ASAP.</p><p><b>Please note:</b> Presently, the English version of Wack-A-Doo is still in the making. A lot of translations and texts are still missing. If possible, please play the German version.</p><p><b>Have fun!</p>',
    },
    
    shop: {
      button: 'Bonanza',
      title: 'Bonanza',
      currentCreditAmount: 'Presently, you have a balance of',
      credits: 'Credits',
      for: 'for',
      updateCredits: 'Refresh',
      buyCredits: 'Refill',
      article: 'Item',
      description: 'Description',
      price: 'Credits',
      buy: 'Acitvate',
      extend: 'Extend',
      resourceOffers: "Toads Packages",
      bonusOffers: "Bonus Packages",
      production: 'Production',
      duration: 'Duration',
      expiry: 'Expiration',

      notenoughcredits: {
        getCredits: 'Get mo\' credits',
        title: 'Not enough Credits',
        message: 'Unfortunately, you ran out of funds. Please visit the credit shop to buy more 5D Platinum Credits.',
      },
    },      
    
    settlement: {

      population: 'Population',
      defenseBonus: 'Combat Bonus',
      
      buildings: {
        
        category: 'Category',
        level: 'level',
        Level: 'Level',
        
        details: {
          enables: 'Enables',
          speedup: 'Speed bonus to',
          noUpgrade: 'Cannot be upgraded further.',
        },
        select: {
          heading: 'Select Building',
          missingRequirements: 'Cannot be build due to the following <span class="red-color">unmet prerequisits</span>',

        },
        tooltip: {
          costOfNextLevel: 'Costs of',
          noUpgrade: 'Cannot be upgraded further.',
          clickToEnter: 'Click to enter the building.',
          upgradePossible: 'This building can be upgraded:',
          empty: {
            heading: 'Empty Construction Site',
            categoriesStart: 'Here, you can build ',
            categoriesEnd:   '.',
            maxLevel: 'Maximum Level',
            advise:  'Click to construct a new building.'
          }
        },
        missingReqWarning: {
          start: "Hey! You cannot construct a",
          end: "now. The following prerequisit is missing",
          cancelText: ['Argh!', 'Grmpf!', 'Hgnnhgn.', 'I see.'],
        },
        constructionQueueFull: {
          start: "Sorry, but the construction queue is already filled to it's capacity of ",
          end: " jobs. Please wait, till something else is completed.",
        },
        constructionQueueNotEmpty: {
          msg: "Dude! You cannot queue this job when there are already other jobs queued for this slot.",
        },
      },
      construction: {
        hurry: "hurry",
      },
      training: {
        queueFull: {
          start: "Sorry, but the training queue is already filled to it's capacity of ",
          end: " jobs. Please wait, till something else is completed.",
        },
        hurry: "halve",
      },
    },
    
    profile: {
      youAre: "You are",
      
      customization: {
        chooseName: "Choose your name",
        changeName: "Change your name",
        presentName: "Present name",
        chooseNameCaption: 'choose name',
        changeNameCaption: 'change name',
        nameChangeAdvice: 'Please choose your name wisely, ideally it should fit into the stoneage setting. The name you choose also needs to be unique.',
        nameChangeFreeAdvice: 'Choosing a name for the first time (this time!) is free, a change afterwards does cost a few toads in order to prevent abuse.',
        nameChangeCostAdvice: 'You\'ve already chosen a character name. Changing your name again is possible, but does cost 20 toads in order to prevent abuse.',

        chooseGender: "Choose your gender",
        changeGender: "Change your gender",
        presentGender: "Present gender",
        chooseGenderCaption: 'choose gender',
        changeGenderCaption: 'change gender',
        genderChangeFreeAdvice: 'Choosing a gender for the first time (this time!) is free, a change afterwards does cost a few toads in order to prevent abuse.',
        genderChangeCostAdvice: 'You\'ve already chosen a gender. Changing your gender again is possible, but does cost 20 toads in order to prevent abuse.',

        changePasswordCaption: "Change Password",
        changePasswordAdvice: "Here you can change your password. It must have a length between 6 to 40 characters.",
        changePasswordButton: "Change Password",

        changeNameDialogCaption: "Enter the new name of your character.",

        errors: {
          nameTooShort: "Way to short. The name must have at least 3 characters.",
          nameTooLong: "Way to long. The name must be shorter than 12 characters.",
          nameNoChange: "Same name as before. Did nothing.",

          nameTaken: "This name is already taken or on the black list. Please choose another name.",
          changeNameCost: "You don't have enough toads to pay for this name change.",
          changeNameError: "The name could not be changed for unknown reasons. Please try a different one.",
          changeGenderCost: "You don't have enough toads to pay for this gender change.",
          changeGenderError: "The gender could not be changed for unknown reasons. Please try again later."
        },
      },
    },
    
    tutorial: {
      questList:  "Open Quests",
      name:       "Quest Name",
      status:     "Status",
      open:       "open",
      finished:   "finished",
      reward:     "Rewards",
      rewardLink: "Redeem",
      questStart: {
        header: "New Quest started",
      },
      questEnd: {
        header: "Finished Quest successfully",
      },
    },
  }
  
  return module;
  
}(AWE.I18n.en_US || {});

