/**  ==  Buildings Big, Images Used in BuildingInfo and BuildingUpgrade  == **/
.building-info-image {
  .big-building {
    width: 310px;
    height: 256px;
  }
}

/*Chief Cottage*/
.building_fortress_fortification.big-building,
.building_chief_cottage.big-building {
  background-image: url('<%= asset_path("buildings/base/building_chief_cottage/building_chief_cottage_big.png") %>');
  background-size: 400%;
}

/*Gatherer*/
.building_gatherer.big-building {
  background-image: url('<%= asset_path("buildings/base/building_gatherer/building_gatherer_big.png") %>');
  background-size: 300%;
}

/*Special Gatherer*/
.building_special_gatherer.big-building {
  background-image: url('<%= asset_path("buildings/base/building_special_gatherer/building_special_gatherer_big.png") %>');
  background-size: 200%;
}

/*Barracks*/
.building_barracks.big-building,
.building_infantry_tower.big-building {
  background-image: url('<%= asset_path("buildings/base/building_barracks/building_barracks_big.png") %>');
}

.building_barracks_2.big-building {
  background-image: url('<%= asset_path("buildings/base/building_barracks_copper/building_barracks_copper_big.png") %>');
}

/*Cottage*/
.building_cottage.big-building {
  background-image: url('<%= asset_path("buildings/base/building_cottage/building_cottage_big.png") %>');
}

/*Tavern*/
.building_tavern.big-building {
  background-image: url('<%= asset_path("buildings/base/building_tavern/building_tavern_big.png") %>');
}

/*Storeage*/
.building_storage.big-building {
  background-image: url('<%= asset_path("buildings/base/building_storage/building_storage_big.png") %>');
}

/*Campfire*/
.building_campfire.big-building {
  background-image: url('<%= asset_path("buildings/base/building_campfire/building_campfire_big.png") %>');
}

/*Quarry*/
.building_quarry.big-building {
  background-image: url('<%= asset_path("buildings/base/building_quarry/building_quarry_big.png") %>');
  background-size: 400%;
}

/*Logger*/
.building_logger.big-building {
  background-image: url('<%= asset_path("buildings/base/building_logger/building_logger_big.png") %>');
  background-size: 100%;
}

/*Training Cave*/
.building_training_cave.big-building {
  background-image: url('<%= asset_path("buildings/base/building_training_cave/building_training_cave_big.png") %>');
}

/*Furrier*/
.building_furrier.big-building {
  background-image: url('<%= asset_path("buildings/base/building_furrier/building_furrier_big.png") %>');
}

/*Artifact Cave*/
.building_artifact_stand.big-building {
  background-image: url('<%= asset_path("buildings/base/building_artifact_stand/building_artifact_stand_big.png") %>');
}

/*Copper Smelter*/
.building_copper_smelter.big-building {
  background-image: url('<%= asset_path("buildings/base/building_copper_smelter/building_copper_smelter_big.png") %>');
}

/*Firing Range*/
.building_firing_range.big-building,
.building_artillery_tower.big-building {
  background-image: url('<%= asset_path("buildings/base/building_firing_range/building_firing_range_big.png") %>');
}

.building_firing_range_2.big-building {
  background-image: url('<%= asset_path("buildings/base/building_firing_range_copper/building_firing_range_copper_big.png") %>');
}

/*Alliance Hall*/
.building_alliance_hall.big-building {
  background-image: url('<%= asset_path("buildings/base/building_alliance_hall/building_alliance_hall_big.png") %>');
}

/*Cottage 2*/
.building_cottage_2.big-building {
  background-image: url('<%= asset_path("buildings/base/building_cottage/building_cottage_big.png") %>');
}

/*Storeage 2*/
.building_storage_2.big-building {
  background-image: url('<%= asset_path("buildings/base/building_storage/building_storage_big.png") %>');
}

/*Quarry 2*/
.building_quarry_2.big-building {
  background-image: url('<%= asset_path("buildings/base/building_quarry_copper/building_quarry_copper_big.png") %>');
  background-size: 400%;
}

/*Logger 2*/
.building_logger_2.big-building {
  background-image: url('<%= asset_path("buildings/base/building_logger/building_logger_big.png") %>');
  background-size: 100%;
}

/*Stud*/
.building_stud.big-building,
.building_cavalry_tower.big-building {
  background-image: url('<%= asset_path("buildings/base/building_stud/building_stud_big.png") %>');
}

.building_stud_2.big-building {
  background-image: url('<%= asset_path("buildings/base/building_stud_copper/building_stud_copper_big.png") %>');
}

/*Command Post*/
.building_command_post.big-building {
  background-image: url('<%= asset_path("buildings/base/building_command_post/building_command_post_big.png") %>');
}

/*Furrier 2*/
.building_furrier_2.big-building {
  background-image: url('<%= asset_path("buildings/base/building_furrier/building_furrier_big.png") %>');
}

/*Garison*/
.building_garrison.big-building {
  background-image: url('<%= asset_path("buildings/base/building_garrison/building_garrison_big.png") %>');
}

/*Haunt*/
.building_haunt.big-building {
  background-image: url('<%= asset_path("buildings/base/building_haunt/building_haunt_big.png") %>');
}

/*Field Camp*/
.building_field_camp.big-building {
  background-image: url('<%= asset_path("buildings/base/building_field_camp/building_field_camp_big.png") %>');
}

/*Wacky Lab*/
.building_altar.big-building {
  background-image: url('<%= asset_path("buildings/base/building_altar/building_altar_big.png") %>');
}




/* === SILHOUETTES === */

/*Chief Cottage*/
.building_fortress_fortification.big-building.silhouette,
.building_chief_cottage.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_chief_cottage_big_silhouette.png") %>');
  background-size: 400%;
}

/*Gatherer*/
.building_gatherer.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_gatherer_big_silhouette.png") %>');
  background-size: 300%;
}

/*Special Gatherer*/
.building_special_gatherer.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_special_gatherer_big_silhouette.png") %>');
  background-size: 200%
}

/*Barracks*/
.building_barracks.big-building.silhouette,
.building_infantry_tower.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_barracks_big_silhouette.png") %>');
}

.building_barracks_2.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_barracks_copper_big_silhouette.png") %>');
}

/*Cottage*/
.building_cottage.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_cottage_big_silhouette.png") %>');
}

/*Tavern*/
.building_tavern.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_tavern_big_silhouette.png") %>');
}

/*Storeage*/
.building_storage.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_storage_big_silhouette.png") %>');
}

/*Campfire*/
.building_campfire.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_campfire_big_silhouette.png") %>');
}

/*Quarry*/
.building_quarry.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_quarry_big_silhouette.png") %>');
  background-size: 400%;
}

/*Logger*/
.building_logger.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_logger_big_silhouette.png") %>');
}

/*Training Cave*/
.building_training_cave.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_training_cave_big_silhouette.png") %>');
}

/*Furrier*/
.building_furrier.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_furrier_big_silhouette.png") %>');
}

/*Artifact Cave*/
.building_artifact_stand.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_artifact_stand_big_silhouette.png") %>');
}

/*Copper Smelter*/
.building_copper_smelter.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_copper_smelter_big_silhouette.png") %>');
}

/*Firing Range*/
.building_firing_range.big-building.silhouette,
.building_artillery_tower.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_firing_range_big_silhouette.png") %>');
}

.building_firing_range_2.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_firing_range_copper_big_silhouette.png") %>');
}

/*Alliance Hall*/
.building_alliance_hall.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_alliance_hall_big_silhouette.png") %>');
}

/*Cottage 2*/
.building_cottage_2.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_cottage_big_silhouette.png") %>');
}

/*Storeage 2*/
.building_storage_2.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_storage_big_silhouette.png") %>');
}

/*Quarry 2*/
.building_quarry_2.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_quarry_copper_big_silhouette.png") %>');
  background-size: 400%;
}

/*Logger 2*/
.building_logger_2.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_logger_big_silhouette.png") %>');
}

/*Stud*/
.building_stud.big-building.silhouette,
.building_cavalry_tower.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_stud_big_silhouette.png") %>');
}

.building_stud_2.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_stud_copper_big_silhouette.png") %>');
}

/*Command Post*/
.building_command_post.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_command_post_big_silhouette.png") %>');
}

/*Furrier 2*/
.building_furrier_2.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_furrier_big_silhouette.png") %>');
}

/*Garison*/
.building_garrison.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_garrison_big_silhouette.png") %>');
}

/*Haunt*/
.building_haunt.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_haunt_big_silhouette.png") %>');
}

/*Field Camp*/
.building_field_camp.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_field_camp_big_silhouette.png") %>');
}

/*Wacky Lab*/
.building_altar.big-building.silhouette {
  background-image: url('<%= asset_path("buildings/silhouettes/building_altar_big_silhouette.png") %>');
}


/* ==== Different Construction sizes ==== */
.big-building.size0 {
  background-position: 0 0;
}
.big-building.size1 {
  background-position: -320px 10px; 
}
.big-building.size2 {
  background-position: -630px 0;
}
.big-building.size3 {
  background-position: -940px 0;
}
.big-building.size4 {
  background-position: 0 -256px;
}
.big-building.size5 {
  background-position: -320px -256px;
}
.big-building.size6 {
  background-position: -640px -256px;
}
.big-building.size7 {
  background-position: -960px -256px;
}


/* ==== Special construction sizes for upgrade dialog ==== */
.buildingUpgradeImage.big-building.size0,
.buildingUpgradeImage.big-building.size0.silhouette {
  background-position: 0 0;
}
.buildingUpgradeImage.big-building.size1,
.buildingUpgradeImage.big-building.size1.silhouette {
  background-position: -200px 0;
}
.buildingUpgradeImage.big-building.size2,
.buildingUpgradeImage.big-building.size2.silhouette {
  background-position: -400px 0;
}
.buildingUpgradeImage.big-building.size3,
.buildingUpgradeImage.big-building.size3.silhouette {
  background-position: -600px 0;
}
.buildingUpgradeImage.big-building.size4,
.buildingUpgradeImage.big-building.size4.silhouette {
  background-position: 0 -167px;
}
.buildingUpgradeImage.big-building.size5,
.buildingUpgradeImage.big-building.size5.silhouette {
  background-position: -200px -167px;
}
.buildingUpgradeImage.big-building.size6,
.buildingUpgradeImage.big-building.size6.silhouette {
  background-position: -400px -167px;
}
.buildingUpgradeImage.big-building.size7,
.buildingUpgradeImage.big-building.size7.silhouette {
  background-position: -600px -167px;
}



/* ==== Buildings Shown on Settlement and in building selection ==== */
.building-image {
  position: absolute;
  top: -8px;
  width: 160px;
  height: 128px; 
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 0;
}

.small-building {
  pointer-events:none;
  .building_campfire.building-image {
    -webkit-animation: camp_fire .5s steps(5) infinite;
       -moz-animation: camp_fire .5s steps(5) infinite;
        -ms-animation: camp_fire .5s steps(5) infinite;
         -o-animation: camp_fire .5s steps(5) infinite;
            animation: camp_fire .5s steps(5) infinite;
  }
  .level {
    perspective: 1000px;
    width: 46px;
    height: 46px;

    padding-top: 8px;
    font-size: 19px;
    font-family: 'Freckle Face', 'cursive';
    text-align: center;

    position: absolute;
    left: 50px;
    bottom: 0;

    color: #ffe79e;

    z-index: 3;
    
    background-image: url('<%= asset_path("extras/level_signs/sign.png") %>');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;

    .xRotator {
      -ms-transform: rotateX(0deg); /* IE 9 */
      -webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera */
      transform: rotateX(0deg);
      display: inline-block;
      .yRotator {
        -ms-transform: skew(0deg, 18deg); /* IE 9 */
        -webkit-transform: skew(0deg, 18deg); /* Chrome, Safari, Opera */
        transform: skew(0deg, 18deg);
        display: inline-block;
      }
    }
  }
}

/*Cief Cottage*/
.building_chief_cottage.building-image {
  background-image: url('<%= asset_path("buildings/base/building_chief_cottage/building_chief_cottage_small.png") %>');
}

/*Gatherer*/
.building_gatherer.building-image {
  background-image: url('<%= asset_path("buildings/base/building_gatherer/building_gatherer_small.png") %>');
}

/*Special Gatherer*/
.building_special_gatherer.building-image {
  background-image: url('<%= asset_path("buildings/base/building_special_gatherer/building_special_gatherer_small.png") %>');
}


/*Barracks*/
.building_barracks.building-image,
.building_infantry_tower.building-image {
  background-image: url('<%= asset_path("buildings/base/building_barracks/building_barracks_small.png") %>');
}

/*Barracks*/
.building_barracks_2.building-image {
  background-image: url('<%= asset_path("buildings/base/building_barracks_copper/building_barracks_copper_small.png") %>');
}

/*Cottage*/
.building_cottage.building-image {
  background-image: url('<%= asset_path("buildings/base/building_cottage/building_cottage_small.png") %>');
}

/*Tavern*/
.building_tavern.building-image {
  background-image: url('<%= asset_path("buildings/base/building_tavern/building_tavern_small.png") %>');
}

/*Storeage*/
.building_storage.building-image {
  background-image: url('<%= asset_path("buildings/base/building_storage/building_storage_small.png") %>');
}

/*Campfire*/
.building_campfire.building-image {
  background-image: url('<%= asset_path("buildings/base/building_campfire/building_campfire_small.png") %>');
}

/*Quarry*/
.building_quarry.building-image {
  background-image: url('<%= asset_path("buildings/base/building_quarry/building_quarry_small.png") %>');
}

/*Logger*/
.building_logger.building-image {
  background-image: url('<%= asset_path("buildings/base/building_logger/building_logger_small.png") %>');
}

/*Training Cave*/
.building_training_cave.building-image {
  background-image: url('<%= asset_path("buildings/base/building_training_cave/building_training_cave_small.png") %>');
}

/*Furrier*/
.building_furrier.building-image {
  background-image: url('<%= asset_path("buildings/base/building_furrier/building_furrier_small.png") %>');
}

/*Artifact Cave*/
.building_artifact_stand.building-image {
  background-image: url('<%= asset_path("buildings/base/building_artifact_stand/building_artifact_stand_small.png") %>');
}

/*Copper Smelter*/
.building_copper_smelter.building-image {
  background-image: url('<%= asset_path("buildings/base/building_copper_smelter/building_copper_smelter_small.png") %>');
}

/*Firing Range*/
.building_firing_range.building-image,
.building_artillery_tower.building-image {
  background-image: url('<%= asset_path("buildings/base/building_firing_range/building_firing_range_small.png") %>');
}

.building_firing_range_2.building-image {
  background-image: url('<%= asset_path("buildings/base/building_firing_range_copper/building_firing_range_copper_small.png") %>');
}

/*Alliance Hall*/
.building_alliance_hall.building-image {
  background-image: url('<%= asset_path("buildings/base/building_alliance_hall/building_alliance_hall_small.png") %>');
}

/*Cottage 2*/
.building_cottage_2.building-image {
  background-image: url('<%= asset_path("buildings/base/building_cottage/building_cottage_small.png") %>');
}

/*Storeage 2*/
.building_storage_2.building-image {
  background-image: url('<%= asset_path("buildings/base/building_storage/building_storage_small.png") %>');
}

/*Quarry 2*/
.building_quarry_2.building-image {
  background-image: url('<%= asset_path("buildings/base/building_quarry_copper/building_quarry_copper_small.png") %>');
}

/*Logger 2*/
.building_logger_2.building-image {
  background-image: url('<%= asset_path("buildings/base/building_logger/building_logger_small.png") %>');
}

/*Stud*/
.building_stud.building-image,
.building_cavalry_tower.building-image {
  background-image: url('<%= asset_path("buildings/base/building_stud/building_stud_small.png") %>');
}

.building_stud_2.building-image {
  background-image: url('<%= asset_path("buildings/base/building_stud_copper/building_stud_copper_small.png") %>');
}

/*Command Post*/
.building_command_post.building-image {
  background-image: url('<%= asset_path("buildings/base/building_command_post/building_command_post_small.png") %>');
}

/*Furrier 2*/
.building_furrier_2.building-image {
  background-image: url('<%= asset_path("buildings/base/building_furrier/building_furrier_small.png") %>');
}

/*Garison*/
.building_garrison.building-image {
  background-image: url('<%= asset_path("buildings/base/building_garrison/building_garrison_small.png") %>');
}

/*Haunt*/
.building_haunt.building-image {
  background-image: url('<%= asset_path("buildings/base/building_haunt/building_haunt_small.png") %>');
}

/*Field Camp*/
.building_field_camp.building-image {
  background-image: url('<%= asset_path("buildings/base/building_field_camp/building_field_camp_small.png") %>');
}

/*Wacky Lab*/
.building_altar.building-image {
  background-image: url('<%= asset_path("buildings/base/building_altar/building_altar_small.png") %>');
}

.building-image.building_fortress_fortification {
  background-image: url('<%= asset_path("buildings/base/building_chief_cottage/building_chief_cottage_small.png") %>');
}



/* == Construction Images == */
.construction-area {
  width: 160px;
  height: 128px;
  position: absolute;
  top: 0;
}

.construction-area.back {
  background: url('<%= asset_path("buildings/base/under_construction/back/under_construction_back.png") %>') no-repeat center center;
}

.construction-area.front {
  background: url('<%= asset_path("buildings/base/under_construction/front/under_construction_front.png") %>') no-repeat center center;
}


.base-screen .building-option-image.building_artifact_stand.level1 {
  background-position: 0px 0px;
}
.building-option-image.building_artifact_stand.level2 {
  background-position: 0px 0px;
}
.building-option-image.building_artifact_stand.level3 {
  background-position: 0px 0px;
}
.building-option-image.building_artifact_stand.level4 {
  background-position: 0px 0px;
}
.building-option-image.building_artifact_stand.level5 {
  background-position: 0px 0px;
}
.building-option-image.building_artifact_stand.level6 {
  background-position: 0px 0px;
}
.building-option-image.building_artifact_stand.level7 {
  background-position: 0px 0px;
}
.building-option-image.building_artifact_stand.level8 {
  background-position: 0px 0px;
}
.building-option-image.building_artifact_stand.level9 {
  background-position: 0px 0px;
}
.building-option-image.building_artifact_stand.level10 {
  background-position: 0px 0px;
}

/** images shown in the encyclopedia */
.building-option-image.building_quarry {
  background: url('<%= asset_path("buildings/base/building_quarry/building_quarry_small.png") %>') no-repeat center center;
}
.building-option-image.building_quarry_2 {
  background: url('<%= asset_path("buildings/base/building_quarry_copper/building_quarry_copper_small.png") %>') no-repeat center center;
}
.building-option-image.building_chief_cottage {
  background: url('<%= asset_path("buildings/base/building_chief_cottage/building_chief_cottage_small.png") %>') no-repeat center center;
}
.building-option-image.building_logger   {
  background: url('<%= asset_path("buildings/base/building_logger/building_logger_small.png") %>') no-repeat center center;
}
.building-option-image.building_logger_2   {
  background: url('<%= asset_path("buildings/base/building_logger/building_logger_small.png") %>') no-repeat center center;
}
.building-option-image.building_barracks {
  background: url('<%= asset_path("buildings/base/building_barracks/building_barracks_small.png") %>') no-repeat center center;
}
.building-option-image.building_barracks_2 {
  background: url('<%= asset_path("buildings/base/building_barracks_copper/building_barracks_copper_small.png") %>') no-repeat center center;
}
.building-option-image.building_campfire {
  background: url('<%= asset_path("buildings/base/building_campfire/building_campfire_small.png") %>') no-repeat center center;
}
.building-option-image.building_alliance_hall {
  background: url('<%= asset_path("buildings/base/building_alliance_hall/building_alliance_hall_small.png") %>') no-repeat center center;
}
.building-option-image.building_tavern {
  background: url('<%= asset_path("buildings/base/building_tavern/building_tavern_small.png") %>') no-repeat center center;
}
.building-option-image.building_special_gatherer {
  background: url('<%= asset_path("buildings/base/building_special_gatherer/building_special_gatherer_small.png") %>') no-repeat center center;
}
.building-option-image.building_cottage  {
  background: url('<%= asset_path("buildings/base/building_cottage/building_cottage_small.png") %>') no-repeat center center;
}
.building-option-image.building_cottage_2  {
  background: url('<%= asset_path("buildings/base/building_cottage/building_cottage_small.png") %>') no-repeat center center;
}
.building-option-image.building_firing_range {
  background: url('<%= asset_path("buildings/base/building_firing_range/building_firing_range_small.png") %>') no-repeat center center;
}
.building-option-image.building_firing_range_2 {
  background: url('<%= asset_path("buildings/base/building_firing_range_copper/building_firing_range_copper_small.png") %>') no-repeat center center;
}
.building-option-image.building_furrier  {
  background: url('<%= asset_path("buildings/base/building_furrier/building_furrier_small.png") %>') no-repeat center center;
}
.building-option-image.building_furrier_2  {
  background: url('<%= asset_path("buildings/base/building_furrier/building_furrier_small.png") %>') no-repeat center center;
}
.building-option-image.building_gatherer {
  background: url('<%= asset_path("buildings/base/building_gatherer/building_gatherer_small.png") %>') no-repeat center center;
}
.building-option-image.building_stud     {
  background: url('<%= asset_path("buildings/base/building_stud/building_stud_small.png") %>') no-repeat center center;
}
.building-option-image.building_stud_2     {
  background: url('<%= asset_path("buildings/base/building_stud_copper/building_stud_copper_small.png") %>') no-repeat center center;
}
.building-option-image.building_workshop {
  background: url('<%= asset_path("buildings/base/building_workshop/building_workshop_small.png") %>') no-repeat center center;
}
.building-option-image.building_storage {
  background: url('<%= asset_path("buildings/base/building_storage/building_storage_small.png") %>') no-repeat center center;
}
.building-option-image.building_storage_2 {
  background: url('<%= asset_path("buildings/base/building_storage/building_storage_small.png") %>') no-repeat center center;
}
.building-option-image.building_copper_smelter {
  background: url('<%= asset_path("buildings/base/building_copper_smelter/building_copper_smelter_small.png") %>') no-repeat center center;
}
.building-option-image.building_garrison {
  background: url('<%= asset_path("buildings/base/building_garrison/building_garrison_small.png") %>') no-repeat center center;
}
.building-option-image.building_command_post {
  background: url('<%= asset_path("buildings/base/building_command_post/building_command_post_small.png") %>') no-repeat center center;
}
.building-option-image.building_training_cave {
  background: url('<%= asset_path("buildings/base/building_training_cave/building_training_cave_small.png") %>') no-repeat center center;
}
.building-option-image.building_artifact_stand {
  background: url('<%= asset_path("buildings/base/building_artifact_stand/building_artifact_stand_small.png") %>') no-repeat center center;
}
.building-option-image.building_haunt {
  background: url('<%= asset_path("buildings/base/building_haunt/building_haunt_small.png") %>') no-repeat center center;
}
.building-option-image.building_altar {
  background: url('<%= asset_path("buildings/base/building_altar/building_altar_small.png") %>') no-repeat center center;
}
.building-option-image.building_field_camp {
  background: url('<%= asset_path("buildings/base/building_field_camp/building_field_camp_small.png") %>') no-repeat center center;
}
/** image for building_siege_tower */
.building-option-image.building_siege_tower {
  background: url('<%= asset_path("buildings/base/building_siege_tower/building_siege_tower_small.png") %>') no-repeat center center;
}
/** image for building_infantry_tower */
.building-option-image.building_infantry_tower {
  background: url('<%= asset_path("buildings/base/building_barracks/building_barracks_small.png") %>') no-repeat center center;
}
/** image for building_artillery_tower */
.building-option-image.building_artillery_tower {
  background: url('<%= asset_path("buildings/base/building_firing_range/building_firing_range_small.png") %>') no-repeat center center;
} 
/** image for building_cavalry_tower */
.building-option-image.building_cavalry_tower {
  background: url('<%= asset_path("buildings/base/building_stud/building_stud_small.png") %>') no-repeat center center;
}
/** image for building_fortress_fortification*/
.building-option-image.building_fortress_fortification {
  background: url('<%= asset_path("buildings/base/building_chief_cottage/building_chief_cottage_small.png") %>') no-repeat center center;
}

.encyclopedia-view .building-option-image {
  width: 160px;
  height:128px;
  margin-left: 0px;
  float: right;
  background-position: 0px 0px;
}


.encyclopedia-view .building-option-image.ency {
  width: 160px;
  height:128px;
  margin-left: 0px;
  float: left;
  background-position: 0px 0px;
}

.building-option-image .level {
  font-size: 24px;
  border: 4px solid #444;
  background-color: #BBB;
  border-radius: 9px;
  color: #444;
  width: 32px;
  padding: 8px 0px;
  text-align: center;
}

.base-picture .large-building.building_chief_cottage.level1 {
  background-position: -120px 0px;
}
.base-picture .large-building.building_chief_cottage.level2 {
  background-position: -240px 0px;
}
.base-picture .large-building.building_chief_cottage.level3 {
  background-position: -360px 0px;
}
.base-picture .large-building.building_chief_cottage.level4,
.base-picture .large-building.building_chief_cottage.level5 {
  background-position: -480px 0px;
}
.base-picture .large-building.building_chief_cottage.level6,
.base-picture .large-building.building_chief_cottage.level7 {
  background-position: -600px 0px;
}
.base-picture .large-building.building_chief_cottage.level8,
.base-picture .large-building.building_chief_cottage.level9 {
  background-position: -720px 0px;
}
.base-picture .large-building.building_chief_cottage.level10 {
  background-position: -840px 0px;
}
.base-picture .large-building.building_chief_cottage.level11,
.base-picture .large-building.building_chief_cottage.level12,
.base-picture .large-building.building_chief_cottage.level13,
.base-picture .large-building.building_chief_cottage.level14 {
  background-position: -960px 0px;
}
.base-picture .large-building.building_chief_cottage.level15,
.base-picture .large-building.building_chief_cottage.level16,
.base-picture .large-building.building_chief_cottage.level17,
.base-picture .large-building.building_chief_cottage.level18 {
  background-position: -1080px 0px;
}
.base-picture .large-building.building_chief_cottage.level19,
.base-picture .large-building.building_chief_cottage.level20 {
  background-position: -1200px 0px;
}

.outpost-picture .small-building.size1{
  background-position: -80px 0px;
}
.outpost-picture .small-building.size2{
  background-position: -160px 0px;
}
.outpost-picture .small-building.size3{
  background-position: -240px 0px;
}

.outpost-picture .large-building.size1{
  background-position: -120px 0px;
}
.outpost-picture .large-building.size2{
  background-position: -240px 0px;
}
.outpost-picture .large-building.size3{
  background-position: -360px 0px;
}
.outpost-picture .large-building.size4{
  background-position: -480px 0px;
}
.outpost-picture .large-building.size5{
  background-position: -600px 0px;
}
.outpost-picture .large-building.size6{
  background-position: -720px 0px;
}

.building-image.size0 {
  background-position: 0 0px;
}
.building-image.size1 {
  background-position: -160px 0px;
}
.building-image.size2 {
  background-position: -320px 0px;
}
.building-image.size3 {
  background-position: -480px 0px;
}
.building-image.size4 {
  background-position: 0 -128px;
}
.building-image.size5 {
  background-position: -160px -128px;
}
.building-image.size6 {
  background-position: -320px -128px;
}
.building-image.size7 {
  background-position: -480px -128px;
}

/* ==== Grid ==== */
.outpost-picture .large-building.hover,
.base-picture .large-building.hover,
.outpost-picture .small-building.hover,
.base-picture .small-building.hover,
.fortress-picture .small-building.hover {
  background: url('<%= asset_path("buildings/base/grid_base_hover.png") %>') no-repeat center center;
  cursor: pointer;
}

/* ==== Small Fire Positions === */
.building_chief_cottage.building-image.size0 .small-fire,
.building_fortress_fortification.building-image.size0 .small-fire {
  top: 64px;
  left:64px;
}

.building_chief_cottage.building-image.size1 .small-fire,
.building_fortress_fortification.building-image.size1 .small-fire {
  top: 53px;
  left:66px;
}

.building_chief_cottage.building-image.size2 .small-fire,
.building_chief_cottage.building-image.size3 .small-fire,
.building_fortress_fortification.building-image.size2 .small-fire,
.building_fortress_fortification.building-image.size3 .small-fire {
  top: 45px;
  left:63px;
}

.building_chief_cottage.building-image.size4 .small-fire,
.building_chief_cottage.building-image.size5 .small-fire,
.building_chief_cottage.building-image.size6 .small-fire,
.building_fortress_fortification.building-image.size4 .small-fire,
.building_fortress_fortification.building-image.size5 .small-fire,
.building_fortress_fortification.building-image.size6 .small-fire {
  top: 40px;
  left:67px;
}


.building_gatherer.building-image.size0 .small-fire {
  top: 66px;
  left:87px;
}

.building_gatherer.building-image.size1 .small-fire,
.building_gatherer.building-image.size2 .small-fire {
  top: 74px;
  left:77px;
}

.building_special_gatherer.building-image.size0 .small-fire,
.building_special_gatherer.building-image.size1 .small-fire,
.building_special_gatherer.building-image.size2 .small-fire {
  top: 74px;
  left:77px;
}

.building_alliance_hall.building-image .small-fire {
  top: 74px;
  left:77px;
}

/* ==== Campfire Animations ==== */

@-webkit-keyframes camp_fire {
   from { background-position: 0px 0px; }
     to { background-position: -800px 0px; }
}

@-moz-keyframes camp_fire {
   from { background-position: 0px 0px; }
     to { background-position: -800px 0px; }
}

@-ms-keyframes camp_fire {
   from { background-position: 0px 0px; }
     to { background-position: -800px 0px; }
}

@-o-keyframes camp_fire {
   from { background-position: 0px 0px; }
     to { background-position: -800px 0px; }
}

@keyframes camp_fire {
   from { background-position: 0px 0px; }
     to { background-position: -800px 0px; }
}

