/* == BUILDING INFO == */

.building-information-dialog-pane .building-resource-icon {
  display: inline-block;
}

.modal-dialog-body.building-information-dialog-pane
{
  top: 56px;
  width: 624px;
  height: 420px;
}

.building-information-dialog-pane .row1 {
  height: 224px !important;
  margin: 20px 0 0 0;
}

.building-information-dialog-pane .info-box {
  /*text-align: center;
  vertical-align: middle;*/
  float: left;
  font-size: 18px;
}
.building-option-details.building-option-details-new-dialog-view
{
  display: inline-block;
  width: 100%;
  height: 95%;
  margin: 0px;
  padding: 0px;
  margin-left: 0px;
}

.resource-list li {
  height: 32px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.resource-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resource-amount {
  padding:0px 0px 10px 10px;
  display: inline-block;
  line-height: 1.4em;
  vertical-align: top;
  color: rgb(112,92,48);
}