#hud-canvas-right {
  position: fixed;
  right: -70px;
  top: 492px;
  width: 70px;
  height: 14px;
  z-index: 10;
}

#hud-canvas-left {
  position: fixed;
  left: -120px;
  bottom: 20px;
  width: 120px;
  height: 370px;
  z-index: 10;
}
/* == NEW DOM RIGHT HUD START== */
.top-right-hud {
  width: 350px;
  position: fixed;
  top: 0px;
  z-index: 50;
  pointer-events: none;
  right: -350px;
}

.top-right-hud div{
  pointer-events: all;
}

.alliance-hud-button {
  width: 96px;
  height: 96px;
  position: relative;
  top: 170px;
  margin-right: 7px;
  float: right;
  background: url("<%= asset_path 'hud/alliance_button/alliance_button.png' %>");
  cursor: pointer;
  z-index: 50;
}
.alliance-hud-button:active{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.alliance-hud-icon {
  width: 96px;
  height: 96px;
  position: relative;
  background: url("<%= asset_path 'hud/alliance_flag/alliance_flag.png' %>") no-repeat left;
  cursor: pointer;
  z-index: 50;
}

.alliance-hud-icon:hover {
  background-position: -96px 0;
}

.right-hud {
  width: 70px;
  height: 114px;
  position: fixed;
  bottom: 0px;
  z-index: 50;
  pointer-events: none;
  right: -70px;
}

.right-hud div{
  pointer-events: all;
}

.message-hud-button{
  width: 52px;
  height: 52px;
  background:url("<%= asset_path 'hud/message_button/message_button.png' %>") no-repeat;
  background-position: 0 0;
}
.message-hud-button-position{
  bottom: 160px;
  left: 0px;
  position: relative;
}
.message-hud-button:hover{
  background-position: -52px 0;
  cursor: pointer;
}
.message-hud-button:active{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.quest-list-hud-button{
  width: 52px;
  height: 52px;
  background:url("<%= asset_path 'hud/quest_list_button/quest_list_button.png' %>") no-repeat;
  background-position: 0 0;
}
.quest-list-hud-button-position{
  bottom: 148px;
  left: 0px;
  position: relative;
}
.quest-list-hud-button:hover{
  background-position: -52px 0;
  cursor: pointer;
}
.quest-list-hud-button:active{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.count-indicator-background{
  width: 34px;
  height: 32px;
  background:url("<%= asset_path 'hud/count_indicator/count_indicator.png' %>") no-repeat center center;
}
.count-indicator-background-position{
  top: 10px;
  left: 40px;
  position: relative;
  text-align: center;
  line-height: 30px;
  font-family: $main-font;
  color: white;
}
/* == NEW DOM RIGHT HUD END== */

/* == NEW DOM LEFT HUD START== */
.left-hud {
  width: 120px;
  height: 440px;
  position: fixed;
  bottom: 10px;
  z-index: 50;
  pointer-events: none;
  left: -120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  div {
    pointer-events: all;
    &.
  }
}

.settelement-hud-button{
  width: 100px;
  height: 94px;
  background:url("<%= asset_path 'hud/settlement_button/settlement_button.png' %>") no-repeat;
  background-position: 0 0;
}
.settlement-hud-button-position{
  bottom: 0px;
  position: absolute;
}
.settelement-hud-button:hover{
  background-position: -100px 0;
  cursor: pointer;
}

.settelement-hud-button:active{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.map-hud-button{
  width: 100px;
  height: 94px;
  background:url("<%= asset_path 'hud/map_button/map_button.png' %>") no-repeat;
  background-position: 0 0;
}
.map-hud-button-position{
  bottom: 0px;
  position: absolute;
}
.map-hud-button:hover{
  background-position: -100px 0;
  cursor: pointer;
}

.map-hud-button:active{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.menu-hud-button{
  width: 52px;
  height: 52px;
  background:url("<%= asset_path 'hud/menu_button/menu_button.png' %>") no-repeat;
  background-position: 0 0;
}

.menu-hud-button-position{
  position: relative;
  top: 0px;
}
.menu-hud-button:hover{
  background-position: -52px 0;
  cursor: pointer;
}

.menu-hud-button:active{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.ranking-hud-button{
  width: 52px;
  height: 52px;
  background:url("<%= asset_path 'hud/ranking_button/ranking_button.png' %>") no-repeat;
  background-position: 0 0;
}
.ranking-hud-button-position{
  position: relative;
  top: 20px;
}
.ranking-hud-button:hover{
  background-position: -52px 0;
  cursor: pointer;
}

.ranking-hud-button:active{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.map-mountains-hud-button{
  width: 52px;
  height: 52px;
  background:url("<%= asset_path 'hud/map_mountains_button/map_mountains_button.png' %>") no-repeat;
  background-position: 0 0;
}
.map-mountains-hud-button-position{
  position: relative;
  top: 50px;
}
.map-mountains-hud-button:hover{
  background-position: -52px 0;
  cursor: pointer;
}

.map-mountains-hud-button:active{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.army-menu-hud-button-position{
  position: relative;
  top: 62px;
}
.army-menu-hud-button{
  width: 52px;
  height: 52px;
  background:url("<%= asset_path 'hud/army_menu_button/army_menu_button.png' %>") no-repeat;
  background-position: 0 0;
}
.army-menu-hud-button:hover{
  background-position: -52px 0;
  cursor: pointer;
}

.army-menu-hud-button:active{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.army-hud-button{
  width: 52px;
  height: 52px;
  background:url("<%= asset_path 'hud/army_button/army_button.png' %>") no-repeat;
  background-position: 0 0;
}

.army-hud-button-position{
  position: absolute;
  bottom: 100px;
}

.army-hud-button:hover{
  background-position: -52px 0;
  cursor: pointer;
}

.army-hud-button:active{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.assignment-hud-button{
  width: 52px;
  height: 52px;
  background:url("<%= asset_path 'hud/assignment_button/assignment_button.png' %>") no-repeat;
  background-position: 0 0;
}

.assignment-hud-button-position{
  position: relative;
  top: 42px;
}

.assignment-hud-button:hover{
  background-position: -52px 0;
  cursor: pointer;
}

.assignment-hud-button:active{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.trade-hud-button{
  width: 52px;
  height: 52px;
  background:url("<%= asset_path 'hud/trade_button/trade_button.png' %>") no-repeat;
  background-position: 0 0;
}

.trade-hud-button-position{
  position: relative;
  top: 52px;
}

.trade-hud-button:hover{
  background-position: -52px 0;
  cursor: pointer;
}

.trade-hud-button:active{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/* == NEW DOM LEFT HUD END== */

#hud-canvas-profile {
  position: fixed;
  left: -300px;
  top: 0px;
  width: 290px;
  height: 166px;
  z-index: 10;
}

#resource-canvas {
  position: fixed;
  right: 0px;
  top: -42px;
  width: 800px;
  height: 42px;
  z-index: 9;
}