.background-textfield-grey-xs {
	background-image: url("<%= asset_path 'dialogs/backgrounds/background_textfield_grey_xs.png' %>");
	background-repeat: no-repeat;
	background-position: center center;
	width: 52px;
	height: 44px;
}

.background-textfield-grey-s {
	background-image: url("<%= asset_path 'dialogs/backgrounds/background_textfield_grey_s.png' %>");
	background-repeat: no-repeat;
	background-position: center center;
	width: 116px;
	height: 44px;
}

.background-textfield-grey-m {
	background-image: url("<%= asset_path 'dialogs/backgrounds/background_textfield_grey_m.png' %>");
	background-repeat: no-repeat;
	background-position: center center;
	width: 212px;
	height: 44px;
}

.background-textfield-grey-xl {
	background-image: url("<%= asset_path 'dialogs/backgrounds/background_textfield_grey_xl.png' %>");
	background-repeat: no-repeat;
	background-position: center center;
	width: 492px;
	height: 44px;
}

.button-blue-short {
	background-image: url("<%= asset_path 'dialogs/buttons/button_blue_short.png' %>");
	background-position: center center;
	background-repeat: no-repeat;
	width: 72px;
	height: 52px;
}

.button-green-high
{
  cursor: pointer;
  background-image: url("<%= asset_path 'dialogs/buttons/button_green_high.png' %>");
  background-position: center center;
	background-repeat: no-repeat;
  width: 184px;
  height: 200px;
}