@mixin image-background() {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.background-textfield-grey-xs {
	background-image: url("<%= asset_path 'dialogs/backgrounds/background_textfield_grey_xs.png' %>");
  @include image-background();
	width: 52px;
	height: 44px;
}

.background-textfield-grey-s {
	background-image: url("<%= asset_path 'dialogs/backgrounds/background_textfield_grey_s.png' %>");
	@include image-background();
	width: 116px;
	height: 44px;
}

.background-textfield-grey-m {
	background-image: url("<%= asset_path 'dialogs/backgrounds/background_textfield_grey_m.png' %>");
	@include image-background();
	width: 212px;
	height: 44px;
}

.background-textfield-grey-xl {
	background-image: url("<%= asset_path 'dialogs/backgrounds/background_textfield_grey_xl.png' %>");
	@include image-background();
	width: 492px;
	height: 44px;
}

.button-blue-short {
	background-image: url("<%= asset_path 'dialogs/buttons/button_blue_short.png' %>");
	@include image-background();
	width: 72px;
	height: 52px;
}

.button-green-high
{
  background-image: url("<%= asset_path 'dialogs/buttons/button_green_high.png' %>");
  @include image-background();
  width: 184px;
  height: 200px;
}

.button-green-medium
{
  background-image: url("<%= asset_path 'dialogs/buttons/button_green_medium.png' %>");
  @include image-background();
  width: 180px;
  height: 52px;
}

.button-green-short
{
  background-image: url("<%= asset_path 'dialogs/buttons/button_green_short.png' %>");
  @include image-background();
  width: 96px;
  height: 76px;
}

.progress-domination-green {
	background-image: url("<%= asset_path 'dialogs/progressbars/progress_domination_green.png' %>");
  @include image-background();
  width: 560px;
  height: 48px;
}

.progress-domination-grey {
	background-image: url("<%= asset_path 'dialogs/progressbars/progress_domination_grey.png' %>");
  @include image-background();
  width: 560px;
  height: 48px;
}

.army-fist {
  background-image: url("<%= asset_path 'dialogs/specials/army_fist.png' %>");
  @include image-background();
  width: 32px;
  height: 32px;
}

.quest_arrow_right_brown {
  background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_arrow_right_brown.png' %>");
  @include image-background();
  width: 100px;
  height: 72px;
}

.quest_arrow_right_brown_short {
  background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_arrow_right_brown_short.png' %>");
  @include image-background();
  width: 80px;
  height: 76px;
  display: inline-block;
}

.quest_arrow_right_brown_short_cracked {
  background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_arrow_right_brown_short_cracked.png' %>");
  @include image-background();
  width: 76px;
  height: 76px;
  display: inline-block;
}

.quest_arrow_right_green {
  background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_arrow_right_green.png' %>");
  @include image-background();
  width: 100px;
  height: 72px;
  display: inline-block;
}

.quest_arrow_right_green_short {
  background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_arrow_right_green_short.png' %>");
  @include image-background();
  width: 80px;
  height: 76px;
  display: inline-block;
}

.quest_arrow_right_green_short_cracked {
  background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_arrow_right_green_short_cracked.png' %>");
  @include image-background();
  width: 76px;
  height: 76px;
  display: inline-block;
}

.quest_paper_l_left {
  background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_l_left.png' %>");
  @include image-background();
  width: 216px;
  height: 156px;
}

.quest_paper_l_right {
  background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_l_right.png' %>");
  @include image-background();
  width: 216px;
  height: 156px;
}

.quest_paper_m_0 {
  background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_m_0.png' %>");
  @include image-background();
  width: 148px;
  height: 148px;
}

.quest_paper_m_1 {
  background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_m_1.png' %>");
  @include image-background();
  width: 156px;
  height: 156px;
}

.quest_paper_s_0 {
  background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_s_0.png' %>");
  @include image-background();
  width: 128px;
  height: 128px;
}

.quest_paper_s_1 {
  background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_s_1.png' %>");
  @include image-background();
  width: 124px;
  height: 124px;
}

.quest_paper_s_2 {
  background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_s_2.png' %>");
  @include image-background();
  width: 124px;
  height: 130px;
}
