/* === Sketched Advisors === */
.advisor.warrior.sketched{
  background: url('<%= asset_path("advisors/sketched/quest-advisor-sketched-warrior.png") %>');
  background-size: 100% 100%;
}

.advisor.chef.sketched{
  background: url('<%= asset_path("advisors/sketched/quest-advisor-sketched-chef.png") %>');
  background-size: 100% 100%;
}

.advisor.girl.sketched{
  background: url('<%= asset_path("advisors/sketched/quest-advisor-sketched-girl.png") %>');
  background-size: 100% 100%;
}

/* === Old Advisors ===*/
.advisor.girl {
  background: url('<%= asset_path("advisors/head_girl_colored_small.png") %>');
}
.advisor.girl-quest-start {
  background: url('<%= asset_path("advisors/quest-dialog/quest-dialog-girl.png") %>');
}
.advisor.warrior {
  background: url('<%= asset_path("advisors/head_warrior_colored_small.png") %>');
}
.advisor.warrior-quest-start {
  background: url('<%= asset_path("advisors/quest-dialog/quest-dialog-warrior.png") %>');
}
.advisor.warrior.tiny {
  background: url('<%= asset_path("advisors/head_warrior_colored_tiny.png") %>');
}
.advisor.chef, .advisor.chef-quest-start {
  background: url('<%= asset_path("advisors/quest-dialog/quest-dialog-chef.png") %>');
}
.advisor.chef.tiny {
  background: url('<%= asset_path("advisors/head_chef_colored_tiny.png") %>');
}
.advisor.warrior-quest-end {
  background: url('<%= asset_path("advisors/quest-dialog/end/head_warrior_colored_small_quest_end.png") %>');
}
.advisor.chef-quest-end {
  background: url('<%= asset_path("advisors/quest-dialog/end/head_chef_colored_small_quest_end.png") %>');
}
.advisor.girl-quest-end {
  background: url('<%= asset_path("advisors/quest-dialog/end/head_girl_colored_small_quest_end.png") %>');
}


/* === Quest EPIC List === */
.quest-epic-view {
  background-image: url('<%= asset_path("dialogs/quest-list/quest-selection-bg.png") %>');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100%;

  position: fixed; 
  margin-left: -382px;
  margin-top: 72px;
  width: 764px;
  height: 576px;

  .scale-down {
    zoom: 1;
  }
  z-index:256;

  box-shadow: none;
  border-radius: 0px;
  
  .title{
    position: relative;
    width: 80%;
    height: 8%;
    top: 3%;
    left: 8%;
    font-weight: bold;
    
    h1{
      font-family: $main-font;
      color: #643a13;
    }
  }
  
  .background-advisor{
    position: absolute;
    background-image: url('<%= asset_path("dialogs/backgrounds/background_building_selection_active.png") %>');
    background-size: 100%;
    width: 160px;
    height: 140px;
    right: 80px;
    top: 70px;
    
    .advisor{
      width: 160px;
      height: 160px;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  
  .task{
    font-family: $main-font;
    font-size: 24px;
    color: #643a13;
    width: 60%;
    position: relative;
    top: 5%;
    left: 8%;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .content {
    
    .epic_background {
      background-image: url('<%= asset_path("dialogs/backgrounds/background_building_selection_active.png") %>');
      background-size: 100%;
      background-repeat: no-repeat;
      width: 160px;
      height: 140px;
      margin-left: auto;
      margin-right: auto;
    
      .advisor{
        width: 160px;
        height: 160px;
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .sub-background {
      .sub-image {
        background-size: 100%;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        &.quest_build_chiefcottagelvl4 {
          background-image: url('<%= asset_path("quests/grey/quest_build_chiefcottagelvl4_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_chiefcottagelvl4.png") %>');
          }
        }
        &.quest_build_quarry {
          background-image: url('<%= asset_path("quests/grey/quest_build_quarry_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_quarry.png") %>');
          }
        }
        &.quest_build_logger {
          background-image: url('<%= asset_path("quests/grey/quest_build_logger_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_logger.png") %>');
          }
        }
        &.quest_build_quarry_lvl3 {
          background-image: url('<%= asset_path("quests/grey/quest_build_quarry_lvl3_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_quarry_lvl3.png") %>');
          }
        }
        &.quest_build_logger_lvl3 {
          background-image: url('<%= asset_path("quests/grey/quest_build_logger_lvl3_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_logger_lvl3.png") %>');
          }
        }
        &.quest_gatherer_lvl3 {
          background-image: url('<%= asset_path("quests/grey/quest_gatherer_lvl3_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_gatherer_lvl3.png") %>');
          }
        }
        &.quest_build_chiefcottagelvl5 {
          background-image: url('<%= asset_path("quests/grey/quest_build_chiefcottagelvl5_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_chiefcottagelvl5.png") %>');
          }
        }
        &.quest_build_campfire {
          background-image: url('<%= asset_path("quests/grey/quest_build_campfire_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_campfire.png") %>');
          }
        }
        &.quest_alliance {
          background-image: url('<%= asset_path("quests/grey/quest_alliance_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_alliance.png") %>');
          }
        }
        &.quest_build_storage {
          background-image: url('<%= asset_path("quests/grey/quest_build_storage_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_storage.png") %>');
          }
        }
        &.quest_first_trade {
          background-image: url('<%= asset_path("quests/grey/quest_first_trade_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_first_trade.png") %>');
          }
        }
        &.quest_build_chiefcottagelvl6 {
          background-image: url('<%= asset_path("quests/grey/quest_build_chiefcottagelvl6_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_chiefcottagelvl6.png") %>');
          }
        }
        &.quest_finish_upgrade {
          background-image: url('<%= asset_path("quests/grey/quest_finish_upgrade_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_finish_upgrade.png") %>');
          }
        }
        &.quest_build_cottage {
          background-image: url('<%= asset_path("quests/grey/quest_build_cottage_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_cottage.png") %>');
          }
        }
        &.quest_build_chiefcottagelvl7 {
          background-image: url('<%= asset_path("quests/grey/quest_build_chiefcottagelvl7_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_chiefcottagelvl7.png") %>');
          }
        }
        &.quest_build_training_cave {
          background-image: url('<%= asset_path("quests/grey/quest_build_training_cave_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_training_cave.png") %>');
          }
        }
        &.quest_build_chiefcottagelvl8 {
          background-image: url('<%= asset_path("quests/grey/quest_build_chiefcottagelvl8_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_chiefcottagelvl8.png") %>');
          }
        }
        &.quest_build_furrier {
          background-image: url('<%= asset_path("quests/grey/quest_build_furrier_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_furrier.png") %>');
          }
        }
        &.quest_build_chiefcottagelvl9 {
          background-image: url('<%= asset_path("quests/grey/quest_build_chiefcottagelvl9_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_chiefcottagelvl9.png") %>');
          }
        }
        &.quest_build_firing_range {
          background-image: url('<%= asset_path("quests/grey/quest_build_firing_range_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_firing_range.png") %>');
          }
        }
        &.quest_recruit_thrower {
          background-image: url('<%= asset_path("quests/grey/quest_recruit_thrower_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_recruit_thrower.png") %>');
          }
        }
        &.quest_build_chiefcottagelvl10 {
          background-image: url('<%= asset_path("quests/grey/quest_build_chiefcottagelvl10_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_chiefcottagelvl10.png") %>');
          }
        }
        &.quest_build_copper_smelter {
          background-image: url('<%= asset_path("quests/grey/quest_build_copper_smelter_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_copper_smelter.png") %>');
          }
        }
        &.quest_build_copper_smelter_lvl5 {
          background-image: url('<%= asset_path("quests/grey/quest_build_copper_smelter_lvl5_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_copper_smelter_lvl5.png") %>');
          }
        }
        &.quest_build_stid {
          background-image: url('<%= asset_path("quests/grey/quest_build_stid_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_stid.png") %>');
          }
        }
        &.quest_light_cavalry {
          background-image: url('<%= asset_path("quests/grey/quest_build_stid_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_stid.png") %>');
          }
        }
        &.quest_build_campfirelvl10 {
          background-image: url('<%= asset_path("quests/grey/quest_build_campfirelvl10_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_build_campfirelvl10.png") %>');
          }
        }
        &.quest_little_chief {
          background-image: url('<%= asset_path("quests/grey/quest_little_chief_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_little_chief.png") %>');
          }
        }
        &.quest_outpost {
          background-image: url('<%= asset_path("quests/grey/quest_outpost_grey.png") %>');
          &.finished {
            background-image: url('<%= asset_path("quests/quest_outpost.png") %>');
          }
        }
      }
    }
    
    .epic_name {
      font-family: $main-font;
      font-size: 22px;
      color: #643a13;
      text-align: center;
      height: 60px;
      width: 260px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .epic_actual_threshold {
      font-family: $main-font;
      font-size: 32px;
      color: #643a13;
      text-align: center;
      width: 255px;
    }
    
    
    
    .finished{
      color: rgb(0, 217,0);
    }
    
    .two_layer {
      .first {
        width: 260px;
        height: 200px;
        float: left;
        margin-left: 100px;
      }
      
      .arrow_0{
        position: absolute;
        left: 380px;
        top: 380px;
      }
      
      .second {
        width: 260px;
        height: 200px;
        float: right;
        margin-right: 100px;
      }
    }
    
    .three_layer {
      
      .epic_name {
        font-family: $main-font;
        font-size: 18px;
        color: #643a13;
        text-align: center;
        height: 60px;
        width: 220px;
      }
      
      .first {
        position: absolute;
        width: 260px;
        height: 200px;
        top: 325px;
        left: 30px;
      }
      
      .arrow_0{
        position: absolute;
        left: 250px;
        top: 380px;
      }
      
      .second {
        position: absolute;
        width: 260px;
        height: 200px;
        top: 325px;
        right: 270px;
      }
      
      .arrow_1{
        position: absolute;
        right: 245px;
        top: 380px;
      }
      
      .third {
        position: absolute;
        width: 260px;
        height: 200px;
        top: 325px;
        right: 30px;        
      }
    }
    
    
    .four_layer {

      zoom: 0.8;
      
      .epic_name {
        font-family: $main-font;
        font-size: 18px;
        color: #643a13;
        text-align: center;
        height: 60px;
        width: 180px;
      }
      
      .first {
        position: absolute;
        width: 220px;
        height: 260px;
        top: 320px;
        left: 50px;
      }
      
      .arrow_0{
        position: absolute;
        left: 250px;
        top: 440px;
      }
      
      .second {
        position: absolute;
        width: 260px;
        height: 200px;
        top: 420px;
        left: 265px;
      }
      
      .arrow_1{
        position: absolute;
        left: 480px;
        top: 430px;
      }
      
      .third {
        position: absolute;
        width: 260px;
        height: 200px;
        top: 320px;
        right: 250px;        
      }
      
      .arrow_2{
        position: absolute;
        right: 240px;
        top: 430px;
      }
      
      .fourth {
        position: absolute;
        width: 260px;
        height: 200px;
        top: 420px;
        right: 30px;        
      }
      
    }
  }

  .okButton {
    position: absolute;

    width: 172px;
    height: 129px;

    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button.png") %>');
    background-size: 100%;
    -webkit-transition: background-image 0.3s;
    -moz-transition: background-image 0.3s;
    -ms-transition: background-image 0.3s;
    -o-transition: background-image 0.3s;
    transition: background-image 0.3s;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;

    bottom: -30px;
    right: -30px;
  }

  .okButton:hover{
    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active.png") %>');
  }

  .okButton:active{
    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active2.png") %>');
    transition: background 0s;
  }
}

/* === Quest List === */
.quest-list-view {
  background-image: url('<%= asset_path("dialogs/quest-list/quest-selection-bg.png") %>');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100%;

  position: fixed; 
  margin-left: -382px;
  margin-top: 72px;
  width: 764px;
  height: 576px;
  &.scale-down {
    zoom: 1;
  }

  z-index:256;

  box-shadow: none;
  border-radius: 0px;
  
  .title{
    position: relative;
    width: 80%;
    height: 8%;
    top: 3%;
    left: 8%;
    font-weight: bold;
    
    h1{
      font-family: 'Freckle Face', cursive;
      color: #643a13;
    }
  }
  
  .content{
    position: relative;
    width: 86%;
    height: 74%;
    left: 7%;
    right: 5%;
    top: 20px;
  }
  
  .quest-list{
    position: relative;
    width: 45%;
    height: 100%;
    float:left;
  }
  
  .quest-detail {
    float: right;
    position: relative;
    width: 50%;
    height: 90%;
  }
  
  .epic-quest-button-info{
    position: absolute;
    background-size: 100% 100%;
    background-image: url('<%= asset_path("hud/button_blue/button_blue.png") %>');
    height: 70px;
    width: 70px;
    top: 35px;
    right: 65px;
    .icon {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;      
      background-size: 100% 100%;
      background-image: url('<%= asset_path("hud/icon_info/icon_info.png") %>');
    }
  }
  
  .epic-quest-button-info:hover{
    cursor: pointer;
    //background-image: url('<%= asset_path("hud/button_blue/button_blue:active;") %>');
  }

  .epic-quest-button-info:active{
     background-image: url('<%= asset_path("hud/button_blue/button_blue_active.png") %>');
    transition: background 0s;
  }
  
  .okButton{
    position: absolute;

    width: 172px;
    height: 129px;

    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button.png") %>');
    background-size: 100%;
    -webkit-transition: background-image 0.3s;
    -moz-transition: background-image 0.3s;
    -ms-transition: background-image 0.3s;
    -o-transition: background-image 0.3s;
    transition: background-image 0.3s;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;

    bottom: -30px;
    right: -30px;
  }

  .okButton:hover{
    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active.png") %>');
  }

  .okButton:active{
    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active2.png") %>');
    transition: background 0s;
  }
}

/* ===  Quest List === */
.quest-list{

  .epic{
    background-image: url('<%= asset_path("dialogs/quest-list/quest-list-bg-name-chef.png") %>');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .optional{
    background-image: url('<%= asset_path("dialogs/quest-list/quest-list-bg-name-girl.png") %>');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  } 
}

/* ===  Quest List Item === */
.quest-list-item {
  margin: 10px 0;
  cursor: pointer;
  height: 48px;
  
  .name {
    position: relative;
    margin-left: 2%;
    display: inline-block;

    font-family: 'Freckle Face', cursive;
    color: #fdf6d4;
    text-shadow: none;
    font-size: 25px;
    line-height: 2em;
    width: 216px;

  }

  .actual_threshold {
    position: relative;
    display: inline-block;
    font-family: 'Freckle Face', cursive;
    color: #fdf6d4;
    text-shadow: none;
    font-size: 20px;
    line-height: 2.5em;
    //width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .advisor{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .girl {
       background-image: url('<%= asset_path("dialogs/quest-list/quest-list-bg-name-girl.png") %>');
    }

    .chef {
      background-image: url('<%= asset_path("dialogs/quest-list/quest-list-bg-name-chef.png") %>');
    }

    .warrior {
      background-image: url('<%= asset_path("dialogs/quest-list/quest-list-bg-name-warrior.png") %>');
    }
  }

  .finished{
    width: 27px;
    height: 26px;
    position: relative;
    top: 5px;
    right: 5px;  
    float: right;
    background-image: url('<%= asset_path("dialogs/quest-list/quest-finished-icon.png") %>');
    background-size: 100% 100%;
  }

  .open{

  }
}

.quest-list-item:active {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/* ===  Sub Quest List === */
.quest-subquests{  
   
   margin-left: 15px;
 
   .quest-list-item{
   
     background-size: 115% 100%;
     background-image: url('<%= asset_path("dialogs/quest-list/quest-list-bg-name-warrior.png") %>');
    
     .name {
       font-size: 22px;
       line-height: 2.2em;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
     }
     
     .actual_threshold {
        float: right;
        margin-right: 5px;
     }
   }
}


@media (max-width : 960px){
  .quest-list-view {
    zoom: 0.5 !important;
  }
}



.quest-detail {

  .clickActionViewEpicInfo{
    background-color: red;
  }
  
  .quest-content{
    
    .task-top{
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #555;
    }
    

    .advisor{
      
    }
    
    .sketched{
      position:absolute;
      width: 90px;
      height: 90px;      
      background-size: 100%;
      top:0px;
      right:0px;
    }
    
    .task-middle{
      font-style: italic;
    }
    
    .task-bottom{
      font-style: italic;
    }
  }
  
  .quest-dialog-advisor-task{
    margin-top: 10px;
    margin-bottom: 40px;
    width: 240px;
    margin-left: 15px;
  }
  
  
  .overview{
    
    .center{
      width: 70%;
      margin-left: auto;
      margin-right: auto;      
    }
    
    .advisor{
      width: 66px; height: 66px;
      background-size: 100% 100%;
    }
    
    .item{
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #555;
      
      width: 100%;
      margin-left: 10%;
      height: 40px;
      display: flex;
      
      .left{
        justify-content: flex-end;
      }
      
      .right{
        margin-left: 15%;
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .xp-icon {
      display: inline-block;
      width: 36px; height: 36px;
      background-image: url("<%= asset_path 'icons/xp_middle.png' %>") no-repeat center center;
      background-size: 100% 100%;
    }
    
    .population {
      display: inline-block;
      width: 36px; height: 36px;
      background:url("<%= asset_path 'dialogs/items/normal/item_population.png' %>") no-repeat center center;
      background-size: 100% 100%;      
    }
    
    .capacity {
      display: inline-block;
      width: 36px; height: 36px;      
      background: url("<%= asset_path 'dialogs/items/normal/item_storage.png' %>") no-repeat center center;
      background-size: 100% 100%;           
    }
    
    .fortress {
      display: inline-block;      
      width: 36px; height: 36px;      
      background:url("<%= asset_path 'dialogs/specials/fortress_identifier.png' %>") no-repeat center center;
      background-size: 100% 100%;  
    }
    
    .outpost {
      display: inline-block;      
      width: 36px; height: 36px;      
      background:url("<%= asset_path 'dialogs/specials/settlement_list_outpost.png' %>") no-repeat center center;
      background-size: 100% 100%;  
    }
    
    .settlement_points{
      display: inline-block;      
      width: 36px; height: 36px;      
      background:url("<%= asset_path 'dialogs/specials/settlement_list_settlement.png' %>") no-repeat center center;
      background-size: 100% 100%;
    }
    
    .victories{
      display: inline-block;      
      width: 36px; height: 36px;      
      background:url("<%= asset_path 'dialogs/specials/army_identifier.png' %>") no-repeat center center;
      background-size: 100% 100%;
    }
  }

  .redeemButton{
    position: relative;

    width: 180px;
    height: 53px;

    background-image: url('<%= asset_path("dialogs/buttons/button_green_medium.png") %>');
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.3s;
    -moz-transition: background-image 0.3s;
    -ms-transition: background-image 0.3s;
    -o-transition: background-image 0.3s;
    transition: background-image 0.3s;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;

    bottom: -20px;
    left: 70px;
    text-align: center;
    
    span{
      font-family: 'Freckle Face', cursive;
      color: #fdf6d4;
      text-shadow: none;
      font-size: 25px;
      line-height: 2em;  
    }
  }
  
  .redeemButton:hover{
    cursor: pointer;
    //background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active.png") %>');
  }

  .redeemButton:active{
    background-image: url('<%= asset_path("dialogs/buttons/button_green_medium_pressed.png") %>');
    transition: background 0s;
  }
  
}



/*=== Tutorial End Dialog ===*/
.tutorial-end-dialog {
  background-image: url('<%= asset_path("dialogs/quest-list/quest-selection-bg.png") %>');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  position: absolute; 
  margin-left: -400px;
  margin-top: 80px;
  width: 764px;
  height: 576px;

  z-index:256;

  box-shadow: none;
  border-radius: 0px;
}

.tutorial-end-dialog p {
  margin: 0;
}

.tutorial-end-dialog .clearfix {
  height: 30px;
}

.tutorial-end-dialog .content {
  margin: 50px 80px;
  width: 600px;
  height: 450px;
}

.tutorial-end-dialog .content .advisor {
  width: 120px;
  height: 120px;
}

.tutorial-end-dialog .advisor.warrior {
  
}

.tutorial-end-dialog .advisor.chef {
  float: right;
}

.tutorial-end-dialog .advisor.girl {
  
}

.tutorial-end-dialog .okButton{
  position: absolute;

  width: 172px;
  height: 129px;

  background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button.png") %>');
  background-size: 100%;
  -webkit-transition: background-image 0.3s;
  -moz-transition: background-image 0.3s;
  -ms-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;

  bottom: -30px;
  right: -30px;
}

.tutorial-end-dialog .okButton:hover{
    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active.png") %>');
}

.tutorial-end-dialog .okButton:active{

  background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active2.png") %>');

  transition: background 0s;
}




/*=== Quest Dialog ===*/
.quest-answer-field {
  display: inline;
}

.quest-start-dialog, .quest-finished-dialog, .quest-info-dialog, .quest-dialog {
  position: absolute;
  margin-left: -366px;
  margin-top: 50px;
  width: 780px; min-height: 100px;
  background-color: #FFF;
  padding: 4px 4px 4px 4px;
  z-index:256;
}

.quest-dialog .inner-border {
  border: 8px solid #BBB;
  background-color: rgba(176, 176, 176, 0.15);
  border-radius: 11px;
  margin: 0;
  padding: 4px 14px 14px 14px;
}

.tutorial-end-dialog .ok-button,
.quest-list-view .ok-button,
.quest-dialog .ok-button {
  border: solid 2px #BC4;
  background-color: #FFF;
  margin: -2px;
  font-weight: bold;
  color: #BC4;
  padding-left: 20px;
  padding-right: 20px;
}

.quest-list-view .ok-button:hover,
.quest-dialog .ok-button:hover {
  border-width: 4px;
  margin: -4px;
}

.quest-dialog .inner-border.girl {
  border-color: #BC4;
  background-color: rgba(176, 192, 64, 0.15);
}
.quest-dialog .inner-border.chef {
  border-color: #AAC;
  background-color: rgba(160, 160, 192, 0.15);
}
.quest-dialog .inner-border.warrior {
  border-color: #F94;
  background-color: rgba(255, 144, 64, 0.15);
}
.quest-dialog.tutorial .inner-border {
  border-color: #DBD;
  background-color: rgba(208, 176, 208, 0.15);
}

.quest-dialog .girl .ok-button {
  border-color: #BC4;
  color: #BC4;
}
.quest-dialog .chef .ok-button {
  border-color: #AAC;
  color: #AAC;
}
.quest-dialog .warrior .ok-button {
  border-color: #F94;
  color: #F94;
}
.quest-dialog.tutorial .ok-button {
  border-color: #DBD;
  color: #DBD;
}

.quest-dialog .description-image-army {
  float: left;
  margin: 0px 14px 14px 0px;
  width: 317px;
  height: 287px;
  background-image: url('<%= asset_path("newarmybutton.png") %>');
}

.quest-dialog .description-image-settlement {
  float: left;
  margin: 0px 14px 14px 0px;
  width: 263px;
  height: 173px;
  background-image: url('<%= asset_path("settlementbutton.png") %>');
}

.quest-dialog .description-image-attack {
  float: left;
  margin: 0px 14px 14px 0px;
  width: 338px;
  height: 281px;
  background-image: url('<%= asset_path("attacknpc.png") %>');
}



.quest-start-dialog .advisor, .quest-finished-dialog .advisor, .quest-info-dialog .advisor, .quest-dialog .advisor {
  float:right;
  margin-left: 4px;
  margin-right: -22px;
  margin-top: -30px;
}

.quest-dialog .citation {
  color: #999;
}

.quest-rewards {
  width: 560px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.quest-redeem-button {
  float: right;
}

.quest-reward-item-image, .quest-reward-item-amount, .quest-reward-item-image.finished{
  height: 100%;
  width: 100%;
  font-size: 24px;
  position: relative;
  left: 4px;
}

.dom-quest-container {
  position: absolute;
  padding: 5px;
  height: 150px;
  width: 300px;
  z-index: 1000;
  margin: 0;
}

div.dom-quest-container div.tutorial-dialog {
  width: 100%;
  height: 100%;
  padding: 5px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 4px;
  color: #999;
}

/*==========*/

.quest-dialog-bg {
  position: fixed;
  height: 0px;
  width: 0px;
  margin-top: 0;
  margin-left: 0;
  background-image: url('<%= asset_path("dialogs/quest-list/quest-selection-bg.png") %>');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100%;
  z-index: 260;
}

@media (max-width : 960px){
  .quest-dialog-bg {
    zoom: 0.7 !important;
  }
}

.quest-dialog-content{
  width: 510px;
  height: 400px;
  position: absolute;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  margin: 40px 0 0 65px;

  cursor: default;
  
  
  .finished_quest_container{
    float:left;
    width: 48%;
    height: 100%;
    overflow: scroll;
    
    .header{
      text-align: left;
      font-size: 22px;
      font-family: $main-font;
      color: #563E22;
    }
    
    .advisor{
      width: 90px;
      height: 90px;
      background-size: 100% 100%;
    }
    
    .flavour_text{
      text-align: left;
      font-size: 14px;
      font-family: $main-font;
      color: #563E22;
    }
    
    .haufen{
      position: absolute;
      top: 110px;
      width: 260px;
      height: 200px;
      background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-haufen.png") %>');
      background-size: contain;
      background-repeat: no-repeat;
    }
    
    .redeemButton{
      position: absolute;
      top: 260px;

      width: 180px;
      height: 53px;

      background-image: url('<%= asset_path("dialogs/buttons/button_green_medium.png") %>');
      background-size: 100%;
      background-repeat: no-repeat;
      -webkit-transition: background-image 0.3s;
      -moz-transition: background-image 0.3s;
      -ms-transition: background-image 0.3s;
      -o-transition: background-image 0.3s;
      transition: background-image 0.3s;

      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
      -o-user-select: none;
      user-select: none;

      left: 20px;
      text-align: center;
    
      span{
        font-family: $main-font;
        color: #fdf6d4;
        text-shadow: none;
        font-size: 20px;
        line-height: 2.5em;  
      }
    }
  
    .redeemButton:hover{
      cursor: pointer;
    }

    .redeemButton:active{
      background-image: url('<%= asset_path("dialogs/buttons/button_green_medium_pressed.png") %>');
      transition: background 0s;
    }
    
    .quest-dialog-reward{
      position: absolute;
      top: 320px;
    }

    .quest-reward-item-number{

    }
  }
  
  .seperator{
    height: 100%;
    width: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C2AC92;
  }
  
  .next_quest_container{
    position: absolute;
    float:right;  
    width: 52%;
    left: 265px;
    top: 0px;
    height: 100%;
    overflow: scroll;
    
    .header{
      text-align: center;
      font-size: 22px;
      font-family: $main-font;
      color: #563E22;
      width: 75%;
    }
     
    .advisor{
      width: 90px;
      height: 90px;
      background-size: 100% 100%;
      right: 0px;
      position: absolute;
      top: 26px;
    }
    
    .task_text{
      text-align: left;
      font-size: 14px;
      font-family: $main-font;
      color: #563E22;
      width: 75%;
    }
    
    .quest-dialog-reward {
      position: absolute;  
      top: 320px;
    }
    
    .quest-subquests{
      position: absolute;  
      top: 140px;
      margin-left: 0px;
        
      .quest-list-item{  
        cursor: pointer;
        height: 38px;
            
        .advisor{
          position: relative;
          width:34px;
          height:34px;        
          top: -1px;
        }
        
        .name{
          font-family: $main-font;
          font-size: 16px;
          line-height: 2.5em;  
          width: 68%;
          float:left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .actual_threshold {
          line-height: 2.0em;
        }
        
      }
    }
  }
}

.nextButton{
  position: absolute;

  width: 180px;
  height: 53px;

  background-image: url('<%= asset_path("dialogs/buttons/button_green_medium.png") %>');
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: background-image 0.3s;
  -moz-transition: background-image 0.3s;
  -ms-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;

  
  right: -40px;
  top: 380px;
  text-align: center;

  span{
    font-family: $main-font;
    color: #fdf6d4;
    text-shadow: none;
    font-size: 20px;
    line-height: 2.5em;  
  }
}

.nextButton:hover{
  cursor: pointer;
}

.nextButton:active{
  background-image: url('<%= asset_path("dialogs/buttons/button_green_medium_pressed.png") %>');
  transition: background 0s;
}

.quest-scip-button{
  width: 74px;
  height: 74px;
  background-image: url('<%= asset_path("dialogs/quest-dialog/quest-x-button.png") %>');
  background-size: 100%;
  display: inline-block;
  position: absolute;
  top: -45px;
  right: -60px;
  transition: background-image 0.3s;

  cursor: pointer;
  z-index: 50;
}

.quest-scip-button:hover{
  background-image: url('<%= asset_path("dialogs/quest-dialog/quest-x-button-hover.png") %>');
  transition: background-image 0.3s;
}

.quest-scip-button:active{
  background-image: url('<%= asset_path("dialogs/quest-dialog/quest-x-button-active.png") %>');
  transition: background-image 0s;
}

.quest-dialog-text{
  background-image: url('<%= asset_path("dialogs/quest-dialog/dialog-textfield2.png") %>');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  width: 300px;
  height: 100px;
  margin-top: 25px;
  margin-left: 15px;

  padding: 17px;

  text-align: left;
  font-size: 15px;
  text-decoration: none;
  color: rgb(220, 220, 191);

  overflow-y: auto;
  opacity: 1;
}

.quest-dialog-text h1, .quest-dialog-text h3{
  font-size: 129%;
  font-family: 'Freckle Face', 'cursive';
  text-shadow: none;
  color: #dcdcbf;
  font-weight: 0;
  margin: 0;
}

.quest-dialog-text h3{
  font-size : 1.5em;
}

p.citation.clearfix, .quest-dialog-text p, .quest-dialog-text{
  font-family: 'Asap', 'sans-serif';
  text-align: left;
  text-shadow: none;
  color: #dcdcbf;
  line-height: 1.15;
  font-size: 94%;
}
/*#quest-dialog-advisor-task{
  margin-top: 20px;
  width: 200px;
  margin-left: 15px;
}*/

/*#quest-dialog-advisor{
  width: 120px;
  height: 120px;

  position: absolute;
  top: 0;
  right: 0px;
  background-size: 100% 100%;

  opacity: 1;
}*/



.quest-dialog-button{
  position: absolute;
  width: 0px;
  height: 0px;
  border: none;
  box-shadow: none;
  z-index: 25;
  background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button.png") %>');
  background-size: 100%;
  -webkit-transition: background-image 0.3s;
  -moz-transition: background-image 0.3s;
  -ms-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

.quest-dialog-button:hover{
    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active.png") %>');
}

.quest-dialog-button:active{

  background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active2.png") %>');
  transition: background 0s;
}

.reward-recource-icon{
  display: inline-block;
  width: 92px; height: 92px;
}

.quest-resource-icon{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.quest-resource-icon.resource_stone{
  background-image: url('<%= asset_path("icons/stone-xl.png") %>');
}

.quest-resource-icon.resource_wood{
  background-image: url('<%= asset_path("icons/wood-xl.png") %>');
}

.quest-resource-icon.resource_fur{
  background-image: url('<%= asset_path("icons/fur-xl.png") %>');
}

.quest-dialog-reward{

}

.quest-dialog-rewards-items {

}

.quest-reward-item {
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;

  margin-right: 14px;
}

.quest-reward-item-number{
  display: block;
  font-family: $main-font;
  text-shadow: none;
  color: #563E22;
  font-size: 18px;
  position: relative;
  top: -8px;
  text-align: right;
  z-index: 200;
  overflow: hidden;
  opacity: 1;
  width:120%;
}

.quest-reward-item-number:before{
  content: "+";
}

.quest-simple-button{
  width: 100%;
  height: 100%;
}

.quest-resource-icon.resource_cash {
  background-image: url("<%= asset_path 'icons/toad-xl.png' %>");
}


.quest-reward-item-icon{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: inline-block;
  overflow: hidden;
}

.advisor.chef{
  background-image: url('<%= asset_path("advisors/head_chef_colored_small.png") %>');
  background-size: 100%;
}

.quest-dialog-button{
  top: 80%;
  left: 84%;
}

@media (min-width : 1023px) {
  .dialog-reward-bg-leafs{
    width: 0px;
    height: 0px;
    left: 0px;
    top: 241px;
    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-bg.png") %>');
    background-size: 100% 100%;
    position: absolute;
    z-index: 259;
  }

}

.quest-dialog-info-button{
  background-image: url('<%= asset_path("dialogs/quest-dialog/reward-dialog-info-button.png") %>');
  width: 32px;
  height: 53px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  background-size: 100% 100%;
  transition: background-image 0.2s;
}

.quest-dialog-info-button:active{
  background-image: url('<%= asset_path("dialogs/quest-dialog/reward-dialog-info-button-active2.png") %>');
}

.quest-description-dialog {
  margin-left: -358px;
  margin-top: -275px;
  width: 660px;
}
.quest-description-dialog h1 {
  font-size: 24px;
}




/*=== Level Up Dialog ===*/
.level-up-dialog {
  width: 800px;
  height: 540px;
}

.level-up-girl{
  background-image: url('<%= asset_path("dialogs/levelup/level_up_dame.png") %>');
  background-size: 100% 100%;

  width: 440px;
  height: 760px;

  position: absolute;
  z-index: 265;
  opacity: 0;
  top: 42%;
  left: -46%;
}

.level-up-dialog-bg-text{
  width: 38.7%;
  top: 14%;
  position: relative;
  left: 52%;
  color: #fdf6d4;
  text-shadow: none;
  font-family: 'Freckle Face','regular';
  opacity: 0;
}

.level-up-header{
  background-image: url('<%= asset_path("dialogs/levelup/level-up-text-0.png") %>');
  background-size: 100% 100%;
  position: relative;
  z-index: 259;
  height: 21%;
  position: absolute;
  width: 45.7%;
  left: 4%;
  top: -45%;
}

.level-up-spinning-background.modal-dialog-spinning-background{
  position: absolute;
  top: -65%;
  z-index: 255;
}

.level-up-scip-button{
  width: 0%;
  height: 0%;
  left: 84.3%;
  top: 92.2%;
  overflow: hidden;
}

.level-up-dialog-bg{
  width: 0px;
  height: 0px;
  left: 0px;
  top: 0px;
  overflow: visible;
  position: relative;
  background-image: url('<%= asset_path("dialogs/levelup/level-up-background.png") %>');
  background-size: 100% 100%;
  z-index: 256;
}

@media (max-width : 960px){
  
  .level-up-dialog-bg-text{
    top: 18%;
    font-family: 'Asap', 'sans-serif';
  }
  
  .level-up-spinning-background.modal-dialog-spinning-background{
    width: 1100px;
    height: 1100px;
    position: absolute;
    top: 313px;
    left: 550px;
  }
}

.modal-dialog-spinning-background {
  background-image: url('/client/assets/dialogs/quest-dialog/quest-dialog-light.png');
  background-size: 100%;

  width: 2200px;
  height: 2200px;
  margin-top: -680px;
  margin-left: -1100px;

  -webkit-animation:spin 6s linear infinite;
  -moz-animation:spin 6s linear infinite;
  -ms-animation:spin 6s linear infinite;
  animation:spin 6s linear infinite;
}


/*=== Cave Painting Dialog ===*/

.cave-painting-container{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index:257;
  .cave-painting-background {
    position: relative;
    margin-top: -28%;
    margin-left: -50%;
    z-index:257;
    background-image: url('<%= asset_path("cavepainting/cavepainting_background.jpg") %>');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% auto;
    height: 640px;
    width: 1136px;


      .cave-painting-carvings
      {
        z-index: 257;
        position: absolute;
        background-image: url('<%= asset_path("cavepainting/carving_all_empty.png") %>');
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        left: 207px;
        top: 48px;
        height: 577px;
        width: 747px;
      }

      .cave-painting-close-button
      {
        height:64px;
        width:67px; 
        position: absolute;
        background-size: 100% auto;
        background-image: url('<%= asset_path("cavepainting/x_button.png") %>');
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        z-index: 258;
        left:3%;
        top:8%;
        &:hover {
          background-image: url('<%= asset_path("cavepainting/x_button_hover.png") %>');
        }
      }

      .cave-painting-spiral{
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-color: transparent;
        z-index: 258;
        left: 237px;
        top: 80px;
        height: 600px;
        width: 830px;
        &.spiral-01{
          background-image: url('<%= asset_path("cavepainting/spiral_01.png") %>');
        }
        &.spiral-02{
          background-image: url('<%= asset_path("cavepainting/spiral_02.png") %>');
        }
        &.spiral-03{
          background-image: url('<%= asset_path("cavepainting/spiral_03.png") %>');
        }
        &.spiral-04{
          background-image: url('<%= asset_path("cavepainting/spiral_04.png") %>');
        }
        &.spiral-05{
          background-image: url('<%= asset_path("cavepainting/spiral_05.png") %>');
        }
        &.spiral-06{
          background-image: url('<%= asset_path("cavepainting/spiral_06.png") %>');
        }
        &.spiral-07{
          background-image: url('<%= asset_path("cavepainting/spiral_07.png") %>');
        }
        &.spiral-08{
          background-image: url('<%= asset_path("cavepainting/spiral_08.png") %>');
        }
        &.spiral-09{
          background-image: url('<%= asset_path("cavepainting/spiral_09.png") %>');
        }
        &.spiral-10{
          background-image: url('<%= asset_path("cavepainting/spiral_10.png") %>');
        }
        &.spiral-11{
          background-image: url('<%= asset_path("cavepainting/spiral_11.png") %>');
        }
        &.spiral-12{
          background-image: url('<%= asset_path("cavepainting/spiral_12.png") %>');
        }
        &.spiral-13{
          background-image: url('<%= asset_path("cavepainting/spiral_13.png") %>');
        }
        &.spiral-14{
          background-image: url('<%= asset_path("cavepainting/spiral_14.png") %>');
        }
        &.spiral-15{
          background-image: url('<%= asset_path("cavepainting/spiral_15.png") %>');
        }
        &.spiral-16{
          background-image: url('<%= asset_path("cavepainting/spiral_16.png") %>');
        }
      }

      .cave-painting-carving-colored{
          position: absolute;
          z-index: 259;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-color: transparent;
          width: 156px;
          height: 140px;
          &.cave-painting-carving-colored-01{
            left: 556px;
            top: 198px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_01.png") %>');
          }
          &.cave-painting-carving-colored-02{
            left: 487px;
            top: 285px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_02.png") %>');
          }
          &.cave-painting-carving-colored-03{
            left: 630px;
            top: 274px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_03.png") %>');
          }
          &.cave-painting-carving-colored-04{
            left: 652px;
            top: 118px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_04.png") %>');
          }
          &.cave-painting-carving-colored-05{
            left: 446px;
            top: 128px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_05.png") %>');
          }
          &.cave-painting-carving-colored-06{
            left: 386px;
            top: 368px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_06.png") %>');
          }
          &.cave-painting-carving-colored-07{
            left: 556px;
            top: 366px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_07.png") %>');
          }
          &.cave-painting-carving-colored-08{
            left: 740px;
            top: 366px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_08.png") %>');
          }
          &.cave-painting-carving-colored-09{
            left: 766px;
            top: 220px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_09.png") %>');
          }
          &.cave-painting-carving-colored-10{
            left: 750px;
            top: 56px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_10.png") %>');
          }
          &.cave-painting-carving-colored-11{
            left: 572px;
            top: 37px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_11.png") %>');
          }
          &.cave-painting-carving-colored-12{
            left: 324px;
            top: 180px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_12.png") %>');
          }
          &.cave-painting-carving-colored-13{
            left: 260px;
            top: 311px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_13.png") %>');
          }
          &.cave-painting-carving-colored-14{
            left: 191px;
            top: 452px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_14.png") %>');
          }
          &.cave-painting-carving-colored-15{
            left: 346px;
            top: 498px;
            background-image: url('<%= asset_path("cavepainting/carving_colored_15.png") %>');
          }
      }
    }
}

/*=== Cave Painting Dialog Button ===*/

.cave_painting_button {
  background-image: url('<%= asset_path("cavepainting/cavepainting_button.png") %>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: transparent;
  z-index: 259;
  width: 100%;
  position: relative;
}

.cave_painting_button {
  height: 57px;
  background-position: 0px 0px;
}
.cave_painting_button:hover {
  height: 57px;
  background-position: 0px -58px;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@-ms-keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }