/* === Sketched Advisors === */
.advisor.warrior.sketched{
  background: url('<%= asset_path("advisors/sketched/quest-advisor-sketched-warrior.png") %>');
  background-size: 100% 100%;
}

.advisor.chef.sketched{
  background: url('<%= asset_path("advisors/sketched/quest-advisor-sketched-chef.png") %>');
  background-size: 100% 100%;
}

.advisor.girl.sketched{
  background: url('<%= asset_path("advisors/sketched/quest-advisor-sketched-girl.png") %>');
  background-size: 100% 100%;
}



/* === Old Advisors ===*/
.advisor.girl {
  background: url('<%= asset_path("advisors/head_girl_colored_small.png") %>');
}

.advisor.girl-quest-start {
  background: url('<%= asset_path("advisors/quest-dialog/quest-dialog-girl.png") %>');
}


.advisor.warrior {
  background: url('<%= asset_path("advisors/head_warrior_colored_small.png") %>');
}

.advisor.warrior-quest-start {
  background: url('<%= asset_path("advisors/quest-dialog/quest-dialog-warrior.png") %>');
}
.advisor.warrior.tiny {
  background: url('<%= asset_path("advisors/head_warrior_colored_tiny.png") %>');
}


.advisor.chef, .advisor.chef-quest-start {
  background: url('<%= asset_path("advisors/quest-dialog/quest-dialog-chef.png") %>');
}
.advisor.chef.tiny {
  background: url('<%= asset_path("advisors/head_chef_colored_tiny.png") %>');
}


.advisor.warrior-quest-end {
  background: url('<%= asset_path("advisors/quest-dialog/end/head_warrior_colored_small_quest_end.png") %>');
}
.advisor.chef-quest-end {
  background: url('<%= asset_path("advisors/quest-dialog/end/head_chef_colored_small_quest_end.png") %>');
}
.advisor.girl-quest-end {
  background: url('<%= asset_path("advisors/quest-dialog/end/head_girl_colored_small_quest_end.png") %>');
}




/* === Quest List === */
.quest-list-view {
  background-image: url('<%= asset_path("dialogs/quest-list/quest-selection-bg.png") %>');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100%;

  position: fixed; 
  margin-left: -382px;
  margin-top: 72px;
  width: 764px;
  height: 576px;

  z-index:256;

  box-shadow: none;
  border-radius: 0px;
  .quest-list-content{
    position: relative;
    width: 80%;
    height: 310px;
    left: 8%;
    overflow-y: scroll;
    .quest-list {
      width: 50%;
      display: inline-block;
      .quest-list-header {
        position: relative;
        width: 80%;
        height: 20%;
        top: 6%;
        left: 8%;

        padding: 20px 10px 4px 10px;
        font-weight: bold;
        h1 {
          font-family: 'Freckle Face', cursive;
          color: #643a13;
        }
      }
      .quest-list-items{
        width: 100%;
        .quest-list-item {
          margin: 10px 0;
          cursor: pointer;
          height: 48px;
          width: 100%;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
          &:active {
            opacity: 0.7;
            filter: alpha(opacity=70);
          }
        }
      }
    }
    .quest-details {
      width: 50%;
      display: inline-block;
    }
  }
}

.quest-list-item-name {
  width: 74%;
  position: relative;
  margin-left: 4%;
  display: inline-block;

  font-family: 'Freckle Face', cursive;
  color: #fdf6d4;
  text-shadow: none;
  font-size: 25px;
  line-height: 2em;
}

.quest-list-item-reward {
  text-align: center;
  width: 80px;
  display: inline-block;
}

.quest-list-item-status-finished{
  width: 27px;
  height: 26px;
  position: relative;
  top: 5px;
  right: -84px;
  display: inline-block;

  background-image: url('<%= asset_path("dialogs/quest-list/quest-finished-icon.png") %>');
  background-size: 100% 100%;
}

.quest-list-view .okButton{
  position: absolute;

  width: 172px;
  height: 129px;

  background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button.png") %>');
  background-size: 100%;
  -webkit-transition: background-image 0.3s;
  -moz-transition: background-image 0.3s;
  -ms-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;

  bottom: -30px;
  right: -30px;
}

.quest-list-view .okButton:hover{
    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active.png") %>');
}

.quest-list-view .okButton:active{

  background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active2.png") %>');

  transition: background 0s;
}

@media (max-width : 960px){
  .quest-list-view{
    height: 346px;
    width: 436px;
    margin-left: -218px;
    margin-top: 10px;
  }

  .quest-list-content h1 {
    font-size: 19px;
  }

  .quest-list-item-name {
    top: 2px;
    font-size: 18px;
  }

  .quest-list-header .advisor.sketched {
    width: 60px;
    height: 60px;
  }
}



/*=== Tutorial End Dialog ===*/
.tutorial-end-dialog {
  background-image: url('<%= asset_path("dialogs/quest-list/quest-selection-bg.png") %>');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  position: absolute; 
  margin-left: -400px;
  margin-top: 80px;
  width: 764px;
  height: 576px;

  z-index:256;

  box-shadow: none;
  border-radius: 0px;
}

.tutorial-end-dialog p {
  margin: 0;
}

.tutorial-end-dialog .clearfix {
  height: 30px;
}

.tutorial-end-dialog .content {
  margin: 50px 80px;
  width: 600px;
  height: 450px;
}

.tutorial-end-dialog .content .advisor {
  width: 120px;
  height: 120px;
}

.tutorial-end-dialog .advisor.warrior {
  
}

.tutorial-end-dialog .advisor.chef {
  float: right;
}

.tutorial-end-dialog .advisor.girl {
  
}

.tutorial-end-dialog .okButton{
  position: absolute;

  width: 172px;
  height: 129px;

  background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button.png") %>');
  background-size: 100%;
  -webkit-transition: background-image 0.3s;
  -moz-transition: background-image 0.3s;
  -ms-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;

  bottom: -30px;
  right: -30px;
}

.tutorial-end-dialog .okButton:hover{
    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active.png") %>');
}

.tutorial-end-dialog .okButton:active{

  background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active2.png") %>');

  transition: background 0s;
}




/*=== Quest Dialog ===*/
.quest-answer-field {
  display: inline;
}

.quest-start-dialog, .quest-finished-dialog, .quest-info-dialog, .quest-dialog {
  position: absolute;
  margin-left: -366px;
  margin-top: 50px;
  width: 780px; min-height: 100px;
  background-color: #FFF;
  padding: 4px 4px 4px 4px;
  z-index:256;
}

.quest-dialog .inner-border {
  border: 8px solid #BBB;
  background-color: rgba(176, 176, 176, 0.15);
  border-radius: 11px;
  margin: 0;
  padding: 4px 14px 14px 14px;
}

.tutorial-end-dialog .ok-button,
.quest-list-view .ok-button,
.quest-dialog .ok-button {
  border: solid 2px #BC4;
  background-color: #FFF;
  margin: -2px;
  font-weight: bold;
  color: #BC4;
  padding-left: 20px;
  padding-right: 20px;
}

.quest-list-view .ok-button:hover,
.quest-dialog .ok-button:hover {
  border-width: 4px;
  margin: -4px;
}

.quest-dialog .inner-border.girl {
  border-color: #BC4;
  background-color: rgba(176, 192, 64, 0.15);
}
.quest-dialog .inner-border.chef {
  border-color: #AAC;
  background-color: rgba(160, 160, 192, 0.15);
}
.quest-dialog .inner-border.warrior {
  border-color: #F94;
  background-color: rgba(255, 144, 64, 0.15);
}
.quest-dialog.tutorial .inner-border {
  border-color: #DBD;
  background-color: rgba(208, 176, 208, 0.15);
}

.quest-dialog .girl .ok-button {
  border-color: #BC4;
  color: #BC4;
}
.quest-dialog .chef .ok-button {
  border-color: #AAC;
  color: #AAC;
}
.quest-dialog .warrior .ok-button {
  border-color: #F94;
  color: #F94;
}
.quest-dialog.tutorial .ok-button {
  border-color: #DBD;
  color: #DBD;
}

.quest-dialog .description-image-army {
  float: left;
  margin: 0px 14px 14px 0px;
  width: 317px;
  height: 287px;
  background-image: url('<%= asset_path("newarmybutton.png") %>');
}

.quest-dialog .description-image-settlement {
  float: left;
  margin: 0px 14px 14px 0px;
  width: 263px;
  height: 173px;
  background-image: url('<%= asset_path("settlementbutton.png") %>');
}

.quest-dialog .description-image-attack {
  float: left;
  margin: 0px 14px 14px 0px;
  width: 338px;
  height: 281px;
  background-image: url('<%= asset_path("attacknpc.png") %>');
}



.quest-start-dialog .advisor, .quest-finished-dialog .advisor, .quest-info-dialog .advisor, .quest-dialog .advisor {
  float:right;
  margin-left: 4px;
  margin-right: -22px;
  margin-top: -30px;
}

.quest-dialog .citation {
  color: #999;
}

.quest-rewards {
  width: 560px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.quest-redeem-button {
  float: right;
}

.quest-reward-item-image, .quest-reward-item-amount, .quest-reward-item-image.finished{
  height: 92px;
  width: 92px;
  font-size: 24px;
  position: relative;
  left: 4px;
}

.dom-quest-container {
  position: absolute;
  padding: 5px;
  height: 150px;
  width: 300px;
  z-index: 1000;
  margin: 0;
}

div.dom-quest-container div.tutorial-dialog {
  width: 100%;
  height: 100%;
  padding: 5px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 4px;
  color: #999;
}

/*==========*/

.quest-info-dialog-bg {
  position: fixed;
  height: 606px;
  width: 802px;
  margin-top: 72px;
  margin-left: -382px;

  background-image: url("<%= asset_path('dialogs/quest-list/quest-selection-bg.png') %>");
  background-color: none;
  border: none;
  background-size: 100% 100%;

  z-index: 260;

  .quest-info-dialog-content{
    width: 680px;
    height: 464px;
    position: absolute;

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;

    margin: 70px 0 0 65px;

    cursor: default;

    .quest-info-dialog-text {
      width: 440px;
      font-family: $main-font;

      text-align: left;
      font-size: 15px;
      text-decoration: none;
      color: $font-brown;

      h3 {
        font-family: $main-font;
        font-size : 2em;
        text-shadow: none;
        color: $markup-color;
        font-weight: 0;
        margin: 0;
      }
    }

    #quest-dialog-advisor{
      width: 199px;
      height: 191px;

      position: absolute;
      top: 0;
      right: 0;
      background-size: 100% 100%;

      &.girl {
        background: url('<%= asset_path("advisors/quest-dialog/advisor_girl_epic_quest.png") %>');
      }
      &.warrior {
        background: url('<%= asset_path("advisors/quest-dialog/advisor_warrior_epic_quest.png") %>');
      }
      &.chef {
        background: url('<%= asset_path("advisors/quest-dialog/advisor_chief_epic_quest.png") %>');
      }
    }

    .quest-info-dialog-rewards {
      width: 480px;

      text-align: center;

      .quest-info-dialog-rewards-items {
        list-style-type: none;
        display: inline-block;

        margin: 0;
        margin-top: 10px;
        margin-left: 15px;
        padding: 0;
        .quest-reward-item {
          text-align: center;
          display: inline-block;

          .quest-reward-item-image {
            display: inline-block;
            width: 42px;
            height: 42px;

            background-size: 100% 100%;

            &.resource_stone {
              background-image: url('<%= asset_path("icons/stone-xl.png") %>');
            }
            &.resource_wood {
              background-image: url('<%= asset_path("icons/wood-xl.png") %>');
            }
            &.resource_fur {
              background-image: url('<%= asset_path("icons/fur-xl.png") %>');
            }
            &.resource_cash {
              background-image: url("<%= asset_path 'icons/toad-xl.png' %>");
            }
          }
          .quest-reward-item-number{
            font-family: $main-font;
            color: $font-brown;
            font-size: 1.5em;

            text-align: center;
          }
        }
      }
    }

    .subquest-list {
      width: 100%;
      margin-top: 25px;
      text-align: center;
      display: inline-block;
      font-family: $main-font;
      &>div {
        display: inline-block;
      }
      .description {
        padding: 0;
        margin: 0;
        text-align: center;
        height: 70px;
        td {
          vertical-align: middle;
          p {
            margin: 0;
            text-align: center;
          }
        }
      }
      .progress {
        font-size: 1.5em;
        &.finished {
          color: $main-green;
        }
      }
      .arrow {
          margin-top: 130px;
      }
      .two-col-layout {
        &>div {
          float: left;
          display: inline-block;
        }
        .description {
          td p{
            width: 216px;
          }
        }
        .left-section {
          display: inline-block;
          .paper-background {
            background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_l_left.png' %>");
            @include image-background();
            width: 216px;
            height: 156px;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .right-section {
          display: inline-block;
          .paper-background {
            background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_l_right.png' %>");
            @include image-background();
            width: 216px;
            height: 156px;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      .three-col-layout {
        &>div {
          float: left;
          display: inline-block;
        }
        .description {
          td p{
            width: 156px;
          }
        }
        .first {
          .paper-background {
            background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_m_0.png' %>");
            @include image-background();
            width: 148px;
            height: 148px;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .second {
          .paper-background {
            background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_m_1.png' %>");
            @include image-background();
            width: 156px;
            height: 156px;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .third {
          .paper-background {
            background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_m_0.png' %>");
            @include image-background();
            width: 148px;
            height: 148px;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      .four-col-layout {
        &>div {
          float: left;
          display: inline-block;
          margin-right: -9px;
        }
        .description {
          td p{
            width: 100px;
          }
        }
        .first {
          display: inline-block;
          .paper-background {
            background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_s_0.png' %>");
            @include image-background();
            width: 128px;
            height: 128px;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .second {
          display: inline-block;
          margin-top: 40px;
          .paper-background {
            background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_s_1.png' %>");
            @include image-background();
            width: 124px;
            height: 124px;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .third {
          display: inline-block;
          .paper-background {
            background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_s_2.png' %>");
            @include image-background();
            width: 124px;
            height: 130px;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .fourth {
          display: inline-block;
          margin-top: 40px;
          .paper-background {
            background-image: url("<%= asset_path 'dialogs/quest-dialog/quest_paper_s_1.png' %>");
            @include image-background();
            width: 124px;
            height: 124px;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }

    .quest-dialog-button{
      position: absolute;
      width: 172px;
      height: 129px;

      top: 95%;
      left: 88%;

      border: none;
      box-shadow: none;
      z-index: 25;
      background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button.png") %>');
      background-size: 100%;

      -webkit-transition: background-image 0.3s;
      -moz-transition: background-image 0.3s;
      -ms-transition: background-image 0.3s;
      -o-transition: background-image 0.3s;
      transition: background-image 0.3s;
      &:hover {
        background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active.png") %>');
      }
      &:active {
        background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active2.png") %>');
        transition: background 0s;
      }
    }
  }
}

.sub-image {
  background-size: 100%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  &.quest_build_chiefcottagelvl4 {
    background-image: url('<%= asset_path("quests/grey/quest_build_chiefcottagelvl4_grey.png") %>');
    &.finished {
      background-image: url('<%= asset_path("quests/quest_build_chiefcottagelvl4.png") %>');
    }
  }
  &.quest_build_quarry {
    background-image: url('<%= asset_path("quests/grey/quest_build_quarry_grey.png") %>');
    &.finished {
      background-image: url('<%= asset_path("quests/quest_build_quarry.png") %>');
    }
  }
  &.quest_build_logger {
    background-image: url('<%= asset_path("quests/grey/quest_build_logger_grey.png") %>');
    &.finished {
      background-image: url('<%= asset_path("quests/quest_build_logger.png") %>');
    }
  }
}

/* ======= */

.quest-dialog-button{
  position: absolute;
  width: 172px;
  height: 129px;

  top: 95%;
  left: 88%;

  border: none;
  box-shadow: none;
  z-index: 25;
  background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button.png") %>');
  background-size: 100%;

  -webkit-transition: background-image 0.3s;
  -moz-transition: background-image 0.3s;
  -ms-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;
  &:hover {
    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active.png") %>');
  }
  &:active {
    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-button-active2.png") %>');
    transition: background 0s;
  }
}

.unit-xl-icon {
  display: inline-block;
  width: 92px;
  height: 92px;
  background: url('/client/assets/icons/unit_default-xl.png');
}

.quest-reward-item-icon{
  position: absolute;
  width: 0px;
  height: 0px;
  top: 49px;
  left: 50px;
  display: inline-block;
  overflow: hidden;
}

.advisor.chef{
  background-image: url('<%= asset_path("advisors/head_chef_colored_small.png") %>');
  background-size: 100%;
}

.quest-dialog-button{
  top: 80%;
  left: 84%;
}

@media (min-width : 1023px) {
  .dialog-reward-bg-leafs{
    width: 0px;
    height: 0px;
    left: 0px;
    top: 241px;
    background-image: url('<%= asset_path("dialogs/quest-dialog/quest-dialog-bg.png") %>');
    background-size: 100% 100%;
    position: absolute;
    z-index: 259;
  }

}

.quest-dialog-info-button{
  background-image: url('<%= asset_path("dialogs/quest-dialog/reward-dialog-info-button.png") %>');
  width: 32px;
  height: 53px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  background-size: 100% 100%;
  transition: background-image 0.2s;
}

.quest-dialog-info-button:active{
  background-image: url('<%= asset_path("dialogs/quest-dialog/reward-dialog-info-button-active2.png") %>');
}

.quest-description-dialog {
  margin-left: -358px;
  margin-top: -275px;
  width: 660px;
}
.quest-description-dialog h1 {
  font-size: 24px;
}




/*=== Level Up Dialog ===*/
.level-up-dialog {
  width: 800px;
  height: 540px;
}

.level-up-girl{
  background-image: url('<%= asset_path("dialogs/levelup/level_up_dame.png") %>');
  background-size: 100% 100%;

  width: 440px;
  height: 760px;

  position: absolute;
  z-index: 265;
  opacity: 0;
  top: 42%;
  left: -46%;
}

.level-up-dialog-bg-text{
  width: 38.7%;
  top: 14%;
  position: relative;
  left: 52%;
  color: #fdf6d4;
  text-shadow: none;
  font-family: 'Freckle Face','regular';
  opacity: 0;
}

.level-up-header{
  background-image: url('<%= asset_path("dialogs/levelup/level-up-text-0.png") %>');
  background-size: 100% 100%;
  position: relative;
  z-index: 259;
  height: 21%;
  position: absolute;
  width: 45.7%;
  left: 4%;
  top: -45%;
}

.level-up-spinning-background.modal-dialog-spinning-background{
  position: absolute;
  top: -65%;
  z-index: 255;
}

.level-up-scip-button{
  width: 0%;
  height: 0%;
  left: 84.3%;
  top: 92.2%;
  overflow: hidden;
}

.level-up-dialog-bg{
  width: 0px;
  height: 0px;
  left: 0px;
  top: 0px;
  overflow: visible;
  position: relative;
  background-image: url('<%= asset_path("dialogs/levelup/level-up-background.png") %>');
  background-size: 100% 100%;
  z-index: 256;
}

@media (max-width : 960px){
  
  .level-up-dialog-bg-text{
    top: 18%;
    font-family: 'Asap', 'sans-serif';
  }
  
  .level-up-spinning-background.modal-dialog-spinning-background{
    width: 1100px;
    height: 1100px;
    position: absolute;
    top: 313px;
    left: 550px;
  }
}

.modal-dialog-spinning-background {
  background-image: url('/client/assets/dialogs/quest-dialog/quest-dialog-light.png');
  background-size: 100%;

  width: 2200px;
  height: 2200px;
  margin-top: -680px;
  margin-left: -1100px;

  -webkit-animation:spin 6s linear infinite;
  -moz-animation:spin 6s linear infinite;
  -ms-animation:spin 6s linear infinite;
  animation:spin 6s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@-ms-keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }