.ranking-table {
	width: 600px;
	height: 275px;
	margin-top: 10px;
	table {
		width: 98%;
		margin-left: 10px;
		tr {
			td {
				color: white;
				line-height: 45px;
				font-size: 24px;
			}
			.rank {
				display: inline-block;
				text-align: center;
				margin-left: 10px
			}
			.character {
				display: inline-block;
				padding-left: 10px;
				background-size: 100% 100%;
				margin-left: 10px;
				width: 356px;
			}
			.value {
				display: inline-block;
				text-align: center;
				margin-left: 10px;
				background-size: 100% 100%;
				width: 132px;
				float: right;
			}
		}
		.own-entry {
			color: black;
		}
		.activity-indicator-small {
			position: relative;
			top: 0;
			left: 0;
		}
	}
}

.ranking-navigation {
	width: 96%;
	height: 72px;
	margin-left: 10px;
	.section {

	}
	.previous {
		float: left;
		width: 30%;
		margin-top: 15px;
	}
	.sort {
		float: left;
		width: 40%;
	}
	.next {
		float: right;
		width: 30%;
		margin-top: 15px;
		.sorting-arrow {
			float: right;
		}
	}
}

.sorting {
	width: 78px;
	height: 78px;
	margin-left: 2px;
	float: left;
	background-position: center center;
	background-repeat: no-repeat;

}

.sorting.resources {
	background-image: url("<%= asset_path 'dialogs/specials/resources_identifier.png' %>");
}

.sorting.resources.active {
	background-image: url("<%= asset_path 'dialogs/specials/resources_identifier_active.png' %>");
}

.sorting.fortress {
	background-image: url("<%= asset_path 'dialogs/specials/fortress_identifier.png' %>");
}

.sorting.fortress.active {
	background-image: url("<%= asset_path 'dialogs/specials/fortress_identifier_active.png' %>");
}

.sorting.population {
	background-image: url("<%= asset_path 'dialogs/specials/people_identifier.png' %>");
}

.sorting.population.active {
	background-image: url("<%= asset_path 'dialogs/specials/people_identifier_active.png' %>");
}

.sorting-arrow {
	float: left;
	color: white;
	font-size: 38px;
	text-align: center;
	margin-right: 10px;
}

.victory-view {
	height: 295px;
	width: 96%;
	margin-left: 10px;
	.progress-bar {
		position: relative;
		margin-top: 70px;
		margin-bottom: 80px;
		.marker {
			position: absolute;
			top: 0;
			width: 100px;
			height: 34px;
			margin-top: -30px;
			font-size: 10px;
		}
		.start {
			border-left: 3px solid $font-brown;
			margin-left: -1px;
			padding-left: 3px;
			left: 0.7%;
		}
		.fullfilled {
			border-right: 3px solid $font-brown;
			margin-right: -1px;
			padding-right: 3px;
			right: 24.3%;
			text-align: right;
		}
		.held {
			border-right: 3px solid $font-brown;
			margin-right: -1px;
			padding-right: 3px;
			right: 0.7%;
			text-align: right;
		}
		.value {
			.fullfilled {
				position: absolute;
				top: 44px;
				width: 200px;
				margin-top: 0;
				border-right: 3px solid $font-brown;
				margin-right: -1px;
				text-align:right;
				font-size: 12px;
				color: #888;
				div {
					height: 11px;
					padding-right: 3px;
				}
			}
			.notFulfilled {
				position: absolute;
				top: 44px;
				width: 200px;
				margin-top: 0;
				border-left: 3px solid $font-brown;
				margin-left: -1px;
				font-size: 12px;
				color: #888;
				div {
					height: 11px;
					padding-left: 5px;
				}
			}
		}
	}

}

.victory-subtabs {
	margin-top: 10px;
}