.egg-container {
  position: absolute;
  top: -50px;
  left: 287px;
}

.egg-container .egg {
  width: 128px;
  height: 128px;
  background-image: url("<%= asset_path 'extras/egg/egg_inactive.png' %>");
  cursor: pointer;
}

.egg-container .egg.is-active {
  background-image: url("<%= asset_path 'extras/egg/egg_active.png' %>");
}

.egg-container .egg .egg-progress-bar {
  top: 0px;
  left: -8px;
  position: absolute;
  width: 140px;
  height: 24px;
  background-image: url("<%= asset_path 'extras/egg/progressbar_green_empty.png' %>");
}

.egg-progress-bar > span.egg-progress-bar-level {
  display: block;
  height: 19px;
  position: absolute;
  top: 3px;
  overflow: hidden;  
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #0AFF00;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0AFF00),color-stop(1, #0A2800));
  background-image: -webkit-linear-gradient(top, #0AFF00, #0A2800); 
  background-image: -moz-linear-gradient(top, #0AFF00, #0A2800);
  background-image: -ms-linear-gradient(top, #0AFF00, #0A2800);
  background-image: -o-linear-gradient(top, #0AFF00, #0A2800);  
  -webkit-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);  
}

.egg-progress-bar-label {
  position: absolute;
  left: 30px;
  width: 82px;
  height: 24px;
  font-family: 'Freckle Face';
  color: white;
  font-size: 16px;  
  text-align: center;
  vertical-align: middle; 
  text-shadow: none; 
}

.egg-redeem-dialog {
  width: 800px;
  height: 524px;
  left: -50%;
  margin-top: -30%;
  overflow: visible;
  position: relative;
  background-image: url("<%= asset_path 'levelup/level-up-background.png' %>");
  background-size: 100% 100%;
  z-index: 256;
  zoom: 1;
}

.egg-redeem-dialog .egg-dinos {
  background-image: url("<%= asset_path 'extras/egg/egg_dinos.png' %>");
  background-size: 100% 100%;
  width: 504px;
  height: 488px;
  position: absolute;
  left: -56px;
  top: -30px;
}

.egg-redeem-dialog .egg-redeem-button {
  width: 172px;
  height: 129px;
  cursor: pointer;
}

.egg-redeem-dialog .egg-redeem-text {
  position: absolute;
  left: 415px;
  top: 45px;
  width: 290px;
  color: white;
  text-shadow: none;
  font-size: 2em;
  font-family: $main-font;
}

.egg-redeem-dialog .egg-redeem-text td {
  width: 100px;
  text-align: center;
  font-size: 0.8em;
}

.egg-redeem-dialog .egg-redeem-text .resource_stone {
  width: 52px;
  height: 52px;
  background-image: url("<%= asset_path 'hud/resourcebars/resourcebar_stone/resourcebar_stone_item.png' %>");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.egg-redeem-dialog .egg-redeem-text .resource_wood {
  width: 52px;
  height: 52px;
  background-image: url("<%= asset_path 'hud/resourcebars/resourcebar_wood/resourcebar_wood_item.png' %>");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.egg-redeem-dialog .egg-redeem-text .resource_fur {
  width: 52px;
  height: 52px;
  background-image: url("<%= asset_path 'hud/resourcebars/resourcebar_fur/resourcebar_fur_item.png' %>");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.egg-redeem-dialog .egg-redeem-text p {
  width: 90%;
  float: right;
  margin-top: 10px;
  margin-bottom: 55px;
}



