/* == 1. Row == */

.base-picture .small-building.slot1,
.base-picture .building-gui.slot1 {
  top:  35px;
  left: 25px;
  z-index: 1;
}

.base-picture .small-building.slot2,
.base-picture .building-gui.slot2 {
  top:  35px;
  left: 188px;
  z-index: 2;
}

.base-picture .small-building.slot3,
.base-picture .building-gui.slot3 {
  top:  35px;
  left: 351px;
  z-index: 3;
}

.base-picture .small-building.slot4,
.base-picture .building-gui.slot4 {
  top: 35px;
  left: 514px;
  z-index: 4;
}

.base-picture .small-building.slot5,
.base-picture .building-gui.slot5 {
  top:  35px;
  left: 677px;
  z-index: 5;
}
.base-picture .small-building.slot6,
.base-picture .building-gui.slot6 {
  top:  35px;
  left: 840px;
  z-index: 6;
}

/* == 2. Row == */

.base-picture .small-building.slot7,
.base-picture .building-gui.slot7 {
  top:  92px;
  left: 106px;
  z-index: 7;
}

.base-picture .small-building.slot8,
.base-picture .building-gui.slot8 {
  top:  92px;
  left: 269px;
  z-index: 8;
}

.base-picture .small-building.slot9,
.base-picture .building-gui.slot9 {
  top:  92px;
  left: 432px;
  z-index: 9;
}

.base-picture .small-building.slot10,
.base-picture .building-gui.slot10 {
  top: 92px;
  left: 595px;
  z-index: 10;
}

.base-picture .small-building.slot11,
.base-picture .building-gui.slot11 {
  top:  92px;
  left: 758px;
  z-index: 11;
}


/* == 3. Row == */

.base-picture .small-building.slot12,
.base-picture .building-gui.slot12 {
  top:  149px;
  left: 25px;
  z-index: 12;
}

.base-picture .small-building.slot13,
.base-picture .building-gui.slot13 {
  top:  149px;
  left: 188px;
  z-index: 13;
}

.base-picture .small-building.slot14,
.base-picture .building-gui.slot14 {
  top:  149px;
  left: 351px;
  z-index: 14;
}

.base-picture .small-building.slot15,
.base-picture .building-gui.slot15 {
  top:  149px;
  left: 514px;
  z-index: 15;
}

.base-picture .small-building.slot16,
.base-picture .building-gui.slot16 {
  top: 149px;
  left: 677px;
  z-index: 16;
}

.base-picture .small-building.slot17,
.base-picture .building-gui.slot17 {
  top:  149px;
  left: 840px;
  z-index: 17;
}

/* == 4. Row == */

.base-picture .small-building.slot18,
.base-picture .building-gui.slot18 {
  top:  206px;
  left: 106px;
  z-index: 18;
}

.base-picture .small-building.slot19,
.base-picture .building-gui.slot19 {
  top:  206px;
  left: 269px;
  z-index: 19;
}

.base-picture .small-building.slot20,
.base-picture .building-gui.slot20 {
  top:  206px;
  left: 432px;
  z-index: 20;
}

.base-picture .small-building.slot21,
.base-picture .building-gui.slot21 {
  top:  206px;
  left: 595px;
  z-index: 21;
}

.base-picture .small-building.slot22,
.base-picture .building-gui.slot22 {
  top: 206px;
  left: 758px;
  z-index: 22;
}


/* == 5. Row == */

.base-picture .small-building.slot23,
.base-picture .building-gui.slot23 {
  top:  263px;
  left: 25px;
  z-index: 23;
}
.base-picture .small-building.slot24,
.base-picture .building-gui.slot24 {
  top:  263px;
  left: 188px;
  z-index: 24;
}

.base-picture .small-building.slot25,
.base-picture .building-gui.slot25 {
  top:  263px;
  left: 351px;
  z-index: 25;
}

.base-picture .small-building.slot26,
.base-picture .building-gui.slot26 {
  top:  263px;
  left: 514px;
  z-index: 26;
}

.base-picture .small-building.slot27,
.base-picture .building-gui.slot27 {
  top:  263px;
  left: 677px;
  z-index: 27;
}

.base-picture .small-building.slot28,
.base-picture .building-gui.slot28 {
  top: 263px;
  left: 840px;
  z-index: 28;
}


/* == 6. Row == */


.base-picture .small-building.slot29,
.base-picture .building-gui.slot29 {
  top:  320px;
  left: 106px;
  z-index: 29;
}

.base-picture .small-building.slot30,
.base-picture .building-gui.slot30 {
  top:  320px;
  left: 269px;
  z-index: 30;
}

.base-picture .small-building.slot31,
.base-picture .building-gui.slot31 {
  top:  320px;
  left: 432px;
  z-index: 31;
}

.base-picture .small-building.slot32,
.base-picture .building-gui.slot32 {
  top:  320px;
  left: 595px;
  z-index: 32;
}

.base-picture .small-building.slot33,
.base-picture .building-gui.slot33 {
  top:  320px;
  left: 758px;
  z-index: 33;
}

/* == 7. Row == */

.base-picture .small-building.slot34,
.base-picture .building-gui.slot34 {
  top: 377px;
  left: 25px;
  z-index: 34;
}

.base-picture .small-building.slot35,
.base-picture .building-gui.slot35 {
  top:  377px;
  left: 188px;
  z-index: 35;
}
.base-picture .small-building.slot36,
.base-picture .building-gui.slot36 {
  top:  377px;
  left: 351px;
  z-index: 36;
}

.base-picture .small-building.slot37,
.base-picture .building-gui.slot37 {
  top:  377px;
  left: 514px;
  z-index: 37;
}

.base-picture .small-building.slot38,
.base-picture .building-gui.slot38 {
  top:  377px;
  left: 677px;
  z-index: 38;
}

.base-picture .small-building.slot39,
.base-picture .building-gui.slot39 {
  top:  377px;
  left: 840px;
  z-index: 39;
}


/* ==== OUTPOST NEW ==== */

.outpost-picture .small-building.slot1,
.outpost-picture .building-gui.slot1 {
  top:  92px;
  left: 432px;
  z-index: 1;
}

.outpost-picture .small-building.slot2,
.outpost-picture .building-gui.slot2 {
  top:  206px;
  left: 432px;
  z-index: 7;
}


/** row 1 */
.outpost-picture .small-building.slot3,
.outpost-picture .building-gui.slot3 {
  top:  149px;
  left: 188px;
  z-index: 2;
}

.outpost-picture .small-building.slot4,
.outpost-picture .building-gui.slot4 {
  top:  149px;
  left: 351px;
  z-index: 3;
}
.outpost-picture .small-building.slot5,
.outpost-picture .building-gui.slot5 {
  top:  149px;
  left: 514px;
  z-index: 4;
}
.outpost-picture .small-building.slot6,
.outpost-picture .building-gui.slot6 {
  top: 149px;
  left: 677px;
  z-index: 5;
}

/** row 2 */
.outpost-picture .small-building.slot7,
.outpost-picture .building-gui.slot7 {
  top:  206px;
  left: 269px;
  z-index: 6;
}
.outpost-picture .small-building.slot8,
.outpost-picture .building-gui.slot8 {
  top:  206px;
  left: 595px;
  z-index: 8;
}

/** row 3 */
.outpost-picture .small-building.slot9,
.outpost-picture .building-gui.slot9 {
  top:  263px;
  left: 188px;
  z-index: 9;
}
.outpost-picture .small-building.slot10,
.outpost-picture .building-gui.slot10 {
  top:  263px;
  left: 351px;
  z-index: 10;
}
.outpost-picture .small-building.slot11,
.outpost-picture .building-gui.slot11 {
  top:  263px;
  left: 514px;
  z-index: 11;
}
.outpost-picture .small-building.slot12,
.outpost-picture .building-gui.slot12 {
  top:  263px;
  left: 677px;
  z-index: 12;
}

.base-picture .building-gui,
.outpost-picture .building-gui {
  z-index: 50 !important;
}