/*== Infantry Huge==*/
.unit-image-new.unit_warrior
{
  background:url("<%= asset_path 'dialogs/units/base/infantry_base_huge.png' %>") no-repeat center center;
}
.unit-image-new.unit_clubbers
{
  background:url("<%= asset_path 'dialogs/units/infantry/infantry_club_huge/infantry_club_huge_normal.png' %>") no-repeat center center;
}
.unit-image-new.unit_clubbers_2
{
  background:url("<%= asset_path 'dialogs/units/infantry/infantry_club_huge/infantry_club_huge_stone.png' %>") no-repeat center center;
}
.unit-image-new.unit_clubbers_3
{
  background:url("<%= asset_path 'dialogs/units/infantry/infantry_club_huge/infantry_club_huge_bronze.png' %>") no-repeat center center;
}
.unit-image-new.unit_tree_huggers
{
  background:url("<%= asset_path 'dialogs/units/infantry/infantry_club_huge/infantry_club_huge_gold.png' %>") no-repeat center center;
}
/*== Artillery Huge==*/
.unit-image-new.unit_thrower
{
  background:url("<%= asset_path 'dialogs/units/artillery/artillery_huge/artillery_huge_normal.png' %>") no-repeat center center;
}
.unit-image-new.unit_thrower_2
{
  background:url("<%= asset_path 'dialogs/units/artillery/artillery_huge/artillery_huge_stone.png' %>") no-repeat center center;
}
.unit-image-new.unit_thrower_3
{
  background:url("<%= asset_path 'dialogs/units/artillery/artillery_huge/artillery_huge_bronze.png' %>") no-repeat center center;
}
.unit-image-new.unit_thrower_4
{
   background:url("<%= asset_path 'dialogs/units/artillery/artillery_huge/artillery_huge_gold.png' %>") no-repeat center center;
}
/*== Cavalry Huge==*/
.unit-image-new.unit_light_cavalry
{
  background:url("<%= asset_path 'dialogs/units/cavalry/cavalry_huge/cavalry_huge_normal.png' %>") no-repeat center center;
}
.unit-image-new.unit_light_cavalry_2
{
  background:url("<%= asset_path 'dialogs/units/cavalry/cavalry_huge/cavalry_huge_stone.png' %>") no-repeat center center;
}
.unit-image-new.unit_light_cavalry_3
{
  background:url("<%= asset_path 'dialogs/units/cavalry/cavalry_huge/cavalry_huge_bronze.png' %>") no-repeat center center;
}
.unit-image-new.unit_light_cavalry_4
{
  background:url("<%= asset_path 'dialogs/units/cavalry/cavalry_huge/cavalry_huge_gold.png' %>") no-repeat center center;
}
/*== Special==*/
.unit-image-new.unit_little_chief
{
  background:url("<%= asset_path 'dialogs/units/little_chief/little_chief_huge.png' %>") no-repeat center center;
}
.unit-image-new.unit_great_chief
{
  background:url("<%= asset_path 'dialogs/units/little_chief/little_chief_huge.png' %>") no-repeat center center;
}