/* == Upgrade Building == */
.upgrade-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.upgrade-container h3 {
  display: inline-block;
  position: relative;
  margin-top: 0;
  -webkit-margin-after: 0;
  font-size: 1.1em;
  font-family: $main-font;
}

.upgrade-container .collumn{
  text-align: center;
  float: left;
  width: 33%;
  height: 400px;
}

.upgrade-container .row-first-half {
  width: 100%;
  height: 40%;
  position: relative;
}

.upgrade-container .row-second-half {
  width: 100%;
  height: 60%;
}

.cell-header {
  margin-top: 5px;
  position: relative;
  width: 100%;
  height: 40px;
  display: block;
}

.cell-body {
  height: 156px;
  font-size: 20px;
}

.level-title {
  position: absolute !important;
  left: 20%;
}

.upgrade-arrow {
  background: url("<%= asset_path 'dialogs/specials/arrow_right_wide.png' %>") no-repeat center center;
}

.change-level {
  top: 10%;
  position: absolute;
}

.change-level:active{
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.change-level.right {
  width: 24px;
  height: 32px;
  background: url("<%= asset_path 'dialogs/specials/arrow_right.png' %>") no-repeat center center;
  right: 5%;
}

.change-level.left {
  width: 24px;
  height: 32px;
  background: url("<%= asset_path 'dialogs/specials/arrow_left.png' %>") no-repeat center center;
  left: 5%;
}

.upgrade-button {
  margin-top: 25px;
  color: white;
  display: inline-block;
  cursor: pointer;
  width: 180px;
  height: 200px;
  background: url("<%= asset_path 'dialogs/buttons/button_green_high.png' %>") no-repeat center center;
}

.upgrade-button:active {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.upgrade-button-disable{
  margin-top: 25px;
  color: white;
  display: inline-block;
  width: 180px;
  height: 200px;
  background: url("<%= asset_path 'dialogs/buttons/button_grey_high.png' %>") no-repeat center center;
}

.resources-table {
  display: inline-block;
}

.resources-table tr{
  line-height: 30px;
}

.item.resource_stone.small {
  width: 32px;
  height: 24px;
  background: url("<%= asset_path 'dialogs/items/normal/item_stone_small.png' %>") no-repeat center center;
}

.item.resource_wood.small {
  width: 32px;
  height: 24px;
  background: url("<%= asset_path 'dialogs/items/normal/item_wood_small.png' %>") no-repeat center center;
}

.item.resource_fur.small {
  width: 28px;
  height: 32px;
  background: url("<%= asset_path 'dialogs/items/normal/item_fur_small.png' %>") no-repeat center center;
}

.item.resource_stone.small.capacity {
  width: 32px;
  height: 32px;
  background: url("<%= asset_path 'dialogs/items/normal/item_storage_stone.png' %>") no-repeat center center;
}

.item.resource_wood.small.capacity {
  width: 32px;
  height: 32px;
  background: url("<%= asset_path 'dialogs/items/normal/item_storage_wood.png' %>") no-repeat center center;
}

.item.resource_fur.small.capacity {
  width: 32px;
  height: 32px;
  background: url("<%= asset_path 'dialogs/items/normal/item_storage_fur.png' %>") no-repeat center center;
}

.item.resource_cash.small {
  width: 24px;
  height: 24px;
  background: url("<%= asset_path 'dialogs/items/normal/item_toads_small.png' %>") no-repeat center center;
}

.item.resource_xp.small {
  width: 32px;
  height: 24px;
  background: url("<%= asset_path 'dialogs/items/normal/item_xp.png' %>") no-repeat center center;
}

.item.unknown.small.capacity {
  width: 32px;
  height: 32px;
  background: url("<%= asset_path 'dialogs/items/normal/item_storage.png' %>") no-repeat center center;
}

.item.small.capacity {
  width: 32px;
  height: 32px;
  background: url("<%= asset_path 'dialogs/items/normal/item_storage.png' %>") no-repeat center center;
}

.item.resource_stone.xs {
  width: 16px;
  height: 12px;
  background: url("<%= asset_path 'dialogs/items/normal/item_stone_xs.png' %>") no-repeat center center;
}

.item.resource_wood.xs {
  width: 16px;
  height: 12px;
  background: url("<%= asset_path 'dialogs/items/normal/item_wood_xs.png' %>") no-repeat center center;
}

.item.resource_fur.xs {
  width: 14px;
  height: 16px;
  background: url("<%= asset_path 'dialogs/items/normal/item_fur_xs.png' %>") no-repeat center center;
}

.item.resource_cash.xs {
  width: 12px;
  height: 12px;
  background: url("<%= asset_path 'dialogs/items/normal/item_toads_xs.png' %>") no-repeat center center;
}

.item.population-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url("<%= asset_path 'dialogs/items/normal/item_population.png' %>") no-repeat center center;
  background-size: 32px;
}

.item.speedup-building-icon {
  width: 40px;
  height: 32px;
  display: inline-block;
  background: url("<%= asset_path 'dialogs/items/normal/item_speedup_building.png' %>") no-repeat center center;
  background-size: 32px;
}

.item.carts-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url("<%= asset_path 'dialogs/items/normal/item_trading_carts.png' %>") no-repeat center center;
  background-size: 32px;
}

.item.defense-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url("<%= asset_path 'dialogs/items/normal/item_defense.png' %>") no-repeat center center;
  background-size: 32px;
}

.population-detail {
  width:100%;
  position: relative;
  text-align: center;
}

.change-level {
  cursor: pointer;
}

.buildingUpgradeImage {
  width: 200px;
  height: 165px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.first .buildingUpgradeImage {
  
}

.third .buildingUpgradeImage {
  -webkit-filter: drop-shadow(2px 2px 0 #5F4C2D) drop-shadow(-2px 2px 0 #5F4C2D) drop-shadow(2px -2px 0 #5F4C2D) drop-shadow(-2px -2px 0 #5F4C2D);
}

/* == Building Details == */
.building-info-image {
  float: left;
}

.building-details {
  position: relative;
}

.economy-details, .military-details{
  position: relative;
  float: left;
  width: 50%;
  height: 75%;
}

.economy-details.is-single-military-row{
  display: none;
}

.military-details.is-single-economy-row {
  display: none;
}

.economy-details.is-single-economy-row{
  width: 100%;
  text-align: center;
}

.military-details.is-single-military-row {
  width: 100%;
  text-align: center;
}

.unlock-details, .building-requirements {
  position: relative;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 5px;
}

.queue_infantry {
  background: url("<%= asset_path 'dialogs/items/normal/item_speedup_infantry.png' %>") no-repeat center center;
  width: 40px;
  height: 32px;
}

.queue_artillery {
  background: url("<%= asset_path 'dialogs/items/normal/item_speedup_artillery.png' %>") no-repeat center center;
  width: 40px;
  height: 32px;
}

.queue_cavalry {
  background: url("<%= asset_path 'dialogs/items/normal/item_speedup_cavalry.png' %>") no-repeat center center;
  width: 40px;
  height: 32px;
}

.button-title {
  font-size: 0.9em !important;
}

.upgrade-unlock-container {
  .green {
    color: #66BD10;
  }
  .red {
    color: #C13011;
  }
  .top-section {
    width: 100%;
    display: inline-block;
    .buildingUpgradeImage {
      width: 200px;
      height: 140px;
      background-repeat: no-repeat;
      float: left;
      display: inline-block;
      position: relative;
      .level {
        position: absolute;
        left: 20px;
        top: 140px;
        white-space: nowrap;
      }
    }
    .building-details-unlock {
      width: 425px;
      height: 132px;
      float: left;
      font-size: 24px;
      margin-top: 15px;

      display: inline-block;
      -webkit-column-count:2;
      -moz-column-count:2;
      -ms-column-count:2;
      -o-column-count:2;
      column-count:2;
      -webkit-column-gap:15px;
      -moz-column-gap:15px;
      -ms-column-gap:15px;
      -o-column-gap:15px;
      column-gap:15px;
      columns:2;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          width: 100%;
          margin-bottom: 5px;
          .item {
            float: left;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .bottom-section {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    .unlocking-container {
      width: 60%;
      float: left;
      display: inline-block;
      text-align: center;
      .unlocking {
        background: url("<%= asset_path 'dialogs/backgrounds/background_upgrade_hilight.png' %>") no-repeat center center;
        width: 100%;
        height: 100px;
        background-size: auto 100%;
        line-height: 100px;
        font-size: 0.8em;
        display: inline-block;
      }
      .building-image, .cell-icon-big {
        position: relative;
        display: inline-block;
      }
    }
    .upgrade-button {
      float: right;
      margin: -10px 36px 0 0;
      color: white;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      width: 180px;
      height: 200px;
      background: url("<%= asset_path 'dialogs/buttons/button_green_high.png' %>") no-repeat center center;
    }
  }
  h3 {
    display: inline-block;
    position: relative;
    margin-top: 0;
    -webkit-margin-after: 0;
    font-size: 1.1em;
    font-family: $main-font;
  }
}