<script type="text/x-handlebars" data-template-name="training-queue-full-info">
  {{#with arguments}}
    <p>{{t settlement.training.queueFull.start}} {{max_length}} {{t settlement.training.queueFull.end}}</p>
  {{/with}}
</script>

<script type="text/x-handlebars" data-template-name="construction-queue-full-info">
  {{#with arguments}}
    <p>{{t settlement.buildings.constructionQueueFull.start}} {{max_length}} {{t settlement.buildings.constructionQueueFull.end}}</p>
  {{/with}}
</script>


<!-- ======== TO DELETE ========= -->

<script type="text/x-handlebars" data-template-name="not-enough-credits-info">
  <div class="advisor girl"></div>
  <h1>{{t shop.notenoughcredits.title}}</h1>
  <p>{{t shop.notenoughcredits.message}}</p>
</script>

<script type="text/x-handlebars" data-template-name="not-enough-goldenfrogs-info">
  <div class="advisor girl"></div>
  <h1>{{t shop.notenoughgoldenfrogs.title}}</h1>
  <p>{{t shop.notenoughgoldenfrogs.message}}</p>
</script>

<script type="text/x-handlebars" data-template-name="requirements-missing-info">
{{#with arguments}}
  <div class="advisor girl"></div>
  <p>{{t settlement.buildings.missingReqWarning.start}} {{local building.name}} {{t settlement.buildings.missingReqWarning.end}}:</p>
  <p>
    {{view Ember.View templateName="requirement-groups-view" unmetRequirementGroupsBinding="unmetRequirementGroups" tagName="span"}} 
  </p>
{{/with}}
</script>


<script type="text/x-handlebars" data-template-name="no-building-slots-free-info">
  <div class="advisor girl"></div>
  <p>{{t building.error.notEnoughBuildingSlots}}</p>
</script>

<script type="text/x-handlebars" data-template-name="not-enough-cash-info">
  <div class="advisor girl"></div>
  <p>{{t building.error.notEnoughCash}}</p>
</script>


<script type="text/x-handlebars" data-template-name="construction-queue-not-empty-info">
  <div class="advisor girl"></div>
  <p>{{t settlement.buildings.constructionQueueNotEmpty.msg}}</p>
</script>


<script type="text/x-handlebars" data-template-name="artifact-not-enough-resources">
  <div class="advisor chef"></div>
  <h1>{{t settlement.artifact.notEnoughResources.header }}</h1>
  <p>{{t settlement.artifact.notEnoughResources.content  }}</p>
</script>


<script type="text/x-handlebars" data-template-name="server-command-failed-info">
  <div class="advisor chef"></div>
  <h1>{{t server.error.failedAction.heading }}</h1>
  <p>{{t server.error.failedAction.unknown  }}</p>
</script>

<!--heading:             AWE.I18n.lookupTranslation('server.error.failedAction.heading'),
              message:             AWE.I18n.lookupTranslation('server.error.failedAction.unknown'),
              okText:              AWE.I18n.lookupTranslation('settlement.buildings.missingReqWarning.cancelText'), -->

<script type="text/x-handlebars" data-template-name="assignment-not-enough-prerequisites">
  <div class="advisor girl"></div>
  <h1>{{t settlement.assignment.error.prerequisites.header }}</h1>
  <p>{{t settlement.assignment.error.prerequisites.text  }}</p>
</script>


<script type="text/x-handlebars" data-template-name="assignment-conflict-info">
  <div class="advisor girl"></div>
  <h1>{{t settlement.assignment.error.conflict.header }}</h1>
  <p>{{t settlement.assignment.error.conflict.content  }}</p>
</script>

<script type="text/x-handlebars" data-template-name="artifact-not-enough-resources">
  <div class="advisor chef"></div>
  <h1>{{t settlement.artifact.notEnoughResources.header }}</h1>
  <p>{{t settlement.artifact.notEnoughResources.content  }}</p>
</script>

<script type="text/x-handlebars" data-template-name="assignment-not-enough-prerequisites">
  <div class="advisor girl"></div>
  <h1>{{t settlement.assignment.error.prerequisites.header }}</h1>
  <p>{{t settlement.assignment.error.prerequisites.text  }}</p>
</script>


<script type="text/x-handlebars" data-template-name="assignment-conflict-info">
  <div class="advisor girl"></div>
  <h1>{{t settlement.assignment.error.conflict.header }}</h1>
  <p>{{t settlement.assignment.error.conflict.content  }}</p>
</script
