<script type="text/x-handlebars" data-template-name="alliance-screen">
<div {{bindAttr class="ownAlliance:own-alliance :alliance-screen"}}>
  <div class="alliance-pane">
    {{view AWE.UI.Ember.AllianceBannerView allianceBinding="alliance" classNames="alliance-banner"}}
    {{view AWE.UI.Ember.AllianceInfoBoxView controllerBinding="controller" allianceBinding="alliance"}}
    {{#if ownAlliance}}
      {{#if isAllianceLeader}}
        <hr>
        {{view AWE.UI.Ember.AllianceManagementView controllerBinding="controller" allianceBinding="alliance"}}
        <hr>
        {{view AWE.UI.Ember.AllianceReservationView controllerBinding="controller" allianceBinding="alliance"}}
      {{/if}}
      <hr>
      {{view AWE.UI.Ember.ShoutBox controllerBinding="controller" shoutsBinding="controller.content.shouts" }}
    {{/if}}
    <hr>
    {{view AWE.UI.Ember.AllianceMemberListView controllerBinding="controller" charactersBinding="alliance.members"
                                               allianceBinding="alliance" isAllianceLeaderBinding="isAllianceLeader"}}
    <hr>
    <h1>{{t alliance.progress.header}}</h1>
    <p>{{t alliance.progress.description}}</p>
    {{view AWE.UI.Ember.AllianceVictoryView controllerBinding="controller" allianceBinding="alliance"}}
  </div>
</div>
</script>


<script type="text/x-handlebars" data-template-name="alliance-infobox">
  <div class="alliance-infobox clearfix">
    <h1>{{ alliance.name }} [{{ alliance.tag }}]</h1>
    <p> {{t alliance.founded }}: {{ creation }}</p>
    <p> {{t alliance.leader }}: {{view AWE.UI.Ember.LinkedCharacterView characterBinding="alliance.leader" displayAlliance=false}}</p>
  </div>
  {{#if alliance.invitation_code }}
    <h2>Einladungslink</h2>
    <p>Ladet neue Spieler direkt in das Allianzgebiet ein. Wenn sich ein neuer Spieler über diesen Link registriert, wird seine Hauptsiedlung in einer Region platziert, die von der Allianz beherrscht wird. Einfach markieren und kopieren oder per Email versenden.</p>
    <div class="simple-button float-right" style="min-height: 10px; margin-right: 100px;" {{action invitationLinkPressed}}>Per Mail versenden</div>      
    <p class="clearfix" {{action catchClick}}>{{ unbound AWE.Config.ALLIANCE_INVITATION_BASE }}{{ unbound alliance.invitation_code }}</p>
  {{/if}}  
  {{#if alliance.description}}
    <div class="alliance-description">
      <h1>{{t alliance.description }}</h1>
      <p>{{ alliance.description }}</p>
    </div>
  {{/if}}
  {{#if alliance.message}}
    <div class="alliance-message-of-the-day">
      <h1>{{t alliance.message }}</h1>
      <p>{{ alliance.message }}</p>
      </div>
  {{/if}}
</script>


<script type="text/x-handlebars" data-template-name="alliance-member">
  {{view AWE.UI.Ember.LinkedCharacterWithRankView characterBinding="character" displayAlliance=false}}
  {{#if isCurrentCharacterAllianceLeader}}
    {{#unless isLeader}}
      <a href="#" {{action "kickMember"}}>{{t alliance.kickMember}}</a>
    {{/unless}}
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="alliance-member-list">
  <div class="alliance-member-list">
    <h1>{{t alliance.members }}</h1>
    <p>{{alliance.membersCount}} von maximal {{maxMembers}}</p>
    <ul>
      {{#each characters}}
        {{view AWE.UI.Ember.AllianceMemberView tagName="li" characterBinding="this" allianceBinding="view.alliance"
                                               isCurrentCharacterAllianceLeaderBinding="view.isAllianceLeader"
                                               controllerBinding="controller"}}
      {{/each}}
    </ul>
  </div>
</script>


<script type="text/x-handlebars" data-template-name="alliance-management">
  <div class="alliance-management">
    <h1>{{t alliance.management }}</h1>
    {{#if errorMessage}}
      <div class="red-color">{{errorMessage}}</div>
    {{/if}}
    {{view Ember.TextField class="text-field" placeholder="alliance password" type="text" valueBinding="password"}} 
    {{#if ongoingAction}}
      {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}
    {{else}}
      {{#if modifiedPassword}}
        <div class="icon-button ok-button" {{action "changePassword"}}>{{t alliance.changePassword}}</div>
      {{/if}}
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="alliance-reservation">
  <div class="alliance-reservation">
    <h1>{{t alliance.reservation }}</h1>
    <p>{{t alliance.reservationDescription}}</p>
    {{#if errorMessage}}
      <p class="red-color">{{errorMessage}}</p>
    {{/if}}
    {{#if ongoingAction}}
      {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.loading}}
    {{else}}
      {{view Ember.TextField class="text-field" placeholder="new reservation password" type="text" valueBinding="password"}}
      {{#if modifiedPassword}}
        <div class="icon-button ok-button" {{action "changePassword"}}>{{t alliance.saveReservation}}</div>
      {{/if}}
    {{/if}}
  </div>
</script>