<script type="text/x-handlebars" data-template-name="alliance-screen">
<div {{bindAttr class=":helvetica-light :alliance-screen"}}>
  <div class="alliance-screen-background">
    <div class="base-background-picture alliance-screen-picture"></div>
  </div>

  <div class="alliance-pane">
    {{view AWE.UI.Ember.AllianceBannerView allianceBinding="alliance" classNames="alliance-banner"}}
    {{view AWE.UI.Ember.AllianceInfoBoxView controllerBinding="controller" allianceBinding="alliance" isAllianceLeaderBinding="isAllianceLeader"}}
    {{#if ownAlliance}}
      {{view AWE.UI.Ember.DiplomacyRelationListView controllerBinding="controller" diplomacySourceRelationsBinding="alliance.diplomacySourceRelations"
                                               allianceBinding="alliance"}}
      {{#if isAllianceLeader}}
        {{view AWE.UI.Ember.AllianceAutoJoinView controllerBinding="controller" allianceBinding="alliance"}}
        <hr>
        {{view AWE.UI.Ember.AllianceManagementView controllerBinding="controller" allianceBinding="alliance"}}
        <hr>
        {{view AWE.UI.Ember.AllianceReservationView controllerBinding="controller" allianceBinding="alliance"}}
      {{/if}}
      <hr>
      {{view AWE.UI.Ember.ShoutBox controllerBinding="controller" shoutsBinding="controller.content.shouts" }}
    {{/if}}
    <hr>
    {{view AWE.UI.Ember.AllianceMemberListView controllerBinding="controller" charactersBinding="alliance.members"
                                               allianceBinding="alliance" isAllianceLeaderBinding="isAllianceLeader"}}
  </div>
</div>
</script>


<script type="text/x-handlebars" data-template-name="alliance-infobox">
  <div class="alliance-infobox clearfix">
    <h1>{{ alliance.name }} [{{ alliance.tag }}]</h1>
    <p> {{t alliance.founded }}: {{ creation }}</p>
    <p> {{t alliance.leader }}: {{view AWE.UI.Ember.LinkedCharacterView characterBinding="alliance.leader" displayAlliance=false}}</p>
    {{#if ownAlliance}}
      <p> {{t alliance.leaderVote }} {{view Ember.Select contentBinding="alliance.members" selectionBinding="candidate" optionLabelPath="content.name" optionValuePath="content.id" prompt=" "}} </p>
    {{/if}}
    
    <p>
      {{#if isNotAllianceMember}}
        <div class="simple-button" style="min-height: 10px;" {{action "sendAllianceApplication"}}>{{t alliance.sendApplication}}</div>
        {{#if applicationMessage}}
          <div class="red-color">{{applicationMessage}}</div>
        {{/if}}
      {{/if}}
    </p>
  </div>
  {{#if alliance.invitation_code }}
    <h1>{{t alliance.invitationLink}}</h1>
    <p>{{t alliance.invitationLinkDescription}}</p>
    <div class="simple-button float-right" style="min-height: 10px; margin-right: 100px;" {{action invitationLinkPressed}}>{{t alliance.invitationLinkSendByMailButton}}</div>      
    <p class="clearfix" {{action catchClick}}>{{ unbound AWE.Config.ALLIANCE_INVITATION_BASE }}{{ unbound alliance.invitation_code }}</p>
  {{/if}}  
    <div class="alliance-description">
      <h1>{{t alliance.description }}</h1>
      {{#if message}}
        <div class="red-color">{{message}}</div>
      {{/if}}

      <div class="stone-panel">
        {{#if alliance.description}}
  			  <p class="alliance-description">{{{ showDescription }}}</p>
        {{else}}
  			  <p>{{t alliance.missingDescription}}</p>
        {{/if}}
  			<div class="simple-button" style="min-height: 10px;" {{action "sendUserContentReport"}}>{{t alliance.report}}</div>
  			{{#if isAllianceLeader}}
  			<div class="simple-button float-right" style="min-height: 10px; margin-right: 100px;" {{action "changeDescriptionPressed"}}>{{t alliance.changeDescription}}</div>
  			{{/if}}
			</div>

    </div>
  {{#if alliance.message}}
    <div class="alliance-message-of-the-day">
      <h1>{{t alliance.message }}</h1>
      <p>{{ alliance.message }}</p>
      </div>
  {{/if}}
</script>


<script type="text/x-handlebars" data-template-name="alliance-member">
  {{view AWE.UI.Ember.LinkedCharacterWithRankView characterBinding="character" displayAlliance=false}}
  {{#if isCurrentCharacterAllianceLeader}}
    {{#unless isLeader}}
      <a href="#" {{action "kickMember"}}>{{t alliance.kickMember}}</a>
    {{/unless}}
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="alliance-member-list">
  <div class="alliance-member-list">
    <h1>{{t alliance.members }}</h1>
    <div class="stone-panel">
      <p>{{alliance.membersCount}} {{t alliance.ofMax}} {{maxMembers}}{{#if hasBonus}} ({{t alliance.bonus}}: {{alliance.additional_members}}){{/if}}</p>
      <ul>
        {{#each characters}}
          {{view AWE.UI.Ember.AllianceMemberView tagName="li" characterBinding="this" allianceBinding="view.alliance"
                                                 isCurrentCharacterAllianceLeaderBinding="view.isAllianceLeader"
                                                 controllerBinding="controller"}}
        {{/each}}
      </ul>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="diplomacy-relation-list">
  <div class="diplomacy-relation-list">
    <h1>{{t alliance.diplomacyRelation }}</h1>
    <div class="stone-panel">
      <ul>
        {{#each diplomacySourceRelations}}
          {{view AWE.UI.Ember.DiplomacyRelationView tagName="li" diplomacySourceRelationBinding="this" allianceBinding="view.alliance"
                                                 isCurrentCharacterAllianceLeaderBinding="view.isAllianceLeader"
                                                 controllerBinding="controller"}}
        {{/each}}
      </ul>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="diplomacy-relation">
  {{status}}{{t alliance.diplomacyRelationWithAlliance }}{{targetAllianceName}}
</script>

<script type="text/x-handlebars" data-template-name="alliance-auto-join">
  <div class="alliance-auto-join">
    <h1>{{t alliance.autoJoin }}</h1>
    {{#if ongoingAction}}
      <div class="simple-button float-right" style="min-height: 10px; margin-right: 100px;" {{action "changeStatePressed"}}>{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}</div>
    {{else}}
      <div class="simple-button float-right" style="min-height: 10px; margin-right: 100px;" {{action "changeStatePressed"}}>{{currentState}}</div>
    {{/if}}
    <p class="clearfix">{{t alliance.autoJoinDescription}}</p>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="alliance-management">
  <div class="alliance-management">
    <h1>{{t alliance.management }}</h1>
    {{#if errorMessage}}
      <div class="red-color">{{errorMessage}}</div>
    {{/if}}
    {{view Ember.TextField class="text-field" placeholder="alliance password" type="text" valueBinding="password"}} 
    {{#if ongoingAction}}
      {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}
    {{else}}
      {{#if modifiedPassword}}
        <div class="icon-button ok-button" {{action "changePassword"}}>{{t alliance.changePassword}}</div>
      {{/if}}
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="alliance-reservation">
  <div class="alliance-reservation">
    <h1>{{t alliance.reservation }}</h1>
    <p>{{t alliance.reservationDescription}}</p>
    {{#if errorMessage}}
      <p class="red-color">{{errorMessage}}</p>
    {{/if}}
    {{#if ongoingAction}}
      {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.loading}}
    {{else}}
      {{view Ember.TextField class="text-field" placeholder="new reservation password" type="text" valueBinding="password"}}
      {{#if modifiedPassword}}
        <div class="icon-button ok-button" {{action "changePassword"}}>{{t alliance.saveReservation}}</div>
      {{/if}}
    {{/if}}
  </div>
</script>
