<script type="text/x-handlebars" data-template-name="alliance-view">
<h1>Alliance</h1>
{{view AWE.UI.Ember.AssignmentTabView characterBinding="character" allianceBinding="alliance" }}
    <div class="alliance-container">
        {{view AWE.UI.Ember.AllianceBannerView allianceBinding="alliance" classNames="alliance-banner"}}

        {{#if ownAlliance}}
        <div class="alliance-about">
            <h3>{{alliance.name}}</h3>
            <div class="alliance-information">
                <h4>Invitelink:</h4>
                <div class="alliance-invite-link">
                {{ unbound AWE.Config.ALLIANCE_INVITATION_BASE }}{{ unbound alliance.invitation_code }}</div>
            </div>
            {{#if isAllianceLeader}}
            <div class="alliance-management">
                <div class="alliance-slogan">
                    <h4>Slogan:</h4>
                    <input type="text" value={{unbound alliance.password}} />
                </div>

                <div class="alliance-accept">
                    <h4>Aufnahme:</h4>
                    <div class="alliance-status-toggle" {{action "setAutoJoin"}}>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
        {{/if}}
        <div class="alliance-text">
            My money's in that office, right? If she start giving me some bullshit about 
            it ain't there
        </div>
    </div>

</script>