<script type="text/x-handlebars" data-template-name="alliance-screen">
<div {{bindAttr class="ownAlliance:own-alliance :alliance-screen"}}>
  <div class="alliance-pane">
    {{view AWE.UI.Ember.AllianceBannerView allianceBinding="alliance" classNames="alliance-banner"}}
    {{view AWE.UI.Ember.AllianceInfoBoxView controllerBinding="controller" allianceBinding="alliance"}}
    {{#if ownAlliance}}
      {{#if isAllianceLeader}}
        <hr>
        {{view AWE.UI.Ember.AllianceManagementView controllerBinding="controller" allianceBinding="alliance"}}
      {{/if}}
      <hr>
      {{view AWE.UI.Ember.ShoutBox controllerBinding="controller" shoutsBinding="controller.content.shouts" }}
    {{/if}}
    <hr>
    {{view AWE.UI.Ember.AllianceMemberListView controllerBinding="controller" charactersBinding="alliance.members"
                                               allianceBinding="alliance" isAllianceLeaderBinding="isAllianceLeader"}}
    <hr>
    {{view AWE.UI.Ember.AllianceVictoryView controllerBinding="controller" allianceBinding="alliance"}}
  </div>
</div>
</script>


<script type="text/x-handlebars" data-template-name="alliance-infobox">
  <div class="alliance-infobox clearfix">
    <h1>{{ alliance.name }} [{{ alliance.tag }}]</h1>
    <p> {{t alliance.founded }}: {{ creation }}</p>
    <p> {{t alliance.leader }}: {{view AWE.UI.Ember.LinkedCharacterView characterBinding="alliance.leader" displayAlliance=false}}</p>
  </div>
  {{#if alliance.invitation_code }}
    <h2>Einladungslink</h2>
    <p>Ladet neue Spieler direkt in das Allianzgebiet ein. Wenn sich ein neuer Spieler über diesen Link registriert, wird seine Hauptsiedlung in einer Region platziert, die von der Allianz beherrscht wird. Einfach markieren und kopieren oder per Email versenden.</p>
    <div class="simple-button float-right" style="min-height: 10px; margin-right: 100px;" {{action invitationLinkPressed}}>Per Mail versenden</div>      
    <p class="clearfix" {{action catchClick}}>{{ unbound AWE.Config.ALLIANCE_INVITATION_BASE }}{{ unbound alliance.invitation_code }}</p>
  {{/if}}  
  {{#if alliance.description}}
    <div class="alliance-description">
      <h1>{{t alliance.description }}</h1>
      <p>{{ alliance.description }}</p>
    </div>
  {{/if}}
  {{#if alliance.message}}
    <div class="alliance-message-of-the-day">
      <h1>{{t alliance.message }}</h1>
      <p>{{ alliance.message }}</p>
      </div>
  {{/if}}
</script>


<script type="text/x-handlebars" data-template-name="alliance-member">
  {{view AWE.UI.Ember.LinkedCharacterWithRankView characterBinding="character" displayAlliance=false}}
  {{#if isCurrentCharacterAllianceLeader}}
    {{#unless isLeader}}
      <a href="#" {{action "kickMember"}}>{{t alliance.kickMember}}</a>
    {{/unless}}
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="alliance-member-list">
  <div class="alliance-member-list">
    <h1>{{t alliance.members }}</h1>
    <p>{{alliance.membersCount}} von maximal {{maxMembers}}</p>
    <ul>
      {{#each characters}}
        {{view AWE.UI.Ember.AllianceMemberView tagName="li" characterBinding="this" allianceBinding="view.alliance"
                                               isCurrentCharacterAllianceLeaderBinding="view.isAllianceLeader"
                                               controllerBinding="controller"}}
      {{/each}}
    </ul>
  </div>
</script>


<script type="text/x-handlebars" data-template-name="alliance-management">
  <div class="alliance-management">
    <h1>{{t alliance.management }}</h1>
    {{#if errorMessage}}
      <div class="red-color">{{errorMessage}}</div>
    {{/if}}
    {{view Ember.TextField class="text-field" placeholder="alliance password" type="text" valueBinding="password"}} 
    {{#if ongoingAction}}
      {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}...
    {{else}}
      {{#if modifiedPassword}}
        <div class="icon-button ok-button" {{action "changePassword"}}>{{t alliance.changePassword}}</div>
      {{/if}}
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="alliance-victory-view">
  <div class="alliance-victory">
    <h1>{{t alliance.progress.header}}</h1>
    <p>{{t alliance.progress.description}}</p>
    {{view AWE.UI.Ember.AllianceVictoryProgressDominationView allianceBinding="alliance" controllerBinding="controller"}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="alliance-victory-progress-domination-view">
  <div class="alliance-victory-progress-domination">
    <h2>{{ local progress.victoryType.name }}</h2>
    <p>{{ local progress.victoryType.description }}</p>
    <p>{{t alliance.progress.requiredRegions}}: {{formatAsPercent victoryType.condition.required_regions_ratio}} ({{requiredRegions}} {{t map.regions}}), {{t alliance.progress.requiredDuration}}; {{victoryType.condition.duration}} {{t general.days}}</p>
  </div>
  
  <div style="width:100%; height: 20px; position: relative; background: #eef; border: 1px solid black; margin-top: 70px; margin-bottom: 80px;">
    <div style="position:absolute; top: 0; left: 0; width: 100px; height: 50px; margin-top: -30px; border-left: 1px solid black; margin-left: -1px; padding-left: 3px;">
      <div style="height: 30px; font-size: 14px;">Start</div>
      <div style="font-size: 14px;">0 %</div>
    </div>
    <div style="position:absolute; top: 0; right: 25%; width: 100px; height: 50px; margin-top: -30px; border-right: 1px solid black; margin-right: -1px; padding-right: 3px;">
      <div style="height: 30px; font-size: 14px; text-align: right;">Kriterium erfüllt</div>
      <div style="font-size: 14px; text-align: right;">100 %</div>
    </div>
    <div style="position:absolute; top: 0; right: 0; width: 200px; height: 50px; margin-top: -30px; border-right: 1px solid black; margin-right: -1px; padding-right: 3px;">
      <div style="height: 30px; font-size: 14px; text-align: right;">Kriterium gehalten</div>
    {{#if fulfilled }}
      <div style="font-size: 14px; text-align: right;">Sieg am {{formatDatetime endDate}}</div>
    {{else}}
      <div style="font-size: 14px; text-align: right;">Sieg nach {{victoryType.condition.duration}} Tagen</div>
    {{/if}}
    </div>
    {{#if fulfilled }}
      <div style="position:absolute; top: 0px; right: {{unbound fulfillmentPercentage}}; width: 200px; height: 60px; margin-top: 0; border-right: 2px solid black; margin-right: -1px; text-align:right;">
        <div style="height: 20px; margin-top: 40px; padding-right: 3px;">
          <b>{{daysRemaining}} {{t alliance.progress.remainingDays}}</b>
        </div>
      </div>
    {{else}}
      <div style="position:absolute; top: 0px; left: {{unbound fulfillmentPercentage}}; width: 200px; height: 60px; margin-top: 0; border-left: 2px solid black; margin-left: -1px;">
        <div style="height: 20px; margin-top: 40px; padding-left: 3px;">
          <b>{{fulfillmentPercentage}}</b>
        </div>
      </div>
    {{/if}}
  </div>
  
</script>
