<script type="text/x-handlebars" data-template-name="army-info-dialog">
  {{view AWE.UI.Ember.ArmyInfoView armyBinding="parentView.army" isSavingBinding="arguments.isSaving"}}
</script>

<script type="text/x-handlebars" data-template-name="army-info-view">

    <div class="army-info-view clearfix">
      <div class="clearfix header">
        {{#if displayHeading}}
          {{#if army.npc}}
            <div class="advisor neanderthal"></div>
          {{else}}
            <div class="advisor {{unbound advisor}}"></div>
          {{/if}}
          <h2>{{ army.name }}</h2>
          {{#if isChangeNamePossible}}
            <span class="simple-button" {{action "changeNamePressed" target="parentView.parentView"}}>{{ t army.details.changeName }}</span>
          {{/if}}
          <p class="citation">{{message}}</p>
          {{#if army.npc}}
            <p>{{ army.details.npcMsg }}</p>
          {{else}}
            <p>{{t army.details.ownerLabel}}: {{view AWE.UI.Ember.LinkedCharacterWithRankView characterBinding="owner"}}</p>
          {{/if}}
        {{/if}}
        <div>
          <span title="{{t army.details.rankDescription}}">{{ t army.details.rank }}: {{army.rankToDisplay}}. </span>
          {{#if army.isOwnProp}}
            <span title="{{t army.details.experienceDescription}}">{{ t army.details.experience }}: {{army.exp}}. {{t army.details.rankUpAt}} {{army.expForNextRank}}.</span> 
          {{/if}}
        </div>
        {{#unless army.garrison}}
        <div>
          {{t army.details.actionPoints}}: {{army.ap_present}} {{t general.of}} {{army.ap_max}}.
          {{#if nextAPTimeString}} 
            {{t army.details.nextActionPointAt}} {{nextAPTimeString}} {{t general.oclock}}
          {{/if}}
        </div>
        <div>
          {{ t army.details.stance }}: {{ army.stanceString }}
          {{#if army.isOwnProp}}
            {{#unless isSaving }}
            <span class="simple-button" {{action "changeStancePressed" target="parentView.parentView"}}>{{ t army.form.change }}</span>
            {{else}}
              {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
            {{/unless}}
          {{/if}}
        </div> 
        {{/unless}}
      </div>
      
        <div class="army-view-unit-list">
          {{#if displayUnits}}
            {{#if haveDetails}}
              <table class="table-list">
                <tr>
                  {{#each units}}
                    <th><span class="unit-image tiny {{unbound unitType.db_field}}" title="{{unbound name}}">&nbsp;</span></th>
                  {{/each}}
                </tr>
                <tr>
                  {{#each units}}
                    <td>{{number}}</td>
                  {{/each}}
                </tr>
              </table>
            {{else}}
              {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
            {{/if}}
          {{else}}
            {{t general.unknown}}.
          {{/if}}
        </div>
      
        <div class="army-view-property-list">   <!-- TODO: display categories dynamically! (wherever possible) -->
              <p><b>{{t army.details.strength.strengths}}</b>
                 {{formatNumber army.unitcategory_infantry_strength places="0"}} / 
                 {{formatNumber army.unitcategory_cavalry_strength places="0"}} /
                 {{formatNumber army.unitcategory_artillery_strength places="0"}} 
                 ({{t army.details.melee}}, {{t army.details.riders}}, {{t army.details.ranged}})</p>
        
          <table class="table-list">
            </tr>
              <th>{{ t army.details.strength.all }}:</th>
              <td>{{formatNumber army.strength places="0"}}</td>
            <tr>
            </tr>
              <th>{{t army.details.unitCount}}:</th>
              <td>{{ army.size_present }} / {{army.size_max}}</td>
            <tr>
            </tr>
              <th>{{ t army.details.velocity }}:</th>
              <td>{{ army.velocity }}</td>
            </tr>
          </table>
        </div>
    </div>  
</script>


<script type="text/x-handlebars" data-template-name="army-form">
      <table>
        <tr>
          <th></th>
          <th colspan="3" class="garrison">{{ t army.form.available }}</th>
          <th colspan="3" class="other">{{#if armyName}}{{ armyName }}{{else}}{{ t army.form.new }}{{/if}}</th>
        </tr>
        {{#each unitTypes }}
          {{#view AWE.UI.Ember.UnitRowView unitTypeBinding="this" }}
        <tr>
          <td class="unit">{{ local unitType.name }}</td>
          <td>{{view AWE.UI.Ember.GarrisonArmyUnitTextfield allUnitsBinding="unitType.allUnits" garrisonUnitsBinding="unitType.garrisonUnits" otherUnitsBinding="unitType.otherUnits" classNames="units-field" }}</td>
          <td><a class="clickable" {{action "allToGarrison"}}><<</a></td>
          <td><a class="clickable" {{action "oneToGarrison"}}><</a></td>
          <td><a class="clickable" {{action "oneToOther"}}>></a></td>
          <td><a class="clickable" {{action "allToOther"}}>>></a></td>
          <td>{{view AWE.UI.Ember.OtherArmyUnitTextfield allUnitsBinding="unitType.allUnits" garrisonUnitsBinding="unitType.garrisonUnits" otherUnitsBinding="unitType.otherUnits" classNames="units-field"}}</td>
        </tr>
          {{/view }}
        {{/each}}
        <tr class="line">
          <td class="unit">{{ t army.details.size }} / {{ t army.details.sizeMax }}</td>
          <td><span {{bindAttr class="garrisonOverfullClass" }}>{{ garrisonSum }}</span> / {{ parentView.garrisonArmy.size_max }}</td>
          <td><a class="clickable" {{action "allToGarrison" target="parentView"}}><<</a></td>
          <td></td>
          <td></td>
          <td><a class="clickable" {{action "allToOther" target="parentView"}}>>></a></td>
          <td><span {{bindAttr class="otherOverfullClass" }}>{{ otherSum }}</span> / {{ parentView.otherArmySizeMax }}</td>
        </tr>
      </table>
</script>

<script type="text/x-handlebars" data-template-name="army-list-view">

  <div class="modal-dialog-background z-layer-3"></div>
  <div class="horizontal-center-helper">
    <div class="modal-dialog-pane z-layer-4 army-list-view scale-down" id="army-list-dialog">
    <div class="advisor tiny warrior"></div>

      <a class="close clickable" {{action "closeClicked"}}></a>
      <h1>{{t army.list.header}}</h1>
      <p class="citation">{{t army.list.flavor}}</p>
      {{#if armies}}
      <table class="army-list-table head">
        <tr>
          <th class="army-view">&nbsp;</th>
          <th class="name">{{t army.list.table.name}}</th>
          <th class="region">{{t army.list.table.region}}</th>
          <th class="rank">{{t army.list.table.rank}}</th>
          <th class="ap">{{t army.list.table.ap}}</th>
          <th class="status">{{t army.list.table.status}}</th>
          <th class="size">{{t army.list.table.size}}/{{t army.list.table.max_size}}</th>
          <th class="info">&nbsp;</th>
        </tr>
      </table>
      <div class="army-list-table-wrapper">
        <table class="army-list-table">
          {{#each armies}}
            {{view AWE.UI.Ember.ArmyListItem armyBinding="this"}}
          {{/each}}
        </table>
      </div>
      {{else}}
      <h2>{{t army.list.none}}</h2>
      {{/if}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="army-list-item">
  <tr>
    <td class="army-view">{{view AWE.UI.Ember.ArmyView armyBinding="army"}}</td>
    <td class="name"><a class="clickable" {{action "namePressed"}}>{{army.name}}</a></td>
    <td class="region"><a class="clickable" {{action "regionPressed"}}>{{regionName}}</a></td>
    <td class="rank">{{army.rankToDisplay}}</td>
    <td class="ap">{{army.ap_present}}/{{army.ap_max}}</td>
    <td class="status">{{armyStatus}}</td>
    <td class="size">{{army.size_present}}/{{army.size_max}}</td>
    <td class="info"><a class="clickable" {{action "infoPressed"}}>{{t army.list.table.info}}</a></td>
  </tr>
</script>

<script type="text/x-handlebars" data-template-name="military-info-dialog">
  <h1 class="modal-dialog-heading">{{t encyclopedia.military}}</h1>
   <div class="modal-dialog-body change-army-dialog-pane scrolling">
    {{view AWE.UI.Ember.MilitaryTabView unitTypesBinding="unitTypes" garrisonArmyBinding="garrisonArmy" controllerBinding="controller" settlementBinding="settlement" trainingQueuesBinding="trainingQueues" startTabBinding="startTab" subTabBinding="subTab"}}
   </div>
</script>

<script type="text/x-handlebars" data-template-name="tab-view-army-info">
  
  <div class="tab-bar-new-military">
    {{#each tab in tabViews}}
      {{#if tab.isTitelTab}}
        <div {{bindAttr class=".cell"}}>
        
        {{#view AWE.UI.Ember.TabButtonArmyInfoView keyBinding="tab.key" titleBinding="tab.title" buttonClassBinding="tab.buttonClass"}}{{tab.title}}
            <div class="swords-icon"></div>
        {{/view}}
      </div>
      {{else}}
        <div {{bindAttr class=":cell view.cellClass"}}>
          {{#view AWE.UI.Ember.TabButtonArmyInfoView keyBinding="tab.key" titleBinding="tab.title" buttonClassBinding="tab.buttonClass"}}{{tab.title}}{{/view}}
        </div>
      {{/if}}
    {{/each}}
    <div class="clearfix"></div>
  </div>  
    
  {{view Ember.ContainerView currentViewBinding="currentView"}}
</script>

<script type="text/x-handlebars" data-template-name="army-info-tab1-view">   
  {{#each armyType in activeArmyTypen}}

      <div class="military"> 
          {{view AWE.UI.Ember.ArmyUnitInfoButtonView unitTypeBinding="armyType"}}
        <div class="military-count">x {{armyType.garrisonUnits}}</div>
      </div>

  {{/each}}
</script>
<!-- Army Info Icon-->
<script type="text/x-handlebars" data-template-name="army-info-button"> 
  <div {{bindAttr class="unitType.symbolic_id :cell-icon" }} {{action "openDialog"}}>  
      <div class="military-info" {{action "openDialog"}}>i</div>
  </div>
</script>

<!-- Army small Info Icon-->
<script type="text/x-handlebars" data-template-name="army-icon-small"> 
  <div {{bindAttr class="unitClass :cell-icon-small" }}>  
  </div>
</script>

<script type="text/x-handlebars" data-template-name="army-icon-big-button">   
{{#if requirementsMet}}
  <div class="military-big"> 
        <div {{bindAttr class="armyType.db_field :cell-icon-big"}} {{action "openDialog"}}>
        </div>
        {{view AWE.UI.Ember.ArmyUnitResourceInfoView unitTypeBinding="unitType" controllerBinding="controller" queueBinding="queue"}}
      </div>
{{/if}}
</script>

<script type="text/x-handlebars" data-template-name="army-resource-info">   
  <div class="military-costs-background" {{action "openJobDialog"}}> 

    <div class="military-costs-row">
      <div class="cost-text-titel">{{t building.level}} {{getLevel}}}</div>
    </div>
    <div class="military-costs-row">
      <div class="military-costs-half-row">
        <div class="resource_stone small"></div>
      </div>
      <div class="military-costs-half-row">
        <div class="cost-text-small">{{getStoneCosts}}</div>
      </div>
    </div>
    <div class="military-costs-row">
      <div class="military-costs-half-row">
        <div class="resource_wood small"></div>
      </div>
      <div class="military-costs-half-row">
        <div class="cost-text-small">{{getWoodCosts}}</div>
      </div>
    </div>
    <div class="military-costs-row">
      <div class="military-costs-half-row">
        <div class="resource_fur small"></div>
      </div>
      <div class="military-costs-half-row">
        <div class="cost-text-small">{{getFurCosts}}</div>
      </div>
    </div>
    <div class="military-costs-row">
      <div class="military-costs-half-row">
        <div class="cost-item-small-uhr"></div>
      </div>
      <div class="military-costs-half-row">
        <div class="cost-text-small">{{formattedProductioTime}}</div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="army-info-tab2-view">   
    {{#if isUIMarker}}
        {{view AWE.UI.Ember.UIMarker direction=3 top=270 left=160}}
    {{/if}}
    {{#each queue.hashableJobs.collection }}
        {{view AWE.UI.Ember.ArmyTrainingJobNewView controllerBinding="controller" jobBinding="this"}}
    {{/each}}
    {{#each armyType in trainableUnitTypes}}
        {{view AWE.UI.Ember.ArmyUnitResourceView unitTypeBinding="armyType" controllerBinding="parentView.controller" queueBinding="parentView.queue"}}
    {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="army-info-tab3-view">   
    {{#each queue.hashableJobs.collection }}
        {{view AWE.UI.Ember.ArmyTrainingJobNewView controllerBinding="controller" jobBinding="this"}}
    {{/each}}
    {{#each armyType in trainableUnitTypes}}
        {{view AWE.UI.Ember.ArmyUnitResourceView unitTypeBinding="armyType" controllerBinding="parentView.controller" queueBinding="parentView.queue"}}
    {{/each}}
</script>
<script type="text/x-handlebars" data-template-name="army-info-tab4-view">   
    {{#each queue.hashableJobs.collection }}
        {{view AWE.UI.Ember.ArmyTrainingJobNewView controllerBinding="controller" jobBinding="this"}}
    {{/each}}
    {{#each armyType in trainableUnitTypes}}
         {{view AWE.UI.Ember.ArmyUnitResourceView unitTypeBinding="armyType" controllerBinding="parentView.controller" queueBinding="parentView.queue"}}
    {{/each}}
</script>
<script type="text/x-handlebars" data-template-name="army-info-tab5-view">   
    {{#each queue.hashableJobs.collection }}
        {{view AWE.UI.Ember.ArmyTrainingJobNewView controllerBinding="controller" jobBinding="this"}}
    {{/each}}
    {{#each armyType in trainableUnitTypes}}
         {{view AWE.UI.Ember.ArmyUnitResourceView unitTypeBinding="armyType" controllerBinding="parentView.controller" queueBinding="parentView.queue"}}
    {{/each}}
</script>

<!-- RECRUITMENT-->
<script type="text/x-handlebars" data-template-name="army-recruitment-view">   
    {{view AWE.UI.Ember.ArmyRecruitmentJobInfoView unitTypeBinding="unitType" controllerBinding="controller" queueBinding="queue"}}
</script>

<script type="text/x-handlebars" data-template-name="army-recruitment-info-view">
  <h1>{{local unitType.name}}</h1>
  {{#if isUIMarker}}
    {{view AWE.UI.Ember.UIMarker direction=1 top=318 left=350}}
  {{/if}}
  <div class="unit-image-wrapper">
    <div {{bindAttr class="unitType.db_field :unit-image-new"}}>
      <div class="count-text-big-background">
        {{view AWE.UI.Ember.SliderInputView class="count-text-big" maxlength=4 type="text" resultBinding="number" maxValueBinding="maxUnitRecruitment" minValueBinding="minUnitRecruitment" defaultValueBinding="minUnitRecruitment"}}
      </div>
    </div>
  </div>
  <div class="unit-description jobs-description">
    {{t encyclopedia.attackAbbreviation}}: {{unitType.attack}} <br/>
    {{t encyclopedia.defenseAbbreviation}}:  {{unitType.armor}}<br/>
    {{t encyclopedia.hitpointsAbbreviation}}: {{unitType.hitpoints}} <br/>
     {{t ranking.type}}: {{getUnitCategoryName}} </br>
    {{t encyclopedia.criticalDamageAbbreviation}}: {{unitType.critical_hit_damage}} % <br/>
  </div>
  <div class="military-costs-green-background button_green_high" {{action "setupJobPressed"}}>
    <div class="military-costs-row military-costs-row-all">
      <div class="military-costs-half-row">
        <div class="resource_stone small"></div>
      </div>
      <div class="military-costs-half-row">
        <div class="cost-text-small">{{getTotalStoneCosts}}</div>
      </div>
    </div>
    <div class="military-costs-row military-costs-row-all">
      <div class="military-costs-half-row">
        <div class="resource_wood small"></div>
      </div>
      <div class="military-costs-half-row">
        <div class="cost-text-small">{{getTotalWoodCosts}}</div>
      </div>
    </div>
    <div class="military-costs-row military-costs-row-all">
      <div class="military-costs-half-row">
        <div class="resource_fur small"></div>
      </div>
      <div class="military-costs-half-row">
        <div class="cost-text-small">{{getTotalFurCosts}}</div>
      </div>
    </div>
    <div class="military-costs-row military-costs-row-all">
      <div class="military-costs-half-row">
        <div class="cost-item-small-uhr"></div>
      </div>
      <div class="military-costs-half-row">
        <div class="cost-text-small">{{formattedTotalProductioTime}}</div>
      </div>
    </div>
  </div>

  {{view AWE.UI.Ember.JobsRangeView valueBinding="number" maxBinding="maxUnitRecruitment"}}
</script>
<!--Job Statusbar-->
<script type="text/x-handlebars" data-template-name="army-job-cell">   
      <div class="army-type-cell army-type-cell-jobs">
        <div class=" cell-icon-unit-queue"><div {{bindAttr class="job.unitType.db_field :cell-icon"}}></div></div>
        <div class="queue-unit-count">{{job.remaining}}</div>
        {{#if active}}
            <div class="cell training-background-job" >
                <div class="training-bar-job" {{bindAttr style="totalBarWidth"}}>
                  <div class="training-unit-bar" {{bindAttr style="activeBarWidth"}}></div>
                  <div class="progress-value progress-value-unit-training">{{formatedRemainingTime}}</div>
                </div>
            </div>
        {{else}}
            {{#if first}}
                {{#if isArmySizeMax}}
                    <div class="queue-unit-info-text">{{t army.maximumArmySizeReached}}</div>
                {{else}}
                   <div class="queue-unit-info-text">{{t army.waitingForResources}}</div>
                {{/if}}
            {{else}}
               <div class="training-unit-bar-empty"></div>
            {{/if}}
        {{/if}}
        <div class="cancel-button-queue" {{action "cancelJobPressed"}}><div class="cancel-button-icon"></div></div>
        {{#if isTrainingSpeedupPossible}}
          <div class="gold-button-queue" {{action "speedupJobPressed"}}>
              <div class="icon-speed-up icon-speed-up-unit-queue"></div>
              <div class="name-change-button-gold-titel speed-up-button-titel">{{trainingSpeedupCost timeRemaining}}</div>
              <div class="icon-toad icon-toad-unit-queue"></div>
          </div>
        {{/if}}
      </div>
</script>
<!--Army info dialog-->

<script type="text/x-handlebars" data-template-name="army-new-info-dialog">
  <h1 class="modal-dialog-heading">{{army.name}}</h1>
   <div class="modal-dialog-body modal-dialog-body-info scrolling">
      {{view AWE.UI.Ember.ArmyInfoNewView armyBinding="army"}}
   </div>
</script>

<script type="text/x-handlebars" data-template-name="army-new-info-view">
  <div class="army-info-buttons-cell">
    <div class="button-blue-info-wide army-info-button" {{action "nameClicked"}}><div class="button-blue-info-wide-titel">{{owner.name}}</div></div>
    {{#if owner.alliance_tag}}
      <div class="button-blue-info-wide army-info-button" {{action "openAlliance"}}><div class="button-blue-info-wide-titel">{{owner.alliance_tag}}</div></div>
    {{/if}}
  </div>
  <div class="army-info-state-cell">
    <div class="text-cell-left">{{t army.details.homeSettlement}}:</div><div {{bindAttr class=":text-cell-right isClickable"}} {{action "homeSettlementClicked"}}>{{homeSettlement.name}}</div>
    <div class="text-cell-left">{{t army.details.experience}}:</div><div class="text-cell-right">{{army.exp}}</div>
    <div class="text-cell-left">{{t army.details.rank}}:</div><div class="text-cell-right">{{army.rankToDisplay}}</div>
    <div class="text-cell-left">{{t army.details.actionPoints}}:</div><div class="text-cell-right">
      {{army.ap_present}}/{{army.ap_max}}
      {{#if canRegenAp}}
        <span class="ap-regen-info"> ({{t dialogs.armyInfo.next}}: {{nextAPTimeString}})</span>
      {{/if}}
    </div>
  </div>
  <div class="army-info-attack-stats-cell">
    <div class="army-stats-info-cell">
       <div class="army-icon sword-icon army-info-sword-icon"></div>
       <div class="army-info-text-grey">{{formatNumber army.unitcategory_infantry_strength places="0"}}</div>
    </div>
    <div class="army-stats-info-cell">
      <div class="army-icon cavalry-icon army-info-cavalry-icon"></div>
      <div class="army-info-text-grey">{{formatNumber army.unitcategory_cavalry_strength places="0"}}</div>
    </div>
    <div class="army-stats-info-cell">
      <div class="army-icon archer-icon army-info-archer-icon"></div>
      <div class="army-info-text-grey">{{formatNumber army.unitcategory_artillery_strength places="0"}}</div>
    </div>
  </div>
    {{#if displayUnits}}
            {{#if haveDetails}}
              <div class="army-info-icons-cell">
                  {{#each unit in units}}
                     <div class="army-info-icon"> 
                            {{view AWE.UI.Ember.ArmyUnitInfoButtonView unitTypeBinding="unit"}}
                            <div class="army-info-count-text army-info-count-text-position">{{unit.number}}</div>
                      </div>
                  {{/each}}
              </div>
            {{else}}
            {{/if}}
    {{else}}
    {{/if}}
</script>