<script type="text/x-handlebars" data-template-name="army-info-dialog">
  {{view AWE.UI.Ember.ArmyInfoView armyBinding="parentView.army" isSavingBinding="arguments.isSaving"}}
</script>

<script type="text/x-handlebars" data-template-name="army-info-view">

    <div class="army-info-view clearfix">
      <div class="clearfix header">
        {{#if displayHeading}}
          {{#if army.npc}}
            <div class="advisor neanderthal"></div>
          {{else}}
            <div class="advisor {{unbound advisor}}"></div>
          {{/if}}
          <h2>{{ army.name }}</h2>
          {{#if isChangeNamePossible}}
            <span class="simple-button" {{action "changeNamePressed" target="parentView.parentView"}}>{{ t army.details.changeName }}</span>
          {{/if}}
          <p class="citation">{{message}}</p>
          {{#if army.npc}}
            <p>{{ army.details.npcMsg }}</p>
          {{else}}
            <p>{{t army.details.ownerLabel}}: {{view AWE.UI.Ember.LinkedCharacterWithRankView characterBinding="owner"}}</p>
          {{/if}}
        {{/if}}
        <div>
          <span title="{{t army.details.rankDescription}}">{{ t army.details.rank }}: {{army.rankToDisplay}}. </span>
          {{#if army.isOwnProp}}
            <span title="{{t army.details.experienceDescription}}">{{ t army.details.experience }}: {{army.exp}}. {{t army.details.rankUpAt}} {{army.expForNextRank}}.</span> 
          {{/if}}
        </div>
        {{#unless army.garrison}}
        <div>
          {{t army.details.actionPoints}}: {{army.ap_present}} {{t general.of}} {{army.ap_max}}.
          {{#if nextAPTimeString}} 
            {{t army.details.nextActionPointAt}} {{nextAPTimeString}} {{t general.oclock}}
          {{/if}}
        </div>
        <div>
          {{ t army.details.stance }}: {{ army.stanceString }}
          {{#if army.isOwnProp}}
            {{#unless isSaving }}
            <span class="simple-button" {{action "changeStancePressed" target="parentView.parentView"}}>{{ t army.form.change }}</span>
            {{else}}
              {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
            {{/unless}}
          {{/if}}
        </div> 
        {{/unless}}
      </div>
      
        <div class="army-view-unit-list">
          {{#if displayUnits}}
            {{#if haveDetails}}
              <table class="table-list">
                <tr>
                  {{#each units}}
                    <th><span class="unit-image uc-{{unbound unitType.category}} tiny {{unbound unitType.db_field}}" title="{{unbound name}}">&nbsp;</span></th>
                  {{/each}}
                </tr>
                <tr>
                  {{#each units}}
                    <td>{{number}}</td>
                  {{/each}}
                </tr>
              </table>
            {{else}}
              {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
            {{/if}}
          {{else}}
            {{t general.unknown}}.
          {{/if}}
        </div>
      
        <div class="army-view-property-list">   <!-- TODO: display categories dynamically! (wherever possible) -->
              <p><b>{{t army.details.strength.strengths}}</b>
                 {{formatNumber army.unitcategory_infantry_strength places="0"}} / 
                 {{formatNumber army.unitcategory_cavalry_strength places="0"}} /
                 {{formatNumber army.unitcategory_artillery_strength places="0"}} 
                 ({{t army.details.melee}}, {{t army.details.riders}}, {{t army.details.ranged}})</p>
        
          <table class="table-list">
            </tr>
              <th>{{ t army.details.strength.all }}:</th>
              <td>{{formatNumber army.strength places="0"}}</td>
            <tr>
            </tr>
              <th>{{t army.details.unitCount}}:</th>
              <td>{{ army.size_present }} / {{army.size_max}}</td>
            <tr>
            </tr>
              <th>{{ t army.details.velocity }}:</th>
              <td>{{ army.velocity }}</td>
            </tr>
          </table>
        </div>
    </div>  
</script>

<script type="text/x-handlebars" data-template-name="army-create-dialog">
      <div class="modal-dialog-background"></div>
      <div class="horizontal-center-helper">
        <div class="modal-dialog-pane" id="army-create-form">
          <div class="inner-border">
            <a class="close clickable" {{action "cancelPressed" target="parentView"}}></a>
            <div class="advisor warrior"></div>
          
            <h2>{{ t army.create.header }}</h2>
            <p class="citation">{{t army.form.advisorHint}}</p>
            
            <div class="clear"></div>
             
            {{view AWE.UI.Ember.ArmyForm unitTypesBinding="unitTypes" garrisonSumBinding="garrisonSum" otherSumBinding="otherSum" garrisonOverfullClassBinding="garrisonOverfullClass" otherOverfullClassBinding="otherOverfullClass" }}
            <p>{{ t army.form.name }}: {{view AWE.UI.Ember.ArmyNameTextfield valueBinding="armyName" placeholder="New Army" classNames="army-name-field" }}</p>
            {{#if loadingSettlement }}
              {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }}
            {{else}}
              {{#if settlement.garrison.isFighting}}
                {{t army.form.garrisonFighting}}
              {{else}}
                {{#if remainingArmies }}
                  <p>{{ t army.create.remainingArmies }}: {{ remainingArmies }}</p>
                  <div class="buttons">
                    <div class="clickable button" {{action "reset" target="parentView"}}>{{ t army.form.reset }}</div>&nbsp;&nbsp;&nbsp;
                    <div class="clickable button" {{action "createPressed" target="parentView"}}>{{ t army.form.create }}</div>
                  </div>
                {{else}}
                  {{ t army.create.error }}
                {{/if}}
              {{/if}}
            {{/if}}
            {{#if "loading" }}
              <p>{{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }} {{ t army.create.loadingMessage }}</p>
            {{/if}}
          </div>
        </div>
      </div>
</script>

<script type="text/x-handlebars" data-template-name="army-change-dialog">
      <div class="modal-dialog-background"></div>
      <div class="horizontal-center-helper">
        <div class="modal-dialog-pane" id="army-change-form">
          <a class="close clickable" {{action "cancelPressed" target="parentView"}}></a>
          <h2>{{ t army.change.header }}</h2>
          {{view AWE.UI.Ember.ArmyForm unitTypesBinding="unitTypes" garrisonSumBinding="garrisonSum" otherSumBinding="otherSum" armyNameBinding="otherArmy.name" garrisonOverfullClassBinding="garrisonOverfullClass" otherOverfullClassBinding="otherOverfullClass" }}
          <div class="right">
            {{#if "loading" }}
              <span>{{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }} {{ t army.change.loadingMessage }}</span>
            {{else}}
              <span class="clickable button" {{action "reset" target="parentView"}}>{{ t army.form.reset }}</span>&nbsp;&nbsp;&nbsp;
              <span class="clickable button" {{action "changePressed" target="parentView"}}>{{ t army.form.change }}</span>
            {{/if}}
          </div>
        </div>
      </div>
</script>

<script type="text/x-handlebars" data-template-name="army-form">
      <table>
        <tr>
          <th></th>
          <th colspan="3" class="garrison">{{ t army.form.available }}</th>
          <th colspan="3" class="other">{{#if armyName}}{{ armyName }}{{else}}{{ t army.form.new }}{{/if}}</th>
        </tr>
        {{#each unitTypes }}
          {{#view AWE.UI.Ember.UnitRowView unitTypeBinding="this" }}
        <tr>
          <td class="unit">{{ local unitType.name }}</td>
          <td>{{view AWE.UI.Ember.GarrisonArmyUnitTextfield allUnitsBinding="unitType.allUnits" garrisonUnitsBinding="unitType.garrisonUnits" otherUnitsBinding="unitType.otherUnits" classNames="units-field" }}</td>
          <td><a class="clickable" {{action "allToGarrison"}}><<</a></td>
          <td><a class="clickable" {{action "oneToGarrison"}}><</a></td>
          <td><a class="clickable" {{action "oneToOther"}}>></a></td>
          <td><a class="clickable" {{action "allToOther"}}>>></a></td>
          <td>{{view AWE.UI.Ember.OtherArmyUnitTextfield allUnitsBinding="unitType.allUnits" garrisonUnitsBinding="unitType.garrisonUnits" otherUnitsBinding="unitType.otherUnits" classNames="units-field"}}</td>
        </tr>
          {{/view }}
        {{/each}}
        <tr class="line">
          <td class="unit">{{ t army.details.size }} / {{ t army.details.sizeMax }}</td>
          <td><span {{bindAttr class="garrisonOverfullClass" }}>{{ garrisonSum }}</span> / {{ parentView.garrisonArmy.size_max }}</td>
          <td><a class="clickable" {{action "allToGarrison" target="parentView"}}><<</a></td>
          <td></td>
          <td></td>
          <td><a class="clickable" {{action "allToOther" target="parentView"}}>>></a></td>
          <td><span {{bindAttr class="otherOverfullClass" }}>{{ otherSum }}</span> / {{ parentView.otherArmySizeMax }}</td>
        </tr>
      </table>
</script>




