<script type="text/x-handlebars" data-template-name="artifact-info-view">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="horizontal-center-helper">
    <div class="modal-dialog-pane z-layer-4 artifact-info-view">
      <a {{action "closePressed"}} class="close clickable"></a>
      <div class="advisor girl"></div>
      {{#if artifact}}
        <h2>{{local artifact.artifactType.name}}</h2>
        <p class="citation">{{local artifact.artifactType.flavour}}</p>
        <p>{{{description}}}</p>
        <p><b>{{t settlement.artifact.owner}}:</b> {{view AWE.UI.Ember.LinkedCharacterView characterBinding="owner"}}</p>
        <p><b>{{t settlement.artifact.captured_at}}:</b> {{formatDatetime artifact.last_captured_at}}</p>
        {{#if settlement.artifact.initiated}}
          <p><b>{{t settlement.artifact.initiated_at}}:</b>
          {{formatDatetime artifact.last_initiated_at}}
          </p>
        {{/if}}
        {{view AWE.UI.Ember.ArtifactBonusView artifactBinding="artifact"}}
      {{else}}
        <p>{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}</p>
      {{/if}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="artifact-initiation-view">

  <h3>Artefakt einweihen</h3>

  {{#if artifact}}
    <p>Du bist im Besitzt des Artefakts <b>{{artifact.name}}</b></p>

    {{#if artifact.initiated}}
      <p>Das Artefakt ist eingeweiht.</p>
    {{else}}
      {{#if artifact.initiating}}
        <p>Das Artefakt wird eingeweiht.</p>
        <p><b>Einweihungsende:</b> {{formatTime artifact.initiation.finished_at}} (Restdauer: {{formatDuration timeRemaining}})&nbsp;&nbsp;&nbsp;&nbsp;
        {{#if timeRemaining}}
          {{#if artifact.initiation.hurried}}
            ({{t settlement.artifact.hurried}})
          {{else}}
            {{#if sending}}
              {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t settlement.artifact.hurrying}}...
            {{else}}
              <a class="artifact-speedup-button clickable" {{action "speedupInitiationPressed"}} title="{{t settlement.artifact.hurryTooltip}}">
                {{t settlement.artifact.hurry }} {{artifactInitiationSpeedupCost timeRemaining}}
                <span class="resource-icon {{artifactInitiationSpeedupResource timeRemaining}}">&nbsp;</span>
              </a>
            {{/if}}
          {{/if}}
        {{/if}}
        </p>
      {{else}}
        {{#if sending }}
          <div class="initiate">{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t settlement.artifact.start}}...</div>
        {{else}}
          <a {{action "startInitiationPressed"}} class="initiate" title="{{t settlement.artifact.initiate}}"><img src="{{ unbound AWE.Config.RAILS_ASSET_PATH }}icons/cross_green.png" alt="" /> {{t settlement.artifact.initiate}}</a>
        {{/if}}
        <p>Das Artefakt ist noch nicht eingeweiht.</p>
        <p>
        {{#if artifact.artifactType.initiation_costs}}
          <b>{{t settlement.artifact.costs }}:</b>
          {{#each artifact.initiationCosts}}
            <span class="resource-icon {{unbound resourceType.symbolic_id}}" title="{{unboundLocal resourceType.name}}">&nbsp;</span>{{amount}} &nbsp;
          {{/each}}<br/>
        {{/if}}
        <b>{{t settlement.artifact.duration}}:</b> {{formatDuration artifact.initiationDuration}}</p>

      {{/if}}
    {{/if}}
    {{view AWE.UI.Ember.ArtifactBonusView artifactBinding="artifact"}}
  {{else}}
    <p>Kein Artefakt vorhanden</p>
  {{/if}}

  {{#if errorMessage}}<p class="red-color"><b>{{errorMessage}}</b></p>{{/if}}

</script>


<script type="text/x-handlebars" data-template-name="artifact-bonus-view">

  <p>
    {{#if characterProductionBonuses}}
      {{t settlement.artifact.characterProductionBonus}}:
      {{#each characterProductionBonuses}}
        <span class="resource-icon {{unbound resourceType.symbolic_id}}" title="{{unboundLocal characterBoni.resourceType.name}}">&nbsp;</span>
        +{{formatAsPercent bonus}} &nbsp;
      {{/each}}<br/>
    {{/if}}

    {{#if allianceProductionBonuses}}
      {{t settlement.artifact.allianceProductionBonus}}:
      {{#each allianceProductionBonuses}}
        <span class="resource-icon {{unbound resourceType.symbolic_id}}" title="{{unboundLocal allianceBoni.resourceType.name}}">&nbsp;</span>
        +{{formatAsPercent bonus}} &nbsp;
      {{/each}}<br/>
    {{/if}}
  </p>

  <p>
    {{#if characterConstructionBonuses}}
      {{t settlement.artifact.characterConstructionBonus}}:
      {{#each characterConstructionBonuses}}
        +{{formatAsPercent bonus}} &nbsp;
      {{/each}}<br/>
    {{/if}}

    {{#if allianceConstructionBonuses}}
      {{t settlement.artifact.allianceConstructionBonus}}:
      {{#each allianceConstructionBonuses}}
        +{{formatAsPercent bonus}} &nbsp;
      {{/each}}<br/>
    {{/if}}
  </p>

  {{#if artifact.isOwnProp}}
    {{#if artifact.experienceProduction}}
      <p>{{t building.produces}} ({{t general.perHour}}):
        <span class="xp-icon" title="XP">&nbsp;</span>
        {{artifact.experienceProduction}}  &nbsp;
      </p>
    {{/if}}
  {{/if}}

</script>

<script type="text/x-handlebars" data-template-name="artifact-initiation-dialog">
  <h1>Artifact Initiation</h1>
  <div class="modal-dialog-body artifact-initiation-dialog-pane scrolling">
    {{view AWE.UI.Ember.ArtifactInitiationNewView controllerBinding="controller" settlementBinding="settlement" artifactBinding="artifact"}}
   </div>
</script>

<script type="text/x-handlebars" data-template-name="artifact-initiation-new-view"> 
  {{#if artifact}}
    <div class="cell-icon">
      {{#if artifact.initiated}}
        <div {{bindAttr class=":item :item-padding artifact.artifactType.symbolic_id :is-active"}}></div>
      {{else}}
        <div {{bindAttr class=":item :item-padding artifact.artifactType.symbolic_id"}}></div>
      {{/if}}
    </div>
    <div class="cell-stats">
      {{view AWE.UI.Ember.ArtifactBonusNewView artifactBinding="artifact"}}
      {{#if artifact.initiated}}
      {{else}}
        {{#if artifact.initiating}}
          <div class="cell training-background-job artifact-progress" >
                <div class="training-bar-job" {{bindAttr style="progressBarWidth"}}>
                    <div class="progress-value progress-value-artifact-progress">{{formatDuration timeRemaining}}</div>
                </div>
            </div>
             {{#if artifact.initiation.hurried}}
              {{else}}
                <div class="gold-button-queue artefact-speedup-button" {{action "speedupInitiationPressed"}}>
                  <div class="icon-speed-up icon-speed-up-unit-queue"></div>
                  <div class="name-change-button-gold-titel speed-up-button-titel">{{artifactInitiationSpeedupCost timeRemaining}}</div>
                  <div class="icon-toad icon-toad-unit-queue"></div>
                </div>
              {{/if}}
        {{else}}
           <p>
             <div class="cost-cell">
               <div class="military-costs-green-background artifact-costs-green-background" style="display: inline-block;float: left;" {{action "startInitiationPressed"}}>
                  {{#each artifact.initiationCosts}}
                    <div class="cost-row">
                      <div class="cost-half-row">
                          <div {{bindAttr class="resourceType.symbolic_id :small"}}></div>
                      </div>
                      <div class="cost-half-row">
                        <div class="cost-text">{{amount}}</div>
                      </div>
                    </div>
                  {{/each}}
                  <div class="cost-row">
                    <div class="cost-half-row">
                          <div class="cost-item-small-uhr"></div>
                      </div>
                      <div class="cost-half-row">
                        <div class="cost-text">{{formatDuration artifact.initiationDuration}}</div>
                      </div>
                  </div>
                </div>
              </div>
            </p>
        {{/if}}
      {{/if}}
    </div>
    <div class="cell-info">
      {{{description}}}
    </div>

  {{else}}
    <p>{{t settlement.artifact.noArtifact}}</p>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="artifact-bonus-new-view"> 
<div  style="display: inline-block; float: left; width: 130px;">
    {{#if characterProductionBonuses}}
    <br/>
      {{t resource.productionInfo.characterEffects}}:
      {{#each characterProductionBonuses}}
        <div class="cost-row">
          <div class="cost-half-row">
            <div class="cost-text">+{{formatAsPercent bonus}}</div>
          </div>
          <div class="cost-half-row-effect">
            <div {{bindAttr class="resourceType.symbolic_id :small"}}></div>
          </div>
        </div>
      {{/each}}<br/>
    {{/if}}

    {{#if allianceProductionBonuses}}
      {{t resource.productionInfo.allianceEffects}}:
      {{#each allianceProductionBonuses}}
        <div class="cost-row">
          <div class="cost-half-row">
            <div class="cost-text">+{{formatAsPercent bonus}}</div>
          </div>
          <div class="cost-half-row-effect">
            <div {{bindAttr class="resourceType.symbolic_id :small"}}></div>
          </div>
        </div>
      {{/each}}<br/>
    {{/if}}

    {{#if characterConstructionBonuses}}
     <br/>
       {{t resource.productionInfo.characterEffects}}:
      {{#each characterConstructionBonuses}}
        <div class="cost-row">
          <div class="cost-half-row">
            <div class="cost-text">+{{formatAsPercent bonus}}</div>
          </div>
          <div class="cost-half-row-effect">
            <div class="construction-bonus"></div>
          </div>
        </div>
      {{/each}}<br/>
    {{/if}}

    {{#if allianceConstructionBonuses}}
      {{t resource.productionInfo.allianceEffects}}:
      {{#each allianceConstructionBonuses}}
        <div class="cost-row">
          <div class="cost-half-row">
            <div class="cost-text">+{{formatAsPercent bonus}}</div>
          </div>
          <div class="cost-half-row-effect">
            <div class="construction-bonus"></div>
          </div>
        </div>
      {{/each}}<br/>
    {{/if}}

  {{#if artifact.isOwnProp}}
  <br/>
    {{#if artifact.experienceProduction}}
      {{t building.produces}}<br/> ({{t general.perHour}}):
        <div class="cost-row" style="width: 100px;">
          <div class="cost-half-row">
            <div class="cost-text">{{artifact.experienceProduction}}</div>
          </div>
          <div class="cost-half-row-effect">
            <div class="xp-icon"></div>
          </div>
        </div>
    {{/if}}
  {{/if}}
</div>
</script>
