<script type="text/x-handlebars" data-template-name="assignments-dialog">
  <h1>{{t settlement.assignment.assignments}}</h1>
  {{view AWE.UI.Ember.AssignmentTabView characterBinding="character" allianceBinding="alliance" }}
</script>

<script type="text/x-handlebars" data-template-name="assignments-tab">
  <div class="row row2">
    <div class="cell-20">
      {{view AWE.UI.Ember.AssignmentItemView assignmentType="assignment_stone"}}
    </div>
    <div class="cell-20">
      {{view AWE.UI.Ember.AssignmentItemView assignmentType="assignment_wood"}}
    </div>
    <div class="cell-20">
      {{view AWE.UI.Ember.AssignmentItemView assignmentType="assignment_fur"}}
    </div>
    <div class="cell-20">
      {{view AWE.UI.Ember.AssignmentItemView assignmentType="assignment_barroombrawl"}}
    </div>
    <div class="cell-20">
      {{view AWE.UI.Ember.AssignmentItemView assignmentType="assignment_raid"}}
    </div>
  </div>
  <div class="row row3">
    <div class="cell-20">
      {{view AWE.UI.Ember.AssignmentItemView assignmentType="assignment_mushrooms"}}
    </div>
    <div class="cell-20">
      {{view AWE.UI.Ember.AssignmentItemView assignmentType="assignment_hunt"}}
    </div>
    <div class="cell-20">
      {{view AWE.UI.Ember.AssignmentItemView assignmentType="assignment_fishing"}}
    </div>
    <div class="cell-20">
      {{view AWE.UI.Ember.AssignmentItemView assignmentType="assignment_caravan"}}
    </div>
    <div class="cell-20">
      {{view AWE.UI.Ember.AssignmentItemView assignmentType="assignment_expedition"}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="assignment-item">

<div {{bindAttr class=":item isActive"}}>
  <div {{bindAttr class=":info isActive"}}>i</div>
  <div class="assigment-item-wrapper">
    <div {{bindAttr class="assignmentType :assignment_icon isActive"}}></div>
  </div>        
  {{#if isInProgress}}
    <div class="progress">
      <div class="progress-bar" {{bindAttr style="barWidth"}}></div>
      <div class="progress-text">{{percent}}%</div>
    </div>
  {{/if}}
</div>
</script>