<!-- base-specific templates -->

<script type="text/x-handlebars" data-template-name="base-screen">
<div class="base-screen settlement-screen">
  {{!-- <div class="base-picture-spacer"></div> --}}
  <div class="settlement-left">
    <div class="settlement-inner-left" {{action  unselectSlot}}>&nbsp;</div>
  </div>
  <div class="base-picture">
    <div class="base-background-picture" {{action  unselectSlot}}></div>
    {{#if "settlement"}}
      {{#if "haveSlots"}}
        {{view AWE.UI.Ember.BuildingView classNames="wallTop" levelBinding="wallSlot.building.level"}}
        {{view AWE.UI.Ember.BuildingView classNames="wallLeft" levelBinding="wallSlot.building.level"}}
        {{view AWE.UI.Ember.BuildingView classNames="wallRight" levelBinding="wallSlot.building.level"}}
        {{view AWE.UI.Ember.BuildingSlotView  classNames="wall" slotBinding="wallSlot" settlementBinding="settlement"}}

        <div id="retentionEgg"></div>
        
        {{#each smallSlots}}
          {{view AWE.UI.Ember.BuildingSlotView  classNames="small-building" slotBinding="this" settlementBinding="view.settlement"}}
        {{/each}}
      {{/if}}      
      
      {{#if selectedSlot}}        
        {{#if selectedSlot.building }}
          {{view AWE.UI.Ember.BuildingAnnotationView classNames="building-gui" controllerBinding="controller" slotBinding="selectedSlot" buildingBinding="selectedSlot.building"}}
        {{/if}}
      {{/if}}
    
      {{#if "hoveredBuildingSlotView" }}
        {{view AWE.UI.Ember.ToolTipView templateName="building-slot-tooltip" classNames="mouse-over" mouseXBinding="hoveredBuildingSlotView.mouseX" mouseYBinding="hoveredBuildingSlotView.mouseY" buildingBinding="hoveredBuildingSlotView.slot.building" buildingSlotViewBinding="hoveredBuildingSlotView" }}
      {{/if}}     
      
      <!--<div class="base-picture-right">-->
      <!--</div> -->
      
    {{/if}}  
  </div>
  
  <div class="settlement-right">
    <div class="settlement-inner-right" {{action  unselectSlot}}>&nbsp;</div>
  </div>
  
  <div class="settlement-footer">
    <div class="settlement-left-footer">
      <div class="settlement-inner-left-footer" {{action  unselectSlot}}>&nbsp;</div>      
    </div>
    <div class="settlement-center-footer" {{action  unselectSlot}}>&nbsp;</div>
    <div class="settlement-right-footer">
      <div class="settlement-inner-right-footer" {{action  unselectSlot}}>&nbsp;</div>      
    </div>
  </div>
    
  {{#if "settlement"}}
    <div class="topbar-info-box settlement">
      {{#if shouldDisplaySettlementSwitch}} 
        <div class="settlement-switch previous"  {{action  nextSettlementPressed target="controller"}}>&nbsp;</div>
        <div class="settlement-switch next"      {{action  previousSettlementPressed target="controller"}}>&nbsp;</div>  
      {{/if}}
      <div class="topbar-info-text" {{action  infoClicked}}>{{settlement.name}}</div>
      <div class="topbar-info-button" {{action  infoClicked}}>&nbsp;</div>
    </div>    
  {{/if}}    
  
</div>
</script>