<script type="text/x-handlebars" data-template-name="battle-dialog">
    <div class="modal-dialog-background"></div>
    <div class="center-helper">
      <div class="battle-dialog-pane">
        
        <div class="advisor chef"></div>
        
        <h2>{{t battle.details.heading}}</h2>

        {{#if battle.lastRound}}
        <div>{{t battle.details.afterRound}} {{battle.lastRound.number}}</div>
        {{else}}
        <div>{{t battle.details.preparingRound}} {{ battle.nextRoundNumber }}</div>
        {{/if}}
        <p class="citation">{{message}}</p>
        
        <div class="clearfix"></div>
        
        <div class="battle-ratio">
          <div {{bindAttr style="ratioLengthOwn"}} class="battle-ratio-left"></div><div {{bindAttr style="ratioLengthOther"}} class="battle-ratio-right"></div>
          <div class="battle-ratio-left-text">{{#if battle.ownBattle}}{{t battle.details.myFaction}}{{else}}{{t battle.details.oneFaction}}{{/if}}</div>
          <div class="battle-ratio-right-text">{{t battle.details.otherFaction}}</div>
        </div>

        <div class="participants-left">
          <div class="participant header">
            <div class="participant-name">{{t battle.details.participants.name}}</div>
            <div class="participant-owner">{{t battle.details.participants.owner}}</div>
            <div class="participant-size">{{t army.details.size}}</div>
            <div class="participant-strength">{{t battle.details.participants.strength}}</div>
            <div class="participant-exp">{{t army.details.rank}}</div>
{{#if retreat_ausblenden_hotfix }}  
            <div class="participant-retreat">{{t battle.details.participants.retreat}}</div>
{{/if}}
          </div>
          {{#each battle.participantsOwnFaction}}
            {{#if disbanded}}
              <div><span title="{{t battle.details.participants.armyDisbandedDescription}}">{{t battle.details.participants.armyDisbanded}}</span></div>
            {{else}}
              {{view AWE.UI.Ember.BattleParticipantView participantBinding="this" armyBinding="army" classNames="participant"}}
            {{/if}}
          {{/each}}
          
          <p>Verlorene Einheiten: {{#if ownFaction.total_casualties}}{{ownFaction.total_casualties}}{{else}}-{{/if}}</p>
        </div>
      
        <div class="participants-right">
          <div class="participant header">
            <div class="participant-name">{{t battle.details.participants.name}}</div>
            <div class="participant-owner">{{t battle.details.participants.owner}}</div>
            <div class="participant-size">{{t army.details.size}}</div>
            <div class="participant-strength">{{t battle.details.participants.strength}}</div>
            <div class="participant-exp">{{t army.details.rank}}</div>
{{#if retreat_ausblenden_hotfix }}  
            <div class="participant-retreat">{{t battle.details.participants.retreat}}</div>
{{/if}}
          </div>
          {{#each battle.participantsOtherFaction}}
            {{#if disbanded}}
              <div><span title="{{t battle.details.participants.armyDisbandedDescription}}">{{t battle.details.participants.armyDisbanded}}</span></div>
            {{else}}
              {{view AWE.UI.Ember.BattleParticipantView participantBinding="this" armyBinding="army" classNames="participant"}}
            {{/if}}
          {{/each}}

          <p>Verlorene Einheiten: {{#if otherFaction.total_casualties}}{{otherFaction.total_casualties}}{{else}}-{{/if}}</p>
        </div>
        
        {{#if battle.lastRound}}
        <div class="battle-time">{{t battle.details.lastRound}}: {{formatTime battle.lastRound.executed_at}} | {{t battle.details.nextRound}}: {{formatTime battle.next_round_at}}</div>
        {{else}}
        <div class="battle-time">{{t battle.details.firstRound}}: {{formatTime battle.next_round_at}}</div>
        {{/if}}
      
        <a class="close" href="#" {{action "closePressed" target="parentView"}}></a>  
      </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="battle-participant-view">
      <div class="participant-name"><a href="#" {{action "armyLinkPressed"}}>{{army.name}}</a></div>
      {{#if army.npc}}
        <div class="participant-owner">{{army.owner_name}}{{#if army.alliance_tag}} | {{army.alliance_tag}}{{/if}}</div> 
      {{else}}
        <div class="participant-owner">{{view AWE.UI.Ember.LinkedCharacterView armyBinding="army"}}</div>
      {{/if}}
      <div class="participant-size">{{army.size_present}}</div>
      <div class="participant-strength">{{army.strength}}</div>
      <div class="participant-exp">{{army.rankToDisplay}}</div>
      <div class="participant-retreat">
{{#if retreat_ausblenden_hotfix }}  
        {{#if participant.isOwn }}
          {{#if army.battle_retreat }}
            <a href="#" {{action "cancelRetreatPressed" target="parentView"}}>cancel</a>  
          {{else}}
            <a href="#" {{action "retreatPressed" target="parentView"}}>retreat</a>  
          {{/if}}
        {{else}}
          {{#if army.battle_retreat}}
            {{t general.yes}}
          {{else}}
            {{t general.no}}
          {{/if}}
        {{/if}}
{{/if}}
      </div>
</script>

<script type="text/x-handlebars" data-template-name="attack-dialog">
    <div class="modal-dialog-background"></div>
    <div class="center-helper">
      <div class="attack-dialog-pane">
        
        <div class="advisor chef"></div>
        
        <h2>{{t battle.attack.heading}}</h2>

        <p class="citation">{{t battle.attack.citation}}</p>
        
        <p>{{t battle.attack.description}}</p>
          
        <table class="attack-participant-table">
          <tbody>
            <tr>
              <th class="left">{{t battle.attack.faction1}}</th>
              <th class="right">{{t battle.attack.faction2}}</th>
            </tr>
            <tr>
              {{#if loading}}
              <td colspan="2" class="attack-participant-spinwheel">
                {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }}
              </td>
              {{else}}
              <td class="attack-participant-faction">
                {{#each friendlyPlayerNames}}
                  {{view AWE.UI.Ember.AttackParticipantView nameBinding="this"}}
                {{/each}}
              </td>
              <td class="attack-participant-faction">
                {{#each enemyPlayerNames}}
                  {{view AWE.UI.Ember.AttackParticipantView nameBinding="this"}}
                {{/each}}
              </td>
              {{/if}}
            </tr>
          </tbody>
        </table>
        
        <div class="icon-button cancel-button float-right" {{action "cancelPressed" target="parentView"}}>{{t battle.attack.cancel}}</div>
        <div class="icon-button ok-button float-right" {{action "attackPressed" target="parentView"}}>{{t battle.attack.attack}}</div>
      </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="attack-participant-view">
  {{name}}
</script>

