<script type="text/x-handlebars" data-template-name="requirement-groups-view">
  {{#each unmetRequirementGroups}}
    {{#view AWE.UI.Ember.ArrayItemView arrayBinding="view.unmetRequirementGroups" itemBinding="this" classNames="inline requirement-group"}}
      <ul>
        {{#each item}}
          {{view AWE.UI.Ember.RequirementView requirementBinding="this" tagName="li"}}
        {{/each}}
      </ul>
      {{#unless view.isLastItem}} {{t general.or}} {{/unless}}
    {{/view}}
  {{/each}}
</script>


<script type="text/x-handlebars" data-template-name="requirement-view">
  {{#if haveMaxLevel }}
    {{#if maxLevelZero }}
      {{t building.requirement.none}} {{t building.requirement.single}} {{local type.name}}
    {{else }}
      {{t building.requirement.none}} {{local type.name}} {{t building.requirement.greaterThan}} {{t building.level}} {{ requirement.max_level }}
    {{/if}}
    {{#if haveMinLevel}}
    {{/if}}
  {{/if}}
  {{#if haveMinLevel }}
    {{local type.name}} {{t general.with}} {{t building.level}} {{requirement.min_level}} {{t building.requirement.orGreater}} 
  {{/if}}
</script>


<script type="text/x-handlebars" data-template-name="building-option-details">
  {{#if same}}
    <h1>{{local building.name}} {{t building.level }} {{building.nextLevel}}</h1>
    {{#if building.buildingCategory}}<div class="building-category">{{t settlement.buildings.category}}: {{local building.buildingCategory.name}}</div>{{/if}}
    
    {{#unless building.buildingType.demolishable}}
      <div>{{t general.warning}}: {{t building.info.notDemolishable}}</div>
    {{/unless}}    
    
    {{local building.flavour}}
    {{#if building.costsOfNextLevel}}
      {{t building.cost }}:
      {{#each building.costsOfNextLevel}}
        <span class="resource-icon {{unbound resourceType.symbolic_id}}" title="{{unboundLocal resourceType.name}}">&nbsp;</span>{{amount}} &nbsp;  
      {{/each}}<br/>
    {{/if}}
    {{t building.duration}}: {{formatDuration building.productionTimeOfNextLevel}}<br />     
    {{#unless requirementsMet}}
      <p>
        {{{t settlement.buildings.select.missingRequirements}}}:</p>
        {{view Ember.View templateName="requirement-groups-view" unmetRequirementGroupsBinding="unmetRequirementGroups"}}
      <br/>
    {{/unless}} 
    {{#if building.productionsNextLevel}}
      {{t building.produces}}:<br/>
      {{#each building.productionsNextLevel}}
        <span class="resource-icon {{unbound resourceType.symbolic_id}}" title="{{unboundLocal resourceType.name}}">&nbsp;</span>   
        {{baseProduction}}<span class="bonus" {{bindAttr title="localizedDesc"}}>+{{bonusAbsolute}}</span> {{t general.perHour}} <br/>  
      {{/each}}
    {{/if}}

    {{#unless building.buildingType.buyable}}
      <p>{{t building.info.notBuyable}}</p>
    {{/unless}}

    {{#if building.unlockDiplomacyNextLevel}}
      <p>{{t building.info.unlockJoinAlliance}}</p>
    {{/if}}
    {{#if building.unlockedAllianceCreationNextLevel}}
      <p>{{t building.info.unlockCreateAlliance}}</p>
    {{/if}}
  {{/if}}
</script>


<script type="text/x-handlebars" data-template-name="building-option-details-new-view">
   <div class="building-selection-cell">
      <div class="info-big-background building-info-button" {{action "onInfoClicked"}}>i</div>
      <div {{action "optionClicked" target="parentView"}} {{bindAttr class="isConstructionPossible :building-background"}}>
        <div {{bindAttr class="building.buildingType.symbolic_id :building-image :building-position :building-selection-image"}}>  
        </div>
        {{#each building.costsOfNextLevel}}
          <div class="building-selection-resource-cell">
            <div {{bindAttr class="resourceType.symbolic_id :item :xs"}}>
              <div class="count-text">
                  {{amount}}
              </div>
            </div>
          </div>     
        {{/each}}
        <div class="building-selection-resource-cell">
          <div class="cost-item-xs-uhr">
            <div class="count-text">
                {{formatDuration building.productionTimeOfNextLevel}}
            </div>
          </div>
        </div>
      </div>
   </div>
</script>

<script type="text/x-handlebars" data-template-name="building-option-details-new-dialog">
  <div class="popup-dialog-header">
        <a href="#" {{action "closeDialog"}}>
          <div class="modal-dialog-back"></div>
        </a>
        <h1 class="popup-header-center" >{{local building.name}}</h1>
  </div>
  <div class="modal-dialog-body building-information-dialog-pane scrolling">
    {{view AWE.UI.Ember.BuildingOptionDetailNewDialogView buildingBinding="building" levelBinding="level"}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="building-option-details-new-dialog-view">
  <div class="row row1">
    <div class="row row1">
      <div class="cell cell-50 building-info-image">
        <div {{bindAttr class="building.buildingType.symbolic_id buildingImageLevel :big-building"}}>
        </div>
      </div>
      <div class="cell cell-50 info-box">
        {{view AWE.UI.Ember.BuildingDetailsView buildingBinding="building" levelBinding="level"}}
      </div>
    </div> <!-- closes row 1 2-->
    <div class="row row2">
      {{view AWE.UI.Ember.BuildingUnlocksView buildingBinding="building" levelBinding="level"}}
      {{view AWE.UI.Ember.BuildingRequirementsView buildingBinding="building"}}
    </div>
  </div> <!-- closes row 1 1-->

  <div class="row row2">
    <div class="cell">
      <div class="description">{{local building.description}}</div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="settlement-dialog-select-building">
  <div class="settlement-dialog-background"></div>
  <div class="settlement-dialog-window">
    <div class="settlement-dialog-header settlement-dialog-select-building"></div>
    <div class="settlement-dialog-pane settlement-dialog-select-building">
      <a {{action "cancelPressed"}} class="close"></a>
      <h1>{{t settlement.buildings.select.heading }}</h1>
      <div class="clear"></div>
      {{#if constructionOptions }}
      <div class="clearfix">
          {{#each constructionOptions}}
            {{#view AWE.UI.Ember.BuildingOptionView buildingBinding="this" classNames="building-option" }}
              <div {{action "optionClicked" target="parentView"}} class="building-option-action">
                {{view AWE.UI.Ember.BuildingView buildingBinding="building" classNames="building-option-image"}}
                <p>{{local building.name}}</p>
                {{#if uiMarker}}
                  {{view AWE.UI.Ember.UIMarker direction=2 top="-80" left=10}}
                {{/if}}
              </div>
            {{/view}}
            {{view AWE.UI.Ember.BuildingOptionDetailView buildingBinding="this" hoveredBinding="view.hoveredView.building"}}
          {{/each}}
        </div>
      {{/if}}
    </div>
    <div class="settlement-dialog-footer settlement-dialog-select-building"></div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="settlement-new-dialog-select-building">
  <div class="popup-dialog-header">
    <h1 class="popup-header-center" >{{t settlement.buildings.select.heading }}</h1>
  </div>
  <div class="modal-dialog-body modal-dialog-building-selection scrolling">
    {{view AWE.UI.Ember.SelectBuildingNewView controllerBinding="controller" slotBinding="slot"}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="settlement-new-view-select-building">
  {{#each constructionOptions}}
      {{view AWE.UI.Ember.BuildingOptionDetailNewView buildingBinding="this"}}
  {{/each}}
</script>


<script type="text/x-handlebars" data-template-name="building-cost-view">
  {{t building.cost}}:
  {{#each resources}}
    <span class="resource-icon {{unbound resourceType.symbolic_id}}" title="{{unboundLocal resourceType.name}}">&nbsp;</span>{{formatNumber amount maxPlaces="0"}} &nbsp;
  {{/each}}
</script>


<script type="text/x-handlebars" data-template-name="building-production-view">
  {{t building.produces}} ({{t general.perHour}}):
  {{#if resources}}
    {{#each resources}}
      <span class="resource-icon {{unbound resourceType.symbolic_id}}" title="{{unboundLocal resourceType.name}}">&nbsp;</span>
      {{baseProduction}}<span class="bonus" {{bindAttr title="localizedDesc"}}>+{{bonusAbsolute}}</span>  &nbsp; 
    {{/each}}
  {{/if}}
  {{#if experience}}
    <span class="xp-icon" title="XP">&nbsp;</span>
    {{experience}}  &nbsp;
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="settlement-building-annotation">  
    <div class="building-annotation-background building-info-button-background" {{action "infoClicked"}}>&nbsp;</div>
    <div class="building-annotation-icon building-info-button-icon" {{action "infoClicked"}}>&nbsp;</div>

    {{#if building.upgradable}}          
      {{#unless sendingUpgrade}}
        <div class="building-annotation-background building-upgrade-button-background" {{action "upgradeClicked"}}>&nbsp;</div>
        <div class="building-annotation-icon building-upgrade-button-icon" {{action "upgradeClicked"}}>&nbsp;</div>
        {{#if upgradeUIMarker}}
          {{view AWE.UI.Ember.UIMarker direction=2 top="-100" left=10}}
        {{/if}}      
      {{/unless}}
    {{/if}}

  {{#unless building.underConversion}}
    {{#if building.convertable }}
      {{#unless sendingConvert }}
        <div class="building-annotation-background building-convert-button-background" {{action "conversionClicked"}}>&nbsp;</div>
        <div class="building-annotation-icon building-convert-button-icon" {{action "conversionClicked"}}>&nbsp;</div>
      {{/unless}}
    {{/if}}
  {{/unless}}
  {{#unless building.underDestruction}}
    {{#if building.destroyable}}
      {{#unless sendingDestroy}}
        <div class="building-annotation-background building-destroy-button-background" {{action "destroyClicked"}}>&nbsp;</div>
        <div class="building-annotation-icon building-destroy-button-icon" {{action "destroyClicked"}}>&nbsp;</div>
      {{/unless}}
    {{/if}}
  {{/unless}}
  {{#if building.unlockedAssignments}} <!-- CORRECT ??? -->
    <div class="building-annotation-background building-assignment-button-background" {{action "assignmentClicked"}}>&nbsp;</div>
    <div class="building-annotation-icon building-assignment-button-icon" {{action "assignmentClicked"}}>&nbsp;</div>
  {{/if}}
  {{#if building.unlockedDiplomacy}} <!-- CORRECT ??? -->
    <div class="building-annotation-background building-diplomacy-button-background" {{action "diplomacyClicked"}}>&nbsp;</div>
    <div class="building-annotation-icon building-diplomacy-button-icon" {{action "diplomacyClicked"}}>&nbsp;</div>
  {{/if}}
  {{#if building.unlockedPlayerToPlayerTrade}} <!-- CORRECT ??? -->
    <div class="building-annotation-background building-trade-button-background" {{action "tradeClicked"}}>&nbsp;</div>
    <div class="building-annotation-icon building-trade-button-icon" {{action "tradeClicked"}}>&nbsp;</div>
  {{/if}}
  {{#if building.unlockedArtifactInitiation}} <!-- CORRECT ??? -->
    <div class="building-annotation-background building-artifact-button-background" {{action "artifactClicked"}}>&nbsp;</div>
    <div class="building-annotation-icon building-artifact-button-icon" {{action "artifactClicked"}}>&nbsp;</div>
  {{/if}}
  {{#if isMilitary}} <!-- CORRECT ??? -->
    <div class="building-annotation-background building-army-button-background" {{action "militaryClicked"}}>&nbsp;</div>
    <div class="building-annotation-icon building-army-button-icon" {{action "militaryClicked"}}>&nbsp;</div>
  {{/if}}
</script>


<script type="text/x-handlebars" data-template-name="settlement-dialog-building-details">
{{#if building.garrisonArmy }}
        {{view AWE.UI.Ember.MilitaryInfoDialogNew garrisonArmyBinding="building.garrisonArmy" controllerBinding="controller" displayHeading=false}}
{{/if}}
      
{{#if building.unlockedPlayerToPlayerTrade}}
        {{view AWE.UI.Ember.TradeNewView settlementBinding="building.slot.settlement" controllerBinding="controller" displayHeading=false}}
{{/if}}
  <div class="settlement-dialog-background"></div>
  <div class="settlement-dialog-window2 helvetica-light">
    <div class="settlement-dialog-header settlement-dialog-building-details"></div>
    <div class="settlement-dialog-pane settlement-dialog-building-details">
      <a {{action "cancelPressed" }} class="close" title="{{t general.close}}"></a>
      <div class="wrapper">
      {{view AWE.UI.Ember.BuildingView classNames="building-option-image" buildingBinding="building"}}
      <div class="building-description-box">
        {{#if building.level }}
          <h1>{{local building.name }} <span title="{{t building.tooltip.currentLevel}}">{{t building.level}} {{ building.level }}</span>
              {{#if building.underConstruction }}(<span class="constructing" title="{{t building.tooltip.levelAfterUpgrade}}">{{building.levelAfterJobs}}</span>){{/if}}
              {{#if building.underDestruction }}(<span class="destructing" title="{{t building.tooltip.levelAfterDowngrade}}">{{building.levelAfterJobs}}</span>){{/if}}  
              {{#if building.underConversion }}(<span class="constructing" title="{{t building.tooltip.levelAfterConversion}}">{{building.levelAfterJobs}}</span>){{/if}}</h1>   
        {{else}}
          <h1>Im Bau: {{local building.name }}</h1>        
        {{/if}}
        {{#if building.buildingCategory}}<div class="building-category">{{t settlement.buildings.category}}: {{local building.buildingCategory.name}}</div>{{/if}}
        {{t settlement.population}}: {{building.population}}<br/>
        {{#if building.experienceOrResourceProduction}}
          {{view AWE.UI.Ember.ResourceProductionView resourcesBinding="building.productions" experienceBinding="building.experienceProduction"}}
          <br/>
        {{/if}}
      
        {{#if building.capacity}}
          {{t building.capacity}}:
          {{#each building.capacity}}
            <span class="resource-icon {{unbound resourceType.symbolic_id}}" title="{{unboundLocal resourceType.name}}">&nbsp;</span>
            {{capacity}} &nbsp;  
          {{/each}}<br/>
        {{/if}}

        {{#if building.productionBoni}}
          {{t building.productionBoni}}:
          {{#each building.productionBoni}}
          <span class="resource-icon {{unbound resourceType.symbolic_id}}" title="{{unboundLocal resourceType.name}}">&nbsp;</span>
            +{{bonus}}% &nbsp;  
          {{/each}}<br/>
        {{/if}}

      </div>
    

    
      {{#if building.unlockedDiplomacy}}
        <p>{{t building.info.unlockJoinAlliance}}</p>
      {{/if}}
      {{#if building.unlockedAllianceCreation}}
        <p>{{t building.info.unlockCreateAlliance}}</p>
      {{/if}}    
      {{#if building.unlockedPlayerToPlayerTrade}}
        <p>{{t building.info.unlockTrade}}</p>
      {{/if}}    
      {{#if building.tradingCarts}}
        <p>{{t building.tradingCarts}}: {{building.tradingCarts}}</p>
      {{/if}} 
      {{#if building.commandPoints}}
        <p>{{t building.commandPoints}}: {{building.commandPoints}}</p>
      {{/if}} 
    
      {{#if building.unlockedQueues}}
          <p>{{t settlement.buildings.details.enables}}: {{#each building.unlockedQueues}}{{local name}},    {{/each}}</p>
      {{/if}}
    
      {{#if building.speedupQueues}}
        {{#each building.speedupQueues}}
          <p>{{t settlement.buildings.details.speedup}} {{local queueType.name}}: {{formatNumber speedup maxPlaces=1}}%</p>
        {{/each}}
      {{/if}}

      {{#if building.unlockedArtifactInitiation}}
        <p>{{t building.info.unlockedArtifactInitiation}}</p>
      {{/if}}

      {{#if building.unlockedAssignments}}
        <p>{{t building.info.unlockedAssignments}}</p>
      {{/if}}

      <br />
    
      {{#unless building.underConversion}}

        {{#if building.convertable }}
          <hr class="clearfix" />
          {{#if sendingConvert }}
            <div class="upgrade">{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t building.upgrade.converting}}...</div>
          {{else}}
          <a {{action "conversionClicked"}} class="upgrade" title="{{t building.tooltip.clickToConvert}}"><img src="{{ unbound AWE.Config.RAILS_ASSET_PATH }}icons/cross_green.png" alt="" /> {{t building.upgrade.conversion}}</a>
          {{/if}}
          <h3>{{t building.upgrade.conversionStart}}{{local building.name }} {{t building.upgrade.toIn}} {{local building.converted.name }} {{t building.level}} {{ building.convertedLevel }} {{t building.upgrade.conversionEnd}}</h3>
      
          {{view AWE.UI.Ember.BuildingView classNames="building-option-image next-level" buildingBinding="building.converted" levelBinding="building.converted.level"}}
        
          {{#if building.conversionCosts}}
            {{view AWE.UI.Ember.ResourceCostView resourcesBinding="building.conversionCosts"}}
            <br/>
          {{/if}}
          {{t building.duration}}: {{formatDuration building.conversionTime}}<br />
          <br/>
        
          {{#if building.converted.productions}}
            {{view AWE.UI.Ember.ResourceProductionView resourcesBinding="building.converted.productions" experienceBinding="building.converted.experienceProduction"}}
            <br/>
          {{/if}}
        
          {{#if building.converted.capacity}}
            {{t building.capacity}}:
            {{#each building.converted.capacity}}
              <span class="resource-icon {{unbound resourceType.symbolic_id}}" title="{{unboundLocal resourceType.name}}">&nbsp;</span>
              {{capacity}} &nbsp;  
            {{/each}}<br/>
          {{/if}}
        
          {{#if building.converted.productionBoni}}
            {{t building.productionBoni}}:
            {{#each building.converted.productionBoni}}
              <span class="resource-icon {{unbound resourceType.symbolic_id}}" title="{{unboundLocal resourceType.name}}">&nbsp;</span>
              +{{bonus}}% &nbsp;  
            {{/each}}<br/>
          {{/if}}
  
        
          {{#if building.converted.unlockedDiplomacy}}
            <p>{{t building.info.unlockJoinAlliance}}</p>
          {{/if}}
          {{#if building.converted.unlockedAllianceCreation}}
            <p>{{t building.info.unlockCreateAlliance}}</p>
          {{/if}}   
          {{#if building.converted.unlockedPlayerToPlayerTrade}}
            <p>{{t building.info.unlockTrade}}</p>
          {{/if}}    
          {{#if building.converted.tradingCarts}}
            <p>{{t building.tradingCarts}}: {{building.converted.tradingCarts}}</p>
          {{/if}} 
          {{#if building.converted.commandPoints}}
            <p>{{t building.commandPoints}}: {{building.converted.commandPoints}}</p>
          {{/if}} 
      
          {{#if building.converted.unlockedQueues}}
            <p>{{t settlement.buildings.details.enables}}: {{#each building.converted.unlockedQueues}}{{local name}}, {{/each}}</p>
          {{/if}}
      
          {{#if building.converted.speedupQueues}}
            {{#each building.converted.speedupQueues}}
              <p>{{t settlement.buildings.details.speedup}} {{local queueType.name}}: {{formatNumber speedup maxPlaces=1}}%</p>
            {{/each}}
          {{/if}}

          {{#if building.converted.unlockedArtifactInitiation}}
            <p>{{t building.info.unlockedArtifactInitiation}}</p>
          {{/if}}

          {{#if building.converted.unlockedAssignments}}
            <p>{{t building.info.unlockedAssignments}}</p>
          {{/if}}

      {{/if}}

        {{#if building.upgradable}}
          <hr class="clear" />
          {{#if sendingUpgrade}}
            <div class="upgrade">{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t building.upgrade.updating}}...</div>
          {{else}}
            <a style="position:relative;" {{action "upgradeClicked"}} class="upgrade" title="{{t building.tooltip.clickToUpgrade}}"><img src="{{ unbound AWE.Config.RAILS_ASSET_PATH }}icons/cross_green.png" alt="" /> {{t building.upgrade.upgrade}}
              {{#if upgradeUIMarker}}
                {{view AWE.UI.Ember.UIMarker direction=2 top="-100" left=10}}
              {{/if}}
            </a>
          {{/if}}
          <h3>{{t building.upgrade.upgradeStart}} {{local building.name}} {{t building.upgrade.toAuf}} {{t building.level}} {{ building.nextLevel }} {{t building.upgrade.upgradeEnd}}</h3>

          {{view AWE.UI.Ember.BuildingView classNames="building-option-image next-level" buildingBinding="building" levelBinding="building.nextLevel"}}
  
          {{t settlement.population}}: {{building.populationNextLevel}}<br/>
  
          {{#if building.costsOfNextLevel}}
            {{view AWE.UI.Ember.ResourceCostView resourcesBinding="building.costsOfNextLevel"}}
            <br/>
          {{/if}}
          {{t building.duration}}: {{formatDuration building.productionTimeOfNextLevel}}<br />
          <br/>
        
          {{#if building.experienceOrResourceProductionNextLevel}}
            {{view AWE.UI.Ember.ResourceProductionView resourcesBinding="building.productionsNextLevel" experienceBinding="building.experienceProductionNextLevel"}}
            <br/>
          {{/if}}
        
        
          {{#if building.capacityNextLevel}}
            {{t building.capacity}}:
            {{#each building.capacityNextLevel}}
              <span class="resource-icon {{unbound resourceType.symbolic_id}}" title="{{unboundLocal resourceType.name}}">&nbsp;</span>
              {{capacity}} &nbsp;  
            {{/each}}<br/>
          {{/if}}
        
          {{#if building.productionBoniNextLevel}}
            {{t building.productionBoni}}:
            {{#each building.productionBoniNextLevel}}
              <span class="resource-icon {{unbound resourceType.symbolic_id}}" title="{{unboundLocal resourceType.name}}">&nbsp;</span>
              +{{bonus}}% &nbsp;  
            {{/each}}<br/>
          {{/if}}
  
          {{#unless building.buildingType.buyable}}
            <p>{{t building.info.notBuyable}}</p>
          {{/unless}}
        
          {{#if building.unlockedDiplomacyNextLevel}}
            <p>{{t building.info.unlockJoinAlliance}}</p>
          {{/if}}
          {{#if building.unlockedAllianceCreationNextLevel}}
            <p>{{t building.info.unlockCreateAlliance}}</p>
          {{/if}}   
          {{#if building.unlockedPlayerToPlayerTradeNextLevel}}
            <p>{{t building.info.unlockTrade}}</p>
          {{/if}}    
          {{#if building.tradingCartsNextLevel}}
            <p>{{t building.tradingCarts}}: {{building.tradingCartsNextLevel}}</p>
          {{/if}} 
          {{#if building.commandPointsNextLevel}}
            <p>{{t building.commandPoints}}: {{building.commandPointsNextLevel}}</p>
          {{/if}} 
      
          {{#if building.unlockedQueuesNextLevel}}
            <p>{{t settlement.buildings.details.enables}}: {{#each building.unlockedQueuesNextLevel}}{{local name}}, {{/each}}</p>
          {{/if}}
      
          {{#if building.speedupQueuesNextLevel}}
            {{#each building.speedupQueuesNextLevel}}
              <p>{{t settlement.buildings.details.speedup}} {{local queueType.name}}: {{formatNumber speedup maxPlaces=1}}%</p>
            {{/each}}
          {{/if}}

          {{#if building.unlockedArtifactInitiationNextLevel}}
            <p>{{t building.info.unlockedArtifactInitiation}}</p>
          {{/if}}

          {{#if building.unlockedAssignmentsNextLevel}}
            <p>{{t building.info.unlockedAssignments}}</p>
          {{/if}}

      {{else}}
          <hr class="clear" />
          <h3>{{t settlement.buildings.details.noUpgrade}}</h3>
        {{/if}}      
      
        {{#if building.destroyable}}
        <hr class="clear" />
          {{#if sendingDestroy}}
            <div class="destroy">{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t building.upgrade.demolishing}}...</div>
          {{else}}
            <a {{action "destroyClicked"}} {{bindAttr class="destroyClasses"}} title="{{t building.tooltip.clickToDemolish}}"><img src="{{ unbound AWE.Config.RAILS_ASSET_PATH  }}icons/cross_red.png" alt="" /> {{t building.upgrade.demolishBuilding}}</a>
          {{/if}}
          <h3>{{t building.upgrade.demolishStart}} {{local building.name }} {{t building.upgrade.demolishEnd}}</h3>
          <p>
            {{t building.duration}}: {{formatDuration building.destructionTime}}
          </p>
        {{/if}}
      {{else}}
        <hr class="clear" />
        <h3>{{local building.name }} {{t building.upgrade.convertingMid}} {{t building.upgrade.toIn}} {{local building.converted.name }} {{t building.level}} {{ building.levelAfterJobs }} {{t building.upgrade.convertingEnd}}</h3>
    
        {{view AWE.UI.Ember.BuildingView classNames="building-option-image next-level" buildingBinding="building.converted" levelBinding="building.converted.level"}}
      
        {{#if building.converted.unlockedDiplomacy}}
          <p>{{t building.info.unlockJoinAlliance}}</p>
        {{/if}}
        {{#if building.converted.unlockedAllianceCreation}}
          <p>{{t building.info.unlockCreateAlliance}}</p>
        {{/if}}   
        {{#if building.converted.unlockedPlayerToPlayerTrade}}
          <p>{{t building.info.unlockTrade}}</p>
        {{/if}}    
        {{#if building.converted.tradingCarts}}
          <p>{{t building.tradingCarts}}: {{building.converted.tradingCarts}}</p>
        {{/if}}
        {{#if building.converted.commandPoints}}
          <p>{{t building.commandPoints}}: {{building.converted.commandPoints}}</p>
        {{/if}}

        {{#if building.converted.unlockedQueues}}
          <p>{{t settlement.buildings.details.enables}}: {{#each building.converted.unlockedQueues}}{{local name}}, {{/each}}</p>
        {{/if}}

        {{#if building.speedupQueuesAfterConversion}}
          {{#each building.speedupQueuesAfterConversion}}
            <p>{{t settlement.buildings.details.speedup}} {{local queueType.name}}: {{formatNumber speedup maxPlaces=1}}%</p>
          {{/each}}
        {{/if}}

        {{#if building.converted.unlockedArtifactInitiation}}
          <p>{{t building.info.unlockedArtifactInitiation}}</p>
        {{/if}}

        {{#if building.converted.unlockedAssignments}}
          <p>{{t building.info.unlockedAssignments}}</p>
        {{/if}}

      {{/unless}}

      {{#if building.unlockedArtifactInitiation}}
      <hr class="clearfix" />
        {{view AWE.UI.Ember.ArtifactInitiationView settlementBinding="building.slot.settlement" controllerBinding="controller"}}
      {{/if}}

      {{#if building.unlockedAssignments}}

      <br/>
      <hr class="clearfix" />

      <div class="stone-panel">
        <h3>{{t building.gossip.heading }}</h3>
        <p>{{AWE.GS.game.gossip.localizedDescription}}</p>
      </div>  
      
        {{view AWE.UI.Ember.AssignmentListView buildingBinding="building" controllerBinding="controller"}}
      {{/if}}

      {{#if building.trainingQueues}}
      <hr class="clearfix" />
        {{#each building.trainingQueues }}
          {{view AWE.UI.Ember.TrainingQueueView controllerBinding="controller" classNames="training-queue-list" queueBinding="this"}}
        {{/each}}
      {{/if}}

      {{#if building.garrisonArmy }}
      <hr class="clearfix" />
        <h2>{{t building.garrison}}</h2>
        {{view AWE.UI.Ember.ArmyInfoView armyBinding="building.garrisonArmy" displayHeading=false}}
      {{/if}}

      {{#if building.unlockedDiplomacy}}
      <hr class="clearfix">
        {{view AWE.UI.Ember.AllianceDiplomacyDialog unlockedAllianceCreationBinding="building.unlockedAllianceCreation"}}
      {{/if}}

      {{#if building.unlockedPlayerToPlayerTrade}}
      <hr class="clearfix" />
        {{view AWE.UI.Ember.PlayerToPlayerTradeView settlementBinding="building.slot.settlement" controllerBinding="controller"}}
      <hr class="clearfix" />
        {{view AWE.UI.Ember.FrogTradeView controllerBinding="controller"}}
        {{/if}}

      </div>

    </div>
    <div class="settlement-dialog-footer settlement-dialog-building-details"></div>
  </div>
</script>


<script type="text/x-handlebars" data-template-name="requirements-missing-info">
{{#with arguments}}
  <div class="advisor girl"></div>
  <p>{{t settlement.buildings.missingReqWarning.start}} {{local building.name}} {{t settlement.buildings.missingReqWarning.end}}:</p>
  <p>
    {{view Ember.View templateName="requirement-groups-view" unmetRequirementGroupsBinding="unmetRequirementGroups" tagName="span"}} 
  </p>
{{/with}}
</script>


<script type="text/x-handlebars" data-template-name="no-building-slots-free-info">
  <div class="advisor girl"></div>
  <p>{{t building.error.notEnoughBuildingSlots}}</p>
</script>


<script type="text/x-handlebars" data-template-name="construction-queue-full-info">
{{#with arguments}}
  <div class="advisor girl"></div>
  <p>{{t settlement.buildings.constructionQueueFull.start}} {{max_length}} {{t settlement.buildings.constructionQueueFull.end}}</p>
{{/with}}
</script>


<script type="text/x-handlebars" data-template-name="not-enough-cash-info">
  <div class="advisor girl"></div>
  <p>{{t building.error.notEnoughCash}}</p>
</script>


<script type="text/x-handlebars" data-template-name="construction-queue-not-empty-info">
  <div class="advisor girl"></div>
  <p>{{t settlement.buildings.constructionQueueNotEmpty.msg}}</p>
</script>


<script type="text/x-handlebars" data-template-name="artifact-not-enough-resources">
  <div class="advisor chef"></div>
  <h1>{{t settlement.artifact.notEnoughResources.header }}</h1>
  <p>{{t settlement.artifact.notEnoughResources.content  }}</p>
</script>


<script type="text/x-handlebars" data-template-name="server-command-failed-info">
  <div class="advisor chef"></div>
  <h1>{{t server.error.failedAction.heading }}</h1>
  <p>{{t server.error.failedAction.unknown  }}</p>
</script>


<script type="text/x-handlebars" data-template-name="assignment-not-enough-prerequisites">
  <div class="advisor girl"></div>
  <h1>{{t settlement.assignment.error.prerequisites.header }}</h1>
  <p>{{t settlement.assignment.error.prerequisites.text  }}</p>
</script>


<script type="text/x-handlebars" data-template-name="assignment-conflict-info">
  <div class="advisor girl"></div>
  <h1>{{t settlement.assignment.error.conflict.header }}</h1>
  <p>{{t settlement.assignment.error.conflict.content  }}</p>
</script>


<script type="text/x-handlebars" data-template-name="diplomacy-view">
  {{#if errorMessage}}
    <div class="red-color">{{errorMessage}}</div>
  {{/if}}
  {{#if ongoingAction}}
    {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}
  {{else}}
    {{#if character.alliance_id}}
      <h4>{{t alliance.membershipHeader}}</h4>
      <p>{{t alliance.memberOf}} [{{character.alliance_tag}}].</p>
      <p><span class="simple-button clickable" {{action "leaveAlliance"}}>{{t alliance.leave}} {{character.alliance_tag}}</span></p>
    {{else}}
      {{#if character.canJoinAlliance}}
        <h4>{{formHeader}}</h4>
        <p>{{formDescription}}</p>
        <p>
          {{view Ember.TextField class="small-text-field" placeholder="alliance tag" type="text" valueBinding="allianceTag"}}
          {{view Ember.TextField class="small-text-field" placeholder="password" type="text" valueBinding="alliancePassword"}}
          <span class="simple-button" {{action "joinAlliance"}}>{{formButton}}</span>
        </p>

        <h4>{{formSwitchHeader}}</h4>
        <p>
          <span class="simple-button" {{action "switchForm"}}>{{formSwitchButton}}</span>
        </p>

        {{#if unlockedAllianceCreation}}
          <h4>{{t alliance.createAlliance}}</h4>
          <p>{{t alliance.createAllianceText}}</p>
          <p>
            {{view Ember.TextField class="small-text-field" placeholder="alliance tag" type="text" valueBinding="newAllianceTag"}}
            {{view Ember.TextField class="small-text-field" placeholder="alliance name" type="text" valueBinding="newAllianceName"}}
            <span class="simple-button" {{action "createAlliance"}}>{{t alliance.createAlliance}}</span>
          </p>
        {{/if}}

        <h4>{{t alliance.joinRandomAlliance}}</h4>
        <p>
          {{t alliance.joinRandomAllianceDescription}}
          <span class="simple-button" {{action "joinRandomAlliancePressed"}}>{{t alliance.joinRandomAllianceButtonLabel}}</span>
        </p>
      {{else}}
        {{joinAllianceNotAllowedText}}
      {{/if}}
    {{/if}}
  {{/if}}
  
</script>
