<script type="text/x-handlebars" data-template-name="interactive-building-slot">
{{#if "slot.building"}}
  {{#if slot.building.underConversion}}
    <div class="construction-area back"></div>
    <div class="level constructing">{{slot.building.level}}</div>
  {{/if}}
  {{#if slot.building.underConstruction}}
    <div class="construction-area back"></div>
    <div class="level constructing">{{slot.building.level}}</div>
  {{else}}
    {{#if slot.building.underDestruction}}
      <div class="construction-area back"></div>
      <div class="level destructing">{{slot.building.level}}</div>
    {{/if}}
  {{/if}}
  <div {{bindAttr class="size type :building-image"}}>
    {{#if hasFire}}
      <div class="small-fire"></div>
    {{/if}}
  </div>
  {{#if slot.building.underConversion}}
    <div class="construction-area front"></div>
    {{view AWE.UI.Ember.ConstructionProgressView slotBinding="slot" settlementBinding="settlement" controllerBinding="controller"}}
  {{/if}}
  {{#if slot.building.underConstruction}}
    <div class="construction-area front"></div>
    {{view AWE.UI.Ember.ConstructionProgressView slotBinding="slot" settlementBinding="settlement" controllerBinding="controller"}}
  {{else}}
    {{#if slot.building.underDestruction}}
        <div class="construction-area front"></div>
        {{view AWE.UI.Ember.ConstructionProgressView slotBinding="slot" settlementBinding="settlement" controllerBinding="controller"}}
    {{else}}
      <div class="level">{{slot.building.level}}</div>
    {{/if}}
  {{/if}}
{{/if}}
{{#if slot.uiMarker}}
  {{view AWE.UI.Ember.UIMarker direction=3 top=15 left=95}}
{{/if}}
  {{view AWE.UI.Ember.SlotClickArea slotBinding="slot"}}  
</script>

<script type="text/x-handlebars" data-template-name="click-area">  
</script>

<script type="text/x-handlebars" data-template-name="construction-progress">
  <div class="construction-progress-wrapper">
    {{#if isSlotSelected }}
      {{#if waitingForResources}}
        {{#if isFrogTradePossible}}
          {{#if first}}
            <div class="construction-progress-frogtrade background" {{action "resourceExchangePressed"}}>&nbsp;</div>
            <div class="construction-progress-frogtrade icon" {{action "resourceExchangePressed"}}>&nbsp;</div>  
          {{/if}}                
        {{/if}}
      {{else}}
        {{#if isConstructionSpeedupPossible }}
          {{#if first}}
            {{#if isUIMarker}}
              {{view AWE.UI.Ember.UIMarker direction=2 top="-90" left=43}}
            {{/if}}
            <div class="construction-progress-coins background" {{action "finishJobPressed"}}>&nbsp;</div>
            <div class="construction-progress-coins label" {{action "finishJobPressed"}}>{{constructionSpeedupCost timeRemaining}}</div>
          {{/if}}
        {{/if}}
      {{/if}}
      {{#if lastJob.cancelable }}
        <div class="construction-progress-cancel background" {{action "cancelJobPressed"}}>&nbsp;</div>
        <div class="construction-progress-cancel icon" {{action "cancelJobPressed"}}>&nbsp;</div>
      {{/if}}
    {{/if}}
        
    <div class="construction-progress-bar">      
      <span class="construction-progress-bar-level" {{bindAttr style="progressBarWidth"}}>&nbsp;</span>
      <span class="construction-progress-bar-label">        
          {{#if active}}
            {{#if finished}}
              {{t settlement.construction.finishing}}...
            {{else}}
              {{formatDuration timeRemaining}}
            {{/if}}
          {{else}}                    
            {{#if waitingForResources}}
              {{t settlement.construction.insufficentResources}}!
            {{else}}
              {{positionInQueueText}}
            {{/if}}            
          {{/if}}                        
      </span>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="building-slot-tooltip">
  <div class="building-slot-tooltip-wrapper"
  {{#if building}}
    <h1 class="slot-tooltip">{{local building.name}} L{{building.level}}</h1>
    <p>
      {{#if building.upgradable}}
        {{t settlement.buildings.tooltip.upgradePossible }}<br/>
        {{#if building.costsOfNextLevel}}
          <div class="building-costs">
          {{t settlement.buildings.tooltip.costOfNextLevel}} {{t settlement.buildings.level}} {{building.nextLevel}}:
          {{#each building.costsOfNextLevel}}
            <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>{{amount}} &nbsp;  
            {{/each}}
          </div>
        {{/if}}
        {{t building.duration}}:&nbsp;{{formatDuration building.productionTimeOfNextLevel}}    
      {{else}}
        {{t settlement.buildings.tooltip.noUpgrade}}
      {{/if}}
    </p>
  {{else}}
    <h1 class="slot-tooltip">{{buildingSlotView.slotTypeHeader}}</h1>
    {{#if buildingSlotView.buildingCategoryNames }}
      {{t settlement.buildings.tooltip.empty.categoriesStart }}{{localizedList buildingSlotView.buildingCategoryNames }}{{t settlement.buildings.tooltip.empty.categoriesEnd }}
      <br>{{t settlement.buildings.tooltip.empty.maxLevel }}: {{ buildingSlotView.maxLevel }}.
    {{/if}}
    {{/if}}
  </div>
</script>


<script type="text/x-handlebars" data-template-name="bubble">
    <div class="bubble-wrap">
      <div {{bindAttr class=":bubble :hidden bubbleClass"}}>
        <div class="bubble-resource">
          <span class="resource-icon" {{bindAttr title="Bubble"}}></span><span class="bubble-amount">{{bubbleAmount}}</span>
          {{#if xp}}
            <br /><span class="bubble-xp xp-icon"></span><span class="bubble-amount">{{bubbleXP}}</span>
          {{/if}}
        </div>
      </div>
    </div>
</script>
