<script type="text/x-handlebars" data-template-name="requirement-view">
  {{#if haveMinLevel }}{{requirement.min_level}} <={{/if}}
  {{local type.name}}
  {{#if haveMaxLevel }} <= {{requirement.max_level}}{{/if}}
</script>

<script type="text/x-handlebars" data-template-name="building-option-details">
{{#if same}}
    <h1>{{local building.name}} {{t building.level }} {{building.nextLevel}}</h1>
    {{#if building.buildingCategory}}<div class="building-category">{{t settlement.buildings.category}}: {{local building.buildingCategory.name}}</div>{{/if}}
    {{local building.flavour}}
    {{#if building.costsOfNextLevel}}
      {{t building.cost }}:
      {{#each building.costsOfNextLevel}}
        {{amount}} {{local resourceType.name}} &nbsp;  
      {{/each}}<br/>
    {{/if}}
    {{t building.duration}}: {{formatDuration building.productionTimeOfNextLevel}}<br />     
    {{#unless requirementsMet}}
      <p>
        {{{t settlement.buildings.select.missingRequirements}}}:<br/>
        {{#each unmetRequirements}}
          {{view AWE.UI.Ember.RequirementView requirementBinding="this"}}<br />
        {{/each}}
      </p>
    {{/unless}} 
    {{#if building.productionsNextLevel}}
      <b>{{t building.produces}}:</b><br/>
      {{#each building.productionsNextLevel}}
        {{baseProduction}}<span class="bonus" {{bindAttr title="localizedDesc"}}>+{{bonusAbsolute}}</span> {{local resourceType.name}} {{t general.perHour}} <br/>  
      {{/each}}
    {{/if}}
    {{#if building.unlockDiplomacyNextLevel}}
      <p><b>Ermöglicht Diplomatie und Allianzbeitritt.</b></p>
    {{/if}}
    {{#if building.unlockedAllianceCreationNextLevel}}
      <p><b>Ermöglicht die Gründung einer Allianz.</b></p>
    {{/if}}
{{/if}}
</script>


<script type="text/x-handlebars" data-template-name="settlement-dialog-select-building">
  <div class="settlement-dialog-background"></div>
  <div class="settlement-dialog-pane settlement-dialog-select-building">
    <a href="#" {{action "cancelPressed"}} class="close"></a>
    <h1>{{t settlement.buildings.select.heading }}</h1>    
    {{#if constructionOptions }}
      <div class="clearfix">
        {{#each constructionOptions}}
          {{#view AWE.UI.Ember.BuildingOptionView buildingBinding="this" classNames="building-option" }}
            <div {{action "optionClicked" target="parentView"}}>
              {{view AWE.UI.Ember.BuildingView buildingBinding="building" classNames="building-option-image"}}
              <p>{{local building.name}}</p>
            </div>
          {{/view}}
          {{view AWE.UI.Ember.BuildingOptionDetailView buildingBinding="this" hoveredBinding="view.hoveredView.building"}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</script>


<script type="text/x-handlebars" data-template-name="settlement-dialog-building-details">
  <div class="settlement-dialog-background"></div>
  <div class="settlement-dialog-pane settlement-dialog-building-details">
    <a href="#" {{action "cancelPressed" }} class="close" title="click to close"></a>
    {{view AWE.UI.Ember.BuildingView classNames="building-option-image" buildingBinding="building"}}
    <div class="building-description-box">
      {{#if building.level }}
        <h1>{{local building.name }} <span title="present level of building">Level {{ building.level }}</span>
            {{#if building.underConstruction }}(<span class="constructing" title="level after finishing all upgrades already in the queue">{{building.levelAfterJobs}}</span>){{/if}}
            {{#if building.underDestruction }}(<span class="destructing" title="level after finishing all downgrades already in the queue">{{building.levelAfterJobs}}</span>){{/if}}</h1>   
      {{else}}
        <h1>Under Construction: {{local building.name }}</h1>        
      {{/if}}
      {{#if building.buildingCategory}}<div class="building-category">{{t settlement.buildings.category}}: {{local building.buildingCategory.name}}</div>{{/if}}
      <b>{{t settlement.population}}:</b> {{building.population}}<br/>
      {{#if building.productions}}
        <b>{{t building.produces}}:</b><br/>
        {{#each building.productions}}
          {{baseProduction}}<span class="bonus" {{bindAttr title="localizedDesc"}}>+{{bonusAbsolute}}</span> {{local resourceType.name}} {{t general.perHour}} <br/>  
        {{/each}}
      {{/if}}
      
      {{#if building.capacity}}
        <b>{{t building.capacity}}:</b>
        {{#each building.capacity}}
          {{capacity}} {{local resourceType.name}} &nbsp;  
        {{/each}}<br/>
      {{/if}}

      {{#if building.productionBoni}}
        <b>{{t building.productionBoni}}:</b>
        {{#each building.productionBoni}}
          +{{bonus}}% {{local resourceType.name}} &nbsp;  
        {{/each}}<br/>
      {{/if}}

    </div>
    
    {{#if building.unlockedDiplomacy}}
      <p><b>Ermöglicht Diplomatie und Allianzbeitritt.</b></p>
    {{/if}}
    {{#if building.unlockedAllianceCreation}}
      <p><b>Ermöglicht die Gründung einer Allianz.</b></p>
    {{/if}}    
    {{#if building.unlockedPlayerToPlayerTrade}}
      <p><b>Ermöglicht den Handel mit anderen Spielern.</b></p>
    {{/if}}    
    {{#if building.tradingCarts}}
      <p><b>Handleskarren:</b> {{building.tradingCarts}}</p>
    {{/if}} 

    {{#if building.unlockedQueues}}
        <p><b>{{t settlement.buildings.details.enables}}:</b> {{#each building.unlockedQueues}}{{local name}},    {{/each}}</p>
    {{/if}}
    
    {{#if building.speedupQueues}}
      {{#each building.speedupQueues}}
        <p><b>{{t settlement.buildings.details.speedup}} {{local queueType.name}}:</b> {{formatNumber speedup maxPlaces=1}}%</p>
      {{/each}}
    {{/if}}
    
    &nbsp;
    <hr>
    
    {{#if building.upgradable}}
      {{#if sendingUpgrade}}
        <div class="upgrade">{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} Updating...</div>
      {{else}}
      <a href="#" {{action "upgradeClicked"}} class="upgrade" title="click to upgrade"><img src="<%= asset_path('icons/cross_green.png') %>"></img> Upgrade</a>
      {{/if}}
      <h2>Next Upgrade: Level {{ building.nextLevel }}</h2>
    
     {{view AWE.UI.Ember.BuildingView classNames="building-option-image next-level" buildingBinding="building" levelBinding="building.nextLevel"}}

      <b>{{t settlement.population}}:</b> {{building.populationNextLevel}}<br/>

      {{#if building.costsOfNextLevel}}
        <b>{{t building.cost}}:</b>
        {{#each building.costsOfNextLevel}}
          {{amount}} {{local resourceType.name}} &nbsp;  
        {{/each}}
        <br/>
      {{/if}}
      <b>{{t building.duration}}:</b> {{formatDuration building.productionTimeOfNextLevel}}<br />
      <br/>
      
      {{#if building.productionsNextLevel}}
        <b>{{t building.produces}}:</b><br/>
        {{#each building.productionsNextLevel}}
          {{baseProduction}}<span class="bonus" {{bindAttr title="localizedDesc"}}>+{{bonusAbsolute}}</span> {{local resourceType.name}} {{t general.perHour}} <br/>  
        {{/each}}
      {{/if}}
      
      {{#if building.capacityNextLevel}}
        <b>{{t building.capacity}}:</b>
        {{#each building.capacityNextLevel}}
          {{capacity}} {{local resourceType.name}} &nbsp;  
        {{/each}}<br/>
      {{/if}}
      
      {{#if building.productionBoniNextLevel}}
        <b>{{t building.productionBoni}}:</b>
        {{#each building.productionBoniNextLevel}}
          +{{bonus}}% {{local resourceType.name}} &nbsp;  
        {{/each}}<br/>
      {{/if}}

      
      {{#if building.unlockedDiplomacyNextLevel}}
        <p><b>Ermöglicht Diplomatie und Allianzbeitritt.</b></p>
      {{/if}}
      {{#if building.unlockedAllianceCreationNextLevel}}
        <p><b>Ermöglicht die Gründung einer Allianz.</b></p>
      {{/if}}   
      {{#if building.unlockedPlayerToPlayerTradeNextLevel}}
        <p><b>Ermöglicht den Handel mit anderen Spielern.</b></p>
      {{/if}}    
      {{#if building.tradingCartsNextLevel}}
        <p><b>Handleskarren:</b> {{building.tradingCartsNextLevel}}</p>
      {{/if}} 

    
      {{#if building.unlockedQueuesNextLevel}}
        <p><b>{{t settlement.buildings.details.enables}}:</b> {{#each building.unlockedQueuesNextLevel}}{{local name}}, {{/each}}</p>
      {{/if}}
    
      {{#if building.speedupQueuesNextLevel}}
        {{#each building.speedupQueuesNextLevel}}
          <p><b>{{t settlement.buildings.details.speedup}} {{local queueType.name}}:</b> {{formatNumber speedup maxPlaces=1}}%</p>
        {{/each}}
      {{/if}}
          
    {{else}}
      <p><b>Cannot be upgraded further.</b></p>
    {{/if}}
    

    {{#if building.destroyable}}
      <h3>Destroy Building</h3>
      {{#if sendingDestroy}}
        <div class="destroy">{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} Destroying...</div>
      {{else}}
      <a href="#" {{action "destroyClicked"}} {{bindAttr class="destroyClasses"}} title="click to destroy"><img src="<%= asset_path('icons/cross_red.png') %>"></img> Destroy Building</a>
      {{/if}}
      <b>{{t building.duration}}:</b> {{formatDuration building.destructionTime}}<br />
    {{/if}}

    {{#if building.trainingQueues}}
    <hr>
      {{#each building.trainingQueues }}
        {{view AWE.UI.Ember.TrainingQueueView controllerBinding="controller" classNames="training-queue-list" queueBinding="this"}}
      {{/each}}
    {{/if}}

    {{#if building.garrisonArmy }}
    <hr>
      {{view AWE.UI.Ember.ArmyInfoView armyBinding="building.garrisonArmy"}}
    {{/if}}
    
    {{#if building.unlockedDiplomacy}}
    <hr>
      {{view AWE.UI.Ember.DiplomacyView unlockedAllianceCreation="unlockedAllianceCreation"}}
    {{/if}}

    {{#if building.unlockedPlayerToPlayerTrade}}
    <hr>
      {{view AWE.UI.Ember.PlayerToPlayerTradeView settlementBinding="building.slot.settlement" controllerBinding="controller"}}
    {{/if}}

  </div>
</script>

<script type="text/x-handlebars" data-template-name="requirements-missing-info">
{{#with arguments}}
  <div class="advisor girl"></div>
  <p>{{t settlement.buildings.missingReqWarning.start}} {{local name}} {{t settlement.buildings.missingReqWarning.end}}:</p>
  <p>
    {{#each unmetRequirements}}
      {{view AWE.UI.Ember.RequirementView requirementBinding="this"}}<br />
    {{/each}}
  </p>
{{/with}}
</script>


<script type="text/x-handlebars" data-template-name="construction-queue-full-info">
{{#with arguments}}
  <div class="advisor girl"></div>
  <p>{{t settlement.buildings.constructionQueueFull.start}} {{max_length}} {{t settlement.buildings.constructionQueueFull.end}}</p>
{{/with}}
</script>


<script type="text/x-handlebars" data-template-name="not-enough-cash-info">
  <div class="advisor girl"></div>
  <p>You don't have enough toads to give in exchange for that action.</p>
</script>


<script type="text/x-handlebars" data-template-name="construction-queue-not-empty-info">
  <div class="advisor girl"></div>
  <p>{{t settlement.buildings.constructionQueueNotEmpty.msg}}</p>
</script>


<script type="text/x-handlebars" data-template-name="server-command-failed-info">
  <div class="advisor chef"></div>
  <h1>{{t server.error.failedAction.heading }}</h1>
  <p >{{t server.error.failedAction.unknown  }}</p>
</script>




<script type="text/x-handlebars" data-template-name="diplomacy-view">
  {{#if errorMessage}}
    <div class="red-color">{{errorMessage}}</div>
  {{/if}}
  {{#if ongoingAction}}
    {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} processing...
  {{else}}
    {{#if character.alliance_id}}
      <p>
        Presently, you are member of the alliance [{{character.alliance_tag}}].
        <div class="icon-button cancel-button" {{action "leaveAlliance"}}>leave {{character.alliance_tag}}</div>
      </p> 
    {{else}}
      <p>
        Join an existing alliance by entering its tag and the secret password.<br/>
        {{view Ember.TextField class="text-field" placeholder="alliance tag" type="text" valueBinding="allianceTag"}} 
        {{view Ember.TextField class="text-field" placeholder="password" type="text" valueBinding="alliancePassword"}} 
        <div class="icon-button ok-button" {{action "joinAlliance"}}>join alliance</div>
      </p>
  
      <p>
        Found a new alliance and install yourself as leader.<br/>
        {{view Ember.TextField class="text-field" placeholder="alliance tag" type="text" valueBinding="newAllianceTag"}} 
        {{view Ember.TextField class="text-field" placeholder="alliance name" type="text" valueBinding="newAllianceName"}} 
        <div class="icon-button ok-button" {{action "createAlliance"}}>found alliance</div>
      </p>
    {{/if}}
  {{/if}}
  
</script>

