<script type="text/x-handlebars" data-template-name="requirement-groups-view">
  {{#each unmetRequirementGroups}}
    {{#view AWE.UI.Ember.ArrayItemView arrayBinding="view.unmetRequirementGroups" itemBinding="this" classNames="inline requirement-group"}}
      <ul>
        {{#each item}}
          {{view AWE.UI.Ember.RequirementView requirementBinding="this" tagName="li"}}
        {{/each}}
      </ul>
      {{#unless view.isLastItem}} oder {{/unless}}
    {{/view}}
  {{/each}}
</script>


<script type="text/x-handlebars" data-template-name="requirement-view">
  {{# if haveMaxLevel }} 
    {{#if maxLevelZero }}
      <b>kein</b> einziges <b>{{local type.name}}</b>
    {{else }}
      <b>kein {{local type.name}}</b> größer als <b>Level {{ requirement.max_level }}</b>
    {{/if}}
    {{#if haveMinLevel}}
      </{{unbound tagName}}><{{ubound tagName}}>
    {{/if}}
  {{/if}} 
  {{# if haveMinLevel }} 
    <b>{{local type.name}}</b> mit <b>Level {{requirement.min_level}}</b> oder größer 
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="building-option-details">
{{#if same}}
    <h1>{{local building.name}} {{t building.level }} {{building.nextLevel}}</h1>
    {{#if building.buildingCategory}}<div class="building-category">{{t settlement.buildings.category}}: {{local building.buildingCategory.name}}</div>{{/if}}
    
    {{#unless building.buildingType.demolishable}}
      <div><b>Achtung:</b> Einmal gebaut, kann dieses Gebäude nicht mehr abgerissen werden.</div>
    {{/unless}}    
    
    {{local building.flavour}}
    {{#if building.costsOfNextLevel}}
      {{t building.cost }}:
      {{#each building.costsOfNextLevel}}
        <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>{{amount}} &nbsp;  
      {{/each}}<br/>
    {{/if}}
    {{t building.duration}}: {{formatDuration building.productionTimeOfNextLevel}}<br />     
    {{#unless requirementsMet}}
      <p>
        {{{t settlement.buildings.select.missingRequirements}}}:<br/>
        {{view Ember.View templateName="requirement-groups-view" unmetRequirementGroupsBinding="unmetRequirementGroups"}}
      </p>
    {{/unless}} 
    {{#if building.productionsNextLevel}}
      <b>{{t building.produces}}:</b><br/>
      {{#each building.productionsNextLevel}}
        <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>   
        {{baseProduction}}<span class="bonus" {{bindAttr title="localizedDesc"}}>+{{bonusAbsolute}}</span> {{t general.perHour}} <br/>  
      {{/each}}
    {{/if}}

    {{#unless building.buildingType.buyable}}
      <p><b>Konstruktion kann nicht mit Kröten beschleunigt werden.</b></p>
    {{/unless}}

    {{#if building.unlockDiplomacyNextLevel}}
      <p><b>Ermöglicht Diplomatie und Allianzbeitritt.</b></p>
    {{/if}}
    {{#if building.unlockedAllianceCreationNextLevel}}
      <p><b>Ermöglicht die Gründung einer Allianz.</b></p>
    {{/if}}
{{/if}}
</script>


<script type="text/x-handlebars" data-template-name="settlement-dialog-select-building">
  <div class="settlement-dialog-background"></div>
  <div class="settlement-dialog-pane settlement-dialog-select-building">
    <a {{action "cancelPressed"}} class="close"></a>
    <h1>{{t settlement.buildings.select.heading }}</h1>    
    {{#if constructionOptions }}
      <div class="clearfix">
        {{#each constructionOptions}}
          {{#view AWE.UI.Ember.BuildingOptionView buildingBinding="this" classNames="building-option" }}
            <div {{action "optionClicked" target="parentView"}} class="building-option-action">
              {{view AWE.UI.Ember.BuildingView buildingBinding="building" classNames="building-option-image"}}
              <p>{{local building.name}}</p>
            </div>
          {{/view}}
          {{view AWE.UI.Ember.BuildingOptionDetailView buildingBinding="this" hoveredBinding="view.hoveredView.building"}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</script>


<script type="text/x-handlebars" data-template-name="settlement-dialog-building-details">
  <div class="settlement-dialog-background"></div>
  <div class="settlement-dialog-pane settlement-dialog-building-details">
    <a {{action "cancelPressed" }} class="close" title="Schließen"></a>
    {{view AWE.UI.Ember.BuildingView classNames="building-option-image" buildingBinding="building"}}
    <div class="building-description-box">
      {{#if building.level }}
        <h1>{{local building.name }} <span title="derzeitiges Gebäudelevel">Level {{ building.level }}</span>
            {{#if building.underConstruction }}(<span class="constructing" title="Level nach Abschluss aller Ausbauaufträge in der Bauschleife">{{building.levelAfterJobs}}</span>){{/if}}
            {{#if building.underDestruction }}(<span class="destructing" title="level after finishing all downgrades already in the queue">{{building.levelAfterJobs}}</span>){{/if}}  
            {{#if building.underConversion }}(<span class="constructing" title="level after finishing conversion already in the queue">{{building.levelAfterJobs}}</span>){{/if}}</h1>   
      {{else}}
        <h1>Im Bau: {{local building.name }}</h1>        
      {{/if}}
      {{#if building.buildingCategory}}<div class="building-category">{{t settlement.buildings.category}}: {{local building.buildingCategory.name}}</div>{{/if}}
      <b>{{t settlement.population}}:</b> {{building.population}}<br/>
      {{#if building.experienceOrResourceProduction}}
      <b>{{t building.produces}}:</b><br/>
      {{/if}}
      {{#if building.productions}}
        {{#each building.productions}}
          <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>
          {{baseProduction}}<span class="bonus" {{bindAttr title="localizedDesc"}}>+{{bonusAbsolute}}</span> {{t general.perHour}} <br/>  
        {{/each}}
      {{/if}}
      {{#if building.experienceProduction}}
          <span class="xp-icon" title="XP"}}>&nbsp;</span>
          {{building.experienceProduction}} {{t general.perHour}} <br/>  
      {{/if}}
      
      {{#if building.capacity}}
        <b>{{t building.capacity}}:</b>
        {{#each building.capacity}}
          <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>
          {{capacity}} &nbsp;  
        {{/each}}<br/>
      {{/if}}

      {{#if building.productionBoni}}
        <b>{{t building.productionBoni}}:</b>
        {{#each building.productionBoni}}
        <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>
          +{{bonus}}% &nbsp;  
        {{/each}}<br/>
      {{/if}}

    </div>
    

    
    {{#if building.unlockedDiplomacy}}
      <p><b>Ermöglicht Diplomatie und Allianzbeitritt.</b></p>
    {{/if}}
    {{#if building.unlockedAllianceCreation}}
      <p><b>Ermöglicht die Gründung einer Allianz.</b></p>
    {{/if}}    
    {{#if building.unlockedPlayerToPlayerTrade}}
      <p><b>Ermöglicht den Handel mit anderen Spielern.</b></p>
    {{/if}}    
    {{#if building.tradingCarts}}
      <p><b>Handleskarren:</b> {{building.tradingCarts}}</p>
    {{/if}} 
    {{#if building.commandPoints}}
      <p><b>Kommandopunkte:</b> {{building.commandPoints}}</p>
    {{/if}} 
    
    {{#if building.unlockedQueues}}
        <p><b>{{t settlement.buildings.details.enables}}:</b> {{#each building.unlockedQueues}}{{local name}},    {{/each}}</p>
    {{/if}}
    
    {{#if building.speedupQueues}}
      {{#each building.speedupQueues}}
        <p><b>{{t settlement.buildings.details.speedup}} {{local queueType.name}}:</b> {{formatNumber speedup maxPlaces=1}}%</p>
      {{/each}}
    {{/if}}
    
    
    {{#unless building.underConversion}}

      {{#if building.convertable }}
        <hr class="clear" />
        {{#if sendingConvert }}
          <div class="upgrade">{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} Umwandeln...</div>
        {{else}}
        <a {{action "conversionClicked"}} class="upgrade" title="click to convert"><img src="<%= asset_path('icons/cross_green.png') %>"></img> Umwandlung</a>
        {{/if}}
        <h3>{{local building.name }} in {{local building.converted.name }} Level {{ building.convertedLevel }} umwandeln</h2>
      
        {{view AWE.UI.Ember.BuildingView classNames="building-option-image next-level" buildingBinding="building.converted" levelBinding="building.converted.level"}}
        
        {{#if building.conversionCosts}}
          <b>{{t building.cost}}:</b>
          {{#each building.conversionCosts}}
            <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>{{formatNumber amount maxPlaces="0"}} &nbsp;
          {{/each}}
          <br/>
        {{/if}}
        <b>{{t building.duration}}:</b> {{formatDuration building.conversionTime}}<br />
        <br/>
        
        {{#if building.converted.productions}}
          <b>{{t building.produces}}:</b><br/>
          {{#each building.converted.productions}}
            <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>
            {{baseProduction}}<span class="bonus" {{bindAttr title="localizedDesc"}}>+{{bonusAbsolute}}</span> {{t general.perHour}} <br/>  
          {{/each}}
        {{/if}}
        
        {{#if building.converted.capacity}}
          <b>{{t building.capacity}}:</b>
          {{#each building.converted.capacity}}
            <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>
            {{capacity}} &nbsp;  
          {{/each}}<br/>
        {{/if}}
        
        {{#if building.converted.productionBoni}}
          <b>{{t building.productionBoni}}:</b>
          {{#each building.converted.productionBoni}}
            <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>
            +{{bonus}}% &nbsp;  
          {{/each}}<br/>
        {{/if}}
  
        
        {{#if building.converted.unlockedDiplomacy}}
          <p><b>Ermöglicht Diplomatie und Allianzbeitritt.</b></p>
        {{/if}}
        {{#if building.converted.unlockedAllianceCreation}}
          <p><b>Ermöglicht die Gründung einer Allianz.</b></p>
        {{/if}}   
        {{#if building.converted.unlockedPlayerToPlayerTrade}}
          <p><b>Ermöglicht den Handel mit anderen Spielern.</b></p>
        {{/if}}    
        {{#if building.converted.tradingCarts}}
          <p><b>Handleskarren:</b> {{building.converted.tradingCarts}}</p>
        {{/if}} 
        {{#if building.converted.commandPoints}}
          <p><b>Kommandopunkte:</b> {{building.converted.commandPoints}}</p>
        {{/if}} 
      
        {{#if building.converted.unlockedQueues}}
          <p><b>{{t settlement.buildings.details.enables}}:</b> {{#each building.converted.unlockedQueues}}{{local name}}, {{/each}}</p>
        {{/if}}
      
        {{#if building.converted.speedupQueues}}
          {{#each building.converted.speedupQueues}}
            <p><b>{{t settlement.buildings.details.speedup}} {{local queueType.name}}:</b> {{formatNumber speedup maxPlaces=1}}%</p>
          {{/each}}
        {{/if}}

      {{/if}}

      {{#if building.upgradable}}
        <hr class="clear" />
        {{#if sendingUpgrade}}
          <div class="upgrade">{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} Aktualisieren...</div>
        {{else}}
        <a {{action "upgradeClicked"}} class="upgrade" title="click to upgrade"><img src="<%= asset_path('icons/cross_green.png') %>"></img> Ausbauen</a>
        {{/if}}
        <h3>{{local building.name }} auf Level {{ building.nextLevel }} ausbauen</h3>
      
        {{view AWE.UI.Ember.BuildingView classNames="building-option-image next-level" buildingBinding="building" levelBinding="building.nextLevel"}}
  
        <b>{{t settlement.population}}:</b> {{building.populationNextLevel}}<br/>
  
        {{#if building.costsOfNextLevel}}
          <b>{{t building.cost}}:</b>
          {{#each building.costsOfNextLevel}}
            <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>{{amount}} &nbsp;          
          {{/each}}
          <br/>
        {{/if}}
        <b>{{t building.duration}}:</b> {{formatDuration building.productionTimeOfNextLevel}}<br />
        <br/>
        
        {{#if building.experienceOrResourceProductionNextLevel}}
          <b>{{t building.produces}}:</b><br/>
        {{/if}}
        
        {{#if building.productionsNextLevel}}
          {{#each building.productionsNextLevel}}
            <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>
            {{baseProduction}}<span class="bonus" {{bindAttr title="localizedDesc"}}>+{{bonusAbsolute}}</span> {{t general.perHour}} <br/>  
          {{/each}}
        {{/if}}
        
        {{#if building.experienceProductionNextLevel}}
          <span class="xp-icon" title="XP"}}>&nbsp;</span>
          {{building.experienceProductionNextLevel}} {{t general.perHour}} <br/>  
        {{/if}}
        
        {{#if building.capacityNextLevel}}
          <b>{{t building.capacity}}:</b>
          {{#each building.capacityNextLevel}}
            <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>
            {{capacity}} &nbsp;  
          {{/each}}<br/>
        {{/if}}
        
        {{#if building.productionBoniNextLevel}}
          <b>{{t building.productionBoni}}:</b>
          {{#each building.productionBoniNextLevel}}
            <span class="resource-icon {{unbound resourceType.symbolic_id}}" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span>
            +{{bonus}}% &nbsp;  
          {{/each}}<br/>
        {{/if}}
  
        {{#unless building.buildingType.buyable}}
          <p><b>Ausbau kann nicht mit Kröten beschleunigt werden.</b></p>
        {{/unless}}
        
        {{#if building.unlockedDiplomacyNextLevel}}
          <p><b>Ermöglicht Diplomatie und Allianzbeitritt.</b></p>
        {{/if}}
        {{#if building.unlockedAllianceCreationNextLevel}}
          <p><b>Ermöglicht die Gründung einer Allianz.</b></p>
        {{/if}}   
        {{#if building.unlockedPlayerToPlayerTradeNextLevel}}
          <p><b>Ermöglicht den Handel mit anderen Spielern.</b></p>
        {{/if}}    
        {{#if building.tradingCartsNextLevel}}
          <p><b>Handleskarren:</b> {{building.tradingCartsNextLevel}}</p>
        {{/if}} 
        {{#if building.commandPointsNextLevel}}
          <p><b>Kommandopunkte:</b> {{building.commandPointsNextLevel}}</p>
        {{/if}} 
      
        {{#if building.unlockedQueuesNextLevel}}
          <p><b>{{t settlement.buildings.details.enables}}:</b> {{#each building.unlockedQueuesNextLevel}}{{local name}}, {{/each}}</p>
        {{/if}}
      
        {{#if building.speedupQueuesNextLevel}}
          {{#each building.speedupQueuesNextLevel}}
            <p><b>{{t settlement.buildings.details.speedup}} {{local queueType.name}}:</b> {{formatNumber speedup maxPlaces=1}}%</p>
          {{/each}}
        {{/if}}
            
      {{else}}
        <hr class="clear" />
        <h3>Kann nicht weiter ausgebaut werden.</h3>
      {{/if}}      
      
      {{#if building.destroyable}}
      <hr class="clear" />
        {{#if sendingDestroy}}
          <div class="destroy">{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} Abreißen...</div>
        {{else}}
          <a {{action "destroyClicked"}} {{bindAttr class="destroyClasses"}} title="click to destroy"><img src="<%= asset_path('icons/cross_red.png') %>"></img> Gebäude abreißen</a>
        {{/if}}
        <h3>{{local building.name }} abreißen</h3>
        <p>
          <b>{{t building.duration}}:</b> {{formatDuration building.destructionTime}}
        </p>
      {{/if}}
    {{else}}
      <hr class="clear" />
      <h3>{{local building.name }} wird in {{local building.converted.name }} Level {{ building.levelAfterJobs }} umgewandelt</h2>
    
      {{view AWE.UI.Ember.BuildingView classNames="building-option-image next-level" buildingBinding="building.converted" levelBinding="building.converted.level"}}
      
      {{#if building.converted.unlockedDiplomacy}}
        <p><b>Ermöglicht Diplomatie und Allianzbeitritt.</b></p>
      {{/if}}
      {{#if building.converted.unlockedAllianceCreation}}
        <p><b>Ermöglicht die Gründung einer Allianz.</b></p>
      {{/if}}   
      {{#if building.converted.unlockedPlayerToPlayerTrade}}
        <p><b>Ermöglicht den Handel mit anderen Spielern.</b></p>
      {{/if}}    
      {{#if building.converted.tradingCarts}}
        <p><b>Handleskarren:</b> {{building.converted.tradingCarts}}</p>
      {{/if}} 
      {{#if building.converted.commandPoints}}
        <p><b>Kommandopunkte:</b> {{building.converted.commandPoints}}</p>
      {{/if}} 
    
      {{#if building.converted.unlockedQueues}}
        <p><b>{{t settlement.buildings.details.enables}}:</b> {{#each building.converted.unlockedQueues}}{{local name}}, {{/each}}</p>
      {{/if}}
    
      {{#if building.speedupQueuesAfterConversion}}
        {{#each building.speedupQueuesAfterConversion}}
          <p><b>{{t settlement.buildings.details.speedup}} {{local queueType.name}}:</b> {{formatNumber speedup maxPlaces=1}}%</p>
        {{/each}}
      {{/if}}
    {{/unless}}


    {{#if building.trainingQueues}}
    <hr class="clear">
      {{#each building.trainingQueues }}
        {{view AWE.UI.Ember.TrainingQueueView controllerBinding="controller" classNames="training-queue-list" queueBinding="this"}}
      {{/each}}
    {{/if}}

    {{#if building.garrisonArmy }}
    <hr class="clear">
      <h2>Garnison</h2>
      {{view AWE.UI.Ember.ArmyInfoView armyBinding="building.garrisonArmy" displayHeading=false}}
    {{/if}}
    
    {{#if building.unlockedDiplomacy}}
    <hr class="clear">
      {{view AWE.UI.Ember.DiplomacyView unlockedAllianceCreationBinding="building.unlockedAllianceCreation"}}
    {{/if}}

    {{#if building.unlockedPlayerToPlayerTrade}}
    <hr class="clear">
      {{view AWE.UI.Ember.PlayerToPlayerTradeView settlementBinding="building.slot.settlement" controllerBinding="controller"}}
    {{/if}}

  </div>
</script>

<script type="text/x-handlebars" data-template-name="requirements-missing-info">
{{#with arguments}}
  <div class="advisor girl"></div>
  <p>{{t settlement.buildings.missingReqWarning.start}} {{local building.name}} {{t settlement.buildings.missingReqWarning.end}}:</p>
  <p>
    {{view Ember.View templateName="requirement-groups-view" unmetRequirementGroupsBinding="unmetRequirementGroups" tagName="span"}} 
  </p>
{{/with}}
</script>





<script type="text/x-handlebars" data-template-name="no-building-slots-free-info">
  <div class="advisor girl"></div>
  <p>Du kannst derzeit nicht mehr Gebäude bauen. Es wird zuvor eine höhere Stufe der Häuptlingshütte benötigt.</p>
</script>


<script type="text/x-handlebars" data-template-name="construction-queue-full-info">
{{#with arguments}}
  <div class="advisor girl"></div>
  <p>{{t settlement.buildings.constructionQueueFull.start}} {{max_length}} {{t settlement.buildings.constructionQueueFull.end}}</p>
{{/with}}
</script>


<script type="text/x-handlebars" data-template-name="not-enough-cash-info">
  <div class="advisor girl"></div>
  <p>Du hast nicht genug Kröten, um diese Aktion auszuführen.</p>
</script>


<script type="text/x-handlebars" data-template-name="construction-queue-not-empty-info">
  <div class="advisor girl"></div>
  <p>{{t settlement.buildings.constructionQueueNotEmpty.msg}}</p>
</script>


<script type="text/x-handlebars" data-template-name="server-command-failed-info">
  <div class="advisor chef"></div>
  <h1>{{t server.error.failedAction.heading }}</h1>
  <p >{{t server.error.failedAction.unknown  }}</p>
</script>




<script type="text/x-handlebars" data-template-name="diplomacy-view">
  {{#if errorMessage}}
    <div class="red-color">{{errorMessage}}</div>
  {{/if}}
  {{#if ongoingAction}}
    {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} processing...
  {{else}}
    {{#if character.alliance_id}}
      <p>
        Du bist derzeit ein Mitglied der Allianz [{{character.alliance_tag}}].
        <div class="icon-button cancel-button" {{action "leaveAlliance"}}>leave {{character.alliance_tag}}</div>
      </p> 
    {{else}}
      <p>
        Trete einer existierenden Allianz bei, indem du ihr Kürzel und das geheime Allianzpasswort eingibst.<br/>
        {{view Ember.TextField class="text-field" placeholder="alliance tag" type="text" valueBinding="allianceTag"}} 
        {{view Ember.TextField class="text-field" placeholder="password" type="text" valueBinding="alliancePassword"}} 
        <div class="icon-button ok-button" {{action "joinAlliance"}}>Allianz beitreten</div>
      </p>
  
      {{#if unlockedAllianceCreation}}
        <p>
          Gründe eine neue Allianz, mit dir als Anführer.<br/>
          {{view Ember.TextField class="text-field" placeholder="alliance tag" type="text" valueBinding="newAllianceTag"}} 
          {{view Ember.TextField class="text-field" placeholder="alliance name" type="text" valueBinding="newAllianceName"}} 
          <div class="icon-button ok-button" {{action "createAlliance"}}>Allianz gründen</div>
        </p>
      {{/if}}
    {{/if}}
  {{/if}}
  
</script>

