<script type="text/x-handlebars" data-template-name="upgrade-view">
  <h1>{{t dialogs.upgrade.heading}}</h1>
  <div class="upgrade-container">
    <div class="first collumn">
      <div class="row-first-half"}}>
        <div {{bindAttr class="currentBuildingClass currentBuildingImageLevel :big-building :buildingUpgradeImage"}}>
        </div>
      </div>
      <div class="row-second-half">
        <div class="cell-header">
          <h3 class="level-title">
            {{t dialogs.upgrade.level}} {{currentLevel}}
          </h3>
        </div>
        <div class="cell-body scrolling">
        {{view AWE.UI.Ember.BuildingDetailsView buildingBinding="building" levelBinding="currentLevel"}}
        </div>
      </div>
    </div>

    <div class="second collumn">
      <div class="row-first-half upgrade-arrow">
      </div>
      <div class="row-second-half">
        <div class="upgrade-button" {{action "upgradePressed"}}>
          <div class="cell-header">
            <h3 class="button-title">
              {{t dialogs.upgrade.upgrade}}
            </h3>
          </div>
          <table class="resources-table">
            {{#each upgradeCosts}}
              {{view AWE.UI.Ember.ResourceCostsView resourceBinding="this" tagName="tr"}}
            {{/each}}
          </table>
        </div>
      </div>
    </div>

    <div class="third collumn">
      <div class="row-first-half">
        <div {{bindAttr class="selectedBuildingClass selectedBuildingImageLevel :big-building :buildingUpgradeImage"}}>
        </div>
      </div>
      <div class="row-second-half">
        <div class="cell-header">
          {{#unless isMinimumSelected}}
            <span class="change-level left" {{action "decreaseStepsFurther"}}></span>
          {{/unless}}
          <h3 class="level-title">
            {{t dialogs.upgrade.level}} {{selectedLevel}}
          </h3>
          {{#unless isMaximumSelected}}
            <span class="change-level right" {{action "increaseStepsFurther"}}></span>
          {{/unless}}
        </div>
        <div class="cell-body scrolling"
          {{view AWE.UI.Ember.BuildingDetailsView buildingBinding="building" levelBinding="selectedLevel"}}
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="building-details-view">
  {{#if buildingPopulation}}
      <div class="populationDetail">
        <div class="item population-icon"></div> {{buildingPopulation}}
      </div>
  {{/if}}
  {{#if buildingProductions}}
    <table class="resources-table">
    {{#each buildingProductions}}
      {{view AWE.UI.Ember.ResourceProductionView productionBinding="this" tagName="tr"}}
    {{/each}}
    </table>
  {{/if}}
  {{#if buildingCapacity}}
    {{t building.capacity}}:
    <table class="resources-table">
      {{#each buildingCapacity}}
        {{view AWE.UI.Ember.ResourceCapacityView capacityBinding="this" tagName="tr"}}
      {{/each}}
    </table>
  {{/if}}
  {{#if buildingProductionBoni}}
    <table class="resources-table">
      {{#each buildingProductionBoni}}
        {{view AWE.UI.Ember.ResourceBonusView bonusBinding="this" tagName="tr"}}
      {{/each}}
    </table>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="upgrade-resource">
  <td {{bindAttr class="resourceName :item :small"}}></td>
  <td class="amount">{{resourceAmount}}</td>
</script>

<script type="text/x-handlebars" data-template-name="production-resource">
  <td {{bindAttr class="resourceName :item :small"}}></td>
  <td class="rate">{{productionRate}}/h</td>
</script>

<script type="text/x-handlebars" data-template-name="capacity-resource">
  {{#if resourceName}}
    <td {{bindAttr class="resourceName :item :small"}}></td>
    <td class="capacity">{{capacitySize}}</td>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="bonus-resource">
  {{#if bonusSize}}
    <td {{bindAttr class="resourceName :item :small"}}></td>
    <td class="bonus">+{{bonusSize}}%</td>
  {{/if}}
</script>