<script type="text/x-handlebars" data-template-name="army-new-change-dialog">
  <h1>{{t army.change.header}}</h1>
    <!--{{garrisonArmy.owner_name}} : {{ garrisonArmy.locationId }}-->
   <div class="modal-dialog-body change-army-dialog-pane no-scrolling">
   	{{view AWE.UI.Ember.ArmyNewChangeView garrisonArmyBinding="garrisonArmy" otherArmyBinding="otherArmy" locationIdBinding="locationId" }}
   </div>
</script>
   
   
   
<script type="text/x-handlebars" data-template-name="army-new-change-content-view">   
        <p><b>Test: {{ garrisonArmy.owner_name }}</b></p>
		<div class="modal-dialog-blue-button-small modal-dialog-green-button-small-right">
			<div class="modal-dialog-green-button-small-text">{{t army.change.header}}
			</div>
    	</div>
    	<div class="army-icon sword-icon">
    	</div>
    	<div class="army-icon cavalry-icon">
    	</div>
    	<div class="army-icon archer-icon">
    	</div>
    	<p class="total-text">Total<!--{{t profile.rank.total}}--></p>
    	<p class="total-text units-text">Units<!--{{t encyclopedia.units}}--></p>
    	<p class="total-text infantry-strength-text">
    		{{otherArmy.unitcategory_infantry_strength}}<!--5.000-->
    	 </p>
    	 <p class="total-text cavalry-strength-text">
    		{{otherArmy.unitcategory_cavalry_strength}}<!--1.355-->
    	 </p>
    	 <p class="total-text archer-strength-text">
    		{{otherArmy.unitcategory_artillery_strength}}<!--996-->
    	 </p>
    	 <p class="total-text total-strength-text">
    		{{otherArmy.size_present}}<!--7.351-->
    	 </p>
    	 <p class="total-text units-strength-text">
    		{{otherArmy.size_present}}<!--7.351-->/{{otherArmy.size_max}}<!--9.000-->
    	 </p>
</script>
     
    

