<script type="text/x-handlebars" data-template-name="character-progress-dialog">
  <div class="modal-dialog-background"></div>
  <div class="center-helper">
    <div class="level-up-dialog">
       
      <div class="level-up-girl"></div>
       
      <div class="level-up-header"></div> 
       
      <div class="level-up-dialog-bg">
         
      <p class="level-up-dialog-bg-text">
        {{#if character.female}}{{t general.demigoddess}},{{else}}{{t general.demigod}},{{/if}} 
        {{t profile.rank.progress.flavour1}}    
        <b>{{local character.mundaneTitle.name}}</b> {{t profile.rank.progress.flavour2}}<br/><br/>
        {{t profile.rank.progress.flavour3}}          
        <b>{{local character.nextMundaneTitle.name}}</b> {{t profile.rank.progress.flavour4}}      
      </p>

      {{#if userStoriesEnabled}}
        {{#if posting}}
          <button class="fb-button">
            {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small-white"}}
          </button>
        {{else}}
          <button {{action "postNextLevelToFacebook"}} class="fb-button">
            {{t facebook.postOnFacebook}}
          </button>
        {{/if}}
      {{/if}}
      <a class="quest-dialog-button level-up-scip-button" href="#" {{action "okClicked"}}>
         <div class="quest-simple-button"></div>
      </a>
    </div>
    <div class="level-up-spinning-background modal-dialog-spinning-background"></div>   
    </div>
  </div>
</script>