<script type="text/x-handlebars" data-template-name="character-info-dialog">
  <div class="modal-dialog-background"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane character-info-dialog-pane">
      {{view AWE.UI.Ember.AllianceBannerView allianceBinding="alliance" classNames="alliance-banner" width=120 height=120}}
      
      {{#if character.female}}
        <img class="character-head" src="{{unbound "AWE.Config.IMAGE_CACHE_LOAD_LIST.hud/head/female/normal" }}" />
      {{else}}
        <img class="character-head" src="{{unbound "AWE.Config.IMAGE_CACHE_LOAD_LIST.hud/head/male/normal" }}" />
      {{/if}}
      
      <h1>{{view AWE.UI.Ember.LinkedCharacterView characterBinding="character" linkCharacter=false}}</h1>
      
      <p>{{#if character.female}}{{t general.demigoddess}},{{else}}{{t general.demigod}},{{/if}} 
         <b>{{local character.mundaneTitle.name}}</b> {{t general.and}} <b>{{local character.sacredTitle.name}}</b><br/>
         {{t profile.playingSince}}: {{formatDatetime character.created_at}}</p>
      
      <p><b>{{t profile.totalPopulation}}:</b> {{character.score}} &nbsp; 
         <b>{{t profile.fortresses}}:</b> {{character.fortress_count}}</p>
         
      <p><b>{{t profile.battles}}:</b> {{character.battle_count}} ({{t profile.victories}}: {{ character.victories }}, {{t profile.defeats}}: {{ character.defeats }})</p>

      <p><b>{{t profile.homeSettlement}}:</b>
        {{#if homeSettlement}}
          {{homeSettlement.name}} ({{homeSettlement.score}} {{t settlement.population}})
        {{else}}
          {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
        {{/if}}
      </p>
      
      {{#if AWE.Config.LIKE_ENABLED}}
        <p>
           {{#if updatingLikes }}
             {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
           {{else}}
             {{character.received_likes_count}}
           {{/if}}
           <b> Likes</b>{{#if displayLikeSystemButtons}} <a href="#" {{action "sendLike"}} {{bindAttr title="likeAmount"}}>sende Like</a>{{/if}}&nbsp;
           {{#if updatingLikes }}
             {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
           {{else}}
             {{character.received_dislikes_count}}
           {{/if}}
           <b> Dislikes</b>{{#if displayLikeSystemButtons}} <a href="#" {{action "sendDislike"}} {{bindAttr title="dislikeAmount"}}>sende Dislike</a>{{/if}}
        </p>
      {{/if}}
      
      <p><b>{{t profile.history}}:</b><br />
      {{#if loadingHistory }}
        {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
      {{else}}
        {{#if historyEvents}}
          {{#each historyEvents}}
          {{local this.localized_description}}<br />
          {{/each}}
        {{else}}
          {{t profile.emptyHistory}}}<br />
        {{/if}}
      {{/if}}
      </p>
      
      <a class="icon-button ok-button" href="#" {{action "okClicked"}}>ok</a>     
      {{#if character}}
        <a class="button" href="#" {{action "sendMessageClicked"}}>{{t profile.sendMessage}}</a>  
      {{/if}}   
    </div>
  </div>
</script>
