<script type="text/x-handlebars" data-template-name="character-progress-dialog">
  <div class="modal-dialog-background"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane character-progress-dialog-pane">

      <div class="advisor girl"></div>
      <h1>{{t profile.rank.progress.dialogHeader}}</h1>
      
      <p class="citation">
        {{#if character.female}}{{t general.demigodess}},{{else}}{{t general.demigod}},{{/if}} 
        {{t profile.rank.progress.flavour1}}    
        <b>{{local character.mundaneTitle.name}}</b> {{t profile.rank.progress.flavour2}}<br/><br/>
        {{t profile.rank.progress.flavour3}}          
        <b>{{local character.nextMundaneTitle.name}}</b> {{t profile.rank.progress.flavour4}}      
      </p>
      
      <br/><br/>
      
      {{view  AWE.UI.Ember.CharacterProgressBarView characterBinding="character"}}

      <p>{{t profile.rank.progress.text}}</p>

      <a class="icon-button ok-button" href="#" {{action "okClicked"}}>{{t general.ok}}</a>     
    </div>
  </div>
</script>

