<script type="text/x-handlebars" data-template-name="construction-queue-view">
  <div class="queue-list-pane">
    {{#each queues}}
      {{#view AWE.UI.Ember.SingleConstructionQueueView controllerBinding="controller" queueBinding="this" classNames="queue"}}
      <div class="queue-length">{{length}} / {{capacity}}</div>
      <h1>{{local queue.queueType.name}}</h1>
        {{#unless queue.empty }}
        <div class="queue-job-list">    
          {{#each queue.hashableJobs.collection }}
            {{#view AWE.UI.Ember.ConstructionJobView controllerBinding="controller" jobBinding="this" classNames="queue-job"}}
              {{view AWE.UI.Ember.BuildingView classNames="queue-job-image" buildingBinding="building" levelBinding="job.level_after" }}
              <div class="queue-job-text">    
                <p class="building">{{local building.name }} (L{{ job.level_after }})</p>
                  {{#if active}}
                    <div class="duration progress-bar-border">
                      <div class="progress-bar" {{bindAttr style="progressBarWidth"}}>
                        {{#if finished}}
                          finishing...
                        {{else}}
                          {{formatDuration timeRemaining}}
                        {{/if}}
                      </div>
                    </div>
                  {{else}}
                    <p class="duration">
                      {{#unless job.destroyJob}}
                        {{formatDuration job.productionTime}}
                      {{else}}
                        {{formatDuration job.destructionTime}}
                      {{/unless}}
                    </p>
                  {{/if}}
                <p class="finished">{{#if job.active_job }}{{ job.parsedFinishingDate }}{{else}}&nbsp;{{/if}}</p>
                <p class="queue-job-button finish-button">
                  {{#if isConstructionSpeedupPossible }}
                    <a href="#" {{action "finishJobPressed"}} title="spend toads for finishing it immediately. Costs depend on the remaining production time.">
                     hurry {{constructionSpeedupCost timeRemaining}} 
                     <span class="resource-icon {{constructionSpeedupResource timeRemaining}}">&nbsp;</span>
                    </a>
                  {{/if}}
                </p>
                <p class="queue-job-button cancel">    
                  {{#if job.cancelable }}
                    <a href="#" {{action "cancelJobPressed"}}>cancel</a>
                  {{/if}}
                </p>  
              </div>  
            {{/view}}
          {{/each}}
        </div>  
        {{/unless}}
      {{/view}}
    {{/each}}
  </div>
</script>