<script type="text/x-handlebars" data-template-name="construction-queue-view">
  <div class="queue-list-pane">
    {{#each queues}}
      {{#view AWE.UI.Ember.SingleConstructionQueueView controllerBinding="controller" queueBinding="this" classNames="queue"}}
      <div class="queue-length">{{length}} / {{capacity}}</div>
      <h1>{{local queue.queueType.name}}</h1>
        {{#unless queue.empty }}
        <div {{bindAttr class=":queue-job-list lengthClassName"}}>    
          {{#each queue.hashableJobs.collection }}
            {{#view AWE.UI.Ember.ConstructionJobView controllerBinding="controller" jobBinding="this" classNames="queue-job"}}
              {{view AWE.UI.Ember.BuildingView classNames="queue-job-image" buildingBinding="job.slot.buildingAfterJob" levelBinding="job.level_after" settlementBinding="job.slot.settlement" }}
              <div class="queue-job-text">    
                {{#if "enableTooltip" }}
                {{view AWE.UI.Ember.ToolTipView templateName="construction-queue-detail-view" classNames="mouse-over construction-detail queue-detail-view-wrapper" mouseYBinding="mouseY" mouseXBinding="mouseX" costsBinding="requiredResources" diffsBinding="diffResources" poolBinding="pool" actionInfoBinding="action" }}
                  
                {{/if}}
                <p class="building">{{local job.slot.buildingAfterJob.name }} (L{{ job.level_after }})</p>
                  {{#if active}}
                    <div class="duration progress-bar-border">
                      <div class="progress-bar" {{bindAttr style="progressBarWidth"}}>
                        {{#if finished}}
                          {{t settlement.construction.finishing}}...
                        {{else}}
                          {{formatDuration timeRemaining}}
                        {{/if}}
                      </div>
                    </div>
                  {{else}}
                    <p class="duration">
                      {{#unless job.destroyJob}}
                        {{formatDuration job.productionTime}}
                      {{else}}
                        {{formatDuration job.destructionTime}}
                      {{/unless}}
                    </p>
                  {{/if}}
                <p class="finished">
                  {{#if job.active_job }}
                    {{ job.parsedFinishingDate }}
                  {{else}}
                    {{#if waitingForResources}}
                      {{t settlement.construction.insufficentResources}}!
                    {{else}}
                      &nbsp;
                    {{/if}}
                  {{/if}}
                </p>
                {{#if isFrogTradePossible}}
                  <div class="queue-job-button frog-trade-button-inline">
                    <div class="simple-button"  {{action "resourceExchangePressed"}} ">
                      <img src="{{ unbound AWE.Config.RAILS_ASSET_PATH }}icons/toad.png" alt="" /> 
                      {{t settlement.trade.frogTradeButton}}
                    </div>
                  </div>
                {{else}}
                  <div class="queue-job-button finish-button clickable">
                    {{#if isConstructionSpeedupPossible }}
                      <a {{action "finishJobPressed"}}">
                        {{t settlement.construction.hurry }} {{constructionSpeedupCost timeRemaining}} 
                        <span class="resource-icon {{constructionSpeedupResource timeRemaining}}">&nbsp;</span>
                      </a>
                    {{/if}}
                  </div>
                {{/if}}
                <div class="queue-job-button cancel">    
                  {{#if job.cancelable }}
                    <a {{action "cancelJobPressed"}}>{{t map.button.cancel}}</a>
                  {{/if}}
                </div>  
              </div>  
            {{/view}}
          {{/each}}
        </div>  
        {{/unless}}
      {{/view}}
    {{/each}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="construction-queue-detail-view">
  <div class="queue-detail-view">
    {{#if active}}
    <h1>{{t settlement.construction.requiredResources}}</h1>
    <table>
      <tr>
        {{#each costs}}
        <td>
          <span {{bindAttr class=":resource-icon resourceType.symbolic_id"}}>&nbsp;</span>
          {{formatNumber amount}}
        </td>
        {{/each}}
      </tr>
    </table>
    {{/if}}

    {{#if diffs}}
    <h1>{{t settlement.construction.remaining}}</h1>
    <table>
      <tr>
        {{#each diffs}}
        <td>
          <span {{bindAttr class=":resource-icon symbolic_id"}}>&nbsp;</span>
          {{formatNumber remaining}}
        </td>
        {{/each}}
      </tr>
    </table>
    {{/if}}

    <h1>{{t settlement.construction.actionTitle}}</h1>
    <span class="action-text">{{actionInfo}}</span>
  </div>
</script>
