<script type="text/x-handlebars" data-template-name="encyclopedia-building">
  <h1>{{local building.name}}</h1>
  {{local building.flavour}}
  {{local building.description}}
  
  <table>
    <tr>
      <th>Level</th>
      <th>Pop</th>
      {{#each parentView.resourceTypes}}
        <th><span {{bindAttr class="symbolic_id :resource-icon"}}>&nbsp;</span></th>
      {{/each}}
      <th>Bauzeit</th>
      {{#if capacity}}
        <th>Lagerkapazität</th>
      {{/if}}
    </tr>
    {{#each stats}}
      <tr>
        <td class="number">{{level}}</td>
        <td class="number">{{population}}</td>
        {{#each costs}}
          <td class="number">{{amount}}</td>
        {{/each}}
        <td class="number">{{formatDuration productionTime}}</td>
        {{#if view.capacity}}
          <td class="number"> 
            {{#each capacities}}
              <span {{bindAttr class="resourceType.symbolic_id :resource-icon"}}>&nbsp;</span> {{capacity}}
            {{/each}}
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </table>
</script>


<script type="text/x-handlebars" data-template-name="encyclopedia-unit">
  <div class="unit-image large" {{bindAttr class="categoryClass unit.db_field"}}>&nbsp;</div>

  <h1>{{local unit.name}}</h1>
  {{local unit.flavour}}
  {{local unit.description}}

  {{#if unit.trainable}}
    Produktionszeit: {{formatDuration unit.production_time}}<br/>
  {{else}}
    Kann nicht von Spielern trainiert werden.<br/>
  {{/if}}
  Lebenspunkte: {{unit.hitpoints}}<br/>
  Angriff: {{unit.attack}}<br/>
  Verteidigung: {{unit.armor}}<br/>
  Kritischer Schaden: {{unit.critical_hit_damage}} (Chance: {{unit.critical_hit_chance}})
</script>


<script type="text/x-handlebars" data-template-name="encyclopedia-resource">
  <h1><span {{bindAttr class="resource.symbolic_id :resource-icon :large"}}>&nbsp;</span> {{local resource.name}}</h1>
  {{local resource.flavour}}
  {{local resource.description}}

  <ul>
    {{#if resource.taxable}}
      <li>Auf diesen Rohstoff werden Steuern erhoben.</li>
    {{else}}
      <li>Auf diesen Rohstoff werden <b>keine</b> Steuern erhoben.</li>
    {{/if}}

    {{#if resource.stealable}}
      <li>Dieser Rohstoff kann geklaut und gehandelt werden.</li>
    {{else}}
      <li>Dieser Rohstoff kann nicht geklaut oder gehandelt werden.</li>
    {{/if}} 
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="encyclopedia-view">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4 encyclopedia-view">
      
      <div class="overview">
        <a href="#" {{action toggleResources}}><b>Rohstoffe</b></a><br/>
        {{#if displayResources}}
          {{#each resourceTypes }}
            {{#view AWE.UI.Ember.ResourceButton resourceTypeBinding="this" }}
              {{local resourceType.name}}
            {{/view}}
          {{/each}}
        {{/if}}
        
        <a href="#" {{action toggleBuildings}}><b>Gebäude</b></a><br/>
        {{#if displayBuildings}}
          {{#each buildingTypes }}
            {{#view AWE.UI.Ember.BuildingButton buildingTypeBinding="this" }}
              {{local buildingType.name}}
            {{/view}}
          {{/each}}
        {{/if}}
        
        <a href="#" {{action toggleUnits}}><b>Einheiten</b></a><br/>
        {{#if displayUnits}}
          {{#each unitTypes }}
            {{#view AWE.UI.Ember.UnitButton unitTypeBinding="this" }}
              {{local unitType.name}}
            {{/view}}
          {{/each}}
        {{/if}}
      </div>
      
      <div class="details">
        {{#if selectedBuilding}}
          {{view AWE.UI.Ember.EncyclopediaBuildingView templateName="encyclopedia-building" buildingBinding="selected"}}
        {{else}}
          {{#if selectedResource}}
            {{view Ember.View templateName="encyclopedia-resource" resourceBinding="selected"}}
          {{else}}
            {{#if selectedUnit}}
              {{view AWE.UI.Ember.EncyclopediaUnitView templateName="encyclopedia-unit" unitBinding="selected"}}
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
      
      <div class="icon-button ok-button" {{action "okPressed"}}>Schließen</div>
      
    </div>
  </div>
</script>





