<script type="text/x-handlebars" data-template-name="encyclopedia-building">

    <h1>{{local building.name}}</h1>
  <div class="encyclopedia-details-wrapper">
    <div class="base-screen"><div {{bindAttr class=":building-option-image :size1 building.symbolic_id :level1 :ency"}}></div></div>
  
  {{#unless building.demolishable}}
    <p><b>{{t general.warning}}:</b> {{t building.info.notDemolishable}}</p>
  {{/unless}}
  
  {{local building.flavour}}
  {{local building.description}}
  
  {{#unless building.buyable}}
    <p>{{t building.info.notBuyable}}</p>
  {{/unless}}

  <p>
    <b>{{t settlement.buildings.category}}:</b> {{buildingCategory}}
    ({{buildingTypeString}})
  </p>

  {{#unless requirementsMet}}
  <p><b>{{t building.requirements}}:</b></p>
    <ul>
    {{#each requirement in buildingRequirements}}
      <li>{{requirement.name}} >= {{requirement.level}}</li>
    {{/each}}
    </ul>
  {{/unless}}
  
  <table>
    <tr>
      <th>{{t building.level}}</th>
      <th>{{t building.populationAbbreviation}}</th>
      {{#each parentView.resourceTypes}}
        <th><span {{bindAttr class="symbolic_id :resource-icon"}}>&nbsp;</span></th>
      {{/each}}
      <th>{{t encyclopedia.buildingTime}}</th>
      {{#if capacity}}
        <th>{{t building.storageCapacity}}</th>
      {{/if}}
      {{#if commandPoints}}
        <th title="{{t building.commandPoints}}">{{t encyclopedia.commandPointsAbbreviation}}</th>
      {{/if}}
      {{#if production}}
        <th>{{t building.production}}</th>
      {{/if}}
      {{#if experienceProduction}}
        <th>{{t building.xpProduction}}</th>
      {{/if}}
      {{#if tradingCarts}}
        <th>{{t building.tradingCarts}}</th>
      {{/if}}
    </tr>
    {{#each stats}}
      <tr>
        <td class="number">{{level}}</td>
        <td class="number">{{population}}</td>
        {{#each costs}}
          <td class="number">{{amount}}</td>
        {{/each}}
        <td class="number">{{formatDuration productionTime}}</td>
        {{#if view.capacity}}
          <td class="number"> 
            {{#each capacities}}
              <span {{bindAttr class="resourceType.symbolic_id :resource-icon"}}>&nbsp;</span> {{capacity}}
            {{/each}}
          </td>
        {{/if}}
        {{#if view.commandPoints}}
          <td class="number"> 
            {{commandPoints}}
          </td>
        {{/if}} 
        {{#if view.production}}
          <td class="number"> 
            {{#each productions}}
              <span {{bindAttr class="resourceType.symbolic_id :resource-icon"}}>&nbsp;</span> {{baseProduction}}
            {{/each}}
          </td>
        {{/if}}        
        {{#if view.experienceProduction}}
          <td class="number"> 
            <span>&nbsp;</span> {{experienceProductions}}
          </td>
        {{/if}}        
        {{#if view.tradingCarts}}
          <td class="number"> 
            {{tradingCarts}}
          </td>
        {{/if}}        
      </tr>
    {{/each}}
  </table>
</div>
</script>


<script type="text/x-handlebars" data-template-name="encyclopedia-unit">
  <div class="unit-image large" {{bindAttr class="unit.db_field"}}>&nbsp;</div>

  <h1>{{local unit.name}}</h1>
  {{local unit.flavour}}
  {{local unit.description}}

  {{#if unit.trainable}}
    {{t encyclopedia.productionTime}}: {{formatDuration unit.production_time}}<br/>
  {{else}}
    {{t encyclopedia.cannotBeTrained}}<br/>
  {{/if}}
  {{t encyclopedia.hitpoints}}: {{unit.hitpoints}}<br/>
  {{t encyclopedia.attack}}: {{unit.attack}}<br/>
  {{t encyclopedia.defense}}: {{unit.armor}}<br/>
  {{t encyclopedia.criticalDamage}}: {{unit.critical_hit_damage}} ({{t encyclopedia.criticalChance}}: {{unit.critical_hit_chance}})<br/>
  {{t encyclopedia.experienceForLostUnits}}: {{experienceForLostUnits}}<br/>
</script>


<script type="text/x-handlebars" data-template-name="encyclopedia-resource">
  <h1><span {{bindAttr class="resource.symbolic_id :resource-icon :large"}}>&nbsp;</span> {{local resource.name}}</h1>
  {{local resource.flavour}}
  {{local resource.description}}

  <ul>
    {{#if resource.taxable}}
      <li>{{t encyclopedia.resource.taxable}}</li>
    {{else}}
      <li>{{t encyclopedia.resource.notTaxable1}} <b>{{t encyclopedia.resource.notTaxable2}}</b> {{t encyclopedia.resource.notTaxable3}}.</li>
    {{/if}}

    {{#if resource.stealable}}
      <li>{{t encyclopedia.resource.stealable}}</li>
    {{else}}
      <li>{{t encyclopedia.resource.notStealable}}</li>
    {{/if}} 
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="encyclopedia-view">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div {{bindAttr class=":modal-dialog-pane :z-layer-4 :encyclopedia-view encyclopediaViewClass" }}>
      <a {{action "okPressed" }} class="close clickable" title="{{t general.close}}"></a>
      
      <div class="overview">
        &raquo; <a href="#" class="enc-category" {{action toggleResources}}><b>{{t encyclopedia.resources}}</b></a><br/>
        {{#if displayResources}}
          {{#each resourceTypes }}
            {{#view AWE.UI.Ember.ResourceButton resourceTypeBinding="this" }}
              <span class="encyclopedia-element">&bull; {{local resourceType.name}}</span>
            {{/view}}
          {{/each}}
        {{/if}}
        
        &raquo; <a href="#" class="enc-category" {{action toggleBuildings}}><b>{{t encyclopedia.buildings}}</b></a><br/>
        {{#if displayBuildings}}
          {{#each buildingTypes }}
            {{#unless hidden}}
              {{#view AWE.UI.Ember.BuildingButton buildingTypeBinding="this" }}
                <span class="encyclopedia-element">&bull; {{local buildingType.name}}</span>
              {{/view}}
            {{/unless}}
          {{/each}}
        {{/if}}
        
        &raquo; <a href="#" class="enc-category" {{action toggleUnits}}><b>{{t encyclopedia.units}}</b></a><br/>
        {{#if displayUnits}}
          {{#each unitTypes }}
            {{#view AWE.UI.Ember.UnitButton unitTypeBinding="this" }}
              <span class="encyclopedia-element">&bull; {{local unitType.name}}</span>
            {{/view}}
          {{/each}}
        {{/if}}
      </div>
      
      <div class="details">
        {{#if selectedBuilding}}
          {{view AWE.UI.Ember.EncyclopediaBuildingView templateName="encyclopedia-building" buildingBinding="selected"}}
        {{else}}
          {{#if selectedResource}}
            {{view Ember.View templateName="encyclopedia-resource" resourceBinding="selected"}}
          {{else}}
            {{#if selectedUnit}}
              {{view AWE.UI.Ember.EncyclopediaUnitView templateName="encyclopedia-unit" unitBinding="selected"}}
            {{else}}
              <h3>{{t encyclopedia.selectCategory}}</h3>
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
      
      
    </div>
  </div>
</script>





