<script type="text/x-handlebars" data-template-name="facebook-subscribe-view">
<iframe src="//www.facebook.com/plugins/subscribe.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FWack-A-Doo%2F239722582763809&amp;layout=standard&amp;show_faces=false&amp;colorscheme=light&amp;font=lucida+grande&amp;width=450&amp;" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height: 40px;" allowTransparency="true"></iframe>
</script>


<script type="text/x-handlebars" data-template-name="facebook-credit-offer-dialog">
  <div class="modal-dialog-background"></div>
  <div class="horizontal-center-helper">
    <div class="facebook-credit-offer-dialog modal-dialog-pane">
      <a class="close" href="#" {{action "closePressed" target="parentView"}}></a>

      <h1>{{t shop.buyCreditsThroughFacebook}}</h1>

      {{#each offer in offers}}
        {{view AWE.UI.Ember.FacebookCreditOfferView offerBinding="offer"}}
      {{/each}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="facebook-credit-offer-view">
  <div class="list-element">
    <img {{bindAttr src="offer.image_url" alt="offer.title"}}>
    {{offer.amount}} {{offer.title}}
    <div class="right-side">
      EUR {{price}}
      <div class="simple-button" {{action "buyOffer"}}>{{t shop.buy2}}</div>
    </div>
  </div>
</script>


