<!-- fortress specific templates -->

<script type="text/x-handlebars" data-template-name="fortress-screen">
<div class="fortress-screen settlement-screen">
  <div class="fortress-picture-spacer"></div>
  <div class="fortress-picture">
    {{#if "settlement"}}
      {{#if "haveSlots"}}
        {{view AWE.UI.Ember.BuildingView classNames="buildings" levelBinding="wall.building.level"}}
        {{view AWE.UI.Ember.BuildingSlotView  classNames="tower tower-left" slotBinding="leftTower" settlementBinding="settlement"}}
        {{view AWE.UI.Ember.BuildingSlotView  classNames="tower tower-right" slotBinding="rightTower" settlementBinding="settlement"}}
        {{view AWE.UI.Ember.BuildingSlotView  classNames="wall" slotBinding="wall" settlementBinding="settlement"}}
      {{/if}}
      {{#if queues }}
        {{view AWE.UI.Ember.ConstructionQueueView controllerBinding="controller" classNames="queue-list" queuesBinding="queues.collection"}}
      {{/if}}

      {{view AWE.UI.Ember.SettlementInfoBoxView classNames="settlement-info-box" settlementBinding="settlement"}}

      {{#if selectedSlot}}
        {{#if selectedSlot.building }}
          {{view AWE.UI.Ember.BuildingDetailsDialog controllerBinding="controller" slotBinding="selectedSlot" buildingBinding="selectedSlot.building"}}
        {{else}}
          {{view AWE.UI.Ember.SelectBuildingDialog controllerBinding="controller" slotBinding="selectedSlot"}}
        {{/if}}
      {{/if}}
    
      {{#if "hoveredBuildingSlotView" }}
        {{view AWE.UI.Ember.ToolTipView templateName="building-slot-tooltip" classNames="mouse-over" mouseXBinding="hoveredBuildingSlotView.mouseX" mouseYBinding="hoveredBuildingSlotView.mouseY" buildingBinding="hoveredBuildingSlotView.slot.building" buildingSlotViewBinding="hoveredBuildingSlotView" }}
      {{/if}}    
    {{/if}}
  </div>
</div>
</script>




