<script type="text/x-handlebars" data-template-name="found-settlement-dialog">
  <div class="modal-dialog-background"></div>
    <div class="modal-dialog-pane found-settlement-dialog">
      {{#if canFound }}
        <div class="clearfix header">
          <h2>Hier eine Lagerstätte gründen?</h2>

          <div class="advisor chef"></div>        
          <p class="citation">Eine Siedlung in Ehren kann niemand verwehren. Harrharrharr.</p>     
        </div>   
        
        <p>Die Lagerstätte wird an diesem Ort gegründet, kann nicht mehr verschoben werden
           und verbraucht einen Deiner Siedlungspunkte. Außerdem bleibt ein kleiner Anführer
           aus Deiner Armee permanent bei Deiner Lagerstätte und steht Dir nicht mehr zur
           Verfügung.</p>
           
        <a class="icon-button ok-button" href="#" {{action "foundPressed" target="parentView"}}>jetzt und hier gründen</a>
        
      {{ else }}
        <div class="clearfix header">
          <h2>Lagerstätte kann nicht gegründet werden.</h2>

          <div class="advisor chef"></div>        
          <p class="citation">Grmpf.</p>          
        </div>
        
        <p>Lagerstätten können nur an derzeit unbewohnten Orten und auch nur in Regionen
           gegründet werden, in der sich noch keine andere Lagerstätte von Dir oder 
           Dein Hauptdorf befindet.</p>
        <p>Außerdem müssen folgende Bedingungen erfüllt sein:</p>
        <ul>
          <li>Du hast einen freien Siedlungspunkt zur Verfügung,</li>
          <li>Deine Armee hat mindestens einen kleinen Anführer dabei und</li>
          <li>Deine Armee hat noch mindestens einen Aktionspunkt zur Verfügung.</li>
        </ul>
           
      {{/if }}      

      <a class="icon-button cancel-button" href="#" {{action "cancelPressed" target="parentView"}}>abbrechen</a>
    </div>
</script>







