<script type="text/x-handlebars" data-template-name="found-settlement-dialog">
  <div class="modal-dialog-background"></div>
    <div class="modal-dialog-pane found-settlement-dialog scale-down">
      {{#if canFound }}
        <div class="clearfix header">
          <h2>{{t settlement.found.confirmationHeader}}</h2>

          <div class="advisor chef"></div>        
          <p class="citation">{{t settlement.found.confirmationFlavour}}</p>     
        </div>   
        
        <p>{{t settlement.found.confirmationText}}</p>
           
        <a class="icon-button ok-button" href="#" {{action "foundPressed" target="parentView"}}>{{t settlement.found.confirmation}}</a>
        
      {{ else }}
        <div class="clearfix header">
          <h2>{{t settlement.found.errorHeader}}.</h2>

          <div class="advisor chef"></div>        
          <p class="citation">{{t settlement.found.errorFlavour}}</p>          
        </div>
        
        <p>{{t settlement.found.errorText}}</p>
        <p>{{t settlement.found.requirement.text}}:</p>
        <ul>
          <li>{{t settlement.found.requirement.req1}}</li>
          <li>{{t settlement.found.requirement.req2}}</li>
          <li>{{t settlement.found.requirement.req3}}</li>
        </ul>
           
      {{/if }}      

      <a class="icon-button cancel-button" href="#" {{action "cancelPressed" target="parentView"}}>{{t general.cancel}}</a>
    </div>
</script>







