<script type="text/x-handlebars" data-template-name="left-hud-view">
  <div class="settlement-map-button scale-down" id="left-dom-hud">
  	<div class="menu-hud-button menu-hud-button-position" {{action "menuClicked"}}></div>
  	<div class="ranking-hud-button ranking-hud-button-position" {{action "rankingClicked"}}></div>
  	{{#if isSettlement}}
      {{#if unlockedAssignments}}
        <div class="assignment-hud-button assignment-hud-button-position" {{action "assignmentClicked"}}>
        {{#if timeUntillNextAssignment}}
          <div class="assignment-timer count-indicator-background count-indicator-background-position">{{timeUntillNextAssignment}}</div>
        {{/if}}
        </div>
      {{/if}}
      {{#if unlockedTrade}}
        <div class="trade-hud-button trade-hud-button-position" {{action "tradeClicked"}}></div>
      {{/if}}
  		<div class="army-hud-button army-hud-button-position" {{action "recruitClicked"}}></div>
	  	<div class="map-hud-button map-hud-button-position" {{action "switchToMap"}}></div>
  	{{else}}
	  	<div class="map-mountains-hud-button map-mountains-hud-button-position" {{action "switchMapModeClicked"}}></div>	
	  	<div class="army-menu-hud-button army-menu-hud-button-position" {{action "gamingPieceSelectorClicked"}}></div>
	  	<div class="settelement-hud-button settlement-hud-button-position" {{action "switchToSettlement"}}></div>	  	
  	{{/if}}
  	{{#if isUiMarkerEnabled}}
      {{view AWE.UI.Ember.UIMarker direction=3 top=340 left=100}}
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="right-hud-view">
  <div class="right-hud scale-down" id="right-dom-hud">
  	<div class="message-hud-button message-hud-button-position" {{action "mailClicked"}}>
      {{#if getUnreadMessageCount}}
  		  <div class="count-indicator-background count-indicator-background-position">{{getUnreadMessageCount}}</div>
      {{/if}}
  	</div>
  	<div class="quest-list-hud-button quest-list-hud-button-position" {{action "questsClicked"}}>
  	  {{#if getNewQuest}}
  		<div class="count-indicator-background count-indicator-background-position">{{getNewQuest}}</div>
  	  {{/if}}
  	</div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="top-right-hud-view">
  <div class="top-right-hud scale-down" id="top-right-dom-hud">
    <div class="alliance-hud-button" {{action "allianceClicked"}}>
      <div class="alliance-hud-icon"></div>
    </div>
  </div>
</script>