<script type="text/x-handlebars" data-template-name="mail-dialog">
  <h1 class="modal-dialog-heading">Mails</h1>
  <div class="modal-dialog-body">
    <div class="mail-tab">
      {{view AWE.UI.Ember.MailNewTabView  }}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="mail-dialog-inbox-view">
<div class="row row2 mail-inbox-dialog-pane">
  <ul class="mail-list">
    <li class="mail-list-entry unread">
      <div class="mail-avatar-holder"><div class="mail-avatar-image avatar1"></div></div>
      <div class="mail-content-holder"><div class="mail-player-name">Wacky_User123</div><div class="mail-subject">Hallooo...</div></div>
      <div class="mail-date-holder"><div class="mail-date">5.6.2014</div></div>
    </li>
    <li class="mail-list-entry unread">
      <div class="mail-avatar-holder"><div class="mail-avatar-image avatar2"></div></div>
      <div class="mail-content-holder"><div class="mail-player-name">Wacky_User268</div><div class="mail-subject">Strategie</div></div>
      <div class="mail-date-holder"><div class="mail-date">5.6.2014</div></div>
    </li>
    <li class="mail-list-entry read">
      <div class="mail-avatar-holder"><div class="mail-avatar-image avatar3"></div></div>
      <div class="mail-content-holder"><div class="mail-player-name">Wacky_User552</div><div class="mail-subject">Willkommen</div></div>
      <div class="mail-date-holder"><div class="mail-date">4.6.2014</div></div>
    </li>
    <li class="mail-list-entry read">
      <div class="mail-avatar-holder"><div class="mail-avatar-image avatar4"></div></div>
      <div class="mail-content-holder"><div class="mail-player-name">Wacky_User666</div><div class="mail-subject">Hello</div></div>
      <div class="mail-date-holder"><div class="mail-date">23.5.2014</div></div>
    </li>
    <li class="mail-list-entry read">
      <div class="mail-avatar-holder"><div class="mail-avatar-image avatar4"></div></div>
      <div class="mail-content-holder"><div class="mail-player-name">Wacky_5568</div><div class="mail-subject">Neues</div></div>
      <div class="mail-date-holder"><div class="mail-date">15.4.2014</div></div>
    </li>
    <li class="mail-list-entry read">
      <div class="mail-avatar-holder"><div class="mail-avatar-image avatar4"></div></div>
      <div class="mail-content-holder"><div class="mail-player-name">Wacky_5568</div><div class="mail-subject">Neues</div></div>
      <div class="mail-date-holder"><div class="mail-date">15.4.2014</div></div>
    </li>
    <li class="mail-list-entry read">
      <div class="mail-avatar-holder"><div class="mail-avatar-image avatar4"></div></div>
      <div class="mail-content-holder"><div class="mail-player-name">Wacky_5568</div><div class="mail-subject">Neues</div></div>
      <div class="mail-date-holder"><div class="mail-date">15.4.2014</div></div>
    </li>
    <li class="mail-list-entry read">
      <div class="mail-avatar-holder"><div class="mail-avatar-image avatar4"></div></div>
      <div class="mail-content-holder"><div class="mail-player-name">Wacky_5568</div><div class="mail-subject">Neues</div></div>
      <div class="mail-date-holder"><div class="mail-date">15.4.2014</div></div>
    </li>
  </ul>
</div>
</script>

<script type="text/x-handlebars" data-template-name="mail-dialog-outbox-view">
  <div class="row row3 rowcustomizesettings">
    Oh Yes! Outbox!
  </div>
</script>

<script type="text/x-handlebars" data-template-name="mail-dialog-newmessage-view">
  <div class="row row3 rowcustomizesettings">
    Oh Yes! New Mail!
  </div>
</script>