<script type="text/x-handlebars" data-template-name="main-menu-dialog">
<div class="modal-dialog-body menu-dialog-pane no-scrolling">
  <div class="row row1">
    <div class="cell">
      <div class="main-menu-button no-selection">
        <a {{bindAttr href="AWE.Config.EXTERNAL_FACEBOOK_URL"}} target="_blank">
          Facebook
        </a>
      </div>
    </div>
  </div>
  <div class="row row2">
    <div class="cell">
      <div class="main-menu-button no-selection">
        <a {{bindAttr href="AWE.Config.EXTERNAL_FORUM_URL"}} target="_blank">
          Forum
        </a>
      </div>
    </div>
  </div>
  <div class="row row3">
    <div class="cell">
      <div class="main-menu-button no-selection">
        <a {{bindAttr href="AWE.Config.EXTERNAL_MANUAL_URL"}} target="_blank">
          {{t menu.manual}}
        </a>
      </div>
    </div>
  </div>
  <div class="row row4">
    <div class="cell">
      <div class="main-menu-button no-selection">
        <a href="#" onClick="WACKADOO.openEncyclopedia()">{{t encyclopedia.encyclopedia}}</a> 
      </div>
    </div>
  </div>
  <div class="row row5">
    <div class="cell">
      <div class="main-menu-button no-selection">
        <a href="#" onClick="window.location.reload()">
        {{t menu.logout}}
        </a>        
      </div>
    </div>
  </div>
</div>
</script>