<script type="text/x-handlebars" data-template-name="wheel-or-value">
  {{#if nullValue}}
    {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }}
  {{else}}
    {{value}}
  {{/if}} 
</script>



<script type="text/x-handlebars" data-template-name="message-teaser">
  {{#if parentView.displayingOutbox}}
    <span class="recipient">
      {{view AWE.UI.Ember.WheelOrValueView valueBinding="message.recipient.name"}}
    </span>   
  {{else}}
    <span {{bindAttr class=":sender message.unread"}}>
      {{#if message.sender_id}}
        {{view AWE.UI.Ember.WheelOrValueView valueBinding="message.sender.name"}}
      {{else}}
        System
      {{/if}}
    </span> 
  {{/if}} <span class="time">{{timeString}}</span><br />
  <span {{bindAttr class=":subject message.unread"}}>{{message.subject}}</span>
</script>


<script type="text/x-handlebars" data-template-name="message-draft-teaser">
{{#with draft}}
  <span class="recipient">
    {{#if recipient}}
      {{recipient}}
    {{else}}
      Unknown Recipient
    {{/if}}
  </span>   <br />
  <span class="subject">
    {{#if subject}}
      {{subject}}
    {{else}}
      Without subject
    {{/if}}
  </span>
{{/with}}
</script>

<script type="text/x-handlebars" data-template-name="message-edit">
{{#with message}}
  <div class="message-edit-menue">
    <div class="message-edit-commands">
      <a href="#" {{action "submit"}}>Send</a>
      <a href="#" {{action "cancelForm"}}>Discard</a>
    </div>
    <div class="message-edit-title">
      New Message {{#if recipient}}
       To {{recipient}}
      {{/if}}
    </div>
    <div class="message-edit-fill"></div>
  </div>
  <div class="message-edit-header">
    <table>
      <tr><th {{bindAttr class="recipientUnknown:red-color"}}>{{#if recipientUnknown }}<em>unkown</em>{{/if}} To:</th>
        <td><b>{{view Ember.TextField valueBinding="recipient" placeholder="recipient"}}</b></td>
      </tr>
      <tr><th>Subject:</th>
        <td>{{view Ember.TextField valueBinding="subject" placeholder="subject"}}</td>
      </tr>
    </table>
  </div>
  {{view Ember.TextArea valueBinding="body"}}
{{/with}}
</script>

<script type="text/x-handlebars" data-template-name="message">
  <table>
    <tr><th>From:</th><td>
      <b>{{#if message.sender_id}}
           {{view AWE.UI.Ember.WheelOrValueView valueBinding="message.sender.name"}}
           {{#if "message.sender.alliance_tag"}}
             | {{message.sender.alliance_tag}}
           {{/if}}
         {{else}}
           System
         {{/if}}
      <b>
    </td></tr>
    <tr><th>Subject:</th><td>{{message.subject}}</td></tr>
    <tr><th>Date:</th><td>{{timeString}}</td></tr>
    <tr><th>To:</th><td>{{view AWE.UI.Ember.WheelOrValueView valueBinding="message.recipient.name"}} 
      {{#if "message.recipient.alliance_tag"}}
        | {{message.recipient.alliance_tag}}
      {{/if}}</td>
    </tr>
  </table>
  <hr>
  {{{message.body}}}
</script>


<script type="text/x-handlebars" data-template-name="message-center">
<div class="message-center">
  <div class="header">
    <div id="inbox-control">
      <div {{action "inboxClicked"  target="controller"}}>Inbox</div>
      <div {{action "outboxClicked" target="controller"}}>Outbox</div>  
      <div {{action "newClicked"    target="controller"}}>New</div>
    </div>
    <div id="actions">
      {{#if isReplyPossible}}
        <div {{action "replyClicked" }}>Reply</div>
      {{else}}
        <div class="inactive">Reply</div>
      {{/if}}
      {{#if isForwardPossible}}
        <div {{action "forwardClicked" }}>Forward</div>
      {{else}}
        <div class="inactive">Forward</div>
      {{/if}} &nbsp;&nbsp;
      {{#if isDeletePossible}}
        <div {{action "deleteClicked" }}>Delete</div>
      {{else}}
        <div class="inactive">Delete</div>
      {{/if}}      
    </div>
  </div>

  <div class="list">
    {{#if "newMessage"}}
      <h1>Draft</h1>
      {{view AWE.UI.Ember.DraftTeaserView draftBinding="newMessage" classNames="message-header" classNameBindings="selected"}}
    {{/if}}
    {{#if "messageBox"}}
      <h1>{{messageBox.name}} {{#if messageBox.unread_messages_count}}({{messageBox.unread_messages_count}}){{/if}}</h1>
      {{#each messageBox.sortedEntries}}
        {{view AWE.UI.Ember.MessageTeaserView messageBinding="this" classNames="message-header" classNameBindings="selected"}}
      {{/each}}
    {{else}}
      <h1>{{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }} Loading...</h1>
    {{/if}}
    </hr>
  </div>
  
  <div class="detail">
    {{#if "isFormVisible"}}
      {{view AWE.UI.Ember.NewMessageView messageBinding="newMessage" classNames="message-edit"}}      
    {{else}}
      {{#if "selectedMessageEntry" }}
        {{#if "selectedMessage" }}
          {{view AWE.UI.Ember.MessageView messageBinding="selectedMessage" classNames="message"}}
        {{else}}
          {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }} Loading...
        {{/if}}
      {{else}}
        No Message Selected.
      {{/if}}
    {{/if}}
  </div>
</div>
</script>