<script type="text/x-handlebars" data-template-name="wheel-or-value">
  {{#if nullValue}}
    {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }}
  {{else}}
    {{value}}
  {{/if}} 
</script>



<script type="text/x-handlebars" data-template-name="message-teaser">
  {{#if parentView.displayingOutbox}}
    <span class="recipient">
      {{t messaging.to}}: {{view AWE.UI.Ember.WheelOrValueView valueBinding="message.recipient.name"}}
    </span>   
  {{else}}
    {{#if parentView.displayingInbox}}
      <span {{bindAttr class=":sender message.unread"}}>
        {{t messaging.from}}:
        {{#if message.sender_id}}
          {{view AWE.UI.Ember.WheelOrValueView valueBinding="message.sender.name"}}
        {{else}}
          {{t messaging.system}}
        {{/if}}
      </span>
    {{else}}
      <span class="recipient">
        {{#if message.isSentEntry}}
          {{t messaging.to}}: {{view AWE.UI.Ember.WheelOrValueView valueBinding="message.recipient.name"}}
        {{else}}
          {{t messaging.from}}:
          {{#if message.sender_id}}
            {{view AWE.UI.Ember.WheelOrValueView valueBinding="message.sender.name"}}
          {{else}}
            {{t messaging.system}}
          {{/if}}
        {{/if}}
      </span>
    {{/if}}
  {{/if}} <span class="time">{{timeString}}</span><br />
  <span {{bindAttr class=":subject message.unread"}}>{{message.subject}}</span>
</script>


<script type="text/x-handlebars" data-template-name="message-draft-teaser">
{{#with draft}}
  <span class="recipient">
    {{#if recipient}}
      {{recipient}}
    {{else}}
      {{#if alliance}}
        {{t messaging.allianceMail}}
      {{else}}
        {{t messaging.unknownRecipient}}
      {{/if}}
    {{/if}}
  </span>   <br />
  <span class="subject">
    {{#if subject}}
      {{subject}}
    {{else}}
      {{t messaging.subject}}
    {{/if}}
  </span>
{{/with}}
</script>

<script type="text/x-handlebars" data-template-name="message-edit">
{{#with message}}
  <div class="message-edit-menue">
    <div class="message-edit-commands">
      <a href="#" {{action "submit"}}>{{t messaging.send}}</a>
      <a href="#" {{action "cancelForm"}}>{{t messaging.cancel}}</a>
    </div>
    <div class="message-edit-title">
      {{t messaging.newMessage}} {{#if recipient}}
       {{t messaging.toHeader}} {{recipient}}
      {{else}}
        {{#if alliance}}
          {{t messaging.toAlliance}}
        {{/if}}
      {{/if}}
    </div>
    <div class="message-edit-fill"></div>
  </div>
  <div class="message-edit-header">
    <table>
      <tr><th {{bindAttr class="recipientUnknown:red-color"}}>{{#if recipientUnknown }}<em>{{t messaging.unknown}}</em>{{/if}} {{t messaging.to}}:</th>
        <td>
          {{#if alliance}}
            {{t messaging.allMembersOf}} {{alliance.name}}
          {{else}}
            <b>{{view Ember.TextField valueBinding="recipient" placeholder="recipient"}}</b>
          {{/if}}
        </td>
      </tr>
      <tr><th>{{t messaging.subject}}:</th>
        <td>{{view Ember.TextField valueBinding="subject" placeholder="subject"}}</td>
      </tr>
    </table>
  </div>
  {{view Ember.TextArea valueBinding="body"}}
{{/with}}
</script>

<script type="text/x-handlebars" data-template-name="message">
  <table>
    <tr><th>{{t messaging.from}}:</th>
    <td>
      <b>{{#if message.sender_id}}
           {{view AWE.UI.Ember.WheelOrValueView valueBinding="message.sender.name"}}
           {{#if "message.sender.alliance_tag"}}
             | {{message.sender.alliance_tag}}
           {{/if}}
         {{else}}
           System
         {{/if}}
      </b>
    </td></tr>
    <tr><th>{{t messaging.subject}}:</th><td>{{message.subject}}</td></tr>
    <tr><th>{{t messaging.date}}:</th><td>{{timeString}}</td></tr>
    <tr><th>{{t messaging.to}}:</th><td>
      {{#if message.recipient_id}}
        {{view AWE.UI.Ember.WheelOrValueView valueBinding="message.recipient.name"}} 
        {{#if "message.recipient.alliance_tag"}}
          | {{message.recipient.alliance_tag}}
        {{/if}}
      {{else}}
        {{#if message.isAllianceMessage}}
          {{t messaging.allAllianceMembers}}
        {{else}}
          {{t messaging.allPlayers}}
        {{/if}}
      {{/if}}
    </td></tr>
  </table>
  <hr>
  {{{message.body}}}
</script>


<script type="text/x-handlebars" data-template-name="message-center">
<div class="message-center">
  <div class="header">
    <div id="inbox-control">
      <div {{action "inboxClicked"  target="controller"}}>{{t messaging.inbox}}</div>
      <div {{action "outboxClicked" target="controller"}}>{{t messaging.outbox}}</div>
      {{#if character.isPlatinumActive}}
        <div {{action "archiveClicked"  target="controller"}}>{{t messaging.archive}}</div>
      {{/if}}
      <div {{action "newClicked"    target="controller"}}>{{t messaging.new}}</div>
    </div>

    <div id="actions">
      {{#if isReplyPossible}}
        <div {{action "replyClicked" }}>{{t messaging.reply}}</div>
      {{else}}
        <div class="inactive">{{t messaging.reply}}</div>
      {{/if}}
      {{#if isForwardPossible}}
        <div {{action "forwardClicked" }}>{{t messaging.forward}}</div>
      {{else}}
        <div class="inactive">{{t messaging.forward}}</div>
      {{/if}} &nbsp;&nbsp;
      {{#if isDeletePossible}}
        <div {{action "deleteClicked" }}>{{t messaging.delete}}</div>
      {{else}}
        <div class="inactive">{{t messaging.delete}}</div>
      {{/if}}
      {{#if isArchivingVisible}}
        {{#if isArchivingPossible}}
          <div {{action "archivingClicked" }}>{{t messaging.archiving}}</div>
        {{else}}
          <div class="inactive">{{t messaging.archiving}}</div>
        {{/if}}
      {{/if}}
      {{#if isAllianceMessagePossible}}
        <div {{action "newAllianceMessageClicked" target="controller"}}>{{t messaging.newAllianceMail}}</div>
      {{/if}}            
    </div>
  </div>

  <div class="list">
    {{#if "newMessage"}}
      <h1>Entwurf</h1>
      {{view AWE.UI.Ember.DraftTeaserView draftBinding="newMessage" classNames="message-header" classNameBindings="selected"}}
    {{/if}}
    {{#if "messageBox"}}
      <h1>{{messageBox.name}} {{#if messageBox.unread_messages_count}}({{messageBox.unread_messages_count}}){{/if}}</h1>
      {{#each messageBox.sortedEntries}}
        {{view AWE.UI.Ember.MessageTeaserView messageBinding="this" classNames="message-header" classNameBindings="selected"}}
      {{/each}}
    {{else}}
      <h1>{{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }} {{t general.startup.loading}}</h1>
    {{/if}}
    </hr>
  </div>
  
  <div class="detail">
    {{#if "isFormVisible"}}
      {{view AWE.UI.Ember.NewMessageView messageBinding="newMessage" classNames="message-edit"}}      
    {{else}}
      {{#if "selectedMessageEntry" }}
        {{#if "selectedMessage" }}
          {{view AWE.UI.Ember.MessageView messageBinding="selectedMessage" classNames="message"}}
        {{else}}
          <p>{{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }} {{t general.startup.loading}}</p>
        {{/if}}
      {{else}}
        {{t messaging.noMessageSelected}}
      {{/if}}
    {{/if}}
  </div>
</div>
</script>

<!-- New Message Center Dialogs and Views-->
<script type="text/x-handlebars" data-template-name="message-center-dialog">
  <h1>Mails</h1>
  {{view AWE.UI.Ember.MessageCenterTabView controllerBinding="controller" characterBinding="character" allianceBinding="alliance"}}
</script>

<script type="text/x-handlebars" data-template-name="message-center-inbox-tab">
  <div class="modal-dialog-body mail-inbox-dialog-pane modal-dialog-inbox-tab-body scrolling">
    <div class="row row2">
          <ul class="mail-list">
            {{#each messageBox.sortedEntries}}
              {{view AWE.UI.Ember.MessageEntry messageBinding="this" controllerBinding="view.controller" parentViewBinding="view"}}
            {{/each}}
          </ul>
        </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="message-center-outbox-tab">
  <div class="modal-dialog-body mail-outbox-dialog-pane modal-dialog-outbox-tab-body scrolling">
    <div class="row row2">
          <ul class="mail-list">
            {{#each messageBox.sortedEntries}}
              {{view AWE.UI.Ember.MessageEntry messageBinding="this" controllerBinding="view.controller" parentViewBinding="view"}}
            {{/each}}
          </ul>
        </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="message-entry">
  <li {{bindAttr class=":mail-list-entry message.unread"}}>
      <div class="mail-avatar-holder">
        {{#if parentView.displayingOutbox}}
           <div class="mail-avatar-image avatar1">{{view AWE.UI.Ember.AvatarView avatarStringBinding="message.recipient.avatar_string" width="76" height="76"}}</div>
        {{else}}
          {{#if parentView.displayingInbox}}
            {{#if message.sender_id}}
                <div class="mail-avatar-image avatar1">{{view AWE.UI.Ember.AvatarView avatarStringBinding="message.sender.avatar_string" width="76" height="76"}}</div>
            {{else}}
                
            {{/if}}
          {{/if}}
        {{/if}}
      </div>

      <div class="mail-content-holder" {{action "onClickEntry"}}>
        {{#if parentView.displayingOutbox}}
            <div class="mail-player-name">{{message.recipient.name}}</div>
        {{else}}
          {{#if parentView.displayingInbox}}
            {{#if message.sender_id}}
                <div class="mail-player-name">{{message.sender.name}}</div>
            {{else}}
                <div class="mail-player-name">{{t messaging.system}}</div>
            {{/if}}
          {{/if}}
        {{/if}}
          
            <div class="mail-subject">{{message.subject}}</div>
      </div>
      <div class="mail-date-holder"><div class="mail-date">{{timeString}}</div></div>
  </li>
</script>

<script type="text/x-handlebars" data-template-name="message-center-new-message-tab">
  <div class="modal-dialog-body modal-dialog-new-message-tab-body scrolling">
    {{view AWE.UI.Ember.MessageWriteView controllerBinding="controller"}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="mail-tab1">
  {{view AWE.UI.Ember.InboxTab controllerBinding="controller" characterBinding="character" allianceBinding="alliance"}}
</script>

<script type="text/x-handlebars" data-template-name="mail-tab2">
  {{view AWE.UI.Ember.OutboxTab controllerBinding="controller" characterBinding="character" allianceBinding="alliance"}}
</script>

<script type="text/x-handlebars" data-template-name="mail-tab3">
  {{view AWE.UI.Ember.NewMessageNewView controllerBinding="controller" characterBinding="character" allianceBinding="alliance"}}
</script>

<!-- New Message Center Dialogs and Views-->
<script type="text/x-handlebars" data-template-name="message-read-dialog">
  <div class="popup-dialog-header">
        <a href="#" {{action "closeDialog"}}>
          <div class="modal-dialog-back"></div>
        </a>
        <h1 class="popup-header-center" >Mail</h1>
  </div>
    <div class="modal-dialog-body read-mail-dialog-pane no-scrolling">
        <div class="row row1 tab-bar-new">
          <div class="cell cell-33">
            {{#if isInbox}}
             <div class="left-menu-button" {{action "replyClicked"}}>{{t messaging.reply}}</div>
            {{/if}}
          </div>
          <div class="cell cell-33"><div class="middle-menu-button" {{action "forwardClicked"}}>{{t messaging.forward}}</div></div>
          <div class="cell cell-33"><div class="right-menu-button" {{action "deleteClicked"}}>{{t messaging.delete}}</div></div>
        </div>
        <div class="row row2">
          <div class="cell cell-66"><div class="player-name">{{message.sender.name}}</div></div>
          <div class="cell cell-33"><div class="date">{{timeString}}</div></div>
        </div>
        <div class="row row3">
          <div class="cell"><div class="subject">{{message.subject}}</div></div>
        </div>
        <div class="row row4">
          <div class="cell"><div class="content">{{{message.message.body}}}</div></div>
        </div>
 </div>
</script>

<script type="text/x-handlebars" data-template-name="message-write-view">
    <div class="new-mail-dialog-pane no-scrolling">
        <div class="row player-name-input">
          <div class="cell cell-66">
            {{view Ember.TextField valueBinding="recipientValue" placeholderBinding="playerNamePlaceholder"}}
          </div>
          <div class="cell cell-33"><div class="alliance-ultimatum-button send-mail-button" {{action "submitMessage"}}>{{t messaging.send}}</div></div>
        </div>
        <div class="row player-subject-input">
          <div class="cell">
            {{view Ember.TextField valueBinding="subjectValue" placeholderBinding="subjectPlaceholder"}}</div>
        </div>
        <div class="row row3">
          <div class="cell">
            {{view Ember.TextArea classNames="content" valueBinding="bodyValue" }}
          </div>
        </div>
    </div>
</script>

<!-- Write Message Dialog-->
<script type="text/x-handlebars" data-template-name="message-write-dialog">
  <div class="popup-dialog-header">
        <a href="#" {{action "closeDialog"}}>
          <div class="modal-dialog-back"></div>
        </a>
        <h1 class="popup-header-center" >{{recipient}}</h1>
 </div>
 <div class="modal-dialog-body modal-dialog-new-message-tab-body scrolling" style="top: 80px;">
    {{view AWE.UI.Ember.MessageWriteView controllerBinding="controller"}}
  </div>
</script>