<!-- NEW DIALOGS START-->

        
<script type="text/x-handlebars" data-template-name="character-new-profile-view">
  <div class="popup-dialog-header">
    <a href="#" {{action "closeDialogAndCenter"}}>
      <div class="modal-dialog-center"></div>
    </a>
  </div>
  <h1 class="modal-dialog-heading">{{character.name}}</h1>
    <div class="modal-dialog-body profile-info-self-dialog-pane scrolling">
        <div class="profile-tab-view">
            {{view AWE.UI.Ember.ProfileNewTabView characterBinding="character" allianceBinding="alliance" allianceMemberBinding="allianceMember" changedNameBinding="changedName"}}
        </div>
    </div>
</script>
<!-- DIALOG END -->

<script type="text/x-handlebars" data-template-name="profile-info-tab1-view">   
        {{#if customizeButtonUIMarker}}
          {{view AWE.UI.Ember.UIMarker direction=0 top=40 left=486}}
        {{/if}}
        <div class="row row2">
          <div class="cell cell-30 avatar">{{view AWE.UI.Ember.AvatarView avatarStringBinding="character.avatar_string" classNames="avatar" width="150" height="154"}}</div>
          <div class="cell cell-70 character-details">
            <div class="line line1">
              <div class="clubs">
                <div class="clubs-icon"></div>
                <div class="clubs-value">{{character.battle_count}}</div>
              </div>
              <div class="guy">
                <div class="guy-icon"></div>
                <div class="guy-value">{{character.score}}</div>
              </div>
              <div class="thing">
                <div class="thing-icon"></div>
                <div class="thing-value">{{character.fortress_count}}</div>
              </div>
            </div>
            <div class="line line2">
              <div class="thumb-up">
                <div class="thumb-up-icon"></div>
                <div class="thumb-up-value">{{character.received_likes_count}}</div>
              </div>
              <div class="thumb-down">
                <div class="thumb-down-icon"></div>
                <div class="thumb-down-value">{{character.received_dislikes_count}}</div>
              </div>
            </div>
          </div>
        </div>

    {{#if historyEvents}}
  <p><b>{{t profile.history}}:</b><br />
    {{#if loadingHistory }}

    {{else}}
     <ul>
      
        {{#each historyEventsList}}
        <li>
          {{local desc}}<br />
        </li>
        {{/each}}
       </ul>
    {{/if}}

  {{/if}}
        <div class="row row3">
          <div class="cell">
            <p class="description">
              {{view AWE.UI.Ember.ProfileDescriptionTextarea valueBinding="character.description" characterBinding="character" classNames="description-text-area" }}
              <div class="modal-dialog-blue-button-small modal-dialog-green-button-small-right modal-dialog-green-button-small-text description-change-button" {{action "changeDescriptionPressed" target="view"}}>
            {{t profile.customization.changeDescriptionCaption}}
          </div>
      </div>
          </div>
        </div>
</script>

<script type="text/x-handlebars" data-template-name="profile-rank-tab2-view">   
  <div class="row row2">
          <div class="cell cell-50 current-rank">
            <div class="current-rank-title">{{t profile.rank.currentRank}}: {{currentMundaneRank}}</div>
            <div class="current-rank-value">{{local character.mundaneTitle.name }}</div>
          </div>
          <div class="cell cell-50 next-rank">
            <div class="next-rank-title">{{t profile.rank.nextRank}}: {{nextDisplayRank}}</div>
            <div class="next-rank-value">{{local character.nextMundaneTitle.name }}</div>
          </div>
        </div>
        <div class="row row3">
          <div class="cell rank-background" >
            <!--<div class="rank-background"></div>-->
            <div class="rank-bar" {{bindAttr style="barWidth"}}><div class="progress-value">{{progressBarPosition}} {{t profile.rank.progressBar }}</div></div>
          </div>
        </div>
        <div class="row row4">
          <div class="cell cell-50 current-level">
            <div class="current-level-title">{{t profile.rank.currentLevel}}:</div>
            <div class="current-level-value">{{character.exp}}</div>
            <div class="resource-icon-xp xp"></div>
          </div>
          <div class="cell cell-50 next-level">
            <div class="next-level-title">{{t profile.rank.nextLevel}}:</div>
            <div class="next-level-value">{{nextMundaneRank.rule.exp}}</div>
            <div class="resource-icon-xp xp"></div>
          </div>
        </div>
        <div class="row row5">
          <div class="cell cell-50 experience-production">
            <div class="experience-production-title">{{t profile.rank.experienceProduction}}:</div>
            <div class="experience-production-value">{{character.exp_bonus_total}}/h</div>
            <div class="resource-icon-xp xp"></div>
          </div>
        </div>
        <div class="row row6">
          <div class="cell cell-50 settlement-points">
            <div class="settlement-points-title">{{t profile.rank.freeSettlementPoints}}:</div>
            <div class="settlement-points-value">{{character.settlementPointsAvailable}}/{{character.settlement_points_total}}</div>
          </div>
        </div>
</script>

<script type="text/x-handlebars" data-template-name="profile-customize-tab3-view">   
{{#if customizeButtonUIMarker}}
      {{view AWE.UI.Ember.UIMarker directionBinding="customizeDirArrow" topBinding="customizeTopArrow" leftBinding="customizeLeftArrow"}}
{{/if}}
<div class="row row2 rowcustomize">
    <div class="cell cell-30 avatar">
        {{view AWE.UI.Ember.AvatarView avatarStringBinding="character.avatar_string" classNames="customavatar" width="150" height="154"}}
    </div>
    {{view AWE.UI.Ember.UserNameTextfield changedInputBinding="changedInput" classNames="newname" }}
    {{#if firstTwoNameChange}}
      <div class="name-change-button" {{action "changeNamePressed" target="view"}}>
            {{t profile.customization.changeNameCaption}}
      </div>
    {{else}}
      <div class="name-change-button-gold" {{action "changeNamePressed" target="view"}}>
        <div class="item-price">{{nameChangeCosts}}</div>
        <div class="item-toad"></div>
        <div class="name-change-button-gold-titel">{{t profile.customization.changeNameCaption}}</div>
      </div>
    {{/if}}
    <div class="toggle-gender" {{action "changeGenderPressed" target="view"}}>
      <div {{bindAttr class="toggleTopStyle"}}>
          <div class="male">
          </div>
      </div>
      <div {{bindAttr class="toggleBottomStyle"}}>
          <div class="female">
          </div>
      </div>
    </div>
</div>
{{view AWE.UI.Ember.ProfileNewCustomizeSettingsView characterBinding="character" allianceBinding="alliance"}}

</script>

<script type="text/x-handlebars" data-template-name="profile-customize-settings-view">   
        <div class="row row3 rowcustomizesettings">

          <div class="change-character-item">
            <div class="change-character-item-button-left" {{action "changeEyesPressedLeft" target="view"}}>
                <div class="change-character-item-button-label-left">
                </div>
            </div>
            <div class="change-character-item-titel">{{t profile.customization.customEyes}}</div>
            <div class="change-character-item-button-right" {{action "changeEyesPressedRight" target="view"}}>
                <div class="change-character-item-button-label-right">
                </div>
            </div>
          </div>

          <div class="change-character-item">
            <div class="change-character-item-button-left" {{action "changeHairPressedLeft" target="view"}}>
                <div class="change-character-item-button-label-left">
                </div>
            </div>
            <div class="change-character-item-titel">{{t profile.customization.customHair}}</div>
            <div class="change-character-item-button-right" {{action "changeHairPressedRight" target="view"}}>
                <div class="change-character-item-button-label-right">
                </div>
            </div>
          </div>

          <div class="change-character-item">
            <div class="change-character-item-button-left" {{action "changeMouthPressedLeft" target="view"}}>
                <div class="change-character-item-button-label-left">
                </div>
            </div>
            <div class="change-character-item-titel">{{t profile.customization.customMouth}}</div>
            <div class="change-character-item-button-right" {{action "changeMouthPressedRight" target="view"}}>
                <div class="change-character-item-button-label-right">
                </div>
            </div>
          </div>

          <div class="change-character-item">
            <div class="change-character-item-button-left" {{action "changeBeardPressedLeft" target="view"}}>
                <div class="change-character-item-button-label-left">
                </div>
            </div>
            <div class="change-character-item-titel">{{#if isMale}}{{t profile.customization.customBeard}}{{else}}{{t profile.customization.customChains}}{{/if}}</div>
            <div class="change-character-item-button-right" {{action "changeBeardPressedRight" target="view"}}>
                <div class="change-character-item-button-label-right">
                </div>
            </div>
          </div>

          <div class="change-character-item">
            <div class="change-character-item-button-left" {{action "changeTattoosPressedLeft" target="view"}}>
                <div class="change-character-item-button-label-left">
                </div>
            </div>
            <div class="change-character-item-titel">{{t profile.customization.customTattoos}}</div>
            <div class="change-character-item-button-right" {{action "changeTattoosPressedRight" target="view"}}>
                <div class="change-character-item-button-label-right">
                </div>
            </div>
          </div>

          {{#if isMale}}
          <div class="change-character-item">
            <div class="change-character-item-button-left" {{action "changeSymbolsPressedLeft" target="view"}}>
                <div class="change-character-item-button-label-left">
                </div>
            </div>
            <div class="change-character-item-titel">{{t profile.customization.customSymbols}}</div>
            <div class="change-character-item-button-right" {{action "changeSymbolsPressedRight" target="view"}}>
                <div class="change-character-item-button-label-right">
                </div>
            </div>
          </div>
           {{/if}}

        </div>
</script>
<!--NEW DIALOGS END-->


<script type="text/x-handlebars" data-template-name="character-profile-view">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="horizontal-center-helper">
    <div class="modal-dialog-pane z-layer-4 character-profile-view scale-down">

      <a {{action "closePressed"}} class="close clickable"></a>

      {{view AWE.UI.Ember.AllianceBannerView allianceBinding="alliance" classNames="alliance-banner" width=120 height=120}}

      <h1>{{t profile.youAre }}: {{character.name}}</h1>
      
      {{view AWE.UI.Ember.ProfileTabView characterBinding="character" allianceBinding="alliance" }}

    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="character-customization-view">

  <p>{{t profile.customization.info}}</p>
     
  <hr/>

    <div style="float:left;">{{view AWE.UI.Ember.AvatarView avatarStringBinding="character.avatar_string" classNames="avatar"}}</div>
    <p>
    <span class="simple-button" {{action "changeAvatarPressed"}}>{{t profile.customization.changeAvatarCaption}}</span>
    </p>
  <div class="clearfix" />

	<hr/>

    <div class="character-description clearfix">
      <h1>{{t profile.customization.description }}</h1>
      {{#if message}}
        <div class="red-color">{{message}}</div>
      {{/if}}
      {{#if character.description}}
			  <p class="character-description">{{{ showDescription }}}</p>
      {{else}}
        <p>{{t profile.customization.missingDescription}}</p>
      {{/if}}
			<div class="simple-button float-right" style="min-height: 10px; margin-right: 100px;" {{action "changeDescriptionPressed"}}>{{t profile.customization.changeDescription}}</div>
		</div>

  <hr/>

  {{#if firstTwoNameChange}}
    <h2>{{t profile.customization.chooseName}}</h2>
  {{else}}
    <h2>{{t profile.customization.changeName}}</h2>
  {{/if}}
  <p class="red-color">{{message}}</p>
  <p><b>{{t profile.customization.presentName}}:</b> {{character.name}}
     {{#if changingName }}
       &nbsp;{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}
     {{else}} 
       <span class="simple-button" {{action "changeNamePressed"}}>{{#if firstTwoNameChange}}{{t profile.customization.chooseNameCaption}}{{else}}{{t profile.customization.changeNameCaption}} {{nameChangeCosts}} <span class="resource-icon {{unbound nameChangeResource}}">&nbsp;</span>{{/if}}</span>
     {{/if}}
  </p>      
  <p>{{t profile.customization.nameChangeAdvice}}</p>
  {{#if firstTwoNameChange}}
    <p>{{t profile.customization.nameChangeFreeAdvice}}</p>
  {{else}}
    <p>{{t profile.customization.nameChangeCostAdvice}}</p>      
  {{/if}}
  
  <hr/>
  
  {{#if firstTwoGenderChange}}
    <h2>{{t profile.customization.chooseGender}}</h2>
  {{else}}
    <h2>{{t profile.customization.changeGender}}</h2>
  {{/if}}
    
  <p><b>{{t profile.customization.presentGender}}:</b> {{#if character.female}} {{t profile.customization.female}} {{else}} {{t profile.customization.male}} {{/if}} 
     {{#if changingGender }}
       &nbsp;{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}
     {{else}}
       <span class="simple-button" {{action "changeGenderPressed"}}>{{#if firstTwoGenderChange}}{{t profile.customization.chooseGenderCaption}}{{else}}{{t profile.customization.changeGenderCaption}} {{genderChangeCosts}} <span class="resource-icon {{unbound genderChangeResource}}">&nbsp;</span>{{/if}}</span>
     {{/if}}  
  </p>
  {{#if firstTwoGenderChange}}
    <p>{{t profile.customization.genderChangeFreeAdvice}}</p>
  {{else}}
    <p>{{t profile.customization.genderChangeCostAdvice}}</p>      
  {{/if}}

</script>


<script type="text/x-handlebars" data-template-name="character-progress-bar-view">

  <div style="width:99%; height: 20px; position: relative; background: #EEF; border: 1px solid black; margin-top: 70px; margin-bottom: 80px;">
    <div style="position:absolute; top: 0; left: 0; width: 100px; height: 90px; margin-top: -70px; border-left: 1px solid black; margin-left: -1px; padding-left: 3px;">
      <div style="height: 70px; font-size: 14px;">{{t profile.rank.start}}</div>
      <div>0 {{t profile.rank.experienceAbbreviation}}</div>
    </div>
    {{#each nextMundaneRanks}}
      <div style="position:absolute; top: 0; right: {{unbound position}}; width: 200px; height: 90px; margin-top: -70px; border-right: 1px solid black; margin-right: -1px; text-align:right;">
        <div style="height: 70px; padding-right: 3px; font-size:14px;">
          {{local rule.name}}<br/>
          {{#if rule.settlement_points}}
            +{{rule.settlement_points}} {{t profile.rank.settlementPoint}}
          {{/if}}
        </div>
        <div style="padding-right: 3px;">{{rule.exp}} {{t profile.rank.experienceAbbreviation}}</div>
      </div>
    {{/each}}
    {{#each friendProgress}}
      <div style="position:absolute; top: 20px; right: {{unbound position}}; width: 200px; height: {{unbound height}}px; margin-top: 0; border-right: 1px solid #888; margin-right: -1px; text-align:right; font-size: 11px; color: #888;">
        <div style="height: 11px; margin-top: {{unbound margin}}px; padding-right: 3px;">
          {{name}}
        </div>
      </div>
    {{/each}}
    {{#if progressBarPosition}}
      <div style="position:absolute; top: 0px; right: {{unbound progressBarPosition}}; width: 200px; height: 80px; margin-top: 0; border-right: 2px solid black; margin-right: -1px; text-align:right;">
        <div style="height: 20px; margin-top: 60px; padding-right: 3px;">
          <b>{{character.name}}</b>
        </div>
      </div>
    {{/if}}
  </div>
  
</script>



<script type="text/x-handlebars" data-template-name="character-profile-info-view">
  
{{#if showProgressBar }}  
  {{view  AWE.UI.Ember.CharacterProgressBarView allianceBinding="alliance" characterBinding="character"}}
{{/if }}

  <p><b>{{t profile.rank.mundaneRank}} {{ character.mundane_rank_numeric }}:</b> <em>{{local character.mundaneTitle.name }}</em>.<br/>
     <b>{{t profile.rank.sacredRank}} {{ character.sacred_rank_numeric }}:</b> <em>{{local character.sacredTitle.name }}</em>. {{t profile.rank.noRankUpPossible}}
  </p>

  
  <p>{{t profile.rank.info}}</p>   
     
  <p><b>{{t profile.rank.experience}}:</b>
      {{ character.exp }}
        {{#unless character.exp_production_rate_zero}}
          (+ {{formatNumber character.exp_production_rate maxPlaces="0"}}{{#unless character.exp_bonus_zero}}<span class="bonus">+{{formatNumber character.expBonusAbsolute maxPlaces="0"}}</span>{{/unless}}/h)
        {{/unless}}.
      {{t profile.rank.experienceInfo}}<br/>
     <b>{{t profile.rank.settlementPoints}}:</b> {{t profile.rank.notUsed}}: {{ character.settlementPointsAvailable }}. {{t profile.rank.total}}: {{ character.settlement_points_total }}.<br/>
     <b>{{t profile.battles}}:</b> {{character.battle_count}}. {{t profile.victories}}: {{ character.victories }}. {{t profile.defeats}}: {{ character.defeats }}.
  </p>
  
  <p><b>{{t profile.history}}:</b><br />
  {{#if loadingHistory }}
    {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
  {{else}}
    {{#if historyEvents}}
      {{#each historyEvents}}
       {{local this.localized_description}}<br />
      {{/each}}
    {{else}}
      {{t profile.emptyHistory}}<br />
    {{/if}}
  {{/if}}
  </p>
  
</script>


<script type="text/x-handlebars" data-template-name="settings-view">
  <h2>{{t profile.customization.changePasswordCaption}}</h2>
  <p>{{t profile.customization.changePasswordAdvice}}</p>
  <p>   
     {{view Ember.TextField type="password" placeholder="Passwort" valueBinding="password" }}
     {{view Ember.TextField type="password" placeholder="Passwortbestätigung" valueBinding="passwordConfirmation" }}
     
     {{#if changingPassword }}
       &nbsp;{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}
     {{else}} 
       <span class="simple-button" {{action "changePasswordPressed"}}>{{t profile.customization.changePasswordButton}}</span>
     {{/if}}  
  </p>
  <p class="red-color">{{changePasswordMessage}}</p>


  {{#unless AWE.Facebook.isRunningInCanvas}}
    <h2>{{t profile.settings.connectToFacebookHeading}}</h2>
    {{#if character.isConnectedToFacebook}}
      <p>{{{t profile.settings.youAreConnectedToFacebook}}}</p>
    {{else}}
      <p>{{t profile.settings.connectToFacebookAdvice}}}</p>
      <p>
        <span class="simple-button right-align" {{action "connectFacebookPressed"}}>{{t profile.settings.connectToFacebook}}</span>
      </p>
      <p class="red-color">{{connectFacebookMessage}}</p>
    {{/if}}
  {{/unless}}

  
  
  <h2>{{t profile.customization.changeSameIPCaption}}</h2>
  <p>{{{t profile.customization.changeSameIPAdvice}}}</p>
  <p>   
     {{view Ember.TextField placeholder="Mitspielerliste" valueBinding="character.same_ip" }}
     
     {{#if changingSameIP }}
       &nbsp;{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}
     {{else}} 
       <span class="simple-button" {{action "changeSameIPPressed"}}>{{t profile.customization.changeSameIPButton}}</span>
     {{/if}}  
  </p>
  <p class="red-color">{{changeSameIPMessage}}</p>
  
  <h2>{{t profile.time.systemTime}}</h2>
  
  <p>{{t profile.time.approxServerTime}}: {{ serverTime }}<br/>
     {{t profile.time.localTime}}: {{ localTime }}<br/>
     {{t profile.time.deviation}}: {{ formatDuration timeLag }} &nbsp;
    {{#if isLagZero }}
      <b>{{t profile.time.lagZero}}</b>
    {{else}}
      {{#if isLagTolerable}}
        <b>{{t profile.time.lagTolerable}}</b>
      {{else}}
        <b>{{t profile.time.lagUntolerable1}}</b> {{t profile.time.lagUntolerable2}}
      {{/if}}
    {{/if}}
  </p>
  
  
</script>

<script type="text/x-handlebars" data-template-name="avatar-change-dialog">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4 scale-down" id="avatar-change-dialog">
      <h1>{{ heading }}</h1>
      {{view AWE.UI.Ember.AvatarView avatarStringBinding="newAvatarString" classNames="avatar"}}
      <div class="controls-bar">
        <div class="icon-button ok-button" {{action "okPressed"}}>{{t general.change}}</div>
        <div class="icon-button shuffle-button" {{action "shufflePressed"}}>{{t profile.customization.changeAvatarButton}}</div>
        <div class="icon-button cancel-button" {{action "cancelPressed"}}>{{t general.cancel}}</div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="moving-view">
  <h1>{{t dialogs.move.heading}}</h1>
  {{#if alreadyMoved}}  
    <div class="description">
      {{t profile.moving.alreadyMoved}}
    </div>
  {{else}}
    <div class="description">
      {{t profile.moving.info1}}
      {{t profile.moving.info2}}
    </div>
    <p class="red-color">{{message}}</p>
    <div class="footer-wrapper">

        <div class="input-wrapper">
          {{t dialogs.move.to}}:
          {{view Ember.TextField placeholder="Regionsname" valueBinding="newRegionName" }}
        </div>


        <div class="button-wrapper">
          {{#if moving }}
            &nbsp;{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}
          {{else}}
            <div class="move-button" {{action "moveToRegionClicked"}}>{{t profile.moving.moveButton}}</div>
          {{/if}}
        </div>

    </div>
  {{/if}}
</script>
