<script type="text/x-handlebars" data-template-name="tab-view">
  
  <ul class="tab-bar">
    {{#each tabViews}}
      {{#view AWE.UI.Ember.TabButtonView keyBinding="key" titleBinding="title" }}{{title}}{{/view}}
      {{/each}}
  </ul>  
    
  <div class="tab-content">
    {{view Ember.ContainerView currentViewBinding="currentView"}}
  </div>

</script>

<script type="text/x-handlebars" data-template-name="character-profile-view">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="horizontal-center-helper">
    <div class="modal-dialog-pane z-layer-4 character-profile-view">
      {{view AWE.UI.Ember.AllianceBannerView allianceBinding="alliance" classNames="alliance-banner" width=120 height=120}}

      <h1>{{t profile.youAre }}: {{character.name}}</h1>
      
      {{view AWE.UI.Ember.ProfileTabView characterBinding="character" allianceBinding="alliance" }}

      <hr/>

      <div class="icon-button ok-button" {{action "closePressed"}}>{{t general.close}}</div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="character-customization-view">

  <p>{{t profile.customization.info}}</p>
     
  <hr/>

    <div style="float:left;">{{view AWE.UI.Ember.AvatarView avatarStringBinding="character.avatar_string" classNames="avatar"}}</div>
    <p>
    <span class="simple-button" {{action "changeAvatarPressed"}}>{{t profile.customization.changeAvatarCaption}}</span>
    </p>
  <div class="clearfix" />

	<hr/>

    <div class="character-description clearfix">
      <h1>{{t profile.customization.description }}</h1>
      {{#if message}}
        <div class="red-color">{{message}}</div>
      {{/if}}
      {{#if character.description}}
			  <p class="character-description">{{{ showDescription }}}</p>
      {{else}}
        <p>{{t profile.customization.missingDescription}}</p>
      {{/if}}
			<div class="simple-button float-right" style="min-height: 10px; margin-right: 100px;" {{action "changeDescriptionPressed"}}>{{t profile.customization.changeDescription}}</div>
		</div>

  <hr/>

  {{#if firstTwoNameChange}}
    <h2>{{t profile.customization.chooseName}}</h2>
  {{else}}
    <h2>{{t profile.customization.changeName}}</h2>
  {{/if}}
  <p class="red-color">{{message}}</p>
  <p><b>{{t profile.customization.presentName}}:</b> {{character.name}}
     {{#if changingName }}
       &nbsp;{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}
     {{else}} 
       <span class="simple-button" {{action "changeNamePressed"}}>{{#if firstTwoNameChange}}{{t profile.customization.chooseNameCaption}}{{else}}{{t profile.customization.changeNameCaption}} {{nameChangeCosts}} <span class="resource-icon {{unbound nameChangeResource}}">&nbsp;</span>{{/if}}</span>
     {{/if}}
  </p>      
  <p>{{t profile.customization.nameChangeAdvice}}</p>
  {{#if firstTwoNameChange}}
    <p>{{t profile.customization.nameChangeFreeAdvice}}</p>
  {{else}}
    <p>{{t profile.customization.nameChangeCostAdvice}}</p>      
  {{/if}}
  
  <hr/>
  
  {{#if firstTwoGenderChange}}
    <h2>{{t profile.customization.chooseGender}}</h2>
  {{else}}
    <h2>{{t profile.customization.changeGender}}</h2>
  {{/if}}
    
  <p><b>{{t profile.customization.presentGender}}:</b> {{#if character.female}} {{t profile.customization.female}} {{else}} {{t profile.customization.male}} {{/if}} 
     {{#if changingGender }}
       &nbsp;{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}
     {{else}}
       <span class="simple-button" {{action "changeGenderPressed"}}>{{#if firstTwoGenderChange}}{{t profile.customization.chooseGenderCaption}}{{else}}{{t profile.customization.changeGenderCaption}} {{genderChangeCosts}} <span class="resource-icon {{unbound genderChangeResource}}">&nbsp;</span>{{/if}}</span>
     {{/if}}  
  </p>
  {{#if firstTwoGenderChange}}
    <p>{{t profile.customization.genderChangeFreeAdvice}}</p>
  {{else}}
    <p>{{t profile.customization.genderChangeCostAdvice}}</p>      
  {{/if}}

</script>


<script type="text/x-handlebars" data-template-name="character-progress-bar-view">

  <div style="width:100%; height: 20px; position: relative; background: #EEF; border: 1px solid black; margin-top: 70px; margin-bottom: 80px;">
    <div style="position:absolute; top: 0; left: 0; width: 100px; height: 90px; margin-top: -70px; border-left: 1px solid black; margin-left: -1px; padding-left: 3px;">
      <div style="height: 70px; font-size: 14px;">{{t profile.rank.start}}</div>
      <div>0 {{t profile.rank.experienceAbbreviation}}</div>
    </div>
    {{#each nextMundaneRanks}}
      <div style="position:absolute; top: 0; right: {{unbound position}}; width: 200px; height: 90px; margin-top: -70px; border-right: 1px solid black; margin-right: -1px; text-align:right;">
        <div style="height: 70px; padding-right: 3px; font-size:14px;">
          {{local rule.name}}<br/>
          {{#if rule.settlement_points}}
            +{{rule.settlement_points}} {{t profile.rank.settlementPoint}}
          {{/if}}
        </div>
        <div style="padding-right: 3px;">{{rule.exp}} {{t profile.rank.experienceAbbreviation}}</div>
      </div>
    {{/each}}
    {{#each friendProgress}}
      <div style="position:absolute; top: 20px; right: {{unbound position}}; width: 200px; height: {{unbound height}}px; margin-top: 0; border-right: 1px solid #888; margin-right: -1px; text-align:right; font-size: 11px; color: #888;">
        <div style="height: 11px; margin-top: {{unbound margin}}px; padding-right: 3px;">
          {{name}}
        </div>
      </div>
    {{/each}}
    {{#if progressBarPosition}}
      <div style="position:absolute; top: 0px; right: {{unbound progressBarPosition}}; width: 200px; height: 80px; margin-top: 0; border-right: 2px solid black; margin-right: -1px; text-align:right;">
        <div style="height: 20px; margin-top: 60px; padding-right: 3px;">
          <b>{{character.name}}</b>
        </div>
      </div>
    {{/if}}
  </div>
  
</script>



<script type="text/x-handlebars" data-template-name="character-profile-info-view">
  
{{#if showProgressBar }}  
  {{view  AWE.UI.Ember.CharacterProgressBarView allianceBinding="alliance" characterBinding="character"}}
{{/if }}

  <p><b>{{t profile.rank.mundaneRank}} {{ character.mundane_rank_numeric }}:</b> <em>{{local character.mundaneTitle.name }}</em>.<br/>
     <b>{{t profile.rank.sacredRank}} {{ character.sacred_rank_numeric }}:</b> <em>{{local character.sacredTitle.name }}</em>. {{t profile.rank.noRankUpPossible}}
  </p>

  
  <p>{{t profile.rank.info}}</p>   
     
  <p><b>{{t profile.rank.experience}}:</b>
      {{ character.exp }}
        {{#unless character.exp_production_rate_zero}}
          (+ {{formatNumber character.exp_production_rate maxPlaces="0"}}{{#unless character.exp_bonus_zero}}<span class="bonus">+{{formatNumber character.expBonusAbsolute maxPlaces="0"}}</span>{{/unless}}/h)
        {{/unless}}.
      {{t profile.rank.experienceInfo}}<br/>
     <b>{{t profile.rank.settlementPoints}}:</b> {{t profile.rank.notUsed}}: {{ character.settlementPointsAvailable }}. {{t profile.rank.total}}: {{ character.settlement_points_total }}.<br/>
     <b>{{t profile.battles}}:</b> {{character.battle_count}}. {{t profile.victories}}: {{ character.victories }}. {{t profile.defeats}}: {{ character.defeats }}.
  </p>
  
  <p><b>{{t profile.history}}:</b><br />
  {{#if loadingHistory }}
    {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
  {{else}}
    {{#if historyEvents}}
      {{#each historyEvents}}
      {{local this.localized_description}}<br />
      {{/each}}
    {{else}}
      {{t profile.emptyHistory}}}<br />
    {{/if}}
  {{/if}}
  </p>
  
</script>


<script type="text/x-handlebars" data-template-name="settings-view">
  <h2>{{t profile.customization.changePasswordCaption}}</h2>
  <p>{{t profile.customization.changePasswordAdvice}}</p>
  <p>   
     {{view Ember.TextField type="password" placeholder="Passwort" valueBinding="password" }}
     {{view Ember.TextField type="password" placeholder="Passwortbestätigung" valueBinding="passwordConfirmation" }}
     
     {{#if changingPassword }}
       &nbsp;{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}
     {{else}} 
       <span class="simple-button" {{action "changePasswordPressed"}}>{{t profile.customization.changePasswordButton}}</span>
     {{/if}}  
  </p>
  <p class="red-color">{{changePasswordMessage}}</p>
  
  
  
  
  <h2>{{t profile.settings.connectToFacebookHeading}}</h2>
  {{#if character.isConnectedToFacebook}}
    <p>{{t profile.settings.youAreConnectedToFacebook}}</p>
  {{else}}
    <p>{{t profile.settings.connectToFacebookAdvice}}}</p>
    <p>
      <span class="simple-button right-align" {{action "connectFacebookPressed"}}>{{t profile.settings.connectToFacebook}}</span>
    </p>
  {{/if}}

  
  
  <h2>{{t profile.customization.changeSameIPCaption}}</h2>
  <p>{{{t profile.customization.changeSameIPAdvice}}}</p>
  <p>   
     {{view Ember.TextField placeholder="Mitspielerliste" valueBinding="character.same_ip" }}
     
     {{#if changingSameIP }}
       &nbsp;{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}
     {{else}} 
       <span class="simple-button" {{action "changeSameIPPressed"}}>{{t profile.customization.changeSameIPButton}}</span>
     {{/if}}  
  </p>
  <p class="red-color">{{changeSameIPMessage}}</p>
  
  <h2>{{t profile.time.systemTime}}</h2>
  
  <p>{{t profile.time.approxServerTime}}: {{ serverTime }}<br/>
     {{t profile.time.localTime}}: {{ localTime }}<br/>
     {{t profile.time.deviation}}: {{ formatDuration timeLag }} &nbsp;
    {{#if isLagZero }}
      <b>{{t profile.time.lagZero}}</b>
    {{else}}
      {{#if isLagTolerable}}
        <b>{{t profile.time.lagTolerable}}</b>
      {{else}}
        <b>{{t profile.time.lagUntolerable1}}</b> {{t profile.time.lagUntolerable2}}
      {{/if}}
    {{/if}}
  </p>
  
  
</script>

<script type="text/x-handlebars" data-template-name="avatar-change-dialog">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4" id="avatar-change-dialog">
      <h1>{{ heading }}</h1>
      {{view AWE.UI.Ember.AvatarView avatarStringBinding="newAvatarString" classNames="avatar"}}
      <div class="controls-bar">
        <div class="icon-button ok-button" {{action "okPressed"}}>{{t general.change}}</div>
        <div class="icon-button shuffle-button" {{action "shufflePressed"}}>{{t profile.customization.changeAvatarButton}}</div>
        <div class="icon-button cancel-button" {{action "cancelPressed"}}>{{t general.cancel}}</div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="moving-view">
  <p>{{t profile.moving.info1}}</p>
  <p>{{t profile.moving.info2}}</p>
  
  <hr/>

  {{#if alreadyMoved}}
    <p>{{t profile.moving.alreadyMoved}}</p>
  {{else}}
    <h2>{{t profile.moving.specificMovingCaption}}</h2>
    <p><b>{{t profile.moving.presentRegion}}:</b> {{homeRegionName}}</p>
    <p>
      <b>{{t profile.moving.enterSpecificRegion}}</b><br>
      {{t profile.moving.specififcRegionAdvice}}
    </p>
    <p class="red-color">{{message}}</p>
    <p>
      {{view Ember.TextField placeholder="Regionsname" valueBinding="newRegionName" }}

      {{#if moving }}
        &nbsp;{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}
      {{else}}
        <span class="simple-button" {{action "moveToRegionClicked"}}>{{t profile.moving.moveButton}}</span>
      {{/if}}
    </p>
  {{/if}}
</script>
