<script type="text/x-handlebars" data-template-name="quest-list-view">
  <div class="modal-dialog-background" onClick="WACKADOO.closeAllModalDialogs()"></div>
    <div class="horizontal-center-helper">
      <div class="modal-dialog-pane quest-list-view scale-down">
        <div class="quest-list-content">
          <div class="quest-list">
            <div class="quest-list-header">
              <h1>{{t tutorial.questList}}</h1>
            </div>
            <div class="quest-list-items">
              {{#each epicQuests}}
                <td>{{view AWE.UI.Ember.QuestListEntryView questStateBinding="this" class="quest-list-item" classNameBindings="questState.quest.tutorial questState.quest.advisor" }}</td>
              {{/each}}
            </div>
          </div>
          <div class="quest-details">
            Details
          </div>
        </div>
        <div class="okButton" {{action "okPressed"}}></div>
      </div>
    </div>
  </div>
</script>


<script type="text/x-handlebars" data-template-name="quest-list-entry-view">
  <div class="" {{action "showQuestInfoPressed" }}>
    <div class="quest-list-item-name">
      {{local questState.questName}}
    </div>
    {{#if finished}}
    <div class="quest-list-item-status-finished"> </div>
    {{else}}
    <div class="quest-list-item-status-open"> </div>
    {{/if}}
    <div class="quest-list-item-reward">
        {{#if questState.finished}}
          {{#if questState.redeeming}}
            {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}

          {{/if}}
        {{/if}}
    </div>
  </div>
</script>


<script type="text/x-handlebars" data-template-name="quest-text-view">
      <p>{{local quest.task}}</p>
      {{#if finished}}
        {{#if quest.reward_text}}Tipp: {{local quest.reward_text}} {{/if}}
      {{else}}
        {{#if newArmyQuest}}<div class="description-image-army"></div>{{/if}}}
        {{#if toSettlementQuest}}<div class="description-image-settlement"></div>{{/if}}}
        {{#if attackQuest}}<div class="description-image-attack"></div>{{/if}}}
      {{/if}}

      {{#if quest.reward_tests.textbox_test }}
        {{#unless finished}}
          <div>
            {{view Ember.TextField class="quest-answer-field" placeholder="answer" type="text" valueBinding="answerText"}}
            {{#if checking}}
              {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
            {{else}}
              <div class="simple-button" {{action "checkQuestAnswerPressed"}} >{{t tutorial.answerQuestLink }}</div>
            {{/if}}
          </div>
          {{#if error}}
            <p>{{t tutorial.quest.error}}</p>
          {{/if}} 
        {{/unless}}
      {{/if}}
</script>


<script type="text/x-handlebars" data-template-name="quest-info-dialog">
  <div class="modal-dialog-background">
    {{#if spinningBackground}}
      <div class="horizontal-center-helper">
        <div class="modal-dialog-spinning-background"></div>
      </div>
    {{/if}}
  </div>
  <div class="horizontal-center-helper">  
    <div class="quest-info-dialog-bg">
      <div class="quest-info-dialog-content">
        <div class="quest-info-dialog-text">
          <h3>{{local quest.name}}</h3>
          {{view AWE.UI.Ember.QuestTextView questBinding="quest" questStateBinding="questState"}}
        </div>
        <div {{bindAttr class="quest.advisor"}} id="quest-dialog-advisor"></div>     
        {{#if quest.rewards}}
          {{view AWE.UI.Ember.QuestRewardsView questBinding="quest"}}
        {{/if}}

        {{view AWE.UI.Ember.SubquestListView epicBinding="quest"}}

        <div class="quest-dialog-button" {{action "okPressed"}}>
          {{#if redeeming}}
            {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="quest-rewards-view">
  <div class="quest-info-dialog-rewards">
    <ul class="quest-info-dialog-rewards-items">      
      {{#if quest.rewards.resource_rewards}}
        {{#each quest.rewards.resource_rewards}}
          <li class="quest-reward-item">
            <div {{bindAttr class=":quest-reward-item-image resource"}}></div>
            <div class="quest-reward-item-number">+{{this.amount}}</div>
          </li>
        {{/each}}
      {{/if}}
      {{#if quest.rewards.unit_rewards}}
        {{#each quest.rewards.unit_rewards}}
          <li class="quest-reward-item">
            <div {{bindAttr class=":quest-reward-item-image unit"}}></div>
            <div class="quest-reward-item-number">+{{this.amount}}</div>
          </li>
        {{/each}}
      {{/if}}
      {{#if quest.rewards.experience_reward}}
        <li class="quest-reward-item">
          <div class="quest-reward-item-image xp-icon"></div>
          <div class="quest-reward-item-number">+{{quest.rewards.experience_reward}}</div>
        </li>
      {{/if}}
    </ul>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="subquest-list-view">
  <div class="subquest-list">
    {{#if twoColumnLayout}}
      <div class="two-col-layout">
        <div class="left-section">
          {{view AWE.UI.Ember.SubquestItemView questStateBinding="subQuestStates.0"}}
        </div>
        {{#if subQuestStates.0.finished}}
          <div {{bindAttr class=":quest_arrow_right_green :arrow"}}></div>
        {{else}}
          <div {{bindAttr class=":quest_arrow_right_brown :arrow"}}></div>
        {{/if}}
        <div class="right-section">
          {{view AWE.UI.Ember.SubquestItemView questStateBinding="subQuestStates.1"}}
        </div>
      </div>
    {{/if}}
    {{#if threeColumnLayout}}
      <div class="three-col-layout">
        <div class="first">
          {{view AWE.UI.Ember.SubquestItemView questStateBinding="subQuestStates.0"}}
        </div>
        {{#if subQuestStates.0.finished}}
          <div {{bindAttr class=":quest_arrow_right_green_short_cracked :arrow"}}></div>
        {{else}}
          <div {{bindAttr class=":quest_arrow_right_brown_short_cracked :arrow"}}></div>
        {{/if}}
        <div class="second">
          {{view AWE.UI.Ember.SubquestItemView questStateBinding="subQuestStates.1"}}
        </div>
        {{#if subQuestStates.1.finished}}
          <div {{bindAttr class=":quest_arrow_right_green_short :arrow"}}></div>
        {{else}}
          <div {{bindAttr class=":quest_arrow_right_brown_short :arrow"}}></div>
        {{/if}}
        <div class="third">
          {{view AWE.UI.Ember.SubquestItemView questStateBinding="subQuestStates.2"}}
        </div>
      </div>
    {{/if}}
    {{#if fourColumnLayout}}
      <div class="four-col-layout">
        <div class="first">
          {{view AWE.UI.Ember.SubquestItemView questStateBinding="subQuestStates.0"}}
        </div>
        {{#if subQuestStates.0.finished}}
          <div {{bindAttr class=":quest_arrow_down_right_green :arrow"}}></div>
        {{else}}
          <div {{bindAttr class=":quest_arrow_down_right_brown :arrow"}}></div>
        {{/if}}
        <div class="second">
          {{view AWE.UI.Ember.SubquestItemView questStateBinding="subQuestStates.1"}}
        </div>
        {{#if subQuestStates.1.finished}}
          <div {{bindAttr class=":quest_arrow_up_right_green :arrow"}}></div>
        {{else}}
          <div {{bindAttr class=":quest_arrow_up_right_brown :arrow"}}></div>
        {{/if}}
        <div class="third">
          {{view AWE.UI.Ember.SubquestItemView questStateBinding="subQuestStates.2"}}
        </div>
        {{#if subQuestStates.2.finished}}
          <div {{bindAttr class=":quest_arrow_down_right_green :arrow"}}></div>
        {{else}}
          <div {{bindAttr class=":quest_arrow_down_right_brown :arrow"}}></div>
        {{/if}}
        <div class="fourth">
          {{view AWE.UI.Ember.SubquestItemView questStateBinding="subQuestStates.3"}}
        </div>
      </div>
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="subquest-item-view">
  <table class="sub-wrapper">
    <tr class="description">
      <td>
      <p>{{local questState.quest.task}}</p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="paper-background">
          <div {{bindAttr class=":sub-image questState.quest.symbolic_id finished"}}></div>
        </div>
      </td>
    </tr>
    <tr {{bindAttr class=":progress finished"}}>
      {{#if finished}}
        <td>{{progress.goal}}/{{progress.goal}}</td>
      {{else}}
        <td>{{progress.progress}}/{{progress.goal}}</td>
      {{/if}}
    </tr>
  </table>
</script>