<script type="text/x-handlebars" data-template-name="quest-list-view">
  <div class="modal-dialog-background" onClick="WACKADOO.closeAllModalDialogs()"></div>
    <div class="horizontal-center-helper">
      <div class="modal-dialog-pane quest-list-view scale-down">
        <div class="title">
          <h1>{{t tutorial.questList}}</h1>
        </div>
        <div class="content">
          <div class="quest-list scrolling">
            {{#each questStates}}
              {{view AWE.UI.Ember.QuestListItemView questStateBinding="this" class="quest-list-item" }}
            {{/each}}
          </div>
          <div class="quest-detail scrolling">
            {{#if tutorialState.isSelectedQuestEpic}}
                {{view AWE.UI.Ember.QuestListItemViewDetailEpic questStateBinding="tutorialState.selected_quest_state" class="quest-content" questBinding="tutorialState.selected_quest_state.quest"}}
            {{else}}
              {{#if tutorialState.isSelectedQuestPlain}}
                {{view AWE.UI.Ember.QuestListItemViewDetailQuest questStateBinding="tutorialState.selected_quest_state" class="quest-content" questBinding="tutorialState.selected_quest_state.quest"}}
              {{else}}
                {{view AWE.UI.Ember.QuestListItemViewDetailOverview questStateBinding="this" class="overview" classNameBindings="questState.quest.tutorial questState.quest.advisor"}}
              {{/if}}
            {{/if}}
          </div>
        </div>

        <div class="okButton" {{action "okPressed"}}></div>
      </div>
    </div>
  </div>
</script>


<script type="text/x-handlebars" data-template-name="quest-list-item-view-detail-overview">
  
  <div class="center">
    <div class="advisor chef sketched"></div>
    <div class="advisor warrior sketched"></div>
    <div class="advisor girl sketched"></div>
  </div>
   
  <div class="item">
    <div class="left">{{t ranking.rank}}</div>
    <div class="right">{{character_mundane_rank_numeric}} {{local character_rank_name}}</div>  
  </div>

  <div class="item">
    <div class="left xp-icon"></div>
    <div class="right">{{character_exp}}</div>
  </div>
  
  <div class="item">  
    <div class="left population"></div>
    <div class="right">{{character_population}}</div>
  </div>
    
  <div class="item">  
    <div class="left capacity"></div>
    <div class="right">{{character_capacity}}</div>
  </div>
  
  <div class="item">  
    <div class="left fortress"></div>
    <div class="right">{{character_fortresses}}</div>
  </div>
  
  <div class="item">  
    <div class="left outpost"></div>
    <div class="right">{{character_outposts}}</div>
  </div>
  
  <div class="item">  
    <div class="left settlement_points"></div>
    <div class="right">{{character_settlement_points}} / {{character_settlement_points_total}}</div>
  </div>
  
  <div class="item">  
    <div class="left victories"></div>
    <div class="right">{{character_victories}}</div>
  </div>
  
</script>

<script type="text/x-handlebars" data-template-name="quest-list-item-view-detail-epic"> 
  <div class="quest-dialog-advisor-task">
    {{local quest.task}}
  </div>
  <div {{bindAttr class="advisor"}}></div> 
  {{#if quest.rewards}}
    <div class="quest-dialog-reward">
      <ul class="quest-dialog-rewards-items">      
        {{#if quest.rewards.resource_rewards}}
          {{#each quest.rewards.resource_rewards}}
            <li class="quest-reward-item">
              <div class="quest-reward-item-image">
                 <div class="quest-reward-item-icon">
                <span class="quest-resource-icon {{unbound this.resource}}">&nbsp;</span>
             </div>
              </div>
              <div class="quest-reward-item-number">{{this.amount}}</div>
            </li>
          {{/each}}
        {{/if}}
        {{#if quest.rewards.unit_rewards}}
          {{#each quest.rewards.unit_rewards}}
            <li class="quest-reward-item">
              <div class="quest-reward-item-image">
                 <div class="quest-reward-item-icon">
                <span class="unit-xl-icon">&nbsp;</span>
             </div>
              </div>
              <div class="quest-reward-item-number">{{this.amount}}</div>
            </li>
          {{/each}}
        {{/if}}
        {{#if quest.rewards.experience_reward}}
          <li class="quest-reward-item">
            <div class="quest-reward-item-image">
               <div class="quest-reward-item-icon">
              <span class="xp-icon finished">&nbsp;</span>
           </div>
            </div>
            <div class="quest-reward-item-number">{{quest.rewards.experience_reward}}</div>
          </li>
        {{/if}}
      </ul>
    </div>
  {{/if}}

  {{#if subquestStates}}
    <div class="quest-subquests">
      {{#each subquestStates}}
        {{view AWE.UI.Ember.QuestListItemViewDetailEpicSub questStateBinding="this" class="quest-list-item"}}
      {{/each}}
    </div>
  {{/if}}

  {{#if finished}}
   <div class="redeemButton" {{action "redeemButtonPressed" }}>
     {{#if redeeming}}
       {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
     {{else}}
        <span>{{t tutorial.redeemNow}}</span>
     {{/if}}
   </div>
  {{/if}}
  
</script>

<script type="text/x-handlebars" data-template-name="quest-list-item-view-detail-quest">

  <div class="quest-dialog-advisor-task">
    {{local quest.task}}
  </div>
  <div {{bindAttr class="advisor"}} id="quest-dialog-advisor"></div> 
  {{#if quest.rewards}}
    <div class="quest-dialog-reward">
      <ul class="quest-dialog-rewards-items">      
        {{#if quest.rewards.resource_rewards}}
          {{#each quest.rewards.resource_rewards}}
            <li class="quest-reward-item">
              <div class="quest-reward-item-image">
                 <div class="quest-reward-item-icon">
                <span class="quest-resource-icon {{unbound this.resource}}">&nbsp;</span>
             </div>
              </div>
              <div class="quest-reward-item-number">{{this.amount}}</div>
            </li>
          {{/each}}
        {{/if}}
        {{#if quest.rewards.unit_rewards}}
          {{#each quest.rewards.unit_rewards}}
            <li class="quest-reward-item">
              <div class="quest-reward-item-image">
                 <div class="quest-reward-item-icon">
                <span class="unit-xl-icon">&nbsp;</span>
             </div>
              </div>
              <div class="quest-reward-item-number">{{this.amount}}</div>
            </li>
          {{/each}}
        {{/if}}
        {{#if quest.rewards.experience_reward}}
          <li class="quest-reward-item">
            <div class="quest-reward-item-image">
               <div class="quest-reward-item-icon">
              <span class="xp-icon finished">&nbsp;</span>
           </div>
            </div>
            <div class="quest-reward-item-number">{{quest.rewards.experience_reward}}</div>
          </li>
        {{/if}}
      </ul>
    </div>
  {{/if}}
  
  
  <br>
  <br>
  
  {{#if finished}} 
    <div class="task-top">
      {{local quest.name}} &#10004;
    </div>    
  {{else}}
    <div class="task-top">
      {{local quest.name}} {{questState.actual}}/{{questState.threshold}}
    </div>  
  {{/if}}
  
  <div class="task-middle">
    
  </div>
  
  <div class="task-bottom">
    {{local quest.description}}
  </div>
  
  {{#if finished}}
   <div class="redeemButton" {{action "redeemButtonPressed" }}>
     {{#if redeeming}}
       {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
     {{else}}
        <span>{{t tutorial.redeemNow}}</span>
     {{/if}}
   </div>
  {{/if}}
  
</script>

<script type="text/x-handlebars" data-template-name="quest-list-item-view">
    <div {{action "showQuestInfoPressed" }}>
      <div {{bindAttr class="advisor"}}></div>  

      <div class="name">
        {{local questState.questName}}
      </div>
      {{#if finished}}
        <div class="finished"> </div>
      {{else}}
        <div class="open"> </div>
      {{/if}}
     </div>
</script>

<script type="text/x-handlebars" data-template-name="quest-list-item-view-detail-epic-sub">
      <div {{bindAttr class="advisor"}}></div>  
      <div class="name">
        {{local questState.questName}}
      </div>
      {{#if finished}}
        <div class="finished"> </div>
      {{else}}
        <div class="actual_threshold">
          {{questState.actual}}/{{questState.threshold}}
        </div>
      {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="quest-view">
      <h3>
        {{#if finished}}
          {{t tutorial.quest.end.task}} {{local quest.task}}
        {{else}}
          {{#if modeStart}}
            {{t tutorial.quest.start.task}} {{local quest.task}}
          {{else}}
            {{t tutorial.quest.info.task}} {{local quest.task}}
          {{/if}}
        {{/if}}
      </h3>
      {{#if finished}}
        {{#if quest.reward_text}}Tipp: {{local quest.reward_text}} {{/if}}
      {{else}}
        {{#if newArmyQuest}}<div class="description-image-army"></div>{{/if}}}
        {{#if toSettlementQuest}}<div class="description-image-settlement"></div>{{/if}}}
        {{#if attackQuest}}<div class="description-image-attack"></div>{{/if}}}
      {{/if}}

      {{#if quest.reward_tests.textbox_test }}
        {{#unless finished}}
          <div>
            {{view Ember.TextField class="quest-answer-field" placeholder="answer" type="text" valueBinding="answerText"}}
            {{#if checking}}
              {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
            {{else}}
              <div class="simple-button" {{action "checkQuestAnswerPressed"}} >{{t tutorial.answerQuestLink }}</div>
            {{/if}}
          </div>
          {{#if error}}
            <p>{{t tutorial.quest.error}}</p>
          {{/if}} 
        {{/unless}}
      {{/if}}
</script>


<script type="text/x-handlebars" data-template-name="quest-dialog">
  <div class="modal-dialog-background">
    {{#if spinningBackground}}
      <div class="horizontal-center-helper">
        <div class="modal-dialog-spinning-background"></div>
      </div>
    {{/if}}
  </div>

  <div class="horizontal-center-helper">  
    <div class="quest-dialog-bg">
      <div class="quest-dialog-content">    
        
        {{#if finishedQuestState}}
          <div class="finished_quest_container">
            <div class="header">{{t tutorial.questFinished}}</div>
            <div {{bindAttr class="advisor"}}></div>
            <div class="flavour_text">{{local quest.reward_flavour}}</div>
            <div class="haufen"></div>

            {{#if redeemButtonVisible}}
             <div class="redeemButton" {{action "redeemButtonPressed" }}>
               {{#if redeeming}}
                 {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
               {{else}}
                  <span>{{t tutorial.redeemNow}}</span>
               {{/if}}
             </div>
            {{/if}}
            
            {{#if quest.rewards}}
              <div class="quest-dialog-reward">
                <ul class="quest-dialog-rewards-items">      
                {{#if finished}}
                  {{#if quest.rewards.resource_rewards}}
                    {{#each quest.rewards.resource_rewards}}
                      <li class="quest-reward-item">
                        <div class="quest-reward-item-image finished">
                           <div class="quest-reward-item-icon">
                              <span class="quest-resource-icon {{unbound this.resource}} finished">&nbsp;</span>
                           </div>
                        </div>
                        <div class="quest-reward-item-number finished">{{this.amount}}</div>
                      </li>
                    {{/each}}
                  {{/if}}
                  {{#if quest.rewards.unit_rewards}}
                    {{#each quest.rewards.unit_rewards}}
                      <li class="quest-reward-item">
                        <div class="quest-reward-item-image finished">
                           <div class="quest-reward-item-icon">
                          <span class="unit-icon {{unbound this.unit}} finished">&nbsp;</span>
                       </div>
                        </div>
                        <div class="quest-reward-item-number finished">{{this.amount}}</div>
                      </li>
                    {{/each}}
                  {{/if}}
                  {{#if quest.rewards.experience_reward}}
                    <li class="quest-reward-item">
                      <div class="quest-reward-item-image finished">
                         <div class="quest-reward-item-icon">
                        <span class="xp-icon finished">&nbsp;</span>
                      </div>
                   </div>
                      <div class="quest-reward-item-number finished">{{quest.rewards.experience_reward}}</div>
                    </li>
                  {{/if}}
                {{else}}
                  {{#if quest.rewards.resource_rewards}}
                    {{#each quest.rewards.resource_rewards}}
                      <li class="quest-reward-item">
                        <div class="quest-reward-item-image">
                           <div class="quest-reward-item-icon">
                          <span class="quest-resource-icon {{unbound this.resource}}">&nbsp;</span>
                       </div>
                        </div>
                        <div class="quest-reward-item-number">{{this.amount}}</div>
                      </li>
                    {{/each}}
                  {{/if}}
                  {{#if quest.rewards.unit_rewards}}
                    {{#each quest.rewards.unit_rewards}}
                      <li class="quest-reward-item">
                        <div class="quest-reward-item-image">
                           <div class="quest-reward-item-icon">
                          <span class="unit-xl-icon">&nbsp;</span>
                       </div>
                        </div>
                        <div class="quest-reward-item-number">{{this.amount}}</div>
                      </li>
                    {{/each}}
                  {{/if}}
                  {{#if quest.rewards.experience_reward}}
                    <li class="quest-reward-item">
                      <div class="quest-reward-item-image">
                         <div class="quest-reward-item-icon">
                        <span class="xp-icon finished">&nbsp;</span>
                     </div>
                      </div>
                      <div class="quest-reward-item-number">{{quest.rewards.experience_reward}}</div>
                    </li>
                  {{/if}}
                {{/if}}
                </ul>
              </div>
            {{/if}}
            
          </div>
        {{/if}}
        
        <div class="seperator"></div>
        
        {{#if nextQuestState}}
          <div class="next_quest_container">
            <div class="header">{{local nextQuest.name}}</div>
            <div class="task_text">{{local nextQuest.task}}</div>
            <div {{bindAttr class="nextAdvisor"}}></div>         
            
            {{#if nextQuest.rewards}}
              <div class="quest-dialog-reward">
                <ul class="quest-dialog-rewards-items">      
                  {{#if nextQuest.rewards.resource_rewards}}
                    {{#each nextQuest.rewards.resource_rewards}}
                      <li class="quest-reward-item">
                        <div class="quest-reward-item-image finished">
                           <div class="quest-reward-item-icon">
                              <span class="quest-resource-icon {{unbound this.resource}} finished">&nbsp;</span>
                           </div>
                        </div>
                        <div class="quest-reward-item-number finished">{{this.amount}}</div>
                      </li>
                    {{/each}}
                  {{#if nextQuest.rewards.unit_rewards}}
                    {{#each nextQuest.rewards.unit_rewards}}
                      <li class="quest-reward-item">
                        <div class="quest-reward-item-image finished">
                           <div class="quest-reward-item-icon">
                          <span class="unit-icon {{unbound this.unit}} finished">&nbsp;</span>
                       </div>
                        </div>
                        <div class="quest-reward-item-number finished">{{this.amount}}</div>
                      </li>
                    {{/each}}
                  {{/if}}
                  {{#if nextQuest.rewards.experience_reward}}
                    <li class="quest-reward-item">
                      <div class="quest-reward-item-image finished">
                         <div class="quest-reward-item-icon">
                        <span class="xp-icon finished">&nbsp;</span>
                      </div>
                   </div>
                      <div class="quest-reward-item-number finished">{{nextQuest.rewards.experience_reward}}</div>
                    </li>
                  {{/if}}
                {{else}}
                  {{#if nextQuest.rewards.resource_rewards}}
                    {{#each nextQuest.rewards.resource_rewards}}
                      <li class="quest-reward-item">
                        <div class="quest-reward-item-image">
                           <div class="quest-reward-item-icon">
                          <span class="quest-resource-icon {{unbound this.resource}}">&nbsp;</span>
                       </div>
                        </div>
                        <div class="quest-reward-item-number">{{this.amount}}</div>
                      </li>
                    {{/each}}
                  {{/if}}
                  {{#if nextQuest.rewards.unit_rewards}}
                    {{#each nextQuest.rewards.unit_rewards}}
                      <li class="quest-reward-item">
                        <div class="quest-reward-item-image">
                           <div class="quest-reward-item-icon">
                          <span class="unit-xl-icon">&nbsp;</span>
                       </div>
                        </div>
                        <div class="quest-reward-item-number">{{this.amount}}</div>
                      </li>
                    {{/each}}
                  {{/if}}
                  {{#if nextQuest.rewards.experience_reward}}
                    <li class="quest-reward-item">
                      <div class="quest-reward-item-image">
                         <div class="quest-reward-item-icon">
                        <span class="xp-icon finished">&nbsp;</span>
                     </div>
                      </div>
                      <div class="quest-reward-item-number">{{nextQuest.rewards.experience_reward}}</div>
                    </li>
                  {{/if}}
                {{/if}}
                </ul>
              </div>
            {{/if}}
              
            {{#if nextSubquestStates}}
              <div class="quest-subquests">
                {{#each nextSubquestStates}}
                  {{view AWE.UI.Ember.QuestListItemViewDetailEpicSub questStateBinding="this" class="quest-list-item"}}
                {{/each}}
              </div>
            {{/if}}
            
          </div>
        {{/if}}


        {{#if nextButtonVisible}}
        <div class="nextButton" {{action "redeemLaterButtonPressed" }}>
          <span>{{t tutorial.goOn}}</span>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="quest-unit-rewards-view">
  {{#each units }}
    {{view AWE.UI.Ember.QuestUnitRewardView unitBinding="this"}}
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="quest-unit-reward-view">
  <div>
    <div class="quest-reward-name">{{unitName}}</div>
    <div class="quest-reward-amount">{{unit.amount}}</div>
  </div>
</script>