<script type="text/x-handlebars" data-template-name="ranking-view">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="horizontal-center-helper">
    <div class="modal-dialog-pane z-layer-4 ranking-view">
      <a {{action "closePressed"}} class="close clickable"></a>
      <h1>{{t ranking.header }}</h1>
      <div class="advisor chef"></div>
      <br />
      
      {{view AWE.UI.Ember.RankingTabView }}
    </div>
  </div>
</script>


<script type="text/x-handlebars" data-template-name="character-ranking-view">
    <table class="ranking-table">
      <tr>
        <th class="rank">{{t ranking.rank}}</th>
        <th class="character">{{t ranking.character}}</th>
        <th {{bindAttr class="sortedByOverall :clickable :overall"}} {{action "sortByOverall"}}>{{t ranking.overallScore}}</th>
        <th {{bindAttr class="sortedByResource :clickable :resource"}} {{action "sortByResource"}}>{{t ranking.resourceScore}}</th>
        <th {{bindAttr class="sortedByLikes :clickable :likes"}} {{action "sortByLikes"}}>{{t ranking.likes}}</th>
        <th {{bindAttr class="sortedByKills :clickable :kills"}} {{action "sortByKills"}}>{{t ranking.beatenUnits}}</th>
        <th {{bindAttr class="sortedByVictories :clickable :victories"}} {{action "sortByVictories"}}>{{t ranking.victories}}</th>
        <th {{bindAttr class="sortedByExperience :clickable :experience"}} {{action "sortByExperience"}}>{{t ranking.experiencedArmy}}</th>
        <th class="artifact">{{t ranking.artifacts}}</th>
      </tr>
      {{#if characterRankingEntries}}
        {{#each characterRankingEntries}}
          <tr {{bindAttr class="this.ownEntry:bold"}}>
            <td class="number rank">{{this.rank}}</td>
            <td>
              <div style="float:left">
                {{view AWE.UI.Ember.AvatarView avatarStringBinding="avatar_string" classNames="avatar" width=24 height=24 postfix="ranking"}}
              </div>
              <a class="clickable character" {{action "characterPressed"}}>{{this.character_name}}</a>{{#if this.alliance_tag}} | <a class="clickable" {{action "alliancePressed" target="parentView"}}>{{this.alliance_tag}}{{/if}}</a><br style="clear:both"></td>
            <td class="number overall">{{this.overall_score}}</td>
            <td class="number resource">{{this.resource_score}}</td>
            <td class="number likes">{{this.likes}} ({{formatAsPercent this.like_ratio}})</td>
            <td class="number kills">{{this.kills}}</td>
            <td class="number victories">{{this.victories}} ({{formatNumber this.victory_ratio maxPlaces="1"}})</td>
            <td class="number experience">{{this.max_experience}}</td>
            <td class="artifact">{{this.artifact_name}}</td>
          </tr>
        {{/each}}
        {{#each emptyCharacterRankingEntries}}
          <tr><td colspan="9"></td></tr>
        {{/each}}
        <tr>
          <td colspan="9" style="text-align:center;">
            {{view AWE.UI.Ember.RankingNavigationView currentPageBinding="currentPage" maxPageBinding="maxPage"}}
          </td>
        </tr>
      {{else}}
        {{#each emptyEntriesAheadOfSpinwheel}}
          <tr><td colspan="9"></td></tr>
        {{/each}}
        </tr>
          <td colspan="9" style="text-align:center;">
            {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
          </td>
        </tr>
        {{#each emptyEntriesAfterSpinwheel}}
          <tr><td colspan="9"></td></tr>
        {{/each}}
      {{/if}}
    </table>
</script>

<script type="text/x-handlebars" data-template-name="alliance-ranking-view">
    <table class="ranking-table">
      <tr>
        <th class="rank2">{{t ranking.rank}}</th>
        <th class="alliance">{{t ranking.alliance}}</th>
        <th {{bindAttr class="sortedByFortress :clickable :fortress"}} {{action "sortByFortress"}}>{{t ranking.numFortresses}}</th>
        <th {{bindAttr class="sortedByMembers :clickable :members"}} {{action "sortByMembers"}}>{{t ranking.numMembers}}</th>
        <th {{bindAttr class="sortedByFortressMembers :clickable :region-members"}} {{action "sortByFortressMembers"}}>{{t ranking.regionsPerMember}}</th>
        <th {{bindAttr class="sortedByOverall :clickable :overall2"}} {{action "sortByOverall"}}>{{t ranking.overallScore}}</th>
        <th {{bindAttr class="sortedByResource :clickable :resource2"}} {{action "sortByResource"}}>{{t ranking.resourceScore}}</th>
        <th {{bindAttr class="sortedByKills :clickable :kills2"}} {{action "sortByKills"}}>{{t ranking.beatenUnits}}</th>
        <th class="artifacts">{{t ranking.artifacts}}</th>
      </tr>
      {{#if allianceRankingEntries}}
        {{#each allianceRankingEntries}}
          <tr {{bindAttr class="this.ownEntry:bold"}}>
            <td class="number">{{this.rank}}</td>
            <td><a {{action "alliancePressed"}}>{{this.alliance_tag}}</a></td>
            <td class="number">{{this.num_fortress}}</td>
            <td class="number">{{this.num_members}}</td>
            <td class="number">{{this.regions_per_member}}</td>
            <td class="number">{{this.overall_score}}</td>
            <td class="number">{{this.resource_score}}</td>
            <td class="number">{{this.kills}}</td>
            <td class="number">{{this.artifacts}}</td>
          </tr>
        {{/each}}
        {{#each emptyAllianceRankingEntries}}
          <tr><td colspan="9"></td></tr>
        {{/each}}
        <tr>
          <td colspan="9" style="text-align:center;">
            {{view AWE.UI.Ember.RankingNavigationView currentPageBinding="currentPage" maxPageBinding="maxPage"}}
          </td>
        </tr>
      {{else}}
        {{#each emptyEntriesAheadOfSpinwheel}}
          <tr><td colspan="9"></td></tr>
        {{/each}}
        </tr>
          <td colspan="9" style="text-align:center;">
            {{#if loading}}
              {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
            {{else}}
              {{t ranking.noAlliances}}
            {{/if}}
          </td>
        </tr>
        {{#each emptyEntriesAfterSpinwheel}}
          <tr><td colspan="9"></td></tr>
        {{/each}}
      {{/if}}
    </table>
</script>

<script type="text/x-handlebars" data-template-name="fortress-ranking-view">
  <table class="ranking-table">
    <tr>
      <th class="rank2">{{t ranking.rank}}</th>
      <th {{bindAttr class="sortedByName :clickable :fortress2"}} {{action "sortByName"}}>{{t ranking.region}}</th>
      <th class="character">{{t ranking.owner}}</th>
      <th {{bindAttr class="sortedByTaxRate :clickable :tax"}} {{action "sortByTaxRate"}}>{{t ranking.taxRate}}</th>
      <th {{bindAttr class="sortedByIncome :clickable :income"}} {{action "sortByIncome"}}>{{t ranking.income}}</th>
      <th {{bindAttr class="sortedByDefense :clickable :defense"}} {{action "sortByDefense"}}>{{t ranking.defenseBonus}}</th>
    </tr>
    {{#if fortressRankingEntries}}
      {{#each fortressRankingEntries}}
        <tr {{bindAttr class="this.ownEntry:bold"}}>
          <td class="number">{{this.rank}}</td>
          <td><a class="clickable" {{action "regionPressed"}}>{{this.region_name}}</a></td>
          <td><a class="clickable" {{action "characterPressed"}}>{{this.character_name}}</a>{{#if this.alliance_tag}} | <a class="clickable" {{action "alliancePressed"}}>{{this.alliance_tag}}{{/if}}</a></td>
          <td class="number">{{formatAsPercent this.tax_rate}}</td>
          <td class="number">{{formatNumber this.resource_production_score maxPlaces="0"}}</td>
          <td class="number">{{formatAsPercent this.defense_bonus}}</td>
        </tr>
      {{/each}}
      {{#each emptyFortressRankingEntries}}
        <tr><td colspan="6"></td></tr>
      {{/each}}
      <tr>
        <td colspan="6" style="text-align:center;">
          {{view AWE.UI.Ember.RankingNavigationView currentPageBinding="currentPage" maxPageBinding="maxPage"}}
        </td>
      </tr>
    {{else}}
      {{#each emptyEntriesAheadOfSpinwheel}}
        <tr><td colspan="6"></td></tr>
      {{/each}}
      </tr>
      <td colspan="6" style="text-align:center;">
        {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
      </td>
      </tr>
      {{#each emptyEntriesAfterSpinwheel}}
        <tr><td colspan="6"></td></tr>
      {{/each}}
    {{/if}}
  </table>
</script>


<script type="text/x-handlebars" data-template-name="artifact-ranking-view">
  <table class="ranking-table">
    <tr>
      <th {{bindAttr class="sortedByName :clickable :name"}} {{action "sortByName"}}>{{t ranking.type}}</th>
      <th {{bindAttr class="sortedByOwner :clickable :owner"}} {{action "sortByOwner"}}>{{t ranking.owner}}</th>
      <th {{bindAttr class="sortedByRegion :clickable :region"}} {{action "sortByRegion"}}>{{t ranking.region}}</th>
      <th {{bindAttr class="sortedByCapture :clickable :capture"}} {{action "sortByCapture"}}>{{t ranking.captured}}</th>
      <th {{bindAttr class="sortedByInitiation :clickable :initiation"}} {{action "sortByInitiation"}}>{{t ranking.initiated}}</th>
    </tr>
    {{#if artifactRankingEntries}}
      {{#each artifactRankingEntries}}
        <tr {{bindAttr class="this.ownEntry:bold"}}>
          <td><a class="clickable" {{action "artifactPressed"}}>{{local this.name}}</a></td>
          <td><a class="clickable" {{action "characterPressed"}}>{{this.owner_name}}</a>{{#if this.alliance_tag}} | <a class="clickable" {{action "alliancePressed"}}>{{this.alliance_tag}}{{/if}}</a></td>
          <td><a class="clickable" {{action "regionPressed"}}>{{this.region_name}}</a></td>
          <td class="datetime">{{#if this.last_captured_at}}{{formatDatetime this.last_captured_at}}{{/if}}</td>
          <td class="datetime">{{#if this.initiated}}{{formatDatetime this.last_initiated_at}}{{/if}}</td>
        </tr>
      {{/each}}
      {{#each emptyArtifactRankingEntries}}
        <tr><td colspan="5"></td></tr>
      {{/each}}
      <tr>
        <td colspan="5" style="text-align:center;">
          {{view AWE.UI.Ember.RankingNavigationView currentPageBinding="currentPage" maxPageBinding="maxPage"}}
        </td>
      </tr>
    {{else}}
      {{#each emptyEntriesAheadOfSpinwheel}}
        <tr><td colspan="5"></td></tr>
      {{/each}}
      </tr>
      <td colspan="5" style="text-align:center;">
        {{#if loading}}
          {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
        {{else}}
          {{t ranking.noArtifacts}}
        {{/if}}
      </td>
      </tr>
      {{#each emptyEntriesAfterSpinwheel}}
        <tr><td colspan="5"></td></tr>
      {{/each}}
    {{/if}}
  </table>
</script>

<script type="text/x-handlebars" data-template-name="ranking-navigation-view">
  {{#if pageGreater1}}<a class="clickable" {{action "gotoPreviousPage" target="parentView"}}>&lt;&lt;</a> | <a class="clickable" {{action "gotoFirstPage" target="parentView"}}>1</a> |{{/if}}
  {{#if pageGreater3}}<a class="clickable" {{action "gotoSecondPage" target="parentView"}}>2</a> |{{/if}}
  {{#if pageGreater5}} ... |{{/if}}
  {{#if pageGreater4}}<a class="clickable" {{action "gotoPreviousPreviousPage" target="parentView"}}>{{previousPreviousPage}}</a> |{{/if}}
  {{#if pageGreater2}}<a class="clickable" {{action "gotoPreviousPage" target="parentView"}}>{{previousPage}}</a> |{{/if}} 
  <b>{{currentPage}}</b>
  {{#if pageLessMax2}}| <a class="clickable" {{action "gotoNextPage" target="parentView"}}>{{nextPage}}</a>{{/if}} 
  {{#if pageLessMax4}}| <a class="clickable" {{action "gotoNextNextPage" target="parentView"}}>{{nextNextPage}}</a>{{/if}} 
  {{#if pageLessMax5}}| ... {{/if}} 
  {{#if pageLessMax3}}| <a class="clickable" {{action "gotoMaxPreviousPage" target="parentView"}}>{{maxPreviousPage}}</a>{{/if}} 
  {{#if pageLessMax1}}| <a class="clickable" {{action "gotoMaxPage" target="parentView"}}>{{maxPage}}</a> | <a class="clickable" {{action "gotoNextPage" target="parentView"}}>>></a>{{/if}} 
</script>

<script type="text/x-handlebars" data-template-name="victory-progress-ranking-view">
  {{view AWE.UI.Ember.AllianceVictoryView controllerBinding="controller" allianceBinding="AWE.GS.game.currentCharacter.alliance"}}
</script>
