<script type="text/x-handlebars" data-template-name="ranking-view">
      <h1>{{t ranking.header }}</h1>      
      {{view AWE.UI.Ember.RankingTabView }}
</script>

<script type="text/x-handlebars" data-template-name="character-ranking-view">
    {{view AWE.UI.Ember.RankingNavigationView currentPageBinding="currentPage" maxPageBinding="maxPage"}}
    <div class="ranking-table scrolling">
      <table>
        {{#if characterRankingEntries}}
          {{#each characterRankingEntries}}
            <tr {{bindAttr class="this.ownEntry"}}>
              <td class="rank background-textfield-grey-xs">{{this.rank}}</td>
              <td class="character background-textfield-grey-xl">
                <a class="clickable" {{action "characterPressed"}}>{{this.character_name}}</a>
              </td>
              {{#if view.sortedByResource}}
                <td class="value victories background-textfield-grey-s">{{this.resource_score}}</td>
              {{/if}}
              {{#if view.sortedByFortress}}
                <td class="value fortresses background-textfield-grey-s">{{this.num_fortress}}</td>
              {{/if}}
              {{#if view.sortedByOverall}}
                <td class="value population background-textfield-grey-s">{{this.overall_score}}</td>
              {{/if}}
            </tr>
          {{/each}}
        {{else}}
          <tr>
            <td style="text-align:center;">
              {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
            </td>
          </tr>
        {{/if}}
      </table>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="alliance-ranking-view">
  {{view AWE.UI.Ember.RankingNavigationView currentPageBinding="currentPage" maxPageBinding="maxPage"}}
  <div class="ranking-table scrolling">
    <table>
      {{#if allianceRankingEntries}}
        {{#each allianceRankingEntries}}
          <tr {{bindAttr class="this.ownEntry"}}>
            <td class="rank background-textfield-grey-xs">{{this.rank}}</td>
            <td class="character background-textfield-grey-xl">
              <a class="clickable" {{action "alliancePressed"}}>{{this.alliance_tag}}</a>
            </td>
            {{#if view.sortedByResource}}
              <td class="value victories background-textfield-grey-s">{{this.resource_score}}</td>
            {{/if}}
            {{#if view.sortedByFortress}}
              <td class="value fortresses background-textfield-grey-s">{{this.num_fortress}}</td>
            {{/if}}
            {{#if view.sortedByOverall}}
              <td class="value population background-textfield-grey-s">{{this.overall_score}}</td>
            {{/if}}
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td style="text-align:center;">
            {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
          </td>
        </tr>
      {{/if}}
    </table>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="ranking-navigation-view">
<div class="section previous">
  {{#unless isFirstPage}}
    <div class="button button-blue-short sorting-arrow" {{action "gotoFirstPage" target="parentView"}}><<</div>
    <div class="button button-blue-short sorting-arrow" {{action "gotoPreviousPage" target="parentView"}}><</div>
  {{/unless}}
</div>
<div class="section sort">
  <div {{bindAttr class="sortedByResource:active :sorting :resources"}} {{action "sortByResource"}}></div>
  <div {{bindAttr class="sortedByFortress:active :sorting :fortress"}} {{action "sortByFortress"}}></div>
  <div {{bindAttr class="sortedByOverall:active :sorting :population"}} {{action "sortByOverall"}}></div>
</div>
<div class="section next">
{{#unless isLastPage}}
  <div class="button button-blue-short sorting-arrow" {{action "gotoMaxPage" target="parentView"}}>>></div>
  <div class="button button-blue-short sorting-arrow" {{action "gotoNextPage" target="parentView"}}>></div>
  {{/unless}}
</div>
</script>

<script type="text/x-handlebars" data-template-name="victory-progress-ranking-view">
  {{view AWE.UI.Ember.AllianceVictoryView controllerBinding="controller" alliance_idBinding="allianceId"}}
</script>
