<script type="text/x-handlebars" data-template-name="ranking-view">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4 ranking-view">
      <h1>{{t ranking.header }}</h1>
      <div class="advisor chef"></div>

      
      {{view AWE.UI.Ember.RankingTabView }}

      <div class="icon-button ok-button" {{action "closePressed"}}>{{t general.close}}</div>
    </div>
  </div>
</script>


<script type="text/x-handlebars" data-template-name="character-ranking-view">
    <table class="ranking-table">
      <tr>
        <th>{{t ranking.rank}}</th>
        <th>{{t ranking.character}}</th>
        <th {{bindAttr class="sortedByOverall"}} {{action "sortByOverall"}}>{{t ranking.overallScore}}</th>
        <th {{bindAttr class="sortedByResource"}} {{action "sortByResource"}}>{{t ranking.resourceScore}}</th>
        <th {{bindAttr class="sortedByLikes"}} {{action "sortByLikes"}}>{{t ranking.likes}}</th>
        <th {{bindAttr class="sortedByVictories"}} {{action "sortByVictories"}}>{{t ranking.victories}}</th>
        <th {{bindAttr class="sortedByVictoryRatio"}} {{action "sortByVictoryRatio"}}>{{t ranking.victoryRatio}}</th>
        <th {{bindAttr class="sortedByKills"}} {{action "sortByKills"}}>{{t ranking.beatenUnits}}</th>
        <th {{bindAttr class="sortedByExperience"}} {{action "sortByExperience"}}>{{t ranking.experiencedArmy}}</th>
      </tr>
      {{#if characterRankingEntries}}
        {{#each characterRankingEntries}}
          <tr {{bindAttr class="this.ownEntry:bold"}}>
            <td class="number">{{this.rank}}</td>
            <td>{{view AWE.UI.Ember.RankingLinkedCharacterView characterIdBinding="character_id"}}</td>
            <td class="number">{{this.overall_score}}</td>
            <td class="number">{{this.resource_score}}</td>
            <td class="number">{{this.likes}} ({{formatAsPercent this.like_ratio}})</td>
            <td class="number">{{this.victories}}</td>
            <td class="number">{{formatNumber this.victory_ratio maxPlaces="1"}}</td>
            <td class="number">{{this.kills}}</td>
            <td class="number">{{this.max_experience}}</td>
          </tr>
        {{/each}}
        {{#each emptyCharacterRankingEntries}}
          <tr><td colspan="9"></td></tr>
        {{/each}}
        <tr>
          <td colspan="9" style="text-align:center;">
            <a class="clickable" {{action "previousPage"}}>&lt;&lt; {{t ranking.previousPage}}</a> | {{currentPage}} | <a class="clickable" {{action "nextPage"}}>{{t ranking.nextPage}}>></a>
          </td>
        </tr>
      {{else}}
        {{#each emptyEntriesAheadOfSpinwheel}}
          <tr><td colspan="9"></td></tr>
        {{/each}}
        </tr>
          <td colspan="9" style="text-align:center;">
            {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
          </td>
        </tr>
        {{#each emptyEntriesAfterSpinwheel}}
          <tr><td colspan="9"></td></tr>
        {{/each}}
      {{/if}}  
    </table>
</script>

<script type="text/x-handlebars" data-template-name="alliance-ranking-view">
    <table class="ranking-table">
      <tr>
        <th>{{t ranking.rank}}</th>
        <th>{{t ranking.alliance}}</th>
        <th {{bindAttr class="sortedByFortress"}} {{action "sortByFortress"}}>{{t ranking.numFortresses}}</th>
        <th {{bindAttr class="sortedByOverall"}} {{action "sortByOverall"}}>{{t ranking.overallScore}}</th>
        <th {{bindAttr class="sortedByResource"}} {{action "sortByResource"}}>{{t ranking.resourceScore}}</th>
        <th {{bindAttr class="sortedByKills"}} {{action "sortByKills"}}>{{t ranking.beatenUnits}}</th>
        <th {{bindAttr class="sortedByMembers"}} {{action "sortByMembers"}}>{{t ranking.numMembers}}</th>
        <th {{bindAttr class="sortedByFortressMembers"}} {{action "sortByFortressMembers"}}>{{t ranking.regionsPerMember}}</th>
      </tr>
      {{#if allianceRankingEntries}}
        {{#each allianceRankingEntries}}
          <tr {{bindAttr class="this.ownEntry:bold"}}>
            <td class="number">{{this.rank}}</td>
            <td><a {{action "alliancePressed"}}>{{this.alliance_tag}}</a></td>
            <td class="number">{{this.num_fortress}}</td>
            <td class="number">{{this.overall_score}}</td>
            <td class="number">{{this.resource_score}}</td>
            <td class="number">{{this.kills}}</td>
            <td class="number">{{this.num_members}}</td>
            <td class="number">{{this.regions_per_member}}</td>
          </tr>
        {{/each}}
        {{#each emptyAllianceRankingEntries}}
          <tr><td colspan="8"></td></tr>
        {{/each}}
        <tr>
          <td colspan="8" style="text-align:center;">
            <a class="clickable" {{action "previousPage"}}>&lt;&lt; {{t ranking.previousPage}}</a> | {{currentPage}} | <a class="clickable" {{action "nextPage"}}>{{t ranking.nextPage}}>></a>
          </td>
        </tr>
      {{else}}
        {{#each emptyEntriesAheadOfSpinwheel}}
          <tr><td colspan="8"></td></tr>
        {{/each}}
        </tr>
          <td colspan="8" style="text-align:center;">
            {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
          </td>
        </tr>
        {{#each emptyEntriesAfterSpinwheel}}
          <tr><td colspan="9"></td></tr>
        {{/each}}
      {{/if}}  
    </table>
</script>

<script type="text/x-handlebars" data-template-name="fortress-ranking-view">
    <table class="ranking-table">
      <tr>
        <th>{{t ranking.rank}}</th>
        <th>{{t ranking.fortress}}</th>
        <th>{{t ranking.owner}}</th>
        <th {{bindAttr class="sortedByTaxRate"}} {{action "sortByTaxRate"}}>{{t ranking.taxRate}}</th>
        <th {{bindAttr class="sortedByIncome"}} {{action "sortByIncome"}}>{{t ranking.income}}</th>
        <th {{bindAttr class="sortedByDefense"}} {{action "sortByDefense"}}>{{t ranking.defenseBonus}}</th>
      </tr>
      {{#if fortressRankingEntries}}
        {{#each fortressRankingEntries}}
          <tr {{bindAttr class="this.ownEntry:bold"}}>
            <td class="number">{{this.rank}}</td>
            <td>{{this.region_name}}</td>
            <td>{{view AWE.UI.Ember.RankingLinkedCharacterView characterIdBinding="owner_id"}}</td>
            <td class="number">{{formatAsPercent this.tax_rate}}</td>
            <td class="number">{{formatNumber this.resource_production_score maxPlaces="0"}}</td>
            <td class="number">{{formatAsPercent this.defense_bonus}}</td>
          </tr>
        {{/each}}
        {{#each emptyFortressRankingEntries}}
          <tr><td colspan="6"></td></tr>
        {{/each}}
        <tr>
          <td colspan="6" style="text-align:center;">
            <a class="clickable" {{action "previousPage"}}>&lt;&lt; {{t ranking.previousPage}}</a> | {{currentPage}} | <a class="clickable" {{action "nextPage"}}>{{t ranking.nextPage}}>></a>
          </td>
        </tr>
      {{else}}
        {{#each emptyEntriesAheadOfSpinwheel}}
          <tr><td colspan="6"></td></tr>
        {{/each}}
        </tr>
          <td colspan="6" style="text-align:center;">
            {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
          </td>
        </tr>
        {{#each emptyEntriesAfterSpinwheel}}
          <tr><td colspan="6"></td></tr>
        {{/each}}
      {{/if}}  
    </table>
</script>

<script type="text/x-handlebars" data-template-name="victory-progress-ranking-view">
  {{view AWE.UI.Ember.AllianceVictoryView controllerBinding="controller" allianceBinding="AWE.GS.player.currentCharacter.alliance"}}
</script>
