<script type="text/x-handlebars" data-template-name="resource-details-dialog">
  <div class="modal-dialog-background"></div>
    <div class="modal-dialog-pane resource-details-dialog-pane">
      <h2>{{t resource.productionInfo.header}}</h2>
      
      <table>
        <tr>
         <th></th>
          {{#each productionDetails}}
            <th><span class="resource-icon {{unbound resourceType.symbolic_id}} middle" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span></th> 
          {{/each}}
        </tr>
        <tr>
         <td>{{t resource.productionInfo.amount}}</td>
          {{#each productionDetails}}
            <td class="number">{{formatNumber amount maxPlaces="0"}}</td> 
          {{/each}}
        </tr>

        <tr>
         <td>{{t resource.productionInfo.productionRate}}</td>
          {{#each productionDetails}}
            <td class="number">{{formatNumber rate maxPlaces="1"}}/h</td> 
          {{/each}}
        </tr>
        <tr>
         <td>{{t resource.productionInfo.dailyProduction}}</td>
          {{#each productionDetails}}
            <td class="number">{{formatNumber dailyRate maxPlaces="0"}}</td> 
          {{/each}}
        </tr>
        
        <tr>
         <td>{{t resource.productionInfo.capacity}}</td>
          {{#each productionDetails}}
            <td class="number">{{formatNumber capacity maxPlaces="0"}}</td> 
          {{/each}}
        </tr>
        <tr>
         <td>{{t resource.productionInfo.capacityReachedIn}}</td>
          {{#each productionDetails}}
            <td class="number">
            {{#if filled}}
              <span class="red-color">{{t resource.productionInfo.full}}</span>
            {{else}}
              {{#if fillNever}}
                - 
              {{else}}
                {{formatDuration fillDuration}}
              {{/if}} 
            {{/if}}
          </td>
          {{/each}}
        </tr>

        <tr>
         <td>{{t resource.productionInfo.effects}}</td>
          {{#each productionDetails}}
            <td class="number">{{formatPercentage effects}}</td> 
          {{/each}}
        </tr>
      </table>     
      
      <p>{{t resource.productionInfo.help1}} <em>{{t settlement.info.buildings}}</em> {{t resource.productionInfo.help2}} <em>{{t settlement.info.tax}}</em> {{t resource.productionInfo.help3}} <em>{{t resource.productionInfo.baseProduction}}</em> von{{t resource.productionInfo.help4}} <a href="#" {{action "pressedShop"}}>{{t shop.title}}</a> {{t resource.productionInfo.help5}}</p>
      
      {{#if AWE.Config.LIKE_ENABLED}}
        <table>
          <tr>
            <td>Likes verfügbar</td>
            <td class="number">{{formatNumber pool.like_amount maxPlaces="0"}}</td>
          </tr>
          <tr>
            <td>Dislikes verfügbar</td>
            <td class="number">{{formatNumber pool.dislike_amount maxPlaces="0"}}</td>
          </tr>
        </table>
      {{/if}}
      
      <a class="icon-button ok-button" href="#" {{action "okClicked"}}>{{t general.ok}}</a>     
    </div>
</script>

