<!-- templates that are shared among the different settlement types -->

<script type="text/x-handlebars" data-template-name="settlement-info-box">
  {{#unless expanded}}
  
    <h1>{{settlement.name}}</h1>
    
    <div class="float-right down-icon" title="click to expand">&nbsp;</div>

    <p><span title="Verteidigungsbonus für alle Armeen, die auf der Seite dieser Siedlung kämpfen.">Def +{{formatNumber defenseBonus places="0"}}%</span> | 
       <span title="Baugeschwindigkeit"> G {{formatNumber buildingSpeed maxPlaces="0"}}%</span> | 
       <span title="Rekrutierunggeschwindigkeit von Nahkämpfern"     >N {{formatNumber infantryTrainingSpeed maxPlaces="0"}}%</span> |
       <span title="Rekrutierunggeschwindigkeit von Berittenen"    >B {{formatNumber cavalryTrainingSpeed maxPlaces="0"}}%</span> | 
       <span title="Rekrutierunggeschwindigkeit von Fernkämpfern"     >F {{formatNumber artilleryTrainingSpeed maxPlaces="0"}}%</span> | 
       <span title="benutzte Kommandopunkte / verfügbare Kommandopunkte. Jede Armee benötigt einen Kommandopunkt.">Kommandopunkte: {{formatNumber settlement.commandPointsUsed maxPlaces="0"}} / {{formatNumber settlement.command_points places="0"}}</span><br> 
  
      {{t settlement.population}} {{settlement.score}}
      {{#each settlement.resourceProductions}}
        &nbsp; <span class="resource-icon {{unbound resourceType.symbolic_id}}">&nbsp;</span>   <span {{bindAttr title="localizedDetails"}}> {{formatNumber rate maxPlaces="0"}}/h</span> 
      {{/each}}
    </p>  

  {{else}}
  
  
    <h1>{{settlement.name}} <!-- <a href="#" class="change-name" {{action "changeNamePressed"}}>Namen ändern</a>--></h1>  

    <p><b>{{t settlement.population}}:</b> {{settlement.score}}</p>
    <p><b>{{t settlement.defenseBonus}}:</b> {{formatNumber defenseBonus places="0"}}<span class="help-icon" title="Wenn die Siedlung an einem Kampf beteiligt ist, wirkt der Verteidigungsbonus auf den Verteidigungswert aller Truppen, die auf der Seite dieser Festung kämpfen; egal, ob sie innerhalb oder außerhalb der Mauern stationiert sind.">&nbsp;</span></p>
    </p>

    <table>
      <tr>
        <td><b>Baugeschwindigkeit:</b></td><td class="number"> {{formatNumber buildingSpeed maxPlaces="0"}}% </td>
      </tr>
      <tr> 
        <td><b>Rekrutierunggeschwindigkeit von Nahkämpfern:</b></td><td class="number"> {{formatNumber infantryTrainingSpeed maxPlaces="0"}}%</td> 
      </tr>
      <tr>
        <td><b>Rekrutierunggeschwindigkeit von Berittenen:</b></td><td class="number"> {{formatNumber cavalryTrainingSpeed maxPlaces="0"}}%</td> 
      </tr>
      <tr>
        <td><b>Rekrutierunggeschwindigkeit von Fernkämpfern:</b></td><td class="number"> {{formatNumber artilleryTrainingSpeed maxPlaces="0"}}%</td> 
      </tr>
    </table>
    <p>Du kannst die Geschwindigkeit, mit der Einheiten und Gebäude produziert werden, erhöhen, indem du die jeweiligen Gebäude ausbaust.</p>
    
    <p>
      <span title="benutzte Kommandopunkte / verfügbare Kommandopunkte. Jede Armee benötigt einen Kommandopunkt."><b>Kommandopunkte:</b> {{formatNumber settlement.commandPointsUsed places="0"}} / {{formatNumber settlement.command_points places="0"}}</span> 
    
    <span class="help-icon" title="Du benötigst einen Kommandopunkt für Jede Armee, die zu dieser Siedlung gehört. Die Garnison ist eine Ausnahme und benötigt keinen Kommandopunkt.">&nbsp;</span></p>
    
    {{#if lastError}} <p class="red-color"><b>{{t lastError}}</b></p>{{/if}}
    <p><b>Steuersatz:</b> {{formatNumber settlement.taxPercentage}}%
      {{#if settlement.owns_region }}
        {{#if changeTaxPossible }}
          <a href="#" {{action "changeTaxPressed"}}>ändern</a><span class="help-icon" title="Die Steuersatz, die du hier setzt, gilt für die komplette Region und alle ihre Einwohner.">&nbsp;</span>
        {{else}}
          Die nächste Änderung ist eine Stunde nach der letzten Änderung möglich.
        {{/if}}
      {{else}}
        <span class="help-icon" title="Der Steuersatz wird vom Besitzer der Festung in der Region festgesetzt. Das Minimum sind 5%, der Standardwert und das Maximum sind 20%. Du findest den Steuersatz ungerecht? Verbünde dich mit den anderen Bewohnern der Region gegen den Unterdrücker. Er hat es bestimmt verdient. Nimm die Festung ein und ziehe die Steuern für dich selbst ein.">&nbsp;</span>
      {{/if}}
    </p>

    <h2>Rohstoffproduktion</h2>
    <table>
      <tr>
       <th></th>
        {{#each settlement.resourceProductions}}
          <th><span class="resource-icon {{unbound resourceType.symbolic_id}} middle" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span></th> 
        {{/each}}
      </tr>
      <tr>
       <td>Gebäude</td>
        {{#each settlement.resourceProductions}}
          <td class="number">{{formatNumber base maxPlaces="2"}}/h</td> 
        {{/each}}
      </tr>
      <tr>
       <td>+ Bonus</td>
        {{#each settlement.resourceProductions}}
          <td class="number">{{formatNumber bonusAbs maxPlaces="2"}}/h</td> 
        {{/each}}
      </tr>
      <tr>
       <td>{{#if settlement.owns_region}}+{{else}}-{{/if}} Steuern</td>
        {{#each settlement.resourceProductions}}
          <td class="number">{{formatNumber tax maxPlaces="2"}}/h</td> 
        {{/each}}
      </tr>
      <tr>
       <td>= Ergebnis</td>
        {{#each settlement.resourceProductions}}
          <td class="number">{{formatNumber rate maxPlaces="2"}}/h</td> 
        {{/each}}
      </tr>
    </table>

    <div class="float-right up-icon" title="click to minimize">&nbsp;</div>

  {{/unless}}
</script>

