<script type="text/x-handlebars" data-template-name="settlement-info-dialog">
  <div class="modal-dialog-background"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane settlement-info-dialog-pane">
      {{view AWE.UI.Ember.AllianceBannerView allianceBinding="alliance" classNames="alliance-banner" width=120 height=120}}
      <h1>{{settlement.name}}</h1>
      
      <p><b>{{t general.demigod}}:</b> {{view AWE.UI.Ember.LinkedCharacterView characterBinding="owner"}}</p>
      <p><b>{{t settlement.founded}}:</b> {{formatDatetime settlement.created_at}}</p>
      <p><b>{{t settlement.defenseBonus}}:</b> {{formatPercentage settlement.present_defense_bonus}} / {{t settlement.max}}: {{formatPercentage settlement.defense_bonus}}</p>
      <p><b>{{t settlement.condition}}:</b> {{formatPercentage settlement.condition}}</p>
      <p><b>{{t settlement.population}}:</b> {{settlement.score}}</p>

      
      <p>
      {{#if settlement.typeIsConquerable}}
        {{#if settlement.canBeTakenOver}}
          <b>{{t settlement.military.takeOver}}</b><br/>
        {{else}}
          <b>{{t settlement.military.noTakeOver}}</b><br/>
        {{/if}}
      {{/if}}
      
      {{#if settlement.typeIsDestroyable}}
        {{#if settlement.canBeDestroyed}}
          <b>{{t settlement.military.destroyable}}.</b>
        {{else}}
          <b>{{t settlement.military.notDestroyable}}</b>
        {{/if}}
      {{/if}}
      </p>
            
      <a class="icon-button ok-button" href="#" {{action "okClicked"}}>ok</a>  
    </div>
  </div>
</script>

