<!-- templates that are shared among the different settlement types -->

<script type="text/x-handlebars" data-template-name="settlement-info-box">
    <h1>{{settlement.name}}</h1>
    
    <p>&nbsp;&nbsp;<span title="{{t settlement.info.combatBonus}}.">{{t settlement.info.combatBonusAbbreviation}} +{{formatNumber defenseBonus places="0"}}%</span> | 
       <span title="{{t settlement.info.buildingSpeed}}"> {{t settlement.info.buildingSpeedAbbreviation}} {{formatNumber buildingSpeed maxPlaces="0"}}%</span> | 
       <span title="{{t settlement.info.meleeTrainingSpeed}}"     >{{t settlement.info.meleeTrainingSpeedAbbreviation}} {{formatNumber infantryTrainingSpeed maxPlaces="0"}}%</span> |
       <span title="{{t settlement.info.ridersTrainingSpeed}}"    >{{t settlement.info.ridersTrainingSpeedAbbreviation}} {{formatNumber cavalryTrainingSpeed maxPlaces="0"}}%</span> | 
       <span title="{{t settlement.info.rangedTrainingSpeed}}"     >{{t settlement.info.rangedTrainingSpeedAbbreviation}} {{formatNumber artilleryTrainingSpeed maxPlaces="0"}}%</span> | 
       <span title="{{t settlement.info.commandPointsInfo}}">{{t building.commandPoints}}: {{settlement.commandPointsUsed}} / {{settlement.command_points}}</span><br/>

      &nbsp;&nbsp;&nbsp;{{t settlement.info.buildings}}: {{view AWE.UI.Ember.WheelOrValueView valueBinding="settlement.usedBuildingSlots"}} / {{settlement.building_slots_total}}
      {{t settlement.population}} {{settlement.score}}
      {{#each settlement.resourceProductions}}
        &nbsp; <span class="resource-icon {{unbound resourceType.symbolic_id}}">&nbsp;</span>   <span {{bindAttr title="localizedDetails"}}> {{formatNumber rate maxPlaces="2"}}/h</span> 
      {{/each}}
    </p>  
</script>

<script type="text/x-handlebars" data-template-name="settlement-info-box-dialog">
  <h1>{{settlement.name}}</h1>
  <div class="modal-dialog-body settlement-info-box-dialog-pane scrolling">
    <div class="row row1">
      <div class="cell cell-50">
        <div class="row1_1">
          <div class="cell title">{{t settlement.defenseBonus}}:</div>
          <div class="cell value">{{formatPercentage settlement.present_defense_bonus}}</div>
        </div>
        <div class="row1_2">
          <div class="cell title">{{t settlement.condition}}:</div>
          <div class="cell value">{{formatPercentage settlement.condition}}</div>
        </div>
        <div class="row1_3">
          <div class="cell title">{{t settlement.info.buildingSpeed}}:</div>
          <div class="cell value">{{formatNumber buildingSpeed maxPlaces="0"}}%</div>
        </div>
      </div>
      <div class="cell cell-50">
        <div class="row1_4">
          <div class="cell title">{{t settlement.population}}:</div>
          <div class="cell value">{{settlement.score}}</div>
        </div>
        <div class="row1_5">
          <div class="cell title">{{t building.commandPoints}}:</div>
          <div class="cell value">{{settlement.commandPointsUsed}}/{{settlement.command_points}}</div>
        </div>
        <div class="row1_6">
          <div class="cell title">{{t settlement.info.availableBuildingSlots}}: </div>
          <div class="cell value">{{settlement.availableBuildingSlots}}</div>
        </div>
      </div>
    </div>
    <div class="row row2">
      <div class="cell">
        <span class="title">{{t settlement.info.recruitmentspeed}}:</span>
        <span class="army-icon infantry"></span> {{formatNumber infantryTrainingSpeed maxPlaces="0"}}%
        <span class="army-icon cavalry"></span> {{formatNumber cavalryTrainingSpeed maxPlaces="0"}}%
        <span class="army-icon artillery"></span> {{formatNumber artilleryTrainingSpeed maxPlaces="0"}}%
      </div>
    </div>
    <div class="row row3">
      <div class="tab-bar-new">
        <div class="cell cell-50">
          <div class="tab-button-view tab-button-view-new button-left">{{t settlement.info.move}}</div>
        </div>
        <div class="cell cell-50">
          <div class="tab-button-view tab-button-view-new button-right" {{action "changeTaxPressed"}}>{{t settlement.info.tax}} {{formatNumber settlement.taxPercentage}}%</div>
        </div>
      </div>
    </div>
    <div class="row row4">
      <table>
        <thead>
          <tr>
            <th></th>
            {{#each settlement.resourceProductions}}
            <th><span class="resource-icon {{unbound resourceType.symbolic_id}} middle" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span></th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="info">{{t settlement.info.productions}}:</td>
            {{#each settlement.resourceProductions}}
            <td class="number">{{formatNumber rate maxPlaces="2"}}/h</td>
            {{/each}}
          </tr>
          <tr>
            <td class="info">{{t settlement.info.bonus}}:</td>
            {{#each settlement.resourceProductions}}
            <td class="number">{{formatNumber bonusAbs maxPlaces="2"}}/h</td>
            {{/each}}
          </tr>
        </tbody>
      </table>
    </div>
  {{#if isOutOrFortress }}
  <div class="row row5">
      <div class="tab-bar-new">
        {{#if settlement.isOutpost }}
        <div class="cell cell-50">
          <div class="tab-button-view tab-button-view-new button-left" {{action abandonOutpostPressed}}>{{t settlement.abandon.abandon}}</div>
        </div>
        {{/if}}
        {{#if settlement.isFortress }}
        <div class="cell cell-50">
          <div class="tab-button-view tab-button-view-new button-right" {{action invationPressed}}>{{t settlement.invitationLink.header}}</div>
      </div>
        {{/if}}
    </div>
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="settlement-abandon-dialog">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4 abandon-dialog">
      <h1>Aufgabe der Lagerstätte</h1>
      {{#if error}}
        <p>Fehler: Lagerstätte konnte nicht aufgegeben werden.</p>
        <div class="icon-button close-button" {{action "cancelPressed"}}>{{t general.close}}</div>
      {{else}}
        {{#if loading}}
          <p>Lagerstätte wird aufgegeben... {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}</p>
        {{else}}
          <p>Willst du diese Lagerstätte wirklich aufgeben?</p>
          <div class="icon-button ok-button" {{action "okPressed"}}>{{t general.ok}}</div>
          <div class="icon-button cancel-button" {{action "cancelPressed"}}>{{t general.cancel}}</div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="settlement-invation-dialog">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4 invation-dialog">
      <h1>{{t settlement.invitationLink.header}}</h1>
      <p>{{t settlement.invitationLink.text}}</p>
      <div class="simple-button float-right" style="min-height: 10px; margin-right: 100px;" {{action "linkPressed"}}>{{t settlement.invitationLink.send}}</div>
      <p class="clearfix" {{action catchClick}}>{{ unbound AWE.Config.PLAYER_INVITATION_BASE }}{{ unbound settlement.regionInvitationCode }}</p>
      <p>{{t settlement.info.movingPassword}}: {{settlement.regionMovingPassword}}</p>
      <div class="icon-button ok-button" {{action "okPressed"}}>{{t general.ok}}</div>
    </div>
  </div>
</script>

