<script type="text/x-handlebars" data-template-name="settlement-info-dialog">
  <h1>{{settlement.name}}</h1>
  <div class="modal-dialog-body settlement-info-dialog-pane scrolling">
    <div class="row row1">
      <div class="tab-bar-new">
        <div class="cell cell-50">
          <div class="tab-button-view tab-button-view-new button-left" {{action "characterPressed" }}>{{owner.name}}</div>
        </div>
        <div class="cell cell-50">
          <div class="tab-button-view tab-button-view-new button-right" {{action "alliancePressed" }}>{{owner.alliance_tag}}</div>
        </div>
      </div>
    </div>
    <div class="row row2">
      <div class="row">
        <div class="cell cell-50 titles population-title">{{t settlement.population}}:</div>
        <div class="cell cell-50 values population-value">{{settlement.score}}</div>
      </div>
      <div class="row">
        <div class="cell cell-50 titles population-title">{{t settlement.defenseBonus}}:</div>
        <div class="cell cell-50 values population-value">{{formatPercentage settlement.present_defense_bonus}}</div>
      </div>
      <div class="row">
        <div class="cell cell-50 titles population-title">{{t settlement.condition}}:</div>
        <div class="cell cell-50 values population-value">{{formatPercentage settlement.condition}}</div>
      </div>
      <div class="row">
        <div class="cell cell-50 titles population-title">{{t settlement.info.tax}}:</div>
        <div class="cell cell-50 values population-value">{{formatNumber settlement.taxPercentage}}%</div>
      </div>
      {{#if settlement.typeIsConquerable}}
        <div class="row">
          <div class="cell cell-50 titles takeover-title">{{t settlement.military.takeOverTitle}}:</div>
          <div class="cell cell-50 values takeover-value">{{#if settlement.canBeTakenOver}}{{t settlement.military.yes}}{{else}}{{t settlement.military.no}}{{/if}}</div>
        </div>
      {{/if}}
      {{#if settlement.typeIsDestroyable}}
        <div class="row">
          <div class="cell cell-50 titles takeover-title">{{t settlement.military.destroyableTitle}}:</div>
          <div class="cell cell-50 values takeover-value">{{#if settlement.canBeDestroyed}}{{t settlement.military.yes}}{{else}}{{t settlement.military.no}}{{/if}}</div>
        </div>
      {{/if}}
      
    </div>
  </div>
</script>
