<!-- templates that are shared among the different settlement types -->

<script type="text/x-handlebars" data-template-name="settlement-info-box">
  {{#unless expanded}}
    
    <h1>{{settlement.name}}</h1>
    
    <p>&nbsp;&nbsp;<span title="{{t settlement.info.combatBonus}}.">{{t settlement.info.combatBonusAbbreviation}} +{{formatNumber defenseBonus places="0"}}%</span> | 
       <span title="{{t settlement.info.buildingSpeed}}"> {{t settlement.info.buildingSpeedAbbreviation}} {{formatNumber buildingSpeed maxPlaces="0"}}%</span> | 
       <span title="{{t settlement.info.meleeTrainingSpeed}}"     >{{t settlement.info.meleeTrainingSpeedAbbreviation}} {{formatNumber infantryTrainingSpeed maxPlaces="0"}}%</span> |
       <span title="{{t settlement.info.ridersTrainingSpeed}}"    >{{t settlement.info.ridersTrainingSpeedAbbreviation}} {{formatNumber cavalryTrainingSpeed maxPlaces="0"}}%</span> | 
       <span title="{{t settlement.info.rangedTrainingSpeed}}"     >{{t settlement.info.rangedTrainingSpeedAbbreviation}} {{formatNumber artilleryTrainingSpeed maxPlaces="0"}}%</span> | 
       <span title="{{t settlement.info.commandPoints}}">{{t building.commandPoints}}: {{settlement.commandPointsUsed}} / {{settlement.command_points}}</span><br/> 

      &nbsp;&nbsp;&nbsp;{{t settlement.info.buildings}}: {{view AWE.UI.Ember.WheelOrValueView valueBinding="settlement.usedBuildingSlots"}} / {{settlement.building_slots_total}}
      {{t settlement.population}} {{settlement.score}}
      {{#each settlement.resourceProductions}}
        &nbsp; <span class="resource-icon {{unbound resourceType.symbolic_id}}">&nbsp;</span>   <span {{bindAttr title="localizedDetails"}}> {{formatNumber rate maxPlaces="2"}}/h</span> 
      {{/each}}
    </p>  

  {{else}}
  
  
    <h1>{{settlement.name}} <!-- <a href="#" class="change-name" {{action "changeNamePressed"}}>{{t settlement.info.changeName}}</a>--></h1>  

    <p><b>{{t settlement.info.availableBuildingSlots}}:</b> {{settlement.availableBuildingSlots}} &nbsp;<b>{{t settlement.population}}:</b> {{settlement.score}}</p>
    <p><b>{{t settlement.defenseBonus}}:</b> {{formatNumber defenseBonus places="0"}}<span class="help-icon" title="{{t settlement.info.combatBonusInfo}}.">&nbsp;</span></p>
    </p>

    <table>
      <tr>
        <td><b>{{t settlement.info.buildingSpeed}}:</b></td><td class="number"> {{formatNumber buildingSpeed maxPlaces="0"}}% </td>
      </tr>
      <tr> 
        <td><b>{{t settlement.info.meleeTrainingSpeed}}:</b></td><td class="number"> {{formatNumber infantryTrainingSpeed maxPlaces="0"}}%</td> 
      </tr>
      <tr>
        <td><b>{{t settlement.info.ridersTrainingSpeed}}:</b></td><td class="number"> {{formatNumber cavalryTrainingSpeed maxPlaces="0"}}%</td> 
      </tr>
      <tr>
        <td><b>{{t settlement.info.rangedTrainingSpeed}}:</b></td><td class="number"> {{formatNumber artilleryTrainingSpeed maxPlaces="0"}}%</td> 
      </tr>
    </table>
    <p>{{t settlement.info.speedUpInfo}}</p>
    
    <p>
      <span title="{{t settlement.info.commandPoints}}"><b>{{t building.commandPoints}}:</b> {{settlement.commandPointsUsed}} / {{settlement.command_points}}</span> 
    
    <span class="help-icon" title="{{t settlement.info.commandPointsHelp}}">&nbsp;</span></p>
    
    {{#if lastError}} <p class="red-color"><b>{{lastError}}</b></p>{{/if}}
    <p><b>{{t settlement.info.taxRate}}:</b> {{formatNumber settlement.taxPercentage}}%
      {{#if settlement.owns_region }}
        {{#if changeTaxPossible }}
          <a href="#" {{action "changeTaxPressed"}}>{{t settlement.info.change}}</a><span class="help-icon" title="{{t settlement.info.taxRateChangeInfo}}">&nbsp;</span>
        {{else}}
          {{t settlement.info.taxRateChangeNotPossible}}
        {{/if}}
      {{else}}
        <span class="help-icon" title="{{t settlement.info.taxRateHelp}}">&nbsp;</span>
      {{/if}}
    </p>

    <h2>{{t settlement.info.resourceProduction}}</h2>
    <table>
      <tr>
       <th></th>
        {{#each settlement.resourceProductions}}
          <th><span class="resource-icon {{unbound resourceType.symbolic_id}} middle" {{bindAttr title="{{local resourceType.name}}"}}>&nbsp;</span></th> 
        {{/each}}
      </tr>
      <tr>
       <td>{{t settlement.info.buildings}}</td>
        {{#each settlement.resourceProductions}}
          <td class="number">{{formatNumber base maxPlaces="2"}}/h</td> 
        {{/each}}
      </tr>
      <tr>
       <td>+ {{t settlement.info.bonus}}</td>
        {{#each settlement.resourceProductions}}
          <td class="number">{{formatNumber bonusAbs maxPlaces="2"}}/h</td> 
        {{/each}}
      </tr>
      <tr>
       <td>{{#if settlement.owns_region}}+{{else}}-{{/if}} {{t settlement.info.tax}} </td>
        {{#each settlement.resourceProductions}}
          <td class="number">{{formatNumber tax maxPlaces="2"}}/h</td> 
        {{/each}}
      </tr>
      <tr>
       <td>= {{t settlement.info.result}}</td>
        {{#each settlement.resourceProductions}}
          <td class="number">{{formatNumber rate maxPlaces="2"}}/h</td> 
        {{/each}}
      </tr>
    </table>
    
    <p>{{t settlement.info.resourceProductionInfo1}} <b>{{t settlement.info.resourceProductionInfo2}}</b> {{t settlement.info.resourceProductionInfo3}}.</p>
	
	  {{#if settlement.isOutpost }}   
      <h2>{{t settlement.abandon.header}}</h2>
      <p>{{t settlement.abandon.text}}</p>
      {{#unless settlement.garrison.isFighting}}
        <div class="simple-button" style="min-height: 10px; margin-right: 100px;" {{action abandonOutpostPressed}}>{{t settlement.abandon.send}}</div>
      {{else}}
      <p>{{t settlement.abandon.fighting}}</p>
      {{/unless}}      
    {{/if}}
	
    {{#if settlement.isFortress }}
      <h2>{{t settlement.invitationLink.header}}</h2>
      <p>{{t settlement.invitationLink.text}}</p>
      <div class="simple-button float-right" style="min-height: 10px; margin-right: 100px;" {{action invitationLinkPressed}}>{{t settlement.invitationLink.send}}</div>      
      <p class="clearfix" {{action catchClick}}>{{ unbound AWE.Config.PLAYER_INVITATION_BASE }}{{ unbound settlement.regionInvitationCode }}</p>
    {{/if}}

    <div class="float-right up-icon" title="{{t settlement.info.clickToMinimize}}">&nbsp;</div>

  {{/unless}}
</script>

