<script type="text/x-handlebars" data-template-name="shop">
    <div class="modal-dialog-background"></div>
    <div class="center-helper">
      <div class="shop-dialog-pane">
        <h1>{{ t shop.title }}</h1>
        
        {{#if loading }}
          {{view AWE.UI.Ember.WheelOrValueView valueBinding="null" }}&nbsp;&nbsp;&nbsp;Shop wird geladen...
        {{else}}
          {{#unless shopEnabled }}
            <p>Der Shop ist vorübergehend nicht erreichbar!</p>
          {{else}}
            <p>{{ t shop.currentCreditAmount }}: {{view AWE.UI.Ember.WheelOrValueView valueBinding="shop.creditAmount" }} {{ t shop.credits }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="simple-button" {{action "buyCreditsPressed" target="parentView"}}>{{ t shop.buyCredits }}</span></p>
            
            {{#if resourceOffers}}
            <h4>{{ t shop.resourceOffers }}</h4>
                      
              <div class="platinum-button" {{action "buyCreditsPressed" target="parentView"}}>
                <p>Aktuelle</p><p>Platinum-Account</p><p>Angebote</p>
              </div>
                      
              {{#each resourceOffers}}
                {{view AWE.UI.Ember.ShopResourceOffer offerBinding="this" shopBinding="shop"}}
              {{/each}}
            {{/if}}
            
            {{#if bonusOffers}}
            
            <div class="clearfix"></div>
                              
            <div class="bonus-offer-header">
              <div class="bonus-offer-description">{{ t shop.description }}</div>
              <div class="bonus-offer-duration">{{ t shop.duration }}</div>
              <div class="bonus-offer-price">{{ t shop.price }}</div>
              <div class="bonus-offer-end">{{ t shop.expiry }}</div>
            </div>
              {{#each bonusOffers}}
                {{view AWE.UI.Ember.ShopBonusOffer offerBinding="this" shopBinding="shop" classNames="bonus-offer"}}
              {{/each}}
            {{/if}}
          {{/unless}}
        {{/if}}
        
        
        <a class="close" href="#" {{action "closePressed" target="parentView"}}></a>  
      </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="shop-resource-offer">
  {{#if offer.isBuying}}
    <div class="resource-offer">
      <p>{{ offer.amount }} {{resourceName}}{{t general.naivePlural }}</p>
      <p>&nbsp;</p>
      <p>{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}{{t shop.activating }}</p>
    </div>
  {{else}}
    <div class="resource-offer" {{action "buyResourceOfferPressed"}}>
      <p>{{ offer.amount }} {{resourceName}}</p>
      <p>{{t shop.for }}</p>
      <p>{{ offer.price}} {{ t shop.credits }}</p>
    </div>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="shop-bonus-offer">
  <div class="bonus-offer-description">+{{ formatAsPercent offer.bonus }} {{t shop.production }} {{ resourceName }}</div>
  <div class="bonus-offer-duration">{{ offer.duration }}h</div>
  <div class="bonus-offer-price">{{ offer.price}} </div>
  <div class="bonus-offer-end">
    {{#if offer.resource_effect }}
      {{ formatDatetime offer.resource_effect.finished_at }}
    {{/if}}
    
    {{#if offer.isBuying}}
      {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}{{t shop.activating }}
    {{else}}
      <div class="simple-button" {{action "buyBonusOfferPressed"}}>{{#if offer.resource_effect}}{{t shop.extend }}{{else}}{{t shop.buy }}{{/if}}</div>
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="not-enough-credits-info">
  <div class="advisor girl"></div>
  <h1>{{t shop.notenoughcredits.title}}</h1>
  <p>{{t shop.notenoughcredits.message}}</p>
</script>






