<script type="text/x-handlebars" data-template-name="shop">
    <div class="modal-dialog-background"></div>
    <div class="horizontal-center-helper">
      <div class="shop-dialog-pane scale-down helvetica-light">
        <h1>{{ t shop.title }}</h1>
        
        {{#if loading }}
          {{view AWE.UI.Ember.WheelOrValueView valueBinding="null" }}&nbsp;&nbsp;&nbsp;{{t shop.loading}}...
        {{else}}
          {{#unless shopEnabled }}
            <p>{{t shop.unreachable}}</p>
          {{else}}
            <p>{{ t shop.currentCreditAmount }} <b>{{view AWE.UI.Ember.WheelOrValueView valueBinding="shop.creditAmount" }}</b> {{ t shop.platinumCredits }}
              <!--{{#if AWE.Facebook.isRunningInCanvas}}-->
              <!--<span class="simple-button float-right platinum" {{action "buyFbCreditOfferPressed"}}>{{ t shop.buyCredits }} </span>-->
              <!--{{else}}-->
              <!--<span class="simple-button float-right platinum" {{action "buyCreditsPressed" target="parentView"}}>{{ t shop.buyCredits }}</span>-->
              <!--{{/if}}-->
            </p>
            
            {{#if resourceOffers}}
              <h3>{{ t shop.resourceOffers }}</h3>

              {{#if AWE.Facebook.isRunningInCanvas}}
              <div class="platinum-button" {{action "buyFbCreditOfferPressed"}}>
                <p>{{t shop.current}}</p><p>{{t shop.platinumCredit}}</p><p>{{t shop.offers}}</p>
              </div>
              {{else}}
              <div class="platinum-button" {{action "buyCreditsPressed" target="parentView"}}>
                <p>{{t shop.current}}</p><p>{{t shop.platinumCredit}}</p><p>{{t shop.offers}}</p>
              </div>
              {{/if}}

              {{#each resourceOffers}}
                {{view AWE.UI.Ember.ShopResourceOffer offerBinding="this" shopBinding="shop"}}
              {{/each}}
            {{/if}}
            
            <div class="clearfix"></div>
            
            
            <div class="frog-trade">
              <div class="frog-trade-description">{{ t shop.frog_trade }}</div>
              <div class="frog-trade-button">
                <div class="simple-button"  {{action "resourceExchangePressed"}}>
                  <img src="{{ unbound AWE.Config.RAILS_ASSET_PATH }}icons/toad.png" alt="" /> 
                  {{t settlement.trade.frogTradeButton}}
                </div>
              </div>
            </div>

            {{#if specialOffer}}
              <div class="clearfix"></div>
              <div class="special-offer-header">
                <span>{{t shop.bonusOfferDescription}}</span>
                <div style="text-align: right;" class="help-icon" {{action "specialOfferHelpPressed"}}></div>
              </div>

              {{view AWE.UI.Ember.ShopSpecialOffer offerBinding="specialOffer" shopBinding="shop" classNames="special-offer"}}
            {{/if}}

            <div {{bindAttr class="offerWrapperClass" }} >
            {{#if platinumOffers}}
            
              <div class="clearfix"></div>
              <h3>{{ t shop.platinumFunction }} <div class="help-icon" {{action "platinumHelpPressed"}}></div></h3>
                                
              <div class="bonus-offer-header">
                <div class="bonus-offer-description">{{ t shop.description }}</div>
                <div class="bonus-offer-duration">{{ t shop.duration }}</div>
                <div class="bonus-offer-price">{{ t shop.credits }}</div>
                <div class="bonus-offer-end">{{ t shop.expiry }}</div>
                <div class="bonus-offer-button">{{ t shop.action }}</div>
              </div>
              {{#each platinumOffers}}
                {{view AWE.UI.Ember.ShopPlatinumOffer offerBinding="this" shopBinding="shop" classNames="bonus-offer"}}
              {{/each}}
              <div id="platinum-description">
                {{{ t shop.platinumDescription }}}
              </div>
            {{/if}}

            {{#if bonusOffers}}
              <div class="clearfix"></div>
                                
              <div class="bonus-offer-header">
                <div class="bonus-offer-description">{{ t shop.description }}</div>
                <div class="bonus-offer-duration">{{ t shop.duration }}</div>
                <div class="bonus-offer-price">{{ t shop.price }}</div>
                <div class="bonus-offer-end">{{ t shop.expiry }}</div>
                <div class="bonus-offer-button">{{ t shop.action }}</div>
              </div>
              {{#each bonusOffers}}
                {{view AWE.UI.Ember.ShopBonusOffer offerBinding="this" shopBinding="shop" classNames="bonus-offer"}}
              {{/each}}
            {{/if}}
            </div>
          {{/unless}}
        {{/if}}
        
        <a class="close" href="#" {{action "closePressed" target="parentView"}}></a>  
      </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="shop-resource-offer">
  {{#if offer.isBuying}}
    <div class="resource-offer">
      <p>&nbsp;<br/>
         {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}{{t shop.activating }}</p>
    </div>
  {{else}}
    <div class="resource-offer" {{action "buyResourceOfferPressed"}}>
      <p>{{ offer.amount }} {{resourceName}}{{t general.naivePlural }} {{t shop.for }}<br/>
         {{ offer.price}} {{ t shop.credits }}</p>
    </div>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="shop-bonus-offer">
  <div class="bonus-offer-description">+{{ formatAsPercent offer.bonus }} {{t shop.production }} {{ resourceName }}</div>
  <div class="bonus-offer-duration">{{ offer.duration }}h</div>
  <div class="bonus-offer-price">{{ offer.price}}
    {{#if offer.frogCurrency}}
      <img src="{{ unbound AWE.Config.RAILS_ASSET_PATH }}icons/toad-wide.png" alt="" />
    {{else}}
      <img src="{{ unbound AWE.Config.RAILS_ASSET_PATH }}icons/credits.png" alt="" />
    {{/if}}
  </div>
  <div class="bonus-offer-end">
    {{#if offer.resource_effect }}
      {{ formatDatetime offer.resource_effect.finished_at }}
    {{/if}}
  </div>
  <div class="bonus-offer-button">
    {{#if offer.isBuying}}
      {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}{{t shop.activating }}
    {{else}}
      <div class="simple-button" {{action "buyBonusOfferPressed"}}>{{#if offer.resource_effect}}{{t shop.extend }}{{else}}{{t shop.buy }}{{/if}}</div>
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="shop-special-offer">
  <div class="bonus-offer-description">{{ t shop.specialOffer}}</div>
  <div class="bonus-offer-price">{{ offer.price}}
    {{#if offer.frogCurrency}}
      <img src="{{ unbound AWE.Config.RAILS_ASSET_PATH }}icons/toad-wide.png" alt="" />
    {{else}}
      <img src="{{ unbound AWE.Config.RAILS_ASSET_PATH }}icons/credits.png" alt="" />
    {{/if}}
  </div>
  <div class="bonus-offer-button">
    {{#if offer.isBuying}}
      {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}{{t shop.activating }}
    {{else}}
      <div class="simple-button" {{action "buySpecialOfferPressed"}}>{{t shop.buy2 }}</div>
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="shop-platinum-offer">
  <div class="bonus-offer-description">{{ t shop.platinumOffers}}</div>
  <div class="bonus-offer-duration">{{ offerDurationDays }} {{t general.days}}</div>
  <div class="bonus-offer-price">{{ offer.price}}</div>
  <div class="bonus-offer-end">
    {{#if platinumExpiration }}
      {{#if lifetime }}
        {{t shop.lifetime }}
      {{else}}
        {{ formatDatetime platinumExpiration }}
      {{/if}}
    {{/if}}
  </div>
  <div class="bonus-offer-button">
    {{#unless lifetime }}
      {{#if offer.isBuying}}
        {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}{{t shop.activating }}
      {{else}}
        <div class="simple-button" {{action "buyPlatinumOfferPressed"}}>{{#if platinumExpiration}}{{t shop.extend }}{{else}}{{t shop.buy }}{{/if}}</div>
      {{/if}}
    {{/unless}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="catapult-start-dialog">
  <div class="modal-dialog-background"></div>
  <div class="horizontal-center-helper">
    <div {{bindAttr class=":catapult-start-dialog AWE.Settings.locale :scale-down"}}>
      <a class="close" href="#" {{action "closePressed" target="parentView"}}></a>  
      <div class="exclusive">{{t shop.bonusOfferDescription}}</div>
      <div class="offer-content">
        <table>
          <tr><td class="title">{{offerTitle}}</td></tr>
          <tr><td class="resources">{{offerResources}}</td></tr>
          <tr><td class="frogs">{{offerFrogs}}</td></tr>
          <tr><td class="time">{{offerTime}}</td></tr>
        </table>
      </div>
      <div class="buy-button clickable" {{action "buyPressed"}}></div>
      <div class="star"></div>
      <div class="box"></div>
      <div class="price">
        {{offer.price}}
        {{#if offer.frogCurrency}}
        <img src="{{ unbound AWE.Config.RAILS_ASSET_PATH }}icons/toad-wide.png" alt="" />
        {{else}}
        <img src="{{ unbound AWE.Config.RAILS_ASSET_PATH }}icons/credits.png" alt="" />
        {{/if}}
      </div>
    </div>
  </div>
</script>
