<script type="text/x-handlebars" data-template-name="shop">
    <div class="modal-dialog-background"></div>
    <div class="center-helper">
      <div class="shop-dialog-pane">
        <h1>{{ t shop.title }}</h1>
        
        <p>{{ t shop.currentCreditAmount }}: {{view AWE.UI.Ember.WheelOrValueView valueBinding="shop.creditAmount" }} {{ t shop.credits }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="simple-button" {{action "buyCreditsPressed" target="parentView"}}>{{ t shop.buyCredits }}</span></p>
        
        {{#if resourceOffers}}
        <h4>{{ t shop.resourceOffers }}</h4>
                  
          {{#each resourceOffers}}
            {{view AWE.UI.Ember.ShopResourceOffer offerBinding="this" shopBinding="shop"}}
          {{/each}}
        {{/if}}
        
        {{#if bonusOffers}}
        
        <div class="clearfix"></div>
                          
        <div class="bonus-offer-header">
          <div class="bonus-offer-description">{{ t shop.description }}</div>
          <div class="bonus-offer-duration">{{ t shop.duration }}</div>
          <div class="bonus-offer-price">{{ t shop.price }}</div>
          <div class="bonus-offer-end">{{ t shop.expiry }}</div>
        </div>
          {{#each bonusOffers}}
            {{view AWE.UI.Ember.ShopBonusOffer offerBinding="this" shopBinding="shop" classNames="bonus-offer"}}
          {{/each}}
        {{/if}}
        
        
        <a class="close" href="#" {{action "closePressed" target="parentView"}}></a>  
      </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="shop-resource-offer">
    <a class="resource-offer" href="#" {{action "buyResourceOfferPressed"}}>
      <p>{{ offer.amount }} {{resourceName}}</p>
      <p>{{t shop.for }}</p>
      <p>{{ offer.price}} {{ t shop.credits }}</p>
    </a>
</script>

<script type="text/x-handlebars" data-template-name="shop-bonus-offer">
      <div class="bonus-offer-description">+{{ formatAsPercent offer.bonus }} {{t shop.production }} {{ resourceName }}</div>
      <div class="bonus-offer-duration">{{ offer.duration }}h</div>
      <div class="bonus-offer-price">{{ offer.price}} </div>
      <div class="bonus-offer-end">
        {{#if offer.resource_effect }}
          {{ formatDatetime offer.resource_effect.finished_at }}
        {{/if}}
        
        {{#if offer.isBuying}}
          {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}{{t shop.activating }}
        {{else}}
          <div class="simple-button" {{action "buyBonusOfferPressed"}}>{{#if offer.resource_effect}}{{t shop.extend }}{{else}}{{t shop.buy }}{{/if}}</div>
        {{/if}}
      </div>
</script>

<script type="text/x-handlebars" data-template-name="not-enough-credits-info">
  <div class="advisor girl"></div>
  <h1>Not enough credits</h1>
  <p >Unfortunately, you ran out of funds. Please visit the 
      credit shop to buy more 5D-Credits.</p>
</script>






