<script type="text/x-handlebars" data-template-name="linked-character-spinning-view">
  {{#if character}} 
    {{#if displayCharacter}}
      {{#if linkCharacter}}
        <a href="#" class="character-name-link" {{action nameClicked}}>{{character.name}}</a> 
      {{else}}
        {{character.name}}     
      {{/if}}
    {{/if}}
    {{#if displayAlliance}}
      {{#if character.alliance_tag}} | <a href="#" class="alliance-tag-link" {{action tagClicked}}>{{character.alliance_tag}}</a> {{/if}}
    {{/if}}
  {{else}}
    {{#if army}}
      {{#if displayCharacter}}
        {{#if linkCharacter}}
          <a href="#" class="character-name-link" {{action nameClicked}}>{{army.owner_name}}</a> 
        {{else}}
          {{army.owner_name}}     
        {{/if}}
      {{/if}}
      {{#if displayAlliance}}
        {{#if army.alliance_tag}} | <a href="#" class="alliance-tag-link" {{action tagClicked}}>{{army.alliance_tag}}</a> {{/if}}
      {{/if}}
    {{else}}
      {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} 
    {{/if}}
  {{/if}}
</script>


<script type="text/x-handlebars" data-template-name="text-input-dialog">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4" id="text-input-dialog">
      <h1>{{ heading }}</h1>
      {{view Ember.TextField class="text-field" placeholder="Name" type="text" valueBinding="input"}} 
      <div class="controls-bar">
        <div class="icon-button ok-button" {{action "okPressed"}}>ändern</div>
        <div class="icon-button cancel-button" {{action "cancelPressed"}}>abbrechen</div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="info-dialog">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4 info-dialog">
      {{#if contentTemplateName}}
        {{view Ember.View templateNameBinding="contentTemplateName" argumentsBinding="arguments"}}
      {{else}}
        <h1>{{ heading }}</h1>
        <p>{{ message }}</p>
      {{/if}}
      <div class="controls-bar">
        {{#if okPressed }}
          <div class="icon-button ok-button" {{action "okPressed"}}>{{okText}}</div>
        {{/if}}
        {{#if cancelPressed }}
          </div><div class="icon-button cancel-button" {{action "cancelPressed"}}>{{cancelText}}</div>
        {{/if}}
      </div>
    </div>
  </div>
</script>


<script type="text/x-handlebars" data-template-name="shout-box">
  <div class="shout-box">
    <h1>{{t general.shoutBox.heading}}</h1>
    {{view Ember.TextField class="text-field" placeholder="your message" type="text" valueBinding="shoutBoxInput"}} 
    <div class="button ok-button" {{action "shoutBoxSendPressed"}}>shout</div>

    <ul>
      {{#each shouts}}
        <li {{bindAttr class="own leader :shout"}}>
          <span class="text">{{ message }}</span><br>
          <span class="sender">
          {{view AWE.UI.Ember.WheelOrValueView valueBinding="character.name"}}</span>, <span class="date">{{ posted_ago_in_words }} {{t general.shoutBox.ago}}</span>
         </li>
      {{/each}}
    </ul>
  </div>
</script>


<script type="text/x-handlebars" data-template-name="pane">
  <div class="pane">
    <canvas class="pane-canvas"></canvas>
  </div>
</script>




