
<script type="text/x-handlebars" data-template-name="welcome-dialog">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4 welcome-dialog">
      <h1>{{t welcome.heading}}</h1>
      <h2>{{t welcome.headingPlan}}</h2>
      <img {{bindAttr src="imageSrc"}}></img>
      <h2>{{t welcome.headingSituation}}</h2>
      {{{t welcome.formattedText}}}
      {{#if okPressed }}
        <div class="image-button image-ok-button" {{action "okPressed"}}>Spielen</div>
      {{/if}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="announcement-dialog">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4 welcome-dialog">
      <h1>{{announcement.heading}}</h1>
      {{{announcement.body}}}
      {{#if okPressed }}
        <div class="image-button image-ok-button" {{action "okPressed"}}>Spielen</div>
      {{/if}}
      <a href="{{unbound AWE.Config.PORTAL_BASE}}/announcements" target="_blank" class="news-archive-link">Archiv</a>
    </div>
  </div>
</script>



