
<script type="text/x-handlebars" data-template-name="welcome-dialog">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4 startup-dialog scale-down">
      <div class="arrow first"></div>
      <div class="arrow second"></div>
      <div class="arrow third"></div>
      <div class="content">
        <h1>{{t welcome.heading}}</h1>
        <table>
          <tr>
            <td class="first advice">
            <h2>{{t welcome.info.first.heading}}</h2>
            <p>{{t welcome.info.first.text}}</p>
            <div class="info-image"></div>
            </td>
            <td class="second advice">
              <div class="info-image"></div>
              <h2>{{t welcome.info.second.heading}}</h2>
              <p>{{t welcome.info.second.text}}</p>
            </td>
          </tr>
          <tr>
            <td class="third advice">
              <h2>{{t welcome.info.third.heading}}</h2>
              <p>{{t welcome.info.third.text}}</p>
              <div class="info-image"></div>
            </td>
            <td class="fourth advice">
              <div class="info-image"></div>
              <h2>{{t welcome.info.fourth.heading}}</h2>
              <p>{{t welcome.info.fourth.text}}</p>
            </td>
          </tr>
        </table>
      </div>
      {{#if okPressed }}
        <div class="startup-dialog-button" {{action "okPressed"}}></div>
      {{/if}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="announcement-dialog">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4 welcome-dialog scale-down">
      <h1>{{announcement.heading}}</h1>
      {{{announcement.body}}}
      <div>
        {{view AWE.UI.Ember.FacebookSubcribeView classNames="facebook-iframe"}}
        {{#if okPressed }}
          <div class="image-button image-ok-button" {{action "okPressed"}}>{{t general.announcement.play}}</div>
        {{/if}}
        <a href="{{unbound AWE.Config.PORTAL_ROOT}}/announcements" target="_blank" class="news-archive-link">{{t general.announcement.archive}}</a>
      </div>
    </div>
  </div>
</script>



