<script type="text/x-handlebars" data-template-name="trainable-unit-button">
  {{local unitType.name}}
</script>


<script type="text/x-handlebars" data-template-name="training-queue-view">
  <h2>{{local queue.queueType.name }}</h2>

  <div>
    <p class="hurry-button finish-button clickable">
    <a {{action "resourceExchangePressed"}} title="{{t resource.exchange.advert}}">
      {{t resource.exchange.header }}
      <span class="resource-icon resource_cash">&nbsp;</span>
    </a>
    </p>
  </div>
  <div class="clear"></div>


  <div class="clearfix">
    {{#each trainableUnitTypes}}
      {{view AWE.UI.Ember.TrainableUnitButtonView unitTypeBinding="this" queueBinding="view.queue" classNames="training-option"}}
    {{/each}}
  </div>

  {{local selectedUnitButton.unitType.flavour}}

  <b>{{t settlement.training.perUnit}}:</b>
    {{#each costs}}
      {{amount}} {{local resourceType.name}} &nbsp;  
    {{/each}}    
    <b>{{t settlement.training.duration}}:</b> {{formatDuration productionTime}}
  <br />
  <b>{{t settlement.training.total}}:</b>
    {{#each totalCosts}}
      {{amount}} {{local resourceType.name}} &nbsp;  
    {{/each}}    
    <b>{{t settlement.training.duration}}:</b> {{formatDuration totalProductionTime}}
  <br />  

  {{#if selectedUnitButton.requirementsMet }}
    {{view Ember.TextField class="text-field" valueBinding="number"}} 
    {{#if ongoingAction}}
      {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} {{t general.processing}}...
    {{else}}
      {{#if number}}
        <div class="button ok-button" {{action "createJobPressed"}}>{{t settlement.training.recruit}} {{local selectedUnitButton.unitType.name}}</div>
      {{/if}}
    {{/if}}    
  {{else}}
    {{#with selectedUnitButton}}
      <p>
        {{{t settlement.buildings.select.missingRequirements}}}:
        {{view Ember.View templateName="requirement-groups-view" unmetRequirementGroupsBinding="unmetRequirementGroups"}}
      </p>
    {{/with}}
  {{/if}}


  <div class="training-queue-list-pane clearfix">    
    {{#unless queue.empty }}
      <hr />
      {{#each queue.hashableJobs.collection }}
        {{#view AWE.UI.Ember.TrainingJobView controllerBinding="controller" jobBinding="this" classNames="training-queue-job"}}
          <div class="training-queue-job-text">    
            <p>{{ job.remaining }} {{local job.unitType.name }}</p>
            {{#if job.active_job }}
            <p>Next Unit: {{job.parsedFinishingActiveDate }}</p>
            <p>All: {{ job.parsedFinishingTotalDate }}</p>
            {{/if}}
          </div>  
          <p class="queue-job-button finish-button">
            {{#if isTrainingSpeedupPossible }}
              <a href="#" {{action "speedupJobPressed"}} title="{{t settlement.training.hurryTooltip}}">
               {{t settlement.training.hurry }} {{trainingSpeedupCost timeRemaining}} 
               <span class="resource-icon {{trainingSpeedupResource timeRemaining}}">&nbsp;</span>
              </a>
            {{else}}
              {{#if job.hurried}} <em> {{t settlement.training.hurryIndicator}} </em> {{/if}}
            {{/if}}
          </p>
          <p class="queue-job-button cancel">    
            <a href="#" {{action "cancelJobPressed"}}>{{t map.button.cancel}}</a>
          </p> 
        {{/view}}
      {{/each}}
    {{/unless}}
  </div>
  
  <br class="clearfix" />
</script>


<script type="text/x-handlebars" data-template-name="training-queue-full-info">
{{#with arguments}}
  <div class="advisor warrior"></div>
  <p>{{t settlement.training.queueFull.start}} {{max_length}} {{t settlement.training.queueFull.end}}</p>
{{/with}}
</script>
