<script type="text/x-handlebars" data-template-name="quest-list-view">
  <div class="modal-dialog-background"></div>
  <div class="horizontal-center-helper">
    <div class="modal-dialog-pane quest-list-view">

      <div class="advisor warrior tiny"></div>
      <div class="advisor girl tiny"></div>
      <div class="advisor chef tiny"></div>      

      <h1>{{t tutorial.questList}}</h1>

      <div class="quest-list-header">
        <div class="quest-list-item-name">{{ t tutorial.name }}</div>
        <div class="quest-list-item-status">{{ t tutorial.status }}</div>
        <div class="quest-list-item-reward"></div>
        <div class="quest-list-item-show"></div>
      </div>

      <div class="quest-list-body">
        {{#each questStates}}
          {{view AWE.UI.Ember.QuestListEntryView questStateBinding="this" class="quest-list-item" classNameBindings="questState.quest.tutorial questState.quest.advisor" }}</td>
        {{/each}}
      </div>
            
      <div class="button ok-button" {{action "okPressed"}}>{{t general.ok}}</div>
      
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="quest-list-entry-view">
        <div class="quest-list-item-name">
          {{#if questState.quest.tutorial}}
            Tutorial:
          {{/if}}
          {{local questState.questName}}
        </div>
        <div class="quest-list-item-status">{{questState.statusString}}</div>
        <div class="quest-list-item-reward">
            {{#if questState.finished}}
              {{#if questState.redeeming}}
                {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
              {{else}}
                <div class="simple-button" {{action "redeemButtonPressed" }}>{{t tutorial.rewardLink }}</div>
              {{/if}}
            {{/if}}
        </div>
        <div class="quest-list-item-show"><div class="simple-button" {{action "showQuestInfoPressed" }}>{{t tutorial.showQuestLink }}</div></div>
</script>


<script type="text/x-handlebars" data-template-name="quest-view">
      <p class="citation clearfix">
      {{#unless questState.finished}}
        {{local quest.flavour}}
      {{else}}
        {{local quest.reward_flavour}}
      {{/unless}}
      </p>
      <h3>
        {{#if questState.finished}}
          {{#unless quest.tutorial }}
            {{t tutorial.quest.end.task}} {{local quest.task}}
          {{/unless}}
        {{else}}
          {{local quest.task}}
        {{/if}}
      </h3>
      {{#if questState.finished}}
        {{#if quest.reward_text}}Tipp:{{/if}} {{local quest.reward_text}}
      {{else}}
        {{#if newArmyQuest}}<div class="description-image"></div>{{/if}}}
        {{local quest.description}}
      {{/if}}

      {{#if quest.reward_tests.textbox_test }}
        {{#unless finished}}
          <div>
            {{view Ember.TextField class="quest-answer-field" placeholder="answer" type="text" valueBinding="answerText"}}
            {{#if checking}}
              {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
            {{else}}
              <div class="simple-button" {{action "checkQuestAnswerPressed"}} >{{t tutorial.answerQuestLink }}</div>
            {{/if}}
          </div>
          {{#if error}}
            <p>{{t tutorial.quest.error}}</p>
          {{/if}} 
        {{/unless}}
      {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="quest-dialog-header">
  {{#if finished}}
    {{t tutorial.quest.end.header }}
  {{else}}
    {{#if modeStart}}
      {{t tutorial.quest.start.header }}
    {{else}}
      {{#if modeEnd}}
        {{t tutorial.quest.end.header }}
      {{else}}
        {{#if modeExisting}}
          {{t tutorial.quest.info.header }}
        {{else}}
          {{#if parentView.header}} 
            {{parentView.header}}
          {{else}}
            {{t tutorial.quest.info.header }}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="tutorial-dialog-header">
  {{#if finished}}
    {{t tutorial.task.end.header }} {{parentView.questState.tutorialState.closedQuestStateCountPlusOne}} / {{parentView.questState.tutorialState.tutorial.num_tutorial_quests}}
  {{else}}
    {{#if modeStart}}
      {{t tutorial.task.start.header }} {{parentView.questState.tutorialState.closedQuestStateCountPlusOne}} / {{parentView.questState.tutorialState.tutorial.num_tutorial_quests}}
    {{else}}
      {{#if modeEnd}}
        {{t tutorial.task.end.header }}  {{parentView.questState.tutorialState.closedQuestStateCountPlusOne}} / {{parentView.questState.tutorialState.tutorial.num_tutorial_quests}}
      {{else}}
        {{#if modeExisting}}
          {{t tutorial.task.info.header }}  {{parentView.questState.tutorialState.closedQuestStateCountPlusOne}} / {{parentView.questState.tutorialState.tutorial.num_tutorial_quests}}
        {{else}}
          {{t tutorial.task.info.header }}  {{parentView.questState.tutorialState.closedQuestStateCountPlusOne}} / {{parentView.questState.tutorialState.tutorial.num_tutorial_quests}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</script>


<script type="text/x-handlebars" data-template-name="quest-dialog">
  <div class="modal-dialog-background"></div>
  <div class="horizontal-center-helper">
    <div {{bindAttr class="quest.tutorial:tutorial :modal-dialog-pane :quest-dialog"}}>
      <div {{bindAttr class="quest.advisor :inner-border :clearfix"}}>

      <div {{bindAttr class="advisor"}}></div>
      {{#if quest.tutorial}}
        {{view Ember.View templateName="tutorial-dialog-header" tagName="h1" finishedBinding="finished" modeStartBinding="modeStart" modeEndBinding="modeEnd" modeExistingBinding="modeExisting"}}
      {{else}}
        {{view Ember.View templateName="quest-dialog-header" tagName="h1" finishedBinding="finished" modeStartBinding="modeStart" modeEndBinding="modeEnd" modeExistingBinding="modeExisting"}}
      {{/if}}
      
      {{view AWE.UI.Ember.QuestView questBinding="quest" questStateBinding="questState"}}
        
      {{#if quest.rewards}}
      <hr class="clear" />
      <div>
        {{#if finished}}
          <div class="quest-redeem-button">
            {{#unless redeeming}}
              <div class="simple-button" {{action "redeemLaterButtonPressed" }}>{{t tutorial.redeemLater }}</div>
            {{/unless}}
          </div>
        {{else}}
          <div class="quest-redeem-button">
            Belohnung
          </div>
        {{/if}}
        <div class="quest-rewards">      
        {{#if finished}}
          {{#if quest.rewards.resource_rewards}}
            {{#each quest.rewards.resource_rewards}}
              <div class="quest-reward-item">
                <div class="quest-reward-item-image finished">
                  <span class="resource-icon {{unbound this.resource}} finished">&nbsp;</span>
                </div>
                <div class="quest-reward-item-amount finished">{{this.amount}}</div>
              </div>
            {{/each}}
          {{/if}}
          {{#if quest.rewards.unit_rewards}}
            {{#each quest.rewards.unit_rewards}}
              <div class="quest-reward-item">
                <div class="quest-reward-item-image finished">
                  <span class="unit-icon {{unbound this.unit}} finished">&nbsp;</span>
                </div>
                <div class="quest-reward-item-amount finished">{{this.amount}}</div>
              </div>
            {{/each}}
          {{/if}}
          {{#if quest.rewards.experience_reward}}
            <div class="quest-reward-item">
              <div class="quest-reward-item-image finished">
                <span class="xp-icon finished">&nbsp;</span>
              </div>
              <div class="quest-reward-item-amount finished">{{quest.rewards.experience_reward}}</div>
            </div>
          {{/if}}
        {{else}}
          {{#if quest.rewards.resource_rewards}}
            {{#each quest.rewards.resource_rewards}}
              <div class="quest-reward-item">
                <div class="quest-reward-item-image">
                  <span class="resource-icon {{unbound this.resource}}">&nbsp;</span>
                </div>
                <div class="quest-reward-item-amount">{{this.amount}}</div>
              </div>
            {{/each}}
          {{/if}}
          {{#if quest.rewards.unit_rewards}}
            {{#each quest.rewards.unit_rewards}}
              <div class="quest-reward-item">
                <div class="quest-reward-item-image">
                  <span class="unit-icon {{unbound this.unit}}">&nbsp;</span>
                </div>
                <div class="quest-reward-item-amount">{{this.amount}}</div>
              </div>
            {{/each}}
          {{/if}}
          {{#if quest.rewards.experience_reward}}
            <div class="quest-reward-item">
              <div class="quest-reward-item-image">
                <span class="xp-icon">&nbsp;</span>
              </div>
              <div class="quest-reward-item-amount">{{quest.rewards.experience_reward}}</div>
            </div>
          {{/if}}
        {{/if}}
        </div>
      </div>
      {{/if}}


        <div class="button ok-button clearfix" {{action "okPressed"}}>
          {{#if redeeming}}
            {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
          {{else}}
            {{t general.ok}}
          {{/if}}
        </div>
        <div class="quest-item-nr">#{{questState.questNr}}</div>


      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="quest-unit-rewards-view">
  {{#each units }}
    {{view AWE.UI.Ember.QuestUnitRewardView unitBinding="this"}}
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="quest-unit-reward-view">
  <div>
    <div class="quest-reward-name">{{unitName}}</div>
    <div class="quest-reward-amount">{{unit.amount}}</div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="tutorial-end-dialog">
  <div class="modal-dialog-background"></div>
  <div class="horizontal-center-helper">
    <div class="modal-dialog-pane tutorial-end-dialog">
      <div class="inner-border girl clearfix">
        
        <div class="advisor warrior"></div>
        <h1>{{t tutorial.end.header}}</h1>
        <p>{{t tutorial.end.p1}}</p>
        <p><b>{{t tutorial.end.p2}}</b></p>
        <div class="clearfix"></div>

        <div class="advisor chef"></div>
        <p class="chef">{{t tutorial.end.p3}}</p>
        <p class="chef">{{t tutorial.end.p4}}</p>
        <div class="clearfix"></div>
                
        <div class="advisor girl"></div>
        <p class="p5">{{t tutorial.end.p5}}</p>
        <p>{{t tutorial.end.p6}}</p>
        <div class="clearfix"></div>
          
        <div class="button ok-button clearfix" {{action "okPressed"}}>
          {{#if redeeming}}
            {{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}}
          {{else}}
            {{t general.ok}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</script>