<script type="text/x-handlebars" data-template-name="army-details">
      <div class="modal-dialog-background"></div>
      <div class="center-helper">
        <div class="modal-dialog-pane" id="army-details">
          <h1>{{ unbound AWE.I18n.strings.army.details.heading }}: {{ army.test }}</h1>
          {{#view Ember.Button action="changeNamePressed" target="parentView"}}change name{{/view}}
          {{#view Ember.Button action="closePressed" target="parentView"}}close{{/view}}
        </div>
      </div>
</script>