<!-- base-specific templates -->

<script type="text/x-handlebars" data-template-name="base-screen">
<div class="base-screen">
  <div class="base-picture">
    {{#if "base"}}
      {{#if "haveSlots"}}
        {{view AWE.UI.Ember.BuildingView classNames="wallTop" levelBinding="wallSlot.building.level"}}
        {{view AWE.UI.Ember.BuildingView classNames="wallLeft" levelBinding="wallSlot.building.level"}}
        {{view AWE.UI.Ember.BuildingView classNames="wallRight" levelBinding="wallSlot.building.level"}}
        {{view AWE.UI.Ember.BuildingSlotView  classNames="wall" slotBinding="wallSlot" settlementBinding="base"}}
        
        {{#each smallSlots}}
          {{view AWE.UI.Ember.BuildingSlotView  classNames="small-building" slotBinding="this" settlementBinding="view.base"}}
        {{/each}}
        
        {{#each largeSlots}}
          {{view AWE.UI.Ember.BuildingSlotView  classNames="large-building" slotBinding="this" settlementBinding="view.base"}}
        {{/each}}
      {{/if}}
      
      {{#if queues }}
        {{view AWE.UI.Ember.ConstructionQueueView controllerBinding="controller" classNames="queue-list" queuesBinding="queues.collection"}}
      {{/if}}
    {{/if}}

    {{#if selectedSlot}}
      {{#if selectedSlot.building }}
        {{view AWE.UI.Ember.BuildingDetailsDialog controllerBinding="controller" slotBinding="selectedSlot" buildingBinding="selectedSlot.building"}}
      {{else}}
        {{view AWE.UI.Ember.SelectBuildingDialog controllerBinding="controller" slotBinding="selectedSlot" constructionOptionsBinding="selectedSlot.constructionOptions"}}
      {{/if}}
    {{/if}}
  </div>
  
  {{#if base}}
    {{view AWE.UI.Ember.SettlementInfoBoxView classNames="settlement-info-box" settlementBinding="base" }}
  {{/if}}
</div>
</script>