<script type="text/x-handlebars" data-template-name="fortress-tower-left-view">
  <img src="/client/images/settlements/fortress/fortress_tower1.png" class="tower tower-left" />
</script>


<script type="text/x-handlebars" data-template-name="fortress-screen">

<div class="fortress-screen">
  <div class="fortress-picture">
    <img src="/client/images/settlements/fortress/fortress_background.png" class="background" />
    <img src="/client/images/settlements/fortress/fortress_buildings1.png" class="buildings" />
    <img src="/client/images/settlements/fortress/fortress_tower1.png" class="tower tower-right" />
    {{view WACKADOO.BuildingView className="tower tower-left"}}
    <div class="wall" />
  </div>
</div>

</script>