<script type="text/x-handlebars" data-template-name="interactive-building">
{{#if "tooltip"}}
  {{#if "model.building"}}
    {{#view AWE.UI.Ember.ToolTipView classNames="mouse-over" mouseXBinding="mouseX" mouseYBinding="mouseY"}}
      <img src="/client/images/dialogs/advisor.png" / class="advisor">
      <h1>{{parentView.model.building.name}} L{{parentView.model.building.level}}</h1>
      <p>Next level does cost XYZ resources. It will need about X:XX.YY to build.</p>
    {{/view}}
  {{/if}}
  {{#unless "model.building"}}
    {{#view AWE.UI.Ember.ToolTipView classNames="mouse-over" mouseXBinding="mouseX" mouseYBinding="mouseY"}}
      <img src="/client/images/dialogs/advisor.png" / class="advisor">
      <h1>Empty Building Site.</h1>
      <p>Click to build a new building here.</p>
    {{/view}}
  {{/unless}} 
{{/if}}
{{#if "model.building"}}
  <div class="level">{{model.building.level}}</div>
{{/if}}
</script>



<script type="text/x-handlebars" data-template-name="fortress-screen">
<div class="fortress-screen">
  <div class="fortress-picture">
    {{#if "fortress"}}
      {{#if "haveSlots"}}
        {{view AWE.UI.Ember.BuildingView classNames="buildings" levelBinding="wall.building.level"}}
        {{view AWE.UI.Ember.InteractiveBuildingView  classNames="tower tower-left" modelBinding="leftTower" settlementBinding="fortress"}}
        {{view AWE.UI.Ember.InteractiveBuildingView  classNames="tower tower-right" modelBinding="rightTower" settlementBinding="fortress"}}
        {{view AWE.UI.Ember.InteractiveBuildingView  classNames="wall"  modelBinding="wall" settlementBinding="fortress"}}
      {{/if}}
      {{#if queues}}
        {{view AWE.UI.Ember.QueueListView classNames="queue-list" queuesBinding="queues"}}
      {{/if}}
    {{/if}}
  </div>
</div>
</script>


<script type="text/x-handlebars" data-template-name="settlement-dialog-select-building">
  <div class="settlement-dialog-background"></div>
  <div class="settlement-dialog-pane settlement-dialog-select-building">
    <a href="#" {{action "cancelPressed" target="parentView"}} class="cancel">close</a>
    <h1>{{ heading }}</h1>    
    <p>{{ message }}</p>
    {{#if constructionOptions }}
      {{#each constructionOptions}}
        {{#view Ember.View contentBinding="this" classNames="building-option" }}
          <div {{action "optionClicked" target="parentView"}}>
            {{view AWE.UI.Ember.BuildingView modelBinding="content" classNames="building-option-image"}}
            {{content.name}}<br>Level {{content.level}}
          </div>
        {{/view}}
      {{/each}}
    {{/if}}
    
  </div>
</script>


<script type="text/x-handlebars" data-template-name="settlement-dialog-building-details">
  <div class="settlement-dialog-background"></div>
  <div class="settlement-dialog-pane settlement-dialog-building-details">
    <a href="#" {{action "cancelPressed" target="parentView"}} class="cancel">close</a>
    <h1>{{ building.name }} Level {{ building.level }}</h1>    
    {{view AWE.UI.Ember.BuildingView classNames="building-option-image" modelBinding="building"}}
    {{{building.description}}}

    {{#if building.unlockedQueues}}
      <p><b>Enables:</b> {{#each building.unlockedQueues}}{{ name }}, {{/each}}</p>
    {{/if}}
    
    {{#if building.speedupQueues}}
      {{#each building.speedupQueues}}
        <p><b>Speed bonus to {{ name }}:</b> {{ speedup }}%</p>
      {{/each}}
    {{/if}}
    
    <hr>
    <h2>Next Level: {{ building.nextLevel }}</h2>
    <a href="#" {{action "upgradeClicked"}}>Upgrade</a>

    
    {{#if building.unlockedQueuesNextLevel}}
      <p><b>Enables:</b> {{#each building.unlockedQueuesNextLevel}}{{ name }}, {{/each}}</p>
    {{/if}}
    
    {{#if building.speedupQueuesNextLevel}}
      {{#each building.speedupQueuesNextLevel}}
        <p><b>Speed bonus to {{ name }}:</b> {{ speedup }}%</p>
      {{/each}}
    {{/if}}

  </div>
</script>


<script type="text/x-handlebars" data-template-name="queue-list">
  <div class="queue-list-pane">
    {{#if queues }}
      {{#each queues}}
        {{#view Ember.View queueBinding="this" classNames="queue"}}
        <h1>Queue {{ queue.type_id }}</h1>
          {{#if queue.jobs }}
          <div class="queue-job-list">    
            {{#each queue.jobs }}
              {{#view AWE.UI.Ember.JobView jobBinding="this" classNames="queue-job"}}
                {{view AWE.UI.Ember.BuildingView classNames="queue-job-image" levelBinding="job.building.level" buildingIdBinding="job.building.buildingId" typeBinding="job.building.type"}}
                <div class="queue-job-text">    
                  <p>{{ job.job_type }}</p>
                  <p>{{ job.building.name }}</p>
                  <p>Level {{ job.level_after }}</p>
                  <p>{{#if job.active_job }}Fin.: {{ job.parsedFinishingDate }}{{/if}}</p>
                </div>  
                <div class="queue-job-button">    
                  <a href="#" {{action "cancelJobPressed" target="parentView"}}>cancel</a>
                </div>  
              {{/view}}
            {{/each}}
          </div>  
          {{/if}}
          {{#unless queue.jobs }}
          <div class="queue-job-list empty">    
             <p>This construction queue is empty</p>
          </div>  
          {{/unless}}
        {{/view}}
      {{/each}}
    {{/if}}
  </div>
</script>