<script type="text/x-handlebars" data-template-name="wheel-or-value">
  {{#if value}}
    {{value}}
  {{else}}
    {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }}
  {{/if}} 
</script>



<script type="text/x-handlebars" data-template-name="message-teaser">
  {{#if parentView.displayingOutbox}}
    <span class="recipient">
      {{view AWE.UI.Ember.WheelOrValueView valueBinding="message.recipient.name"}}
    </span>   
  {{else}}
    <span class="sender">
      {{view AWE.UI.Ember.WheelOrValueView valueBinding="message.sender.name"}}
    </span> 
  {{/if}} <span class="time">{{timeString}}</span><br />
  <span class="subject">{{message.subject}}</span>
</script>


<script type="text/x-handlebars" data-template-name="message">
  <table>
    <tr><th>From:<th><td>
      <b>{{view AWE.UI.Ember.WheelOrValueView valueBinding="message.sender.name"}}
         {{#if "message.sender.alliance_tag"}}
           | {{message.sender.alliance_tag}}
         {{/if}}
      <b>
    </td></tr>
    <tr><th>Subject:<th><td>{{message.subject}}</td></tr>
    <tr><th>Date:<th><td>{{timeString}}</td></tr>
    <tr><th>To:<th><td>{{view AWE.UI.Ember.WheelOrValueView valueBinding="message.recipient.name"}} 
      {{#if "message.recipient.alliance_tag"}}
        | {{message.recipient.alliance_tag}}
      {{/if}}</td>
    </tr>
  </table>
  <hr>
  {{message.body}}
</script>


<script type="text/x-handlebars" data-template-name="message-center">
<div class="message-center">
  <div class="header">
    <div {{action "inboxClicked" target="controller"}}>Inbox</div>
    <div {{action "outboxClicked" target="controller"}}>Outbox</div> * 
    <div {{action "newClicked" target="controller"}}>New</div>
  </div>

  <div class="list">
    {{#if "messageBox"}}
      <h1>{{messageBox.name}}</h1>
      {{#each messageBox.entries}}
        {{view AWE.UI.Ember.MessageTeaserView messageBinding="this" classNames="message-header" classNameBindings="selected"}}
      {{/each}}
    {{else}}
      <h1>{{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }} Loading...</h1>
    {{/if}}
    </hr>
  </div>
  
  <div class="detail">
    {{#if "isFormVisible"}}
    
    {{else}}
      {{#if "selectedMessageEntry" }}
        {{#if "selectedMessage" }}
          {{view AWE.UI.Ember.MessageView messageBinding="selectedMessage" classNames="message"}}
        {{else}}
          {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }} Loading...
        {{/if}}
      {{else}}
        No Message Selected.
      {{/if}}
    {{/if}}
  </div>
</div>
</script>