<script type="text/x-handlebars" data-template-name="wheel-or-value">
  {{#if value}}
    {{value}}
  {{else}}
    {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }}
  {{/if}} 
</script>



<script type="text/x-handlebars" data-template-name="message-teaser">
  <span class="sender">
    {{view AWE.UI.Ember.WheelOrValueView valueBinding="message.sender.name"}}
  </span> <span class="time">{{message.created_at}}</span><br />
  <span class="subject">{{message.subject}}</span>
</script>


<script type="text/x-handlebars" data-template-name="message">
  <table>
    <tr><th>From:<th><td>
      <b>{{view AWE.UI.Ember.WheelOrValueView valueBinding="message.sender.name"}}
         {{#if "message.sender.alliance_tag"}}
           | {{message.sender.alliance_tag}}
         {{/if}}
      <b>
    </td></tr>
    <tr><th>Subject:<th><td>{{message.subject}}</td></tr>
    <tr><th>Date:<th><td>{{message.created_at}}</td></tr>
    <tr><th>To:<th><td>{{view AWE.UI.Ember.WheelOrValueView valueBinding="message.recipient.name"}} 
      {{#if "message.recipient.alliance_tag"}}
        | {{message.recipient.alliance_tag}}
      {{/if}}</td>
    </tr>
  </table>
  <hr>
  {{message.body}}
</script>


<script type="text/x-handlebars" data-template-name="message-center">
<div class="message-center">
  <div class="header">header</div>

  <div class="list">
    {{#if "messageBox"}}
      <h1>{{messageBox.name}}</h1>
      {{#each messageBox.entries}}
        {{view AWE.UI.Ember.MessageTeaserView messageBinding="this" classNames="message-header" classNameBindings="selected"}}
      {{/each}}
    {{else}}
      <h1>{{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }} Loading...</h1>
    {{/if}}
    </hr>
  </div>
  
  <div class="detail">
    {{#if "selectedMessageEntry" }}
      {{#if "selectedMessage" }}
        {{view AWE.UI.Ember.MessageView messageBinding="selectedMessage" classNames="message"}}
      {{else}}
        {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small" }} Loading...
      {{/if}}
    {{else}}
      No Message Selected.
    {{/if}}
  </div>
</div>
</script>