
<script type="text/x-handlebars" data-template-name="message-teaser">
  <span class="sender">{{message.sender.name}}</span> <span class="time">{{message.created_at}}</span><br />
  <span class="subject">{{message.subject}}</span>
</script>



<script type="text/x-handlebars" data-template-name="message-center">

<div class="message-center">
  <div class="header">header</div>

  <div class="list">
    {{#if "messageBox"}}
      <h1>{{messageBox.name}}</h1>
      {{#each messageBox.entries}}
        {{view AWE.UI.Ember.MessageTeaserView messageBinding="this" classNames="message-header"}}
      {{/each}}
    {{else}}
      <h1>Loading...</h1>
    {{/if}}
    </hr>
  </div>
  
  <div class="detail">
    {{#if "selectedMessageEntry" }}
      {{#if "selectedMessage" }}
      {{selectedMessage.subject}}

      {{selectedMessage.body}}

      {{else}}
        Loading...
      {{/if}}
    {{else}}
      No Message Selected.
    {{/if}}
  </div>
</div>

</script>