<script type="text/x-handlebars" data-template-name="character-profile-view">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4 character-profile-view">
      <h1>Your Character</h1>
      <hr>
      {{#if firstNameChange}}
        <h2>Choose Your Name</h2>
      {{else}}
        <h2>Change Your Name</h2>
      {{/if}}
      <p class="red-color">{{message}}</p>
      <p><b>Name:</b> {{character.name}}
         {{#if changingName }}
           &nbsp;{{view AWE.UI.Ember.WheelOrValueView valueBinding="false"}} Processing...
         {{else}} 
           <a href="#" {{action "changeNamePressed"}}>{{#if firstNameChange}}choose name{{else}}change name (20 toads){{/if}}</a>
         {{/if}}
      </p>      
      <p>Please choose your name wisely, ideally it should fit into the stoneage setting.
         The name you choose also needs to be unique.</p>
      {{#if firstNameChange}}
        <p>Choosing a name for the first time (this time!) is free, a
           change afterwards does cost a few toads in order to prevent abuse. </p>
      {{else}}
        <p>You've already chosen a character name. Changing your name again is possible, 
           but does cost 20 toads in order to prevent abuse.</p>      
      {{/if}}
      <hr>
      <div class="icon-button ok-button" {{action "closePressed"}}>Close</div>
    </div>
  </div>
</script>
