<script type="text/x-handlebars" data-template-name="shop">
    <div class="modal-dialog-background"></div>
    <div class="center-helper">
      <div class="modal-dialog-pane" id="shop">
        <h1>{{ t shop.title }}</h1>
        
        <p>{{ t shop.currentCreditAmount }}: {{ creditAmount }} {{ t shop.credits }}</p>
        
        {{#if resourceOffers}}
        <h4>{{ t shop.resourceOffers }}</h4>
                  
        <table>
          <tr>
            <th>{{ t shop.article }}</th>
            <th>{{ t shop.price }}</th>
            <th></th>
          </tr>
          {{#each resourceOffers}}
            {{view AWE.UI.Ember.ShopResourceOffer offerBinding="this" shopBinding="shop"}}
          {{/each}}
        </table>
        {{/if}}
        
        {{#if bonusOffers}}
        <h4>{{ t shop.bonusOffers }}</h4>
                  
        <table>
          <tr>
            <th>Bonus</th>
            <th>Ressource</th>
            <th>Dauer</th>
            <th>Preis</th>
          </tr>
          {{#each bonusOffers}}
            {{view AWE.UI.Ember.ShopBonusOffer offerBinding="this" shopBinding="shop"}}
          {{/each}}
        </table>
        {{/if}}
        
        <p><a href="#" {{action "buyCreditsPressed" target="parentView"}}>{{ t shop.buyCredits }}</a> | <a href="#" {{action "closePressed" target="parentView"}}>{{t general.close}}</a>
      </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="shop-resource-offer">
    <tr>
      <td>{{ offer.amount }} {{resourceName}}</td>
      <td>{{ offer.price}} {{ t shop.credits }}</td>
      <td><a href="#" {{action "buyResourceOfferPressed"}}>{{ t shop.buy }}</a>
    </tr>
</script>

<script type="text/x-handlebars" data-template-name="shop-bonus-offer">
    <tr>
      <td>{{ formatAsPercent offer.bonus }}</td>
      <td>{{ resourceName }}</td>
      <td>{{ offer.duration }}h</td>
      <td>{{ offer.price}} {{ t shop.credits }}</td>
      <td>{{#if offer.resource_effect }}{{ formatTime offer.resource_effect.finished_at }}{{/if}}</td>
      <td><a href="#" {{action "buyBonusOfferPressed"}}>{{#if offer.resource_effect}}{{t shop.extend }}{{else}}{{t shop.buy }}{{/if}}</a>
    </tr>
</script>






