<script type="text/x-handlebars" data-template-name="shop">
    <div class="modal-dialog-background"></div>
    <div class="center-helper">
      <div class="shop-dialog-pane">
        <h1>{{ t shop.title }}</h1>
        
        <p>{{ t shop.currentCreditAmount }}: {{ creditAmount }} {{ t shop.credits }}  | <a href="#" {{action "buyCreditsPressed" target="parentView"}}>{{ t shop.buyCredits }}</a></p>
        
        {{#if resourceOffers}}
        <h4>{{ t shop.resourceOffers }}</h4>
                  
          {{#each resourceOffers}}
            {{view AWE.UI.Ember.ShopResourceOffer offerBinding="this" shopBinding="shop"}}
          {{/each}}
        {{/if}}
        
        {{#if bonusOffers}}
        
        <div class="clearfix"></div>
        <h4>{{ t shop.bonusOffers }}</h4>
                  
        <div class="bonus-offer-header">
          <div class="bonus-offer-bonus">{{ t shop.bonus }}</div>
          <div class="bonus-offer-resource">{{ t shop.resource }}</div>
          <div class="bonus-offer-duration">{{ t shop.duration }}</div>
          <div class="bonus-offer-price">{{ t shop.price }}</div>
          <div class="bonus-offer-end">{{ t shop.expiry }}</div>
        </div>
          {{#each bonusOffers}}
            {{view AWE.UI.Ember.ShopBonusOffer offerBinding="this" shopBinding="shop" classNames="bonus-offer"}}
          {{/each}}
        {{/if}}
        
        <a class="close" href="#" {{action "closePressed" target="parentView"}}></a>  
      </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="shop-resource-offer">
    <a class="resource-offer" href="#" {{action "buyResourceOfferPressed"}}>
      <p>{{ offer.amount }} {{resourceName}}</p>
      <p>{{ offer.price}} {{ t shop.credits }}</p>
    </a>
</script>

<script type="text/x-handlebars" data-template-name="shop-bonus-offer">
      <div class="bonus-offer-bonus">{{ formatAsPercent offer.bonus }}</div>
      <div class="bonus-offer-resource">{{ resourceName }}</div>
      <div class="bonus-offer-duration">{{ offer.duration }}h</div>
      <div class="bonus-offer-price">{{ offer.price}} {{ t shop.credits }}</div>
      <div class="bonus-offer-end">{{#if offer.resource_effect }}{{ formatTime offer.resource_effect.finished_at }}{{/if}}</div>
      <div class="bonus-offer-buy"><a href="#" {{action "buyBonusOfferPressed"}}>{{#if offer.resource_effect}}{{t shop.extend }}{{else}}{{t shop.buy }}{{/if}}</a></div>
</script>






