<script type="text/x-handlebars" data-template-name="text-input-dialog">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4" id="text-input-dialog">
      <h1>{{ heading }}</h1>
      {{view Ember.TextField class="text-field" placeholder="Name" type="text" valueBinding="input"}} 
      {{#view Ember.Button action="cancelPressed" target="parentView"}}cancel{{/view}}
      {{#view Ember.Button action="okPressed" target="parentView"}}ok{{/view}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="info-dialog">
  <div class="modal-dialog-background z-layer-3"></div>
  <div class="center-helper">
    <div class="modal-dialog-pane z-layer-4 info-dialog">
      <h1>{{ heading }}</h1>
      <p>{{ message }}</p>
      {{#if cancelPressed }}
        {{#view Ember.Button action="cancelPressed" target="parentView"}}cancel{{/view}}
      {{/if}}
      {{#if okPressed }}
        {{#view Ember.Button action="okPressed" target="parentView"}}ok{{/view}}
      {{/if}}
    </div>
  </div>
</script>


<script type="text/x-handlebars" data-template-name="shout-box">
  <div class="shout-box">
    <h1>{{ unbound AWE.I18n.strings.general.shoutBox.heading }}</h1>
    <ul>
      {{#each shouts}}
        <li>{{ message }} -- {{ character.name }}, {{ posted_ago_in_words }} ago</li>
      {{/each}}
    </ul>
    {{view Ember.TextField class="text-field" placeholder="your message" type="text" valueBinding="shoutBoxInput"}} 
    {{#view Ember.Button action="shoutBoxSendPressed" target="parentView"}}shout{{/view}}
  </div>
</script>


<script type="text/x-handlebars" data-template-name="pane">
  <div class="pane">
    <canvas class="pane-canvas"></canvas>
  </div>
</script>
